[2017-09-05 05:12] ento opened #421 "Version 2.2.7 is not published to npm"
https://changelog.rollbar.com/javascript-telemetry-scrubbing-32840 seems to indicate that version 2.2.7 is available for download, but the [npm registry](https://www.npmjs.com/package/rollbar) says "2.2.6 is the latest of 77 releases."

Trying to install 2.2.7 through npm results in an error as well.

[The cdnjs version](https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.2.7/rollbar.min.js) loads

[2017-09-05 16:43] rokob commented on #421
It is on npm now, there was an issue with npm before.

[2017-09-05 16:43] #421 closed

[2017-09-05 16:44] #399 closed

[2017-09-05 16:44] rokob commented on #400
Yeah that seems fair, I'll do that.

[2017-09-06 19:08] #400 closed

[2017-09-06 19:08] rokob commented on #397
This should be fixed in 2.2.7

[2017-09-06 19:08] #397 closed

[2017-09-06 19:09] rokob commented on #371
This is what the verbose option does

[2017-09-06 19:09] #371 closed

[2017-09-06 20:46] rokob commented on #420
Your suggestion makes sense. Let me see if I can figure out a way to do this. To be honest the maxItems setting probably really only makes sense on the browser so maybe if we are on the server we will just ignore that settting. However, I am surprised this works for you because the client side access token shouldn't work on the server?

[2017-09-06 22:37] joseSantacruz opened #423 "lambdaHandler is not defined on the typings for tpyescript"
Hi, I try to use the last feature enable on the js SDK but in my project, we are using typescript so when I try to use the new method I'm receiving that the method doesn't exist. Please, can you update the typing of the SDK?

[2017-09-06 22:38] rokob commented on #423
Ah yes will add.

[2017-09-07 00:03] fraserxu commented on #420
Isn't that supposed to can be enabled from the token settings?

![screen shot 2017-09-07 at 10 01 31 am](https://user-images.githubusercontent.com/1183541/30139831-ae0348da-93b3-11e7-9b0d-22e295e797a2.png)

👍  that it would be great to ignore that setting on server.

[2017-09-07 19:21] mattmcardle opened #425 "Anguar application error reports result in recursive "Maximum call stack size exceeded""
All errors in my Angular application seem to be resulting in  Maximum call stack size exceeded after the error is reported to rollbar. I have recreated this in a brand new Angular application and uploaded it here: https://github.com/mattmcardle/rollbar-issue-demo.

Note, the error demo uses the Angular CLI. The accessToken has also been removed from the rollbar configuration object and replaced wi

[2017-09-07 19:33] rokob commented on #425
I'm looking into this, but quick question why is Rollbar not in your package.json as a dependency? It would seem that running it as is would not be possible.

[2017-09-07 19:42] mattmcardle commented on #425
Ah, I forgot to save it when i done the npm install, fixed now!

[2017-09-07 21:20] likebeats commented on #425
Was able to avoid these recursive loops by disabling network telemetry for now.
[code]

[2017-09-08 17:23] #423 closed

[2017-09-11 07:11] achimha commented on #425
The `autoInstrument` config value did not solve the problem for me. I went back to rollbar 2.2.2 to get rid of the infinite recursion.

[2017-09-16 02:10] rokob opened #430 "Telemetry events should always be described from child up to parent"
We limit the depth of elements that we explore in the tree as well as the total string length of the final element description. Both of these should be applied starting from the lowest level element and then work upwards. Right now we do one inside out and the other outside in which can lead to confusing element descriptions.

[2017-09-16 23:20] nbransby commented on #342
Looks like some good updates coming! Thanks, can I grab master and try them?

[2017-09-16 23:41] rokob commented on #342
The stuff described here https://github.com/rollbar/rollbar.js#lambda, namely the lambdaHandler helper function, is available in the latest release, v2.2.7

[2017-09-19 00:19] jonathanong opened #433 "UMD build sets window.global = () => {...}, messing up my app"
in the rollbar UMD build, i see this: `r.global=function(t){return w?w.global(t):void o()}`. what's up with that? if i load it in the browser, i see:

![screen shot 2017-09-18 at 5 18 47 pm](https://user-images.githubusercontent.com/643505/30570332-7266c0aa-9c95-11e7-9738-35ff67835663.png)

should i be using a different file for a global `Rollbar`?

[2017-09-19 07:04] boyanyordanov opened #434 "Undefined args in checkIgnore callback"
While I was trying to setup [ember-rollbar-client](https://github.com/Exelord/ember-rollbar-client) for our app I wanted to filter out which errors get reported to avoid reporting validation and auth errors from the server (https://github.com/Exelord/ember-rollbar-client/issues/8). The author of that addon pointed me to the `checkIgnore` option in Rollbar itself.

[code]

The problem is that no ma

[2017-09-19 15:31] #430 closed

[2017-09-19 15:39] rokob commented on #433
The minified code you are referring to is from https://github.com/rollbar/rollbar.js/blob/master/src/browser/rollbar.js#L52,L62 Nothing is getting set on the window, `w` here is the managed instance `_instance`, `r` is just Rollbar, and `global` is a function for setting configuration values. This is the right file to use, but if you are including minified code with other minified code, you probab

[2017-09-19 15:50] jonathanong commented on #433
the screenshot above is from me typing `global` in the browser.

what's the correct file to use as a `<script src="..."></script>` src?

[2017-09-19 16:05] rokob commented on #433
Huzzah yes that is a bug, will fix, sorry about that.

[2017-09-19 16:12] #420 closed

[2017-09-19 16:12] #433 closed

[2017-09-19 16:13] #434 closed

[2017-09-19 18:20] rokob opened #438 "What happened to defer?"
If we are loading scripts async then we should use the async and defer attributes. It used to be configurable but it appears to have been lost in some refactorings. Bring that back.

[2017-09-20 16:44] rokob commented on #402
I will put this on our radar to document working with AOT and Angular 4.

[2017-09-20 18:48] rokob commented on #425
So this is a bug in zone.js: https://github.com/angular/zone.js/issues/886

[2017-09-20 18:55] rokob commented on #425
https://github.com/angular/zone.js/commit/a66595af18d4c42584401dd2df387b02cb01d8d9#diff-f5e084bcb7c43d977d56c3b791bbca2d is the commit that broke it which is in 0.8.17, 0.8.16 should work. There is already a fix committed to master and should be picked up in the next release. The reason setting `network: false` could cause this to stop is because that is one place where we wrap a function. You mig

[2017-09-22 01:21] sanjaygoad opened #439 "RangeError: Maximum call stack size exceeded with angular4"
I am getting below exception with angular 4.2.4 and rollbar 2.2.8

`
rollbar.umd.min.js:2 RangeError: Maximum call stack size exceeded
    at i (rollbar.umd.min.js:1)
    at Object.o [as isType] (rollbar.umd.min.js:1)
    at XMLHttpRequest.t._rollbar_wrapped.t._rollbar_wrapped [as __zone_symbol__ON_PROPERTYreadystatechange] (rollbar.umd.min.js:1)
    at XMLHttpRequest.wrapFn (zone.js:1075)
    at

[2017-09-22 01:58] rokob commented on #439
This is a bug in zone.js see #425

[2017-09-22 02:27] sanjaygoad commented on #439
Thanks. with "zone.js": "0.8.16" its working fine.

[2017-09-22 08:57] lukasmlady opened #440 "Telemetry `rollbar.captureEvent(...)` throws `Rollbar is not initialized`"
I'm following "Quick start Browser" from https://rollbar.com/docs/notifier/rollbar.js/, using:
[code]

Rollbar.js works as expected but:

1. Using `rollbar.captureEvent(metadata, 'debug')` throws `Rollbar is not initialized` after page load, run manually in console and at any point in time in the page lifecycle. This is documented in the Telemetry section of the docs - https://rollbar.com/docs/not

[2017-09-22 09:48] MayasHaddad opened #441 "SourceMaps: Rollbar still tries to download sourcemaps even when prior upload performed"
Hi,

I'm having a bit of a hard time getting rollbar to print original source code in stacktraces 😔

I use the [wepback plugin](https://github.com/thredup/rollbar-sourcemap-webpack-plugin) thus going for the prior upload way as documented [here](https://rollbar.com/docs/source-maps/) "Recommended Method: Upload pre-deploy"

following this:

I provide the commit id hash both at sourcemap upload tim

[2017-09-22 16:43] MatthewAry opened #442 "Add failure callback for Rollbar.log()"
Right now there is a success callback for the Rollbar.log() method but there is no failure method. In the event that Rollbar.log fails to send the message to Rollbar, I might want to tell my customer to contact me for support, otherwise, I might want to tell them that I've been notified about the issue.

[2017-09-22 17:31] rokob commented on #442
The callback has the standard signature of `function(error, result)` if the callback gets called with a non-null first argument then some type of failure happened.

[2017-09-22 17:54] rokob commented on #440
It is a bit confusing, but `rollbar` is the top level module and `Rollbar` is a specific instantiated instance. The methods on `rollbar` like `captureEvent` can only be called directly if you have called `rollbar.init(options)`.

As a separate point, you should be able to call `Rollbar.captureEvent(metadata, 'debug')` and that is a bug that you cannot. The fix is https://github.com/rollbar/rollbar

[2017-09-23 06:23] lukasmlady commented on #440
@rokob yeah, usually the naming is done in exactly the opposite way, but I understand that is not something to be changed any time soon.

Looking forward to #443 merged.

[2017-09-24 14:06] alexeybondarenko opened #444 "Show the details of the requests in the Telemetry"
[Syft](https://syftapp.com) API sends the `X-Request-ID` header to the client. It can be used to debug the request/response in API logs. It would be nice to see it in the telemetry.

It would be nice to have the configuration of the network option of autoInstrument to specify the request/response properties to show in the Telemetry rows.

[2017-09-25 17:11] #439 closed

[2017-09-25 17:12] #440 closed

[2017-09-26 07:30] nbransby commented on #342
I took the latest master as it had some updated typescript definitions. Works great thanks - all I need now is  to see the typescript stacktrace in Traceback!

[2017-09-26 07:30] #342 closed

[2017-09-26 18:39] r3nya commented on #185
Waiting for https://github.com/rollbar/rollbar-react-native :)

[2017-09-27 04:39] tapas08 opened #446 "Uncaught TypeError: rollbar.error is not a function"
Hello,
I am trying to integrate rollbar in angular2 app and followed [this solution](https://gist.github.com/saschwarz/bee0618f5604646dfe56ca61124e5122) for setting up rollbar.
But when it tries to log error to rollbar it throws error saying
`Uncaught TypeError: rollbar.error is not a function`
Thanks.

[2017-09-28 12:22] cordoval opened #449 "update or mute security advisory?"
[code]

[2017-09-28 12:22] cordoval commented on #449
can we do something quick about this?

[2017-09-28 15:19] rokob commented on #449
https://github.com/rollbar/rollbar.js/pull/448 is already merged, will do a release sometime this week.

[2017-09-28 15:19] #449 closed

[2017-09-28 20:42] cp4r3z opened #451 "Node Security Package (nsp) has advised that debug be updated to 2.6.9 or greater"
https://nodesecurity.io/advisories/534

[2017-09-28 20:43] brianr commented on #451
Thanks @cp4r3z - this is already fixed in master (see https://github.com/rollbar/rollbar.js/pull/448 ). We'll have a new release out ~this week.

[2017-09-28 20:43] #451 closed

[2017-09-28 20:52] cp4r3z commented on #451
@brianr Ah, I just came back to check the closed issue list and saw your comment. Thanks!

[2017-10-01 06:53] adinu opened #452 "rollbar cdn javascript react doesn't report environment"
for some reason, in the last month Rollbar client stopped reporting environment.

when i tried doing the test report (window.onerror("TestRollbarError: testing window.onerror", window.location.href) i still don't get environment details.

i have tried using:
 var _rollbarConfig = {
    payload: {
      environment: window.env
    }

and saw that "window.env" is working.

i am using this version:
h

[2017-10-02 01:22] cmorales commented on #65
Hey jtomaszewski,

This is a bit old issue but I am searching for the solution you already gave for this. I just don't understand very well where this code needs to be set.

Im having the same problem with this:                    '-F minified_url=file:///android_asset/www/js/app-min.js ' +

For android is good, but for iOS, I don't know what to set since as you said, different hash is always gene

[2017-10-02 01:26] cmorales opened #453 "Sourcemaps for iOS in Ionic"
Hello everyone,

I am trying to have the sourcemaps working for iOS, being built for Ionic and sending the sourcemaps from my gulp task.

For Android is working. Im having the same problem with this:  '-F minified_url=file:///android_asset/www/js/app-min.js ' +

For android is good, but for iOS, I don't know what to set, since a different hash is always generated.

`'curl https://api.rollbar.com/a

[2017-10-02 16:59] jessewgibbs opened #454 "Optionally show body of request and response in telemetry XHR entries"
From a customer via support:

[2017-10-02 17:36] rokob commented on #451
Released as v2.2.9

[2017-10-02 17:41] rokob commented on #453
The solution in #65 is to use the configuration option of a transform function which has access to the full payload prior to sending it to Rollbar. One can iterate through the frames in the stack trace included in the payload body and rewrite the filename to anything you want. So instead of setting the minified_url when you upload the source map to something that will match the generated location

[2017-10-02 21:44] cmorales commented on #453
Can you give me more information about that?

Where shall I put that transform function? What kind of code is it?

I am totally lost with that piece of code, I dont know where I should place it at all.

[2017-10-02 22:29] jessewgibbs commented on #452
Hey there,

Is the value `env` being set in your code, or is this something that Rollbar used to set up but no longer does?

Also, when Rollbar was previously working, were you also using v 2.2.8?

[2017-10-03 16:50] #452 closed

[2017-10-04 05:31] tapas08 commented on #446
Can anyone please help?
A guy from rollbar team on stackoverflow told me to post my issue here saying the rollbar team monitors for new issues and will help with the issue!

[2017-10-04 19:22] rokob commented on #446
What version of Rollbar and what version of Angular are you using? I just created this app https://github.com/rokob/angularbar which uses the code that you linked to integrate Rollbar. I ran it both in dev and prod modes and both send an error to rollbar via the rollbar.error call. I added an `<li>` tag at the root page with the title `Throw` that throws an error when clicked.

[2017-10-06 21:31] jessewgibbs opened #457 "Example of wrapping rollbar in error handling code"
Provide a gist showing how to abstract Rollbar such that it cannot cause any exceptions within your app.

[2017-10-06 23:14] alexblack commented on #457
👍   Rollbar's bug `Fix stack overflow issue due to scrubbing of self-referential objects` (fixed in 2.2.2) crashed our node app, it'd be great to be able to catch exceptions like this, but I'm not sure how.

[2017-10-09 07:57] pmourlanne opened #458 "Error in documentation: "TypeError: window.onerror is not a function""
In the documentation, to test things out, you write:
[code]
Doing this in Firefox raises a `TypeError: window.onerror is not a function`. This is because window.onerror is not accessible from the console.

In the end, I checked that the rollbar integration worked with this:
[code]
You could use a snippet like this in your documentation :)

[2017-10-10 07:32] ekampp commented on #391
I can confirm that this is also a thing for Win 10, FF 52.

[2017-10-10 18:02] rokob opened #459 "Max items is potentially buggy"
There have been some reports of the global configuration option maxItems not working correctly.

[2017-10-10 18:43] racedale commented on #446
@rokob The way you used [InjectionToken](https://github.com/rokob/angularbar/blob/master/src/app/rollbar.ts#L31) was key to me fixing a similar error, "Internal error: unknown identifier null".  This needs to be added to the docs for how to use Rollbar with Angular2/4, because it is currently missing!

[2017-10-11 04:06] gofreddo commented on #446
Please update the documentation with the example from https://github.com/rokob/angularbar.  I wasted an hour trying to find this solution.

[2017-10-11 04:13] rokob commented on #446
👍

[2017-10-11 04:13] #446 closed

[2017-10-11 04:14] rokob commented on #402
The docs are updated and should work with Angular 4 with and without AOT

[2017-10-11 04:14] #402 closed

[2017-10-11 04:14] #359 closed

[2017-10-11 04:15] rokob commented on #425
I'm going to close this as it is an upstream bug

[2017-10-11 04:15] #425 closed

[2017-10-11 09:19] rubenCodeforges commented on #439
ive "zone.js": "^0.8.4" error persists on `ng build --aot --prod`

[2017-10-11 09:42] rubenCodeforges opened #460 "Rollbar.Configuration typings is missing options."

[2017-10-11 09:43] rubenCodeforges opened #461 "Rollbar.Configuration typings is missing options."
The typing for Rollbar.Configuration have some missing fields for example : autoInstrument

[2017-10-11 10:38] #460 closed

[2017-10-11 19:06] thomask opened #462 "onreadystatechange not being called"
Hi,

Our library uses `XMLHttpRequest`. In order to fire callbacks, we depend on `onreadystatechange`. We have done some testing and found that the handler is not being called whenever Rollbar is on the page.

We noticed this because our library stopped working for one of our clients somewhere between 2017-09-08 and 2017-09-10. Now, this might of course be a coincidence, but I can see code being m

[2017-10-11 19:07] rokob commented on #462
There was a bug in the way that wrapped `onreadystatechange` which was fixed in a subsequent release.

[2017-10-11 19:08] thomask commented on #462
Does that mean our client has to upgrade their Rollbar version?

[2017-10-11 19:10] rokob commented on #462
That would probably resolve the issue. It was a problem in v2.2.0 but anything v2.2.1 or higher should not have the same issue. So if they are on v2.2.1+ then it would be something else I am unaware of.

[2017-10-11 19:12] rgoldfinger opened #463 "window.Rollbar not always available on app boot"
I've been having a number of issues with the notifier sometimes seeming to:
- not respect the global `maxItems` setting,
- not use the `transform` function, and
- not use the `checkIgnore` function.

I've been setting these at boot using `window.Rollbar.configure({ ...` etc. I added some logging, and it looks like I'm having these issues because `window.Rollbar` is only sometimes available at app

[2017-10-11 19:14] thomask commented on #462
Thanks, we have adviced the customer.

[2017-10-11 19:14] #462 closed

[2017-10-11 19:21] thomask commented on #462
Oh and Blue skies! ;)

[2017-10-11 19:50] rokob commented on #463
How are you loading Rollbar, with the snippet? Bundled in your own js?

[2017-10-11 19:55] rgoldfinger commented on #463
With the snippet, which is included in the html. Here's what I'm using for that, along with my checks to see that the `transform` etc functions are getting called here rather than from `Rollbar.configure`

https://gist.github.com/rgoldfinger/b1dfe3994a887743b1b620b3a0336430

[2017-10-12 00:11] and-megan opened #464 "Can't execute from a freed script"
the only frame is a _rollbar_wrapped frame

Could be related: https://github.com/bugsnag/bugsnag-js/issues/203

It could be related to wrappers holding references to things that are subsequently removed from the page, that’s a really hard one if that is what is happening. there might not be a way fully around that, but perhaps we could expect this error and code around it? i.e. still report whatev

[2017-10-12 05:34] erikaxel opened #465 "Convenience handler support for Google Cloud Functions"
Hi,

It would be great to have a convenience handler for Google Cloud Function in the same way as you support AWS Lambda functions.

[2017-10-12 14:14] zyskowsk commented on #185
@rokob excited for this to be done :) (also hi from everyone over here !)

[2017-10-12 19:11] rokob commented on #185
Sorry for the delay on this, we made the decision to block this on some improvements to our Android notifier (namely rewriting the Java notifier and building a new Android one on top of, which was the last couple weeks: https://github.com/rollbar/rollbar-java/pull/66). That is now doneish, so I am anticipating getting this done quickly.

The plan is to have a new library: https://github.com/rollba

[2017-10-16 22:14] rokob commented on #463
I'm looking into this right now, I have a few ideas what could be going on, I am just testing the details. I should have a fix up within a day.

[2017-10-17 13:54] nezoomie commented on #454
+1

[2017-10-17 13:57] yurygnutov commented on #454
+1

[2017-10-17 17:59] rokob commented on #463
Here is the sequence of events that should occur when loading Rollbar with the snippet:

1. Before the script block with the snippet is encountered, window.Rollbar is undefined
2. After the script block with the configuration and snippet is encountered, window.Rollbar is a shim object that understands all of the methods as the full notifier object but mostly acts as a queue for capturing these met

[2017-10-17 18:44] rokob commented on #459
Yeah it is buggy: https://github.com/rollbar/rollbar.js/pull/466 fixes it

[2017-10-17 18:44] #459 closed

[2017-10-18 12:49] kwstoikonomou opened #467 "Error Stack not being reported corectly."
an error occurs in a js of my project.
Here is the error as seen in the console of my browser:
![image](https://user-images.githubusercontent.com/13237811/31719190-44b57f14-b41b-11e7-8c2c-9f42728f4c25.png)

But Rollbar reports this on the dashboard:
![image](https://user-images.githubusercontent.com/13237811/31719221-58e62786-b41b-11e7-9a33-bfade8d23ce1.png)

It is my understanding that (unknown):

[2017-10-18 15:07] rokob commented on #467
The host includes any subdomains: https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy

[2017-10-18 22:44] jessewgibbs commented on #454
+1 from me too =) - I'm investigating a Rollbar issue where additional data in telemetry would be useful.

[2017-10-19 08:28] kwstoikonomou commented on #467
@rokob i did not get what you mean. The point is that this unknown errors should only occur when the js file is loaded through CORS not from another host.

[2017-10-22 13:16] cyberabis commented on #402
FInally this helped, thanks! But, looks like the docs on the website and in the app are still not updated for angular 4 with AOT. Please do, spent quite some time to get here and solve the issue :)

[2017-10-23 04:08] simlu opened #469 "Serverless + Lambda + API Gateway"
I'm currently investigating rollbar.js capabilities for Serverless + Lambda + API Gateway.

The Lambda function receives an event object that contains all the information for the request. This is standardized for Serverless (https://serverless.com/framework/docs/providers/aws/events/apigateway/).

I'm wondering if you have plans to integrate with this default template? Or do you know of anyone hav

[2017-10-23 04:51] guiconti opened #470 "verbose: true not logging to console"
Hi, we are using rollbar on one of our node.js projects and we can not make it log info to console when we call debug, log, info, warning, error and critical. Here is where we declare rollbar:

[code]

Is something wrong with the verbose option? We are using version 2.2.10 with node.js v8.4.0

Thank you!

[2017-10-23 20:39] zachfeldman opened #471 "Webpack traces don't trace back to actual React components"
Hi there, I was told to file this issue by Rollbar support. I finally was able to get Source Maps working with my setup - I prefer not to put source maps into production, but only have them in development, so I'm uploading them myself for now. I'm trying to use the example that support referred me to:

https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

but my traces look like this

[2017-10-23 20:49] brianr commented on #471
@zachfeldman Frame number 1 in your stack trace looks like it is still minified. I suspect that's the frame that has the actual component.

The source map is being applied (you can tell because the filename is `webpack://...` and not `https://...`), so this means the source map you're uploading has lost the original source information. That can happen if you have a multi-step build process (i.e. t

[2017-10-23 21:38] guiconti commented on #470
I managed to fix it. I opened a PR #472

[2017-10-23 21:46] rokob commented on #470
https://github.com/Rollbar/rollbar.js/#verbose-option-1

[2017-10-23 21:49] rokob commented on #470
For node.js, verbose needs to be true AND you need to configure the debug package via an environment variable to log the output. This is how node_rollbar always worked and how rollbar.js on the server side has always worked. This has come up enough that I am now convinced this is overly confusing. I'm open to not using the debug module and just having the behaviour be that `verbose: true` implies

[2017-10-23 22:27] zachfeldman commented on #471
@brianr I'm not sure I get what you're saying.

To clarify, my process probably isn't typical. I'm trying to not have source maps in production because I'd prefer to obfuscate our code there.

Our build process is run on Heroku, not locally - so we build on Heroku whenever new code is pushed. We don't pushed already compiled code to production.

The source maps I have were generated by setting the

[2017-10-23 22:30] zachfeldman commented on #471
Also thanks for your help!

[2017-10-23 23:36] guiconti commented on #470
@rokob I submitted a PR #473 that remove the need to use debug for verbose loggin on node.js. Hope it helps.

[2017-10-24 17:06] and-megan opened #475 "Explicit calls not making it to Rollbar with a page reload"
Rollbar is loaded through Segment using device mode.

Rollbar.log('log') and immediately after that do a page reload. The problem is that the request to the Rollbar API to log the error is canceled because of the window reload. Never get logs on my dashboard. UUID is returned before the request succeeds. Can we write errors on a persistent storage before sending them?

$.ajax().then(function(){Rol

[2017-10-24 17:29] rokob commented on #475
Hey so I see three possible approaches to this:

1. All Rollbar method calls (log/error/warning/etc.) accept a callback argument. This callback will be called with an error, null on success, and the server response, null on failure. You can therefore use this callback to know when the method has actually succeeded or failed and wait to perform the reload/transition until the log goes through.

2.

[2017-10-24 18:25] kwstoikonomou commented on #475
have you thought of having async log/warn/error functions so we can use then/await operators on them?
A callback will do for now (i will actually create a wrapper so i can have a promise) but it is not something i like using and i guess a lot of people fill the same way

[2017-10-24 19:28] zachfeldman commented on #471
Just a little bump :) We'd love to know what's causing these errors if you have a moment to look at this today.

[2017-10-24 21:21] mannyreds11 opened #476 "Google Chrome Lighthouse Report"
We recently ran a google chrome lighthouse performance test against our website and noticed that we had 2 failed Audits related to rollbar (see attachment) with the following message:

"Does not use passive listeners to improve scrolling performance
Consider marking your touch and wheel event listeners as `passive` to improve your page's scroll performance”

More information related to this issue:

[2017-10-24 21:35] brianr commented on #476
Interesting. As far as I can tell, rollbar.js doesn't add any wheel or touch event listeners directly (the ones listed on the page you linked)... however, it does wrap your own calls to addEventListener.

Questions:

- does your app add any event listeners for `wheel`, `mousewheel`, `touchstart`, or `touchmove`?
- are you passing `{passive: true}` in those calls?
- if you remove rollbar.js and run

[2017-10-25 19:42] mannyreds11 commented on #476
@brianr Thanks for the quick response. We have a 3rd party `mousewheel` event in our `commons.js` file I was able to modify and got rid of the error. Still not sure why it was reporting as coming from `rollbar.min.js`. This may belong to a different issue but could it be the `autoInstrument` feature? I noticed our `console.log`s  were all showing `rollbar.min.js` on the right (see attachment) and

[2017-10-25 21:54] zachfeldman commented on #471
Some additional research I did on this:
https://github.com/zeit/next.js/issues/1903
https://github.com/rails/webpacker/issues/769

Would `nosources-source-map` or `hidden-source-map` options work with Rollbar and still obfuscate my code to site visitors? Could they still guess my sourcemap URLs if they have the same hash as my front-end JS files, I guess? Perhaps combining one of these source map

[2017-10-25 22:22] aharpervc commented on #475
What about the possibility of using navigator.sendBeacon?

[2017-10-26 08:13] papandreou opened #477 "Hook for reporting errors to other channels?"
Hi,

We're using Rollbar in an app where we would also like to show a notification to the user for certain classes of errors (specifically HTTP errors that end up uncaught). Since Rollbar is already doing an excellent job of monitoring `window.onerror` and rejected promises (as well as serving as a place to maintain a blacklist), we'd rather not duplicate that effort.

So far we're getting by with

[2017-10-26 08:53] rokob commented on #471
I am not entirely sure what information one gets from the `nosources-source-map`, so I couldn't say either way without trying it. It should work to locally build your source maps using your production configuration, provided the code is minimized deterministically. However, getting those source maps generated properly with multiple different transpilation steps is the tricky part, but is highly de

[2017-10-30 15:58] JasonSooter opened #480 "Uncaught TypeError: Cannot set property 'impl' of null"
I am receiving this error in the console with the rollbar script on our site. It's a Magento site. The error points column 5438 of line 234(the line of the rollbar script).

Support told me to leave a message here.

Our site is https://www.theorganicbloom.com.

Let me know if I can be of any assistance

[2017-10-31 02:25] rokob opened #481 "Endpoint is wrong"
The documentation says "endpoint is the url where items get posted" and that the default is `https://api.rollbar.com/api/1`. Those two statements are not correct together. The default value of the endpoint parameter is `https://api.rollbar.com/api/1`, that part is correct. However, the underlying library appends `/items` to the URL as `https://api.rollbar.com/api/1/items` is the real endpoint that

[2017-10-31 19:00] coryvirok commented on #469
You should be able to use the lambda helper described here to catch any exceptions. https://github.com/rollbar/rollbar.js#lambda

If you want to add metadata from the `event` object, you can do the exception handling yourself and send it along with the error. E.g.:

[code]

More info on how to use the `configure` method [here](https://github.com/rollbar/rollbar.js#usage).

[2017-10-31 22:52] #481 closed

[2017-10-31 22:54] rokob commented on #481
I am going to do a minor version bump because this is a somewhat breaking change if someone is using endpoint. Also if someone is coming along to read this, the new default is `https://api.rollbar.com/api/1/item` without the `s` as per the docs: https://rollbar.com/docs/api/items_post/

[2017-10-31 23:00] dozoisch commented on #470
Getting the same issue on the web. Seems like `enabled: false` with `verbose: true` doesn't log anymore.

[2017-11-01 01:35] simlu opened #482 "Error: "Rollbar is not enabled""
Why was this error introduced? Extremely confusing...

E.g. How are we supposed to get coverage in our tests now?

[2017-11-01 01:45] simlu commented on #482
This was changed in https://github.com/rollbar/rollbar.js/commit/a9864a43036e6357060172bbe3c2ce75100230c4 (Issue: https://github.com/rollbar/rollbar.js/issues/280)

[2017-11-01 01:47] simlu commented on #482
I've opened a pull request. Looking forward to some feedback....

[2017-11-01 01:54] simlu opened #484 "reportMessageWithPayloadData deprecated"
What are we supposed to use instead?

[2017-11-01 01:56] simlu commented on #469
We wrote our own wrapper now...
[code]

[2017-11-01 02:13] simlu opened #485 "rollbar.wait no longer executed when rollbar disabled"
I would expect this to at least return... Again, this makes it really hard to integrate with coverage testing...

[2017-11-01 02:29] rokob commented on #484
https://github.com/rollbar/rollbar.js#rollbarlog
https://github.com/rollbar/rollbar.js#rollbardebug-info-warn-warning-error-critical

[2017-11-01 02:29] #484 closed

[2017-11-01 02:31] simlu commented on #485
I'm investigating this further. Something funky is going on for sure. Not quite sure where yet.

[2017-11-01 02:32] simlu commented on #484
Thank you!

[2017-11-01 02:32] rokob commented on #482
This does not throw an error, it calls your callback with an error if you call log and have Rollbar not enabled. This is the semantics required of the callback when we do not process a log call. It is not clear why this would have an effect on your tests.

[2017-11-01 02:38] simlu commented on #484
I'm confused. So we don't have access to the payload data anymore. Where would the lambda context object go then?

[2017-11-01 02:38] simlu commented on #484
@rokob I'm confused. So we don't have access to the payload data anymore. Where would the lambda context object go then?

[2017-11-01 02:41] rokob commented on #484
If you pass an object to one of `log/debug/info/warning/error/critical` it will end up as the `custom` key in the final payload. You can also set an object in the configuration under the `payload` key which will get merged into all payloads that get sent.

[2017-11-01 02:48] simlu commented on #484
Ok, just making sure I understand correctly with my example. Ih ave
[code]

would translate to

[code]
and then then how do I make sure the former request object gets picked up correctly?

[2017-11-01 02:50] rokob commented on #484
Yeah so this is a bit magical, but sorry I put the wrong link above (https://github.com/Rollbar/rollbar.js/#rollbarlog-1) this is the server side one. If you pass an object that has a certain set of keys:

[code]

then we will take that to be the request.

[2017-11-01 02:51] simlu commented on #482
I don't use a callback. I'm using rollbar.wait instead... I think in that case it does throw an error? Let me double check where the error comes from.

[2017-11-01 02:53] simlu commented on #482
Yeah, this seems to be thrown from the rollbar.wait - urg

[2017-11-01 02:56] rokob commented on #482
The only time we throw from wait is in the lambda handler which is just a rethrow to allow for any other higher level error handling to still take place and to fail the request otherwise rather than swallowing errors.

[2017-11-01 03:04] simlu commented on #484
That finally seems to work. Thank you very much for your help!

Also you might want to put a note that putting `endpoint: "https://api.rollbar.com/api/1/"` now breaks things (if you haven't already). Took me a while to figure that out.

[2017-11-01 03:09] rokob commented on #484
https://github.com/rollbar/rollbar.js/blob/master/CHANGELOG.md#v230

[2017-11-01 03:11] simlu commented on #484
Right, I obviously didn't get there. Thanks, I'll check it out first next time :)

[2017-11-01 03:17] simlu commented on #482
Removing `endpoint: "https://api.rollbar.com/api/1/",` from the options magically solved this. Wow, those were some bizarre errors. Apologies for not checking the change-log earlier.

[2017-11-01 03:17] #482 closed

[2017-11-01 03:17] simlu commented on #485
Removing `endpoint: "https://api.rollbar.com/api/1/",` from the options magically solved this.

[2017-11-01 03:17] #485 closed

[2017-11-01 03:19] rokob commented on #482
Sorry yeah, I wasn't happy about breaking that, but I needed it to get this library to match the semantics of rollbar-ios and rollbar-android so I could mix these together for React Native. I thought about going to 3.0.0 for it, but it seemed like bumping from 2.2.x to 2.3.0 should be enough.

[2017-11-01 03:23] simlu commented on #482
Makes perfect sense. React Native looks very promising. We're investigating it as well.

Suggestion: Possible to log a warning if somebody is using the old endpoint semantics? E.g. check with a regex? I wouldn't be surprised if other ppl run into this as well.

[2017-11-01 09:06] MaximKraev opened #486 "rollbar.js floods with error"
We are getting strange behaviour then we get a error occurrence reports about a error 60 times per minute and never stops, there is no way to stop it except blocking IP what we are currently doing,
In sept we had 23,649 error occurrences, now it is about 10 times that. Support can't help as and sends here, any idea how we can resolve that?

[2017-11-01 09:08] rokob commented on #486
Have you tried using the `maxItems` and `itemsPerMinute` settings?

[2017-11-01 09:09] MaximKraev commented on #486
this is not a solution, it just workaround we will be changed for anyway.

[2017-11-01 09:11] MaximKraev commented on #486
as I understand we hit exactly` itemsPerMinute` default rate and `maxItems` can filter real errors from client

[2017-11-01 09:21] rokob commented on #486
1. Those rate limits are on the client side, so you won't be charged for anything beyond those limits.
2. If there is an error in your code generating this many errors, you can use the `checkIgnore` function to filter out those specific errors.
3. If you believe this is a bug in rollbar.js then can you provide more details so I can debug?

[2017-11-01 09:29] MaximKraev commented on #486
1. Yes I know, but 60 items per minute is a limit currently, which is 86400 occurrences a day we are changed for
2. the error appears even before our code is loaded, it appears for different errors, some of them can't trigger such flood at all.
3. Could you please point me where I can get information you need?

[2017-11-01 11:10] barrywoolgar opened #487 "404 error for 2.3.0 rollbar.min.js on Cloudflare CDN"
Hello

Just in case you're not aware of this, the URL embedded in the 2.3.0 version of the JS snippet is returning a 404 at the moment:

`https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.3.0/rollbar.min.js`

The previous version is being returned as expected:

`https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.2.10/rollbar.min.js`

Thanks

[2017-11-01 11:41] MaximKraev commented on #486
Anything I can help you with to diagnose the issue?

[2017-11-01 14:55] simlu commented on #486
@rokob Which version does this happen with?

[2017-11-01 14:57] MaximKraev commented on #486
we are using 2.2.8 currently

[2017-11-01 16:40] MaximKraev commented on #486
we are using 2.2.8 currently

[2017-11-01 16:49] jessewgibbs commented on #487
@rokob I was able to reproduce this.  Looks like CDNJS didn't get properly updated for the 2.3.0 release?

[2017-11-01 23:46] and-megan opened #488 "we're trying to handle rejected promise cross domain"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Property_access_denied

Error: Permission denied to access property "reason"

@rokob I know you're aware of this one, just created this for tracking purposes.

[2017-11-02 00:48] coryvirok commented on #469
That's pretty great! Thanks! cc @rokob

[2017-11-02 01:03] #469 closed

[2017-11-02 01:56] jcurlier opened #489 "Callback not called on nodejs"
We are using rollbar to report our errors through a direct call to the `error` method as well as the Express middleware.

When an error occurs, sometimes we log them twice, once with the direct call and once with the middleware. In such case, the `next()` method of the middleware is not called as the code determines that this error was already logged (`_sameAsLastError`).

We should review the met

[2017-11-02 02:07] rokob commented on #489
Ah yes you are right, we definitely should call the callback no matter what.

[2017-11-02 02:43] jcurlier commented on #489
Created the PR #490

[2017-11-02 12:28] zyskowsk commented on #185
Everyone says bonjour back @rokob!  Yup, we released iOS/android apps built on react-native in september.  We are on bugsnag right now but will move over as soon as this is ready :)

[2017-11-02 12:43] papandreou opened #491 "No source maps published for the .min.js dist bundles?"
As per https://github.com/rollbar/rollbar.js/blob/626aac317d7879a3ecf62b71b0cadfa0dcc226b4/package.json#L10 I'm using `dist/rollbar.umd.min.js` in production. I just ran into a scenario where an error occurred in rollbar itself, and I discovered that there's no `sourceMappingURL` ref in the file and no `rollbar.umd.min.js.map` either.

Seems like that goes for *.min.js in the dist dir: https://git

[2017-11-02 13:59] aharpervc commented on #486
What's the nature of the reports? I saw something like this, possibly due to unknown chrome extension behavior. I filter them out with `checkIgnore`:

[code]

[2017-11-02 14:18] MaximKraev commented on #486
we have filter for non site domains, also it happens for any errors. more often for "(unknown) Script error"

[2017-11-02 16:01] barrywoolgar commented on #487
Thanks, the 2.3.1 release works (as does the 2.3.0 one now too).

[2017-11-02 16:01] #487 closed

[2017-11-03 19:36] #489 closed

[2017-11-03 19:42] rokob commented on #491
This is the reason we don't:

https://github.com/rollbar/rollbar.js/blob/master/webpack.config.js#L10,L12

But I am not sure how relevant that comment is anymore.

[2017-11-03 19:46] rokob commented on #491
https://bugzilla.mozilla.org/show_bug.cgi?id=1020846 makes me think that is probably the "bug" which has been fixed since FF 33, so we should probably be able to turn source maps back on

[2017-11-03 19:51] #201 closed

[2017-11-03 19:51] #213 closed

[2017-11-03 19:51] #270 closed

[2017-11-03 19:51] #315 closed

[2017-11-03 19:51] #328 closed

[2017-11-03 19:51] #330 closed

[2017-11-03 19:52] #360 closed

[2017-11-06 16:56] jessewgibbs opened #493 "Apply console formatting in telemetry messages"
Asked in https://app.intercom.io/a/apps/rlisg82q/respond/inbox/487663/conversations/12675792751:

[2017-11-06 19:02] and-megan opened #494 "Add ability to pass custom data in the body using Rollbar log methods"
If you call Rollbar.info() or Rollbar.error() etc, could we edit these functions to send custom data nested under the body key?

I.e. Rollbar.error(err, {'body': {'custom_key': 'custom_value'}}) would result in the below example in the final payload

{
  "body": {
    "message": {
      "body": "Testing123"
    } ,
    "custom_key": "custom_value"
  ...
}

[2017-11-06 19:28] ggrillone opened #495 "Content Security Policy error: not posting to rollbar"
**Relevant code:**

[code]

**Error =>**

[code]

[2017-11-06 19:37] rokob commented on #495
That looks like expected behavior with those CSP settings.

[2017-11-06 19:46] ggrillone commented on #495
could you elaborate? thanks

[2017-11-06 20:00] rokob commented on #495
You specified in your CSP setting to only allow self (i.e. same origin) and localhost, so you can't make post requests to api.rollbar.com. You would need to allow xhr requests to api.rollbar.com or proxy the rollbar requests through you same origin server by setting the endpoint in the configuration. Either way this is an issue with your specific configuration not an issue with Rollbar itself.

[2017-11-06 20:01] ggrillone commented on #495
thanks, closing

[2017-11-06 20:01] #495 closed

[2017-11-06 23:58] and-megan opened #496 "Throw error or send message to Rollbar's API when script doesn't execute"
For cases like this, send a message instead of silently ignoring:

Executing that function f looks like it will throw an exception in the first statement r() because r is undefined. We currently ignore the checkIgnore if it throws.

window.Rollbar.options.checkIgnore
ƒ (e,n,t){if(r())return!0;var a=t.request,b=t.body;if("warning"===t.level)return!0)...

https://app.intercom.io/a/apps/rlisg82q/resp

[2017-11-07 00:04] jonathanong commented on #496
actually i don't think you're right. i added tests on the minified file and it works fine.

what you see when you type `_rollbarConfig.checkIgnore` is only the function itself, but nothing outside its scope. ex. the function is like:

[code]

[2017-11-07 10:59] joostbaptist commented on #396
@XavCamp Did you ever figure out how to do this?

[2017-11-07 14:31] gregblass commented on #185
Just wanted to state that there are lots of people out there using Expo - which prevents us from using libraries that require native linking. If the rollbar integration could avoid using native linking, that would be ideal! Or at least have an option not to.

[2017-11-07 19:48] solgarius opened #497 "Support for transform in node environment"
I'm wondering if there could be support for the 'transform' option in the node environment for rollbar. We minify our server code and I'm trying to get the filename paths consistent for sourcemapping across all the servers/environments we support.

Currently using rollbar: 2.3.1

As far as I can tell from looking at the code its only implemented in the browser part of the rollbar package and not t

[2017-11-08 10:10] gauravjantwal commented on #75
Hey @davidmatas, as @coryvirok asked, have same question, what extension was causing this issue at your end? Would be helpful, as we too observing the same issue:

`(unknown): Not a Product`
`File "(unknown)" line (unknown) col 0 in [anonymous]`

[2017-11-08 17:56] #497 closed

[2017-11-08 18:12] rokob commented on #486
I'm mostly digging around in the source blind because there isn't much to go on here. We have code to limit sending the same error twice, but it only stops if we have an instance of Error. But for cases of uncaught errors this should be valid. I could change that to add a configurable option to not send anything that looks like a duplicate of the last item including messages. It would have to be c

[2017-11-08 18:20] rokob commented on #496
I'm looking into this, I can't see any obvious reason why the checkIgnore would not be called, still digging.

[2017-11-08 18:20] jessewgibbs commented on #486
Related discussion in Intercom: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/mentions/conversations/12148287229

[2017-11-08 18:20] jessewgibbs commented on #486
Related discussion in Intercom: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/mentions/conversations/12148287229

[2017-11-08 18:42] MaximKraev commented on #486
It was not a repeated error in a loop, script error happed only once, rollbar has sent it 60.000 times, until i banned the client by IP,, it wasn't related to a plugin as we have filters by domins after and the same happened. You might be looking for an issue a wrong place, problem is not with the configuration, problem is a bug in the library.

[2017-11-09 20:35] rokob commented on #496
I've tested the checkIgnore function and it should be working, are all of the instances of things not working properly happening at load? How are you loading Rollbar and configuring it? Is your checkIgnore function set with a call to configure after initializing Rollbar?

[2017-11-09 22:51] and-megan opened #500 "Prettier/more explicit option to pass callbacks for uncaught exceptions"
It'd be great to have a more explicit configuration option for a callback to be fired when an exception is uncaught. We currently have an explicit way to pass callbacks when an exception is handled.

checkIgnore works fine for now.

[2017-11-09 23:08] rokob opened #501 "Document different strategies for self-hosting"
Sometimes it is advantageous to host rollbar.js yourself either as part of your own build or because for whatever reason you do not want to load javascript from a third-party (cdnjs). Explain how to do this.

[2017-11-09 23:37] jonathanong commented on #496
i've added console logs and seen `checkIgnore()` not get called at all for an error and that error not getting sent. i am, however, getting errors in my rollbar project

[2017-11-10 03:36] rokob commented on #496
That is super weird. The checkIgnore function does run pretty late in the processing pipeline, so if for example the item has a level lower than the configured reportLevel then the checkIgnore function will never get called. That being said that specific case is probably not what is going on here.

If you set the checkIgnore function via a call to configure, it is technically possible to have a ra

[2017-11-10 12:39] igrishaev commented on #391
Same on Mac, Firefox 52

[2017-11-10 18:14] rgangopadhya commented on #185
I use rollbar without linking:

[code]

This works great except sourcemaps don't work -- as mentioned above, Expo generates sourcemaps with sections. Would be great if Rollbar supported those.

[2017-11-10 18:47] rokob commented on #185
We are working on getting sectioned source maps working right now.

[2017-11-10 20:26] coryvirok opened #502 "PoC capturing failed script loading in browser"
We'd like to have rollbar.js capture and report any failed script loads. And ideally any network request failure.

[2017-11-13 12:42] christophmegusta commented on #98
we are getting

[code]

[2017-11-13 14:18] XavCamp commented on #396
@joostbaptist As it was suggested, I just synchronously load `Rollbar.js`, then manually add the load listeners that Rollbar snippet is supposed to add:
[code]
Then call `new window.rollbar(my_options);`

[2017-11-13 16:50] black-orchid commented on #488
We're also having this error, only from firefox browsers in version 2.2.9 of rollbar.js.

[2017-11-14 17:55] alexblack commented on #488
Also seeing this

[2017-11-14 18:27] rokob commented on #488
Okay I know where this is coming from in our code. I have a fix. It is less than satisfactory as this error means a promise is being rejected in some script that is violating the same origin policy (either in an iframe or just a script loaded cross domain). You could have some error going on, but due to the browser security model we won't be able to tell you much more about it. My fix will alert y

[2017-11-14 22:36] and-megan opened #504 "Build failing in prod environment for Angular 4 build"
v2.3.0
Potentially something to do with AOT and this issue: https://github.com/rollbar/rollbar.js/issues/402 ?

Followed the Angular 2+ steps and it worked fine in dev, but in production it fails (in the Angular 4 build sense):

config:
[code]

ng build --prod

[code]

internal: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/conversation/9596477468%3Fq=AOT&tag=0

[2017-11-15 05:10] simlu commented on #465
Take a look at https://github.com/simlu/lambda-rollbar - should be relatively easy to modify it for your purpose.

[2017-11-15 21:48] coryvirok commented on #465
@simlu your wrapper looks great! We'd love a PR if you want to include it in the SDK. :)

[2017-11-17 00:00] and-megan opened #505 "rollbar.js reporting error incorrectly as unknown script error on Chrome, but not Firefox"
tl;dr; HTML in iframe. Firefox points to the correct line, Chrome reports as: File "(unknown)" line (unknown) col 0 in [anonymous]. rollbar.js v2.2.10.

Yep so again this was the basic html I am running:

<html>

<body>

<iframe sandbox="allow-scripts allow-popups allow-same-origin allow-popups-to-escape-sandbox" src="http://localhost:8081/internal/testing/throw-error/index.html">

</iframe>

</bo

[2017-11-17 05:13] brucek opened #506 "console.log items showing up as rollbar.umd.min.js:2 instead of actual line"
As touched on in #476, console.log is being captured by rollbar.js even with `autoInstrument: { log: false }`

This works in 2.2.3 but is broken as of 2.2.4 looks like.

Note I am using require.js and the UMD distro

[2017-11-17 05:15] rokob commented on #506
I am confused, this should be broken in 2.2.3 and fixed in 2.2.4

[2017-11-17 05:18] brucek commented on #506
I agree it is strange, but I can use 2.2.3 and my console log output looks fine.  Then when I move to 2.2.4 or higher, it starts incorrectly numbering console.log lines.  I am running:

Google Chrome 62.0.3202.94 (Official Build) (64-bit)
OSX 10.12.6 (16G1036)

[2017-11-17 05:20] brucek commented on #506
nope, latest require.js (2.3.5) didn't help :-(

[2017-11-17 05:22] rokob commented on #506
With the default auto instrument setting you should see the console log lines coming from Rollbar. With `autoInstrument: { log: false }` (and v2.2.4+) you should see the normal log lines restored. Let me see what is going on.

[2017-11-17 05:29] brucek commented on #506
OK wait - I had a later call to rollbar.configure that looks like it was messing things up - I'll figure out how to update it.  Sorry for the false alarm.

[2017-11-17 05:29] #506 closed

[2017-11-17 10:07] sivabudh commented on #504
@and-megan Sorry, I clicked on the link and this was all I saw:

![cloudapp annotation 2017-11-17 at 5 06 29 pm png](https://user-images.githubusercontent.com/618729/32941834-b54a84bc-cbb9-11e7-91f9-0a8d5c79d11b.png)

[2017-11-17 17:48] and-megan commented on #504
Hi @sivabudh, it's an internal convo I linked for @rokob for debugging/extra info.

[2017-11-20 16:58] serhalp opened #507 "Docs about fields scrubbed by default are inaccurate."
The [docs here](https://github.com/rollbar/rollbar.js#context-1) claim:

but the source code claims otherwise - there are [35 fields scrubbed by default on servers](https://github.com/rollbar/rollbar.js/blob/f0140a050c270981cfb980c9aa492a2d032fcb2f/package.json#L136-L160) and [14 in browsers](https://github.com/rollbar/rollbar.js/blob/f0140a050c270981cfb980c9aa492a2d032fcb2f/package.json#L106-L119

[2017-11-20 17:09] serhalp opened #508 "Any field containing the consecutive letters "pw" gets scrubbed."
For example, if I have a property called `tempWorker` or `pickupWindow`, I wouldn't expect this property to get scrubbed, but it does.

This is made worse by the fact that ["pw" is not a documented default scrubbed field](https://github.com/rollbar/rollbar.js/issues/507), by the fact that seemingly default scrubbed fields cannot be overridden, only appended to (?), and _much, much worse_ by [the f

[2017-11-20 17:34] serhalp opened #509 "Field scrubbing *mutates* logged objects!"
The feature that scrubs fields detected to be "sensitive" – [which suffers from false positives](https://github.com/rollbar/rollbar.js/issues/508), is [poorly documented](https://github.com/rollbar/rollbar.js/issues/507), and seemingly cannot be disabled(?) – actually _mutates_ these properties on the logged objects. This is a pretty egregious breach of expected conventional node module behavior.

[2017-11-20 19:05] rokob commented on #509
Yikes, there are several issues here which you have brought up that should be resolved. Sorry about this. I am working on fixing these right now.

[2017-11-20 22:32] #488 closed

[2017-11-23 05:17] simlu opened #511 "Different Environment per Request"
Is there a way to specify the environment on a per request basis for [Rollbar.log()](https://github.com/Rollbar/rollbar.js/#rollbarlog-1)?

*Edit:* Seems that `rollbar.configure({payload: {environment: '...'}});` is the way to go. Please advice if this is the appropriate way!

[2017-11-23 06:56] rokob commented on #511
Yup that is the way to go

[2017-11-23 07:03] #511 closed

[2017-11-25 23:15] simlu opened #512 "Lambda: captureUncaught and captureUnhandledRejections"
Do the options captureUncaught and captureUnhandledRejections have any purpose when running in a lambda environment? Just checking that setting them both to false is not a problem.

Cheers, L~

[2017-11-27 17:25] jessewgibbs commented on #496
@jonathanong were you able to get this issue resolved?  We've not heard back from you in a while...

[2017-11-27 18:55] jonathanong commented on #496
we're not seeing `checkIgnore()` being called many times when we pass an error, even if `checkIgnore()` is an empty function. you haven't heard from us because we gave up on this and are living with noise :P

[2017-11-29 11:02] gaiottino commented on #400
As far as I can tell this is still an issue. Testing with https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.3.1/rollbar.js and `enabled: false` it's still highjacking the `console.logs`. I dont know it's been reintroduced at this point or never made it into a release.

[2017-11-29 18:13] #508 closed

[2017-11-29 18:13] #509 closed

[2017-11-29 18:15] rokob commented on #512
No they have no purpose. As far as I know the Node.js environment in AWS Lambda does not support the event handlers required to implement capturing all uncaught exceptions and unhandled rejections. Therefore those settings should have no meaning in lambda.

[2017-11-29 18:15] #512 closed

[2017-11-29 18:38] rokob commented on #400
I added a button to the page at examples/universal-browser/test.html to call `Rollbar.configure({enabled: false})`. As you can see in the default configuration the logs are wrapped, but after setting enabled to false they are not anymore.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/831355/33392486-180120ee-d4f1-11e7-8479-580a22626f25.gif)

What scenario are you describing whe

[2017-11-30 18:41] #496 closed

[2017-11-30 19:08] rokob commented on #505
Sounds like a Chrome issue?

[2017-12-01 01:27] and-megan opened #513 "userAgent undefined when it shouldn't be"
Rollbar.js v2.3.1

There's no user agent data being passed in the occurrence. Seeing these two logs in the telemetry data:
`TypeError: undefined is not an object (evaluating 'navigator.userAgent.toLowerCase')`
`Rollbar: undefined is not an object (evaluating 'navigator.userAgent.toLowerCase')`

Normally, would blame on bots, but there's a backup page tracker that has no problem getting the userage

[2017-12-04 23:29] and-megan opened #516 "script prevents mouse wheel scrolling for Windows 10 + Chrome 61"
Users with Windows 10 + Chrome 61 cannot use the mouse wheel to scroll on a page where rollbar.js is installed.

If we do not include the rollbar JavaScript code then the mouse wheel does work again.

internal:
https://app.intercom.io/a/apps/rlisg82q/respond/inbox/488687/conversations/13242126057

[2017-12-05 07:23] marcelgleis commented on #516
This is really urgent for us because it affects 10% of our visitors...

[2017-12-05 13:04] rivkahstandig3636 commented on #480
This is a duplicate of issue #344. I recommend commenting and following that issue, as I'll close this so as not to have multiples of the same issue.

[2017-12-05 13:04] #480 closed

[2017-12-05 13:09] rivkahstandig3636 commented on #470
@dozoisch Are you still experiencing this issue? And if so, what version are you on? This issue should have been fixed as of v2.3.0

[2017-12-05 13:11] rivkahstandig3636 commented on #441
@MayasHaddad Are you still experiencing this issue? If so, please email us at support@rollbar.com, as this isn't actually a rollbar.js issue :)

[2017-12-05 13:11] #441 closed

[2017-12-05 13:33] rivkahstandig3636 commented on #339
@and-megan Is this issue still occurring?

[2017-12-05 13:42] #471 closed

[2017-12-05 13:45] rivkahstandig3636 commented on #505
Closing as this is an issue with Chrome and not rollbar.js

[2017-12-05 13:45] #505 closed

[2017-12-05 17:54] ento opened #517 ""maxItems has been hit" but maxItems is 0"
I'm puzzling over this item:

[code]

I'm guessing this is coming from this line:
https://github.com/rollbar/rollbar.js/blob/218ac44acef14996f83a61bb2c6a477a15418887/src/rateLimiter.js#L76

- the second check for `globalRateLimitPerMin` in `RateLimiter.prototype.shouldSend` failed
- `rateLimitPayload` gets called to build the error payload
- `rateLimitPayload` assumes that the `globalRateLimit` wa

[2017-12-05 18:00] rokob commented on #517
Yeah that is a bug I have on my radar to fix, the payload is just specifying the wrong limit which got hit as you describe.

[2017-12-05 18:23] rgangopadhya commented on #185
@rivkahstandig3636 @rokob I also notice that telemetry support, specifically `autoInstrument`, is missing here. Would be super helpful to be able to see recent activity before an error. Any plans to support this for react native?

[2017-12-05 18:26] rokob commented on #185
Once we solidify what makes sense to instrument on mobile devices we intend to support telemetry. We could add manual events sooner than that, not sure on the timeline of that however.

[2017-12-05 18:42] and-megan commented on #339
Someone else reported this and then didn't answer my follow up question 5 months ago. I assume it isn't a problem anymore. I'll close this one.

[2017-12-05 18:42] #339 closed

[2017-12-05 19:19] dozoisch commented on #470
@rivkahstandig3636 I'll update and report back! I'm most likely still on 2.2.9

[2017-12-05 21:38] papandreou opened #518 "SecurityError in rollbar.js itself, Edge on Windows Phone"
Hi!

We've just had a weird error reported through the rollbar service:

[code]

Which seems to map back to https://github.com/rollbar/rollbar.js/blob/3ad9e8cd4c6ca059dacfaff4dcb70f05c6288f70/src/browser/telemetry.js#L131 (again, this would have been easier if [source maps were available](https://github.com/rollbar/rollbar.js/issues/491) :)

It was triggered in Edge on a Windows Phone: Mozilla/5.0

[2017-12-06 01:45] brianr opened #519 "Telemetry: ability to ignore certain network requests"
(Via customer request.)

It'd be nice to be able to ignore certain network requests from the telemetry timeline, e.g. ignore requests made to certain hosts.

Why:

- drop minimally-useful telemetry events so they don't clutter the UI
- avoid using up the whole telemetry queue (which we cap at a hard max of 100) with such events

[2017-12-06 23:54] JasonSooter commented on #344
I have this issue as well:

I am receiving this error in the console with the rollbar script on our site. It's a Magento site. The error points column 5438 of line 234(the line of the rollbar script).

Support told me to leave a message here.

Our site is https://www.theorganicbloom.com.

Let me know if I can be of any assistance

[2017-12-07 09:43] msokk commented on #519
Would also love to have this. Our use case would be to filter out all mixpanel requests, as the each 4000 character payload is encoded into URL as base64.

Blacklisting full url (with regexp) support would make sense or maybe even more generic callback based filter would make sense? `filterNetworkTelemetry(metadata): boolean`

[2017-12-07 13:26] msokk commented on #519
Mixpanel made up 80% of our telemetry content so I went ahead and created a PR #521

[2017-12-07 18:56] rivkahstandig3636 commented on #518
Hi @papandreou, Thanks for letting us know. I took a look at the three occurrences of this error that you have in your project, and only one of them has any frames. I believe this may be showing as an error in our code due to how we wrap functions in event listeners. Let us know if it comes up again.

[2017-12-07 19:05] rivkahstandig3636 commented on #486
This issue was solved in the Intercom conversation and is now closed.

[2017-12-08 09:12] papandreou commented on #518
@rivkahstandig3636, I will, thanks. In the mean time, we can keep this issue open so others can discover it and chime in as well.

[2017-12-08 11:20] timdown opened #523 "Zero error frames when sending unthrown error with Rollbar.error() on IE 11"
When sending an `Error` object that has not been thrown to Rollbar via `Rollbar.error()` on IE 11, zero frames in the error trace are sent. In other browsers, there are frames. Also, if you instead throw the error and allow Rollbar to catch it (presumably via `window.onerror`), you do get frames.

This is a problem for the `hostWhiteList`, which relies on the presence of frames. If there are none,

[2017-12-08 17:34] veddermatic opened #524 "Usage with Create React App error(s)"
Make a new creat-react-app app. Then, follow the example here: https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

[code]
[code]

results in this in the following in the react console:

[code]

If one installs `rollbar` via npm and updates to this:

[code]

Then the react console gives this:
[code]

Following the suggestion here: https://github.com/facebookincubator/create-react-ap

[2017-12-08 17:46] rokob commented on #523
If the trace has no frames then the whitelist is ignored, it does not suppress errors without frames. https://github.com/rollbar/rollbar.js/blob/35df2f01e56fac6084f43a286f775703e72c2d1f/src/browser/predicates.js#L62,L64

[2017-12-08 17:50] timdown commented on #523
The line you linked to says that if `frames` is falsy then errors are not suppressed but an array with zero elements (which is indeed what you get in IE 11 with an unthrown error) is not falsy.

[2017-12-08 17:51] rokob commented on #523
Ahhh

[2017-12-08 18:06] veddermatic commented on #524
So I managed to get this working.  By using the npm version like so and explicitly adding it to window like so:

[code]

I was then able to use it like so in other files:
[code]

However, following the Webpack example still errors, and what I'm doing seems ugly.

[2017-12-08 18:32] and-megan opened #525 "Add "how to upgrade" section"
Just a one-liner about replacing the snippet should do it.

[2017-12-08 23:34] aharpervc commented on #486
Well, what was the solution?

[2017-12-10 21:03] simlu opened #526 "Custom Logger / No longer use bind"
Is there a way to inject a custom logger (server) into rollbar.js? If not, how would we best support this?

The problem with the current [logger.js](https://github.com/rollbar/rollbar.js/blob/master/src/server/logger.js) is that we can't inject into the console since it uses bind.

So the option for my use case is either (1) use `function (...args) { console.log(...args); }` (PR) or (2) somehow in

[2017-12-11 13:43] MayasHaddad commented on #441
apologies 🙏 the issue wasn't related with rollbar indeed

[2017-12-12 01:41] and-megan opened #527 "How to ignore third party errors injected into the page?"
How to ignore third party errors injected into the page?

* Error is coming from some 3rd party code likely injected to the page by a browser extension
* Error message is generic (TypeError) so can't ignore the class/message
* The same error gets reported multiple times within the same page view
* Can't filter by `filename` in trace.frames, because it's the URL of the page
* Most (?) occurrences s

[2017-12-12 02:08] and-megan opened #528 "Get server-side reporting to work with Nuxt.js"
https://nuxtjs.org/
 Nuxt catches it and shows an error page. Rollbar never has a chance to touch it.

It looks like Nuxt loads it's own middleware after it loads Rollbar's handler so Rollbar gets outcompeted: https://github.com/nuxt/nuxt.js/blob/ce4b971640cb9ece0adce9e4d79477cc26147e7c/lib/core/renderer.js#L267-#L279

internal: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/488687/conversa

[2017-12-14 09:26] Steveb-p opened #529 "Object.assign requirement missing"
Hi.

Just wanted to say that standalone (installed via `npm install rollbar`) is missing `Object.assign` dependency, which might cause some people (like me) to miss errors on IE Edge and alike (truth be told, issue in my own code stemed from that same function missing).

I'd say it might be a good idea to add a note to rollbar docs about this particular dependency?

Polyfill to use in such case: [

[2017-12-14 21:24] rokob commented on #529
This is odd, we should not be using Object.assign in any browser target.

[2017-12-15 18:57] pfbernardo opened #530 "Rollbar uncaught exception error"
Hi,

I don't know exactly when this started hapenning my rollbar js is not reporting uncaught exception errors.

It gives an error:

Uncaught ReferenceError: test is not defined     rollbar.min.js:1

I'm forcing an error with the following:

`test.tester.error();`

This is called when I right click a button.

The object test doesn't exist so it throws an uncaught exception but it never reaches Rol

[2017-12-18 11:03] pfbernardo commented on #530
Hi,

This is not a bug.
The problem was on the hostWhiteList since my scripts are now beeing served from cloudfront.

Very sorry.

[2017-12-18 11:03] #530 closed

[2017-12-20 20:23] and-megan opened #532 "If stack trace is unable to be parsed, report raw trace"
https://github.com/rollbar/rollbar.js/blob/58a3ce6598783e5dca549c9a2fa41ab348853d64/src/browser/transforms.js#L172-#L180

Currently, the report is not that helpful.

[2017-12-20 22:30] v3rron commented on #486
We're having the same issue.
Upgraded our rollbar.js library from 1.9.4 to 2.3.1 and just got 10,000 errors:
[code]
It seems to be coming from the same IP address on various pages of our app. We didn't change our code for months, just upgraded the Rollbar library.

[2017-12-20 22:32] MaximKraev commented on #486
We migrated from rollbar.

[2017-12-20 23:26] rokob commented on #486
This is a bit of a tough one. Looking at the occurrences associated with these errors, they have different client generated timestamps. Those timestamps only get generated in `createItem` calls which only happen when we handle an uncaught exception, an unhandled rejection, or a direct call to one of the logging methods.

Hence, while this might look like some type of bug where Rollbar is sending t

[2017-12-21 21:35] and-megan opened #534 "Pass rollbar.js config in payload"
Much easier to figure out how/if config options were applied.

[2017-12-23 21:31] mattmcardle commented on #504
Any progress on this? Encountering this issue with Angular 5

[2017-12-27 14:51] rivkahstandig3636 commented on #458
Thanks for the info @pmourlanne! We'll update the docs.

[2017-12-27 14:53] rivkahstandig3636 commented on #463
@rgoldfinger Is this still an issue for you?

[2017-12-27 14:55] rivkahstandig3636 commented on #467
@rokob Can you clarify?

[2017-12-27 15:05] rivkahstandig3636 commented on #504
We'll have our SDK engineer investigate this.

[2017-12-27 15:06] rivkahstandig3636 commented on #507
Thanks for the feedback! We'll update the docs.

[2017-12-27 15:08] #518 closed

[2017-12-27 15:12] rivkahstandig3636 commented on #526
@rokob do you have any thoughts?

[2017-12-27 15:12] rivkahstandig3636 commented on #527
@rokob thoughts?

[2017-12-27 15:13] mattmcardle commented on #504
@rivkahstandig3636 re-implemented with the updated instructions on your JS documentation, seems to be working ok now. Thanks!

[2017-12-27 15:14] papandreou commented on #518
... Or not, okay :)

[2017-12-27 15:18] rivkahstandig3636 commented on #518
If it comes up again it can always be reopened :)

[2017-12-27 15:46] mathieumg commented on #470
@rivkahstandig3636 I work with @dozoisch and we're no longer experiencing the issue, sorry for not reporting back, and thanks for your work! 👍

[2017-12-27 16:19] rivkahstandig3636 commented on #470
No problem, thanks @mathieumg!

[2017-12-30 04:49] sivabudh commented on #504
@mattmcardle So I can use Rollbar in my Angular 4/5 now?

[2018-01-02 16:54] jessewgibbs opened #535 "Winston support"
Original report: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/488687/conversations/13689108280

[2018-01-02 19:36] claytonrcarter commented on #486
I would also like to know what the linked solution is. We're seeing similar problems, all related to Chrome. On 12/19/17 we had a single user generate almost of 94,000 identical errors in a matter of hours, all from the same 2 pages. (The error was "unhandled rejection was null or undefined!" in Chrome 62 on Windows 10.) This maxed out our quota and put us in the dark until our quota reset this mo

[2018-01-02 20:00] and-megan commented on #486
Hey @claytonrcarter thanks for writing in - this could be a number of issues. Do you think you could email us at support@rollbar.com with links to some of these occurrences so we can take a closer look?

[2018-01-03 01:10] and-megan opened #536 "handle cross origin promise rejections?"
set up the configuration for unhandled promise rejections.

Inlining the Rollbar code into our HTTP response and the FunctionLocation points into the minified rollbar.js code.

"foo" is passed to the handler upon page load. When I call rejectPromise() from the console, "bar" is handled. But if I try to manually reject "baz" from the console, that never makes it to the unhandled rejection handler.

[2018-01-03 18:23] rokob commented on #535
The winston-rollbar library linked in that conversation is https://github.com/GorillaStack/winston-rollbar/blob/master/package.json which uses rollbar.js version 2.1.3, it does not use node_rollbar even though the README says it does. There isn't anything to do other than maybe bump that version.

[2018-01-03 18:28] rokob commented on #524
The webpack example is old and is something I will just remove, it isn't a bug. The way you are doing it is one approach. If you want a global variable and you want to use a bundler then you need to manage the global variable yourself, i.e. via adding it to the window. You are trying to share something across files without using the module system to share references, hence the need to add somethin

[2018-01-03 18:28] #524 closed

[2018-01-03 18:33] rokob commented on #347
I'm almost certain this was fixed by always calling the callback which was not always done at the time this issue was created. I'm going to close and let it be re-opened if this happens again.

[2018-01-03 18:33] #347 closed

[2018-01-03 19:05] rokob commented on #373
I don't know what this is asking for

[2018-01-03 19:07] rokob commented on #373
Is this saying that if verbose is true and rollbar.warn is used then use console.warn instead of console.log?

[2018-01-03 19:13] #380 closed

[2018-01-03 19:14] #442 closed

[2018-01-03 19:23] alonisser commented on #535
The discussion started from the need to change to lib used, since we are getting deprecated warnings and with the question how can this be done or helped

[2018-01-03 19:32] #519 closed

[2018-01-04 21:58] mikecharles commented on #301
Hey, how did you wind up solving this issue?

[2018-01-05 00:00] i-ghost opened #539 "Rollbar 2.3.4 incompatible with Angular 4.3.6"
## Description
2.3.3 seems to be the last version working with angular 4.3.6.

Here's the relevant typescript error from webpack:

[code]

app.module.ts, `useFactory...` being line 158

[code]

I'm just raising this here in case anybody else can't move away from angular 4.3.6 for whatever reason.

I'm not sure if it's a bug introduced as a result of bf1925b950f0346fef3eea4d3a7ae1f073d05f32 to fix

[2018-01-05 00:41] LKay opened #540 "Broken types definitions for Typescript"
There were some changes made for types definitions recently that got merged in. But these lines: https://github.com/rollbar/rollbar.js/commit/6401317850d1bba326553e9aaf5246673a8957a2#diff-b52768974e6bc0faccb7d4b75b162c99R4 break the imports. Previous export definition was correct.

[2018-01-05 00:44] LKay commented on #540
Related to #539

[2018-01-05 14:51] mstip commented on #539
Same with angular 5.1.0.
I think it effects all versions.

Many Thanks to @i-ghost for saving me hours of debugging ;)

[2018-01-05 17:54] rokob commented on #540
Fixed in https://github.com/rollbar/rollbar.js/releases/tag/v2.3.5

[2018-01-05 17:54] #540 closed

[2018-01-05 17:54] rokob commented on #539
Fixed in https://github.com/rollbar/rollbar.js/releases/tag/v2.3.5

[2018-01-05 17:54] #539 closed

[2018-01-05 18:04] rokob opened #541 "Tests for typescript"
Add automated tests using the typescript declarations

[2018-01-09 16:14] jehoshua02 commented on #528
@and-megan heads up - [Nuxt.js 1.0 is out](https://medium.com/@nuxt_js/nuxt-js-1-0-is-out-bab1af459972).

[2018-01-09 19:51] rgoldfinger commented on #463
No, I don't think so. I think my confusion was that when errors are thrown before `Rollbar.configure` is run, they don't seem to respect the options I passed there. Since using `Rollbar.configure` is unreliable, it'd be nice if the documentation was updated to reflect this, and direct users to use the initial rollbar config instead.

[2018-01-11 23:07] kimochg commented on #524
FYI, the error about the `define` not defined comes from the umd js file. you can config your eslint file adding amd env to solve it
[code]

[2018-01-12 22:09] rokob commented on #534
I like this idea, we have discussed it internally as a mechanism for debugging issues. The tradeoff is a larger payload size being sent over the wire. I'm going to implement it behind a configuration option and then we can see if it is something we want.

[2018-01-15 10:12] solgarius opened #549 "WebWorker support"
I am having trouble using the module inside a webworker with webpack build (though I suspect it would fail via other code bundling tools).

I am getting the error:
[code]
As webworkers don't have the `window` global and rather use the `self` global the code would need to check for existence of each to use appropriately.

I am using the rollbar.umd.js dist however all dists have this same issue. Th

[2018-01-17 18:59] rivkahstandig3636 commented on #549
Thanks for the report! We'll take a look.

[2018-01-18 08:12] jpike88 commented on #517
Just encountered this for the first time after months of usage, seems totally random.

[2018-01-18 19:06] #532 closed

[2018-01-18 19:09] rokob commented on #529
There hasn't existed an Object.assign call since 1.9.4 so I'm going to close this

[2018-01-18 19:09] #529 closed

[2018-01-18 19:32] #523 closed

[2018-01-18 19:38] rokob commented on #526
If we replace logger.js with the following would it solve your problem:

[code]

[2018-01-18 19:49] rokob commented on #513
I don't see how this is possible to even evaluate `navigator.userAgent.toLowerCase`, we never call `toLowerCase` on userAgent. I made some changes in v2.3.2 which was defensive about navigator being undefined. But there never has been code that would result in this error.

[2018-01-18 19:50] rokob commented on #513
I'm going to close this because I'm almost certain this is a bot doing something weird.

[2018-01-18 19:50] #513 closed

[2018-01-18 19:52] rokob commented on #454
We are not currently capturing the body, we could do this. However, I am going to err on the side of making it configurable but off by default. There is the potential for a massive blowup in the payload side as well as data to leak.

[2018-01-18 19:53] rokob commented on #444
I'm going to do this is #454 as these are related.

[2018-01-18 19:54] rokob commented on #464
The only fix for this is to turn off auto instrumenting or at least dom instrumentation. I'm going to close this out as there isn't much we can do.

[2018-01-18 19:54] #464 closed

[2018-01-18 19:55] #461 closed

[2018-01-18 19:59] #525 closed

[2018-01-18 20:01] rokob commented on #467
Another subdomain is a different host, this _is_ due to CORS.

[2018-01-18 23:59] #476 closed

[2018-01-18 23:59] #463 closed

[2018-01-19 00:07] rokob commented on #504
Yes, things work via the instructions now

[2018-01-19 00:07] #504 closed

[2018-01-19 00:08] #467 closed

[2018-01-19 11:21] atulkumar opened #554 "Rollbar 2.3.6 not working with Angular 5 while running in Production build"
Error is coming like ERROR in : Error: Internal error: unknown identifier null
    at Object.importExpr$$1 [as importExpr] (..\node_modules\@angular\compiler\bundles\compiler.umd.js:30942:23)

I tried with 2.3.3 version but no luck :(

Anyone facing same issue?

[2018-01-19 12:37] douglasward commented on #554
Yes, I'm facing this as well.

[2018-01-19 13:30] douglasward commented on #554
Just got my integration working.

I had used this blog post to set up rollbar in my app: https://rollbar.com/blog/client-side-angular-error-handling/

But it is missing the `export const RollbarService = new InjectionToken<Rollbar>('rollbar');` line.

and provides `Rollbar` instead of `RollbarService` in the AppModule.

The correct set up is detailed here: https://rollbar.com/docs/notifier/rollbar

[2018-01-19 17:45] jessewgibbs commented on #554
@atulkumar could you have a look at https://rollbar.com/docs/notifier/rollbar.js/#angular-2-and-later and let us know if that solves your issue?

[2018-01-19 17:45] #554 closed

[2018-01-19 19:49] #491 closed

[2018-01-19 23:08] rokob commented on #527
Browsers are some of the worst amalgamations of technology that we have to operate within. There is not a great generic answer for this. I'd be open to any suggestion, but custom checkIgnore functions and/or whitelists are the way to go, but they require some work. I'm of the opinion that some sort of intelligence on the backend cross project for detecting likely browser extension caused errors an

[2018-01-24 22:11] fullc0ntr0l opened #558 "missing transform typing"
transform function typing is missing inside [Configuration interface](https://github.com/rollbar/rollbar.js/blob/master/index.d.ts#L31). I'm getting an error with typescript when using options.transform.

[2018-01-25 06:02] rivkahstandig3636 commented on #507
@rokob It's unclear to me if we do in fact need to update our documentation here or if this has been fixed.

[2018-01-25 06:08] #458 closed

[2018-01-25 14:44] rivkahstandig3636 commented on #558
Thanks for the bug report! We'll definitely fix this. Sorry about that!

[2018-01-26 21:04] jrdioko opened #560 ""Unknown error. There was no error message to display." with blank Telemetry log lines"
We recently started getting hundreds of occurrences a day of a Rollbar error that has the title, "Unknown error. There was no error message to display." and the following traceback:

[code]

Looking into specific occurrences, the Telemetry data always contains one or more red error "Log" lines with a completely blank field on the right.

I was able to reproduce one of the occurrences, which was ca

[2018-01-29 16:08] rivkahstandig3636 commented on #560
Thanks for the bug report! We'll take a look into this.

[2018-01-29 21:38] simlu commented on #526
@rokob Yes, that should do the trick. Thank you for getting back btw!

[2018-01-30 08:43] renanlecaro commented on #263
@gerwinbrunner i'm facing the same problem,  i have tons of "scrip error" reports that are fairly useless as is and they all come from safari. Did you find a way to get more detailed reports ?

[2018-02-01 19:27] rokob commented on #535
The fix for this is to update the the winston-rollbar library rather than do anything here.

[2018-02-01 19:27] #535 closed

[2018-02-01 19:39] alonisser commented on #535
Of course this is not about updating here. this thread was created since there is no current updated winston integration without deprecation warning, which makes  rollbar a no go compared for example to sentry (https://www.npmjs.com/package/winston-raven-sentry) or other alternatives. You want us to use your product? make it simple for us.
I'm planning to move our company of rollbar, with this kin

[2018-02-01 21:29] #517 closed

[2018-02-01 21:29] #558 closed

[2018-02-01 22:25] #444 closed

[2018-02-01 22:25] #454 closed

[2018-02-01 22:31] #526 closed

[2018-02-01 22:45] rokob commented on #507
The docs need to be updated

[2018-02-01 22:48] rivkahstandig3636 commented on #507
Okay thanks, I'll make a note to update these.

[2018-02-01 22:55] #549 closed

[2018-02-02 15:50] AlecRust opened #567 "Update Browserify example"
The Browserify example seems to have been left behind and is no longer relevant:

https://github.com/rollbar/rollbar.js/tree/master/examples/browserify

Could this be updated with your latest recommendations?

[2018-02-02 20:00] rivkahstandig3636 commented on #567
Thanks for pointing this out! We'll update.

[2018-02-06 20:00] rivkahstandig3636 commented on #507
Closed via #570

[2018-02-06 20:00] #507 closed

[2018-02-06 22:36] rokob commented on #501
This is pretty simple in theory, but the details can be tricky depending on how in depth we want to get. I think there are a couple layers:

1. Use the snippet but configure a different endpoint for loading the full js library. One could then self-host the full Rollbar JS library by getting the file from the dist directory from the relevant release.
2. Do not use the snippet, but rather load the f

[2018-02-07 01:13] rivkahstandig3636 commented on #373
@rokob do you have access to the helpscout convo linked in the ch story?

[2018-02-09 19:07] rokob commented on #391
This is not a Rollbar bug, this is one of two things: 1) a same-origin issue due to your accessing the window property and we just happen to be wrapping it, 2) a Firefox issue being overly aggressive. See for instance https://github.com/facebook/react/issues/10181 https://github.com/getsentry/raven-js/issues/768 https://github.com/angular/protractor/issues/4272

Rollbar code shows up because we wr

[2018-02-09 19:07] #391 closed

[2018-02-09 19:10] rokob commented on #453
Wherever you are including the Rollbar javascript there must be some sort of configuration being passed in. Inside that configuration you can set a property with name `transform` to a Javascript function which takes the payload as an argument and modifies it in-place. The code in the aforementioned issue is coffeescript but the idea in javascript would be the same. You can see https://github.com/r

[2018-02-09 19:10] #453 closed

[2018-02-09 19:16] rokob commented on #475
`navigator.sendBeacon` is supported in most of the modern browsers (https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon) so we could work that in. For the specific use case of logging then doing a reload, we can already do that with the callback api. We have to target an old set of potential users so the async/await style is not available to us unfortunately. Writing a simple wra

[2018-02-09 19:16] #475 closed

[2018-02-09 22:26] rokob commented on #560
I can reproduce the syntax error but I get the message logged properly to Rollbar. The message "Unknown error. There was no error message to display." happens when an exception is thrown that does not conform to the normal javascript error spec. This almost always is due to a specific browser creating an error object that is nonconforming. The specific problem here works in Firefox and Chrome, so

[2018-02-09 22:26] rokob commented on #516
I still have no idea what this is.

[2018-02-09 22:37] jrdioko commented on #560
The UA on these errors is Chrome 63 and 64 (this is an internal tool, so the vast majority of users are on Chrome). The syntax error I mentioned was one example, but it looks like it was a small minority of the cases (we still see this happening around 2,000 times per day across various pages on the site).

I passed along the internal details to the support team (who then asked me to file an issue

[2018-02-12 22:51] HugoHeneault opened #573 "Invalid use of 'arguments'. Modules are automatically in strict mode."
I'm using Rollbar with Ionic 3 (angular 4), it's working, but I have this issue at first build:

[code]

What am I doing wrong?

Here is my error handler:
[code]

[2018-02-12 22:52] rokob commented on #573
This was fixed https://github.com/rollbar/rollbar.js/pull/571 and will go out in the next release

[2018-02-12 22:53] HugoHeneault commented on #573
Oh, great! Thanks for your blazing fast reply. Any ETA? 👏

[2018-02-12 22:53] rokob commented on #573
Probably by midweek at the latest.

[2018-02-13 08:44] HugoHeneault commented on #573
Great. Waiting for it!
For now I use:

[code]

[2018-02-13 08:44] #573 closed

[2018-02-14 08:26] Richie765 opened #574 "Turning off console output on the server."
I don't want to see the `Successful api response.` messages every time an error is logged.

It is documented that the debug package is used and the output can be turned off with the `verbose` option. Looking at the source, I see that `server/logger` outputs directly to console without any way to turn it off (older version _did_ use debug). Could this be implemented? Thanks!

[2018-02-14 13:10] bryandh opened #575 "Rollbar prevents original log origin from being shown in browser console"
After using Rollbar for a while, all the regular `console.log` calls are being shown as originating from `rollbar.min.js:2251:82`. If I understand correctly, this is caused because Rollbar overrides the `console.log` function and handles the logging by itself. However, I would like to still be able to see where the log came from, for instance from `heading.ts:25`, this can be helpful in some insta

[2018-02-14 15:20] DRSisco commented on #575
Setting this up for Angular 4.

Noticed if you
[code]
Then rollbar will only catch errors in production when it is also sending them to rollbar.
I suppose this doesn't fix the issue if you are trying to recreate a production only issue.
However I just want to see this errors in development, when I testing locally.

[2018-02-14 15:20] rivkahstandig3636 commented on #574
Good idea @Richie765, thanks for the suggestion.

[2018-02-14 15:45] johnelliott commented on #574
+1 I would like to be able to pass an instance of debug or some other logger to rollbar to get some control over this. I do like the feature and leave it on in dev.

[2018-02-14 15:49] johnelliott commented on #279
@ronenteva One way to do what @rokob is saying is if you export the `rollbar` you initialize from app.js and import that exported instance into index.js.

[2018-02-14 16:11] johnelliott opened #576 "API error: Invalid format. data.context object value found, but a null is required."
Unless we specify a `payload.context` in the rollbar config we get the following bug. My question is what is causing this error—having trouble locating it in the code—and how might we fix it by altering our config or modifying the error middleware. It seems like the form of the error is missing something rollbar is expecting. Using v2.3.8.

**App setup**
We have a node app that uses express
[code]

[2018-02-15 00:49] rokob commented on #575
The only thing you can do is turn off log auto instrumenting which will stop us from wrapping the console methods. We only wrap the console methods for gathering telemetry data, it isn't used for sending things to Rollbar, so that would give you the correct log location in the console with the only side effect being those console messages would not show up in the telemetry logs.

[code]

[2018-02-15 00:49] #575 closed

[2018-02-15 01:03] rokob commented on #576
This is weird because there is specific code https://github.com/rollbar/rollbar.js/blob/master/src/apiUtility.js#L3,L19 that is designed to prevent this error.

[2018-02-16 13:01] pedrosanta commented on #574
👍 for this as well. 😕

[2018-02-16 21:39] johnnywang opened #578 "input needs to be null checked"
https://github.com/rollbar/rollbar.js/blob/58fda62c63e9823a3148b3ece665d0306a880dec/dist/rollbar.noconflict.umd.js#L4720 is reading `url` from `input`, which is sometimes null, causing exceptions like this to get logged to Rollbar: `undefined is not an object`

[2018-02-17 02:16] #576 closed

[2018-02-17 02:18] #477 closed

[2018-02-17 02:40] #578 closed

[2018-02-17 02:43] johnnywang opened #580 "Access is denied error"
Not sure what the cause of this one is, but seeing the following error get thrown in IE11 on rare occasions:

[code]

[2018-02-17 02:50] rokob commented on #574
Good enough I presume if `verbose: false` actually does what it sounds like (says it does) and turns off console messages?

[2018-02-17 04:00] #574 closed

[2018-02-21 19:54] ajtran opened #582 "scrub_fields concatenates user inputs"
Rather than overriding the default scrub_fields, the user input is concatenated with the default, so that the default fields are always scrubbed or nothing is scrubbed.

[2018-02-22 14:58] HugoHeneault commented on #560
I'm having this issue too. About 600 of them the last days... This is quite annoying... :(

[2018-02-23 19:29] MattSidor opened #583 "Best practice for using Rollbar with create-react-app?"
What is the best practice for using Rollbar with [create-react-app](https://github.com/facebook/create-react-app)?

Specifically, I am trying to figure out how to include Rollbar only within my production build files, so I am not triggering Rollbar errrors while in development/testing environments.

create-react-app handles all of the webpack configurations automatically. The pro of this is that i

[2018-02-23 19:41] rokob commented on #583
Based on my quick reading of what is possible in `create-react-app`, one quick solution is to add our script tag to your `public/index.html` file and then set `enabled: (%NODE_ENV% === 'production')` in the Rollbar configuration (`_rollbarConfig`) that you would also include in that file. This uses https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#r

[2018-02-23 21:24] MattSidor commented on #583
This is perfect; thanks @rokob!

I just tested it out and it works as expected, with one small modification: the `%NODE_ENV%` parameter needs to be encapsulated in quotation marks, so it gets passed in as a string.

`enabled: ("%NODE_ENV%" === 'production')`

This may not be the only way to load Rollbar in `create-react-app`, but I'm pretty sure it is the easiest.

Thanks so much, I really appreci

[2018-02-23 21:24] #583 closed

[2018-02-28 14:59] rivkahstandig3636 commented on #580
Hi @johnnywang, Thanks for the bug report. We'll investigate this.

[2018-03-02 16:00] JasonBarnabe opened #584 "Rollbar breaks ckeditor.js"
When enabling Rollbar JS through the Rollbar gem v2.15.5, ckeditor.js on our page breaks with:

[code]

[2018-03-04 16:43] rivkahstandig3636 commented on #584
Thanks for reporting this @JasonBarnabe, we'll investigate.

[2018-03-06 19:01] rokob commented on #584
To me this is a bug in ckeditor because searching through the issues of there this comes up periodically as conflicts with other libraries. I have a fix though based on what angular did when they got blamed for this as well, so I will make that change.

[2018-03-08 03:54] mledom opened #585 "Lambda wrapper handler capture timeouts"
The lambda handler wrapper should be able to capture timeouts. There is probably a couple different ways to accomplish but the basic idea would be to check the context for the timeout value and some time before the timeout (maybe configurable) the wrapper timeout would fire and either fire a Rollbar timeout error or a custom callback.

Similar ideas found here:
https://www.stackery.io/blog/handlin

[2018-03-08 11:26] raffomania opened #586 "Properly document captureUncaught* options"
I didn't find any comprehensive explanation of the config options `captureUncaught` and `captureUnhandledRejections` at [the configuration reference](https://rollbar.com/docs/notifier/rollbar.js/#configuration-reference) which should describe *every* option there is, right?
All I found were usages in examples. I'd especially like to know the default values for these two options.

[2018-03-08 15:13] rivkahstandig3636 commented on #586
Great catch! We'll update.

[2018-03-15 05:36] rivkahstandig3636 opened #587 "Support deploy tracking"

[2018-03-15 05:53] rivkahstandig3636 opened #588 "Truncate large payloads to ensure we don't drop them"

[2018-03-15 11:52] brainsqueezer commented on #344
Same here. Possible relation with Prototype 1.7 library. The stack trace says it calls that library but didn't had time to review it more deeply. Had to revert to Rollbar.js 1.8

[2018-03-15 16:18] eyalkenig commented on #560
We are suffering from this as well. Started 2 months ago, with ~1500 occurrences until now.

[2018-03-15 16:19] rivkahstandig3636 commented on #560
This bug is scheduled to be worked on for the next release of rollbar.js. Sorry about this :(

[2018-03-23 07:17] bladesling commented on #586
exitOnUncaughtException should also be documented too. Thanks!

[2018-03-27 18:19] asoong commented on #301
+1

[2018-03-28 04:07] AlexVentura opened #590 ""SOMError 1001: Invalid Account" Error after updating to the latest version."
I was using rollbar.js `version 2.2.7` in my project.
So, I updated the snippet to the actual one as described in the README file under [Quick start Browser](https://github.com/rollbar/rollbar.js#quick-start-browser) section.

Now on the browser I got this log with a kind of error:

[code]
<img width="1417" alt="screen shot 2018-03-27 at 20 58 21" src="https://user-images.githubusercontent.com/131

[2018-03-28 19:29] rokob commented on #590
That is not an error related to Rollbar. Due to the way telemetry works, console messages appear to be coming from rollbar.js. You can turn that behaviour off by turning off log auto instrumentation using something like the configuration below (depending on how you actually configure things).

[code]

Looking at your screenshot, you get a 403 from intercom and then it logs that message, so maybe i

[2018-03-28 19:29] #590 closed

[2018-03-28 20:25] AlexVentura commented on #590
@rokob I think it actually is a log from `rollbar.js` log, at least, as you can see in the picture below, the log now comes before the _iterncom_ log so I think this call is nothing to do with rollbar.
But ok, thanks for your response.

<img width="1421" alt="screen shot 2018-03-28 at 14 20 59" src="https://user-images.githubusercontent.com/13169164/38054241-9dc6465a-3293-11e8-99ee-43ade39e7a1b.pn

[2018-03-29 21:51] ronen opened #592 "Wrapped console.log() raises error when logging Symbol"
Hello,

When I installed the Rollbar browser snippet in an otherwise working app, I got the following exception:

[code]

After a bit of digging, turns out this happened when my code called `console.log(x)` where `x` is a `Symbol`.   The simple workaround is to use `console.log(x.toString())` if I know that the thing being logged is a symbol.  But it'd be nice to not have to.

[The problem of cour

[2018-04-02 12:24] rivkahstandig3636 commented on #592
Thanks for the report! We'll fix this.

[2018-04-02 19:40] #582 closed

[2018-04-03 23:04] ajtran opened #594 "Wrong Stacktrace for Error"
A user is throwing an error from their code, but is receiving only this line in their stacktrace:

`File https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.2.3/rollbar.min.js line 1 col 4994 in [anonymous]`

I've asked them to upgrade their notifier, but they are still receiving (what i believe to be) an unrelated stacktrace:

`File https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.3.8/rollbar.

[2018-04-04 20:31] tthomas7 commented on #594
I've created a test project that replicates this issue [here](https://github.com/tthomas7/rollbar_test). It triggers occurrences like [this one](https://rollbar.com/thomas-rollbar-test/thomas-rollbar-test/items/1/occurrences/40182757691/) It's also hosted on Heroku if you want a link.

There isn't a lot of code in the test app but it does pretty closely mirror my production environment so there is

[2018-04-10 08:47] naartjie opened #595 "codeVersion vs. code_version"
In the [Readme](https://github.com/rollbar/rollbar.js/blame/ebe145cba949c9214fd660263e974da59010524d/README.md#L827-L830) it says:

but I find the opposite works, I'm using version `2.3.9` in node:

[code]

It looks like `code_version` is set to `options.codeVersion` [here](https://github.com/rollbar/rollbar.js/blob/ebe145cba949c9214fd660263e974da59010524d/src/server/transforms.js#L20).

[2018-04-10 22:35] dasDaniel commented on #505
so is chrome not supported?

[2018-04-11 11:54] rivkahstandig3636 commented on #505
Chrome is supported, but we cannot fix their bugs for them.

[2018-04-13 05:12] nolman opened #596 "unhandled rejections in node doesn't work - crashes node server in ember fastboot"
[code]

I don't think window has an addEventListener method in node?

[2018-04-15 00:24] simlu opened #597 "Regression with AWS Lambda + Node 8.10"
I've just fixed this for our wrapper [here](https://github.com/simlu/lambda-rollbar/pull/104), but you might want to consider no longer returning the result from the handler in node8.10 as it can hide the result when async operation happen. In particular this line should probably no longer return:

https://github.com/rollbar/rollbar.js/blob/ebe145cba949c9214fd660263e974da59010524d/src/server/rollb

[2018-04-23 17:27] colindresj opened #598 "How to set error specific context"
I'd like to send over error specific meta data, but it isn't clear to me how to do it. All data seems to be continually merged together.

Here's a contrived example:

[code]

In the rollbar UI I see both errors. Error A has `meta.keyA = 'A'`, but error B has `meta.keyA = 'A'` and `meta.keyB = 'B'`. In the latter case I only want `meta.keyB`.

I've also tried initializing seperate rollbar instances

[2018-04-23 17:41] rokob commented on #598
I used that exact code in both the browser and nodejs and I get two separate occurrences, one with meta.keyA == 'A' and one with meta.keyB == 'B'. The second one with keyB does not have a keyA. There must be something else going on. Are you perhaps doing something more like:

[code]

[2018-04-24 03:50] arollason commented on #344
Is there any update to this issue?
Alternative, @brainsqueezer could you provide the JavaScript snippet you are using to include version 1.8 of the rollbar library?

[2018-04-24 07:05] Wozniaxos opened #599 "window.Rollbar.init is not a function"
Hi,
We are using ember-cli-rollbar 0.3.1 which use rollbar 1.7 under the hood and we countered  below issue:
![zrzut ekranu 2018-04-24 o 08 40 43](https://user-images.githubusercontent.com/26778061/39171071-01ed7b48-479e-11e8-8cc4-152450c93ca1.png)
![zrzut ekranu 2018-04-24 o 08 38 40](https://user-images.githubusercontent.com/26778061/39171089-1594c868-479e-11e8-85ed-586fe3287692.png)

Problem oc

[2018-04-24 17:37] rivkahstandig3636 opened #600 "Add scrub_whitelist config option"
Similar to Rollbar-PHP: scrub_whitelist
Array of fields that you do NOT want to be scrubbed even if they match entries in scrub_fields. Entries should be provided in associative array dot notation, i.e. `data.person.username`.

[2018-04-24 19:48] rixth opened #601 "`transform` does not receive the original exception object"
We have exception classes that have additional properties that would aid us in debugging errors. However, only the `message` & `stack` property are captured. I tried using `transform` to manipulate the payload to add these additional fields, but `transform` is not provided with the original exception object.

Could the original error be passed as a second parameter to `transform`, along with the p

[2018-04-25 08:50] #599 closed

[2018-04-25 09:27] kolyabres opened #602 "How to upload source maps for CDN scripts?"
I'm using on my site script from CDN:
`<script src="https://enterprise.opentok.com/v2/js/opentok.min.js" crossorigin="anonymous"></script>`
In rollbar it is displayed as:
`//dynamichost/opentok.min.js`
So, I tried upload source map file via API:
[code]
But, I got error:

It seems to curl works only with local files.

Does anyone know how to solve this issue or another way to upload source map file

[2018-04-25 14:59] pburrows opened #603 "rollbar.errorHandler() not in typescript definitions"
typescript definitions were added in https://github.com/rollbar/rollbar.js/pull/334 as a result of  https://github.com/rollbar/rollbar.js/issues/302

The definition is missing rollbar.errorHandler() as documented here:
https://docs.rollbar.com/docs/javascript#section-server-configuration

(this is for a nodejs project using ts-node)

temporary workaround:

[code]

[2018-04-25 16:13] rivkahstandig3636 commented on #602
Hi there, You can upload your source map through our UI.

[2018-04-25 16:13] #602 closed

[2018-04-25 16:17] rivkahstandig3636 commented on #603
Thanks for letting us know!

[2018-04-25 16:26] rivkahstandig3636 commented on #344
This will be worked on for the next release, which should be within the next few weeks. Sorry for the delay!

[2018-04-25 16:27] rivkahstandig3636 commented on #594
We will take a look into this, sorry for the delay!

[2018-04-25 16:27] rivkahstandig3636 commented on #595
We will take a look into this, sorry for the delay!

[2018-04-25 16:28] rivkahstandig3636 commented on #596
We will take a look into this, sorry for the delay!

[2018-04-25 16:29] rivkahstandig3636 commented on #597
We will take a look into this, sorry for the delay!

[2018-04-25 17:08] brianr commented on #602
@kolyabres That's a curl issue: curl can only upload local files. If you don't have it locally and you want to use the upload method, you could download it first.

[2018-04-26 19:11] rivkahstandig3636 opened #604 "Only collect person.id by default for person tracking"
Allow the ability to send person.email and person.username, but by default we should only collect person.id going forward.

@rokob This is a top priority.

[2018-04-26 19:16] rivkahstandig3636 opened #605 "Allow IP collection to be easily turned on and off in config"
Keep the default IP collection what it is now, but allow the ability to turn IP collection off in the config.

@rokob This is a top priority.

[2018-04-26 19:23] rivkahstandig3636 opened #606 "Anonymize IP address config option"
We need to allow users the option of collecting IP addresses and anonymizing them. Let's anonymize the IPs as described here: https://support.google.com/analytics/answer/2763052

@rokob This is a top priority.

[2018-05-01 19:57] NathanShi opened #607 "Telemetry response not showing the http code"
I can not find any related docs and have to file this issue.

One of our telemetry response shows nothing even the http code. Wondering what does this indicates for the response. Thanks.

![screen shot 2018-05-01 at 2 56 29 pm](https://user-images.githubusercontent.com/22336965/39490864-e0bfa286-4d4f-11e8-85a7-738ea6e98098.png)

[2018-05-01 22:54] rokob commented on #596
There isn't a window in node, no code that calls addEventListener should execute in a node context, it is only loaded in the browser specific parts of this library.

[2018-05-01 23:18] rokob commented on #595
Yeah it is `codeVersion` I believe to match the style of camel case in JavaScript. The API requires `code_version` which is why we set it to that when building the payload. I'm not sure what we want to do here. We could just change the docs to say use codeVersion, we could change the config to use code_version, we could change the config to support both snake and camel case.

[2018-05-01 23:26] rivkahstandig3636 opened #608 "Point docs from README to Rollbar's site"
Keep the basic getting started info, then link to Rollbar's docs.

[2018-05-01 23:33] rivkahstandig3636 commented on #595
I vote we change the config to support both & update the docs

[2018-05-03 15:08] zackify opened #609 "Rollbar hijacking stack trace?"
In development, rollbar seems to be hijacking the stack trace of my console.log statements when an error happens, it can be very frustrating. Take a look at the log statement above the error:

![image](https://user-images.githubusercontent.com/449136/39585234-490549ae-4ec2-11e8-8dec-4bb76c324298.png)

Any ideas on how to make this not happen?

using 2.3.9

[2018-05-03 17:21] #609 closed, assigned to nobody

[2018-05-04 20:36] verynear2 opened #610 "TypeError: Cannot set property '_rollbarContext' of undefined (Error)"
I'm getting many errors with this message. I’m working off the snippet for angular 2 and later, since I’m using Angular 5.2 on this project.

This plunkr shows my configuration: https://embed.plnkr.co/ldJVK9/

I also see this in the output:
"TypeError: Cannot set property '_rollbarContext' of undefined\n at XMLHttpRequest.t._rollbar_wrapped.t._rollbar_wrapped (webpack-internal:///../../../../rollb

[2018-05-09 00:01] ajtran commented on #610
We suspect it might be because of webpack strict mode. Can you send us your config file?

[2018-05-09 20:49] ktalebian opened #613 "scrubHeaders missing from Configuration Type Definition"
I've already made a PR:

https://github.com/rollbar/rollbar.js/pull/612

Can somebody please review it?

[2018-05-09 23:35] jhonathas commented on #596
I have the same problem.

TypeError: e.addEventListener is not a function
    at Object.captureUnhandledRejections (/app/dist/assets/vendor-d5bd099cc177f2d3646bcafade756f38.js:9731:37)

[2018-05-10 16:58] jessewgibbs commented on #607
Hi Nathan,

Could you contact us via support@rollbar.com and share the URL for that specific exception so we can further investigate?  Not sure if this is an issue in the web app or the SDK until we get more info...

[2018-05-11 17:06] aldarund commented on #528
nuxt 1.4 out some time ago. And nuxt 2.0 incoming pretty soon.

[2018-05-16 04:27] #604 closed

[2018-05-16 04:27] #605 closed

[2018-05-16 04:27] #606 closed

[2018-05-16 22:40] #613 closed

[2018-05-16 23:12] rokob commented on #603
The problem I am having is getting the express type declarations without taking a dependency on express. I think it is possible to work around this but I don't know the typescript ecosystem well enough to do it off the top of my head. I will try to get something workable out.

[2018-05-16 23:17] corps commented on #603
@rokob You don't have to consume express's own type.  If you simply declare a local interface that is compatible with express but describe's rollbar's own expected interface, the "compatibility" of the interfaces will be checked softly by typescript.

[2018-05-17 03:48] scott-ho commented on #560
@rivkahstandig3636 is this included in v2.4.0?

[2018-05-17 15:59] #527 closed

[2018-05-17 16:02] rivkahstandig3636 commented on #607
@jessewgibbs Is this still an SDK issue?

[2018-05-17 16:03] jessewgibbs commented on #607
@rivkahstandig3636 let's go ahead and close this out.

[2018-05-17 16:03] #607 closed

[2018-05-17 23:17] ajtran opened #614 "Error with environment setting (and sourcemaps) in Rollbar.js 2.4.0"
It looks like we're running into problems with the latest version of rollbar.js (2.4.0). It seems like the environment is no longer getting set (with the exact same config).

Here's an example of a good request from version 2.3.9:

[code]

On version 2.4.0 however, we see the following instead:

[code]

[2018-05-18 00:53] luke-j opened #615 "Addressing the package size"
By my measurement, this package currently weighs in at around 17KB gzipped. That is quite a decent sized package by any account:
<img width="248" alt="screen shot 2018-05-18 at 10 49 50 am" src="https://user-images.githubusercontent.com/6657011/40210654-7f67dc8c-5a89-11e8-831f-918fc54c188e.png">

Are there any plans to look at slimming the size of this bundle down?

[2018-05-18 15:48] yoni-tock commented on #614
Thanks for opening this for us @ajtran ! We're running on 2.3.9 for now. Let us know what we can do to help debug.

[2018-05-18 20:30] rokob commented on #614
This is most likely due to https://github.com/rollbar/rollbar.js/commit/4032b22db4b7aa97b57f4e54a976650132458e6b

[2018-05-18 20:35] rokob commented on #614
How are you configuring the environment? Are you setting it as a top level key `config.environment = ...` or are you setting it inside a payload object `config.payload = {environment: ..., ...}`?

[2018-05-18 20:44] yoni-tock commented on #614
It looks like were doing it in payload. Here's the relevant parts of our config:

[code]

[2018-05-21 20:29] yoni-tock commented on #614
Setting the environment directly on the config fixes the issue. We'll migrate to that. However, I think the need to migrate should be in the release notes somewhere and it doesn't look like it is.

[2018-05-21 20:30] rokob commented on #614
It should work under the payload key, it is a bug that it doesn't. I'm trying to figure out exactly why though.

[2018-05-21 20:46] yoni-tock commented on #614
Sounds good

[2018-05-22 11:55] jpike88 opened #616 "Using rollbar.js breaks when using PouchDB on Safari 11.1"
Rollbar polyfills global.fetch even when it already exists, which breaks PouchDB's detection method

[2018-05-22 17:57] rokob commented on #614
Yeah that is basically what I figured was going on. Okay I'll get a fix out soon. Sorry about this.

[2018-05-23 11:41] rivkahstandig3636 commented on #316
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:41] #316 closed

[2018-05-23 11:41] rivkahstandig3636 commented on #333
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:41] #333 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #351
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #351 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #362
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #362 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #363
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #363 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #364
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #364 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #367
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] rivkahstandig3636 commented on #368
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] rivkahstandig3636 commented on #369
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #369 closed

[2018-05-23 11:42] rivkahstandig3636 commented on #372
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:42] #372 closed

[2018-05-23 11:43] rivkahstandig3636 commented on #438
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] #438 closed

[2018-05-23 11:43] rivkahstandig3636 commented on #457
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] rivkahstandig3636 commented on #465
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] #465 closed

[2018-05-23 11:43] rivkahstandig3636 commented on #493
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] #493 closed

[2018-05-23 11:43] rivkahstandig3636 commented on #494
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] #494 closed

[2018-05-23 11:43] rivkahstandig3636 commented on #500
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:43] #500 closed

[2018-05-23 11:44] rivkahstandig3636 commented on #502
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:44] #502 closed

[2018-05-23 13:25] alexblack commented on #457
Seems like you guys haven't addressed this yet. Rollbar took down our entire app, taking our service offline.

[2018-05-24 20:17] rokob commented on #596
How are you running your code so that you are using browser code in node? There is a specific entry point for server side code and a different one for the browser because of things like this.

[2018-05-24 20:28] rokob commented on #615
I can give things a once over to see about getting the size down a little bit, but it will be in the 12-17 KB range given the feature set and browser support. Pull requests would be welcome if there is some cross cutting concern that would get the size down that I am missing.

[2018-05-24 20:29] #598 closed

[2018-05-24 22:19] rokob commented on #595
Ok so I looked into it, the docs are correct. Putting `codeVersion` at the top level of the configuration happens to work, but that is not documented anywhere. In the docs it says that `code_version` nested under the `payload` key will work and that is true. If you use `codeVersion` nested under the `payload` key that will not work. I am going to clean this up a bit.

[2018-05-25 04:34] luke-j commented on #615
Perhaps consider a slim build or ES modules build for Webpack tree shaking? Also, it might be worth a separate build for more modern browsers that a consumer of this package could elect to import in place of the full package. For example, I'm only dealing with a couple of the functions with the `last 2 versions` of browser support.

[2018-05-25 22:28] #614 closed

[2018-05-25 22:28] #595 closed

[2018-05-25 22:28] #603 closed

[2018-05-29 07:02] praveensastry opened #620 "Fix deprecation warning from moment JS"
Moment deprecated ordering the parameters of add and subtract as (period, number). Invert your parameters. Ref: http://momentjs.com/guides/#/warnings/add-inverted-param/

Bad:
moment().add('hours', 3);
Good:
moment().add(3, 'hours');

[2018-05-29 07:03] #620 closed

[2018-05-30 10:42] mlent commented on #344
@rivkahstandig3636 Can you please share whether this has been released yet? We are eagerly waiting on a fix as this issue renders our error tracking useless! Thank you.

[2018-05-30 10:54] rivkahstandig3636 commented on #344
@mlent It unfortunately got pushed back, but should be coming out with a release next Monday. I'm sorry about that!

[2018-05-31 21:50] kradical opened #622 "Payload sending without environment"
Hello!

First of all Rollbar is a great product that has seriously improved our product. So good work :).

We recently updated to rollbar `2.4.0` and I think something may have happened with how options are merged. We started seeing errors reported with an "unknown" `environment`. Our usage is in a React SPA with the standard setup.

Our production config looks like:
[code]

If I load the page as

[2018-05-31 22:14] rokob commented on #622
Yes, sorry about that, this is a bug that I fixed recently. However, I hadn't put out a new release. v2.4.1 has the fix which I just released.

[2018-05-31 22:14] #622 closed

[2018-05-31 22:16] kradical commented on #622
Awesome! thanks for the quick response :)

[2018-06-02 19:06] p-himik commented on #344
I'm not sure if it's related, but I keep getting `Uncaught TypeError: Cannot read property 'info' of undefined` errors when trying to use `Rollbar.info` with Rollbar 2.4.1. It appears to originate at https://github.com/rollbar/rollbar.js/blob/master/src/browser/rollbarWrapper.js#L11

[2018-06-05 12:14] mlent commented on #344
@rivkahstandig3636 Thanks for the update - it would be really helpful to know as soon as this is available, as our other errors are totally drowned out by this one. Thanks!

[2018-06-07 19:40] gregblass commented on #263
Got this today. Was bewildered. Still am!

[2018-06-11 18:45] glortho commented on #567
+1. It's not clear what best practices are for use with Webpack. The browserify example shows rollbar-browser, which is deprecated, and `rollbar.init`, which the main docs say is the "old way".

[2018-06-12 16:30] joshacosta opened #624 "Ionic: Cannot set property of "id" of null"
I'm sure this is a super easy fix. I'm pretty new to ionic and coding in type/javascript, so don't roast me. After deleting "currentEvent" from my firebase I'm trying to push back to the TabsPage (homepage) so I don't have to worry about getting above error. But it didn't work. I've tried ngIfs in my HTML but that didn't work either. Any help for a pleb would be greatly appreciated. The functions

[2018-06-13 14:07] rivkahstandig3636 commented on #624
We would never roast you! All levels of programming welcome here :) @rokob Could you take a look at this?

[2018-06-13 15:33] functionalStoic commented on #344
Status update?

[2018-06-14 17:42] rokob commented on #624
This has nothing to do with Rollbar so I have no idea why you made an issue here. However, reading your code and your error, this code:

[code]

is causing the error. There is no guarantee that `eventSnapshot.val()` is non-null. Firebase will invoke your callback handler when it is added as well as at each value change, but that first invocation will be with a null value if the key you are watchin

[2018-06-14 17:42] #624 closed

[2018-06-18 09:21] sankalpsans commented on #75
We have noticed this on Safari Desktop as well.
Based on my experience, "PDF Viewer" seems to be the only common extension amongst all the browsers that have reported this issue.

[2018-06-20 15:25] kimek opened #625 "Security | scrubTelemetryInputs default off"
Hi guys,
We just notice that you not only introduce Telemetry with default settings on on our sites, also you turn off as default scrubTelemetryInputs.
We are sad :(

[2018-06-20 15:28] rivkahstandig3636 commented on #625
Hi there, You can always turn these off. I'm sorry it made you sad :(

[2018-06-20 19:23] brianr commented on #625
Hey @kimek , we're revisiting the defaults here. Will reopen this issue to track it.

[2018-06-20 20:00] Hoten opened #626 "Arguments in stack trace"
Is this possible in JavaScript? I think so, but is it feasible for this library to do so?

It would be incredibly useful in debugging errors.

This SO post sheds some light on the topic: https://stackoverflow.com/questions/34094145/is-it-possible-to-get-the-local-variable-and-parameter-values-with-window-onerro

Has this been considered before?

[2018-06-22 17:42] jaredp opened #629 "Doesn't log errors when the item data is too large (HTTP 413)"
**Behavior:** Unhandled exceptions in my prod not reaching Rollbar when the error data is more than 128KB

**Expectation:**
- Minimum: Rollbar item reporting that an error couldn't be reported because the data was too large.
- Good: trimming error reports more than 128KB down under the limit, with a note that they were trimmed.
- Best: trimming individual long log items in the telemetry so the who

[2018-06-22 17:47] jaredp commented on #629
Further digging shows that in my particular case, I have a single `{type: 'log'}` entry in the error's `data.body.telemetry` with a multi-megabyte message that's making the whole `data.body` go over the size limit.

[2018-06-22 17:58] jaredp commented on #629
Also I'm on version 2.2.7 of the library

[2018-06-22 18:04] #625 closed

[2018-06-22 18:45] jessewgibbs commented on #629
Related conversations in Intercom:  https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/487663/conversations/17059986597

[2018-06-22 18:58] rokob commented on #629
Yeah I have a branch lying around where I was doing some truncation work but it wasn't prioritized. I have #630 which will take care of telemetry log messages being too long which is a good idea regardless. I will follow up with a more general truncation plan similar to what we do in the other SDKs.

[2018-06-22 20:49] jaredp commented on #629
Thanks for responding quickly!  Some thoughts on #630:
- 128 chars seems really, really small.  If we're going to set a limit, I'd like at least 1024 or something.  Those logs are really useful!
- I'd like an indication if a log is truncated, something as simple as suffixing "... [snip]"
- Is there a reason we can't clone the data before we send it, and mutate the clone, rather than doing the trun

[2018-06-22 21:23] rokob commented on #629
* 128 is small, I can go 1024 by default and make it configurable
* I suffix `...` if we truncate
* Truncation more generally to get below the payload limit is the overall right approach here as you mention. I was just planning on getting around to it later, but I might as well just do it now because yeah this is only a partial fix.
* The alternative you mention is interesting. We could just send

[2018-06-22 21:47] jaredp commented on #629
Great, that all sounds awesome.  The only thing missing is I really need the retry on 413 (or really any non 2xx) as a failsafe.  Ideally it should never fire, but it would make me really happy to have more guarantees that I'm notified of all errors even if Rollbar itself has issues, especially because #630 is intentionally a partial fix.

I'm always very concerned about missing errors and we rely

[2018-06-25 07:59] vincentkwok commented on #585
Agree, any news?

[2018-06-25 10:21] rivkahstandig3636 commented on #585
This is scheduled to be addressed in the next release.

[2018-06-26 05:29] #629 closed

[2018-06-26 22:14] rokob commented on #344
HUZZAH! Thank you @functionalStoic for giving me a live demo with the bug. It took me a while to track this down, but this is happening because Prototype is monkey patching `bind`: https://github.com/prototypejs/prototype/blob/1fb9728ed109cfd682225a13eda13acfb91a94dc/src/lang/function.js#L108,L115

WTF???

Suppose we do

[code]

In a normal world you would observe this:
[code]

If you include prot

[2018-06-26 22:15] rokob commented on #344
Also if anyone is seeing this error and they are not including Prototype that would be good to know because that would mean there is something else going on. But I strongly suspect this is the culprit.

[2018-06-27 06:47] rokob commented on #373
The actual conversation is asking for something different than the title of this issue. It is about capturing console.warning calls that happen prior to a thrown exception to enrich the error data with possibly useful data that occurred before the error happened. Telemetry does this with the log capturing turned on. So I am going to close this.

[2018-06-27 06:47] #373 closed

[2018-06-27 18:21] rokob commented on #580
Is this printed out along with the following string?

If not then I am really surprised because that stacktrace is inside a try/catch block, specifically the fourth frame is in the code as:

[code]

The only thing I can think is that inside the catch block we access some of the original exceptions properties and that is causing an issue, but that is not what this stacktrace looks like. I will add

[2018-06-27 18:24] rokob commented on #457
This is an issue for the docs which will get rolled into the doc updates for the next release so closing this issue as there is nothing actionable to do in the code.

[2018-06-27 18:24] #457 closed

[2018-06-27 19:06] rokob commented on #585
Sure I can do this, watchdogs are inherently racy which is why AWS suggests using a step function which listens on the error queue for timeouts and calls a different lambda function which can then report the error somewhere else. It is a bit convoluted but more reliable. There is no guarantee that the watchdog report is correct (your function finishes within the remaining time) nor that the report

[2018-06-27 22:29] rokob commented on #597
Hmm yeah I'm guessing this is what we want to do going forward for sure, but let me check this doesn't break anything for pre-8.10 or if that is even a concern.

[2018-06-28 00:38] johnnywang commented on #580
It's been a while and I don't thinK I can repro this anymore because our code has changed a lot, but I don't recall seeing that additional message (even more so because I probably would have included it if present)!

[2018-06-28 18:34] jaredp commented on #629
Now that #630 is merged in, how do I get it into my app in prod?  I didn't see a new version of this package published on npm

[2018-06-29 17:40] #580 closed

[2018-06-29 17:42] #486 closed

[2018-06-29 17:42] #592 closed

[2018-06-29 17:51] mlent commented on #344
@rokob thanks for getting to the bottom of this! can you please share how soon you expect this to be released? thanks!

[2018-06-29 17:54] rokob commented on #344
I'm merging a bunch of stuff right now and will do a release later today.

[2018-06-29 17:54] mlent commented on #344
Thank you very much!

[2018-06-29 17:57] #585 closed

[2018-06-29 17:57] #597 closed

[2018-06-30 09:21] csergiu opened #638 "TypeError: "fetch" is read-only in Firefox Web Extension content script"
I don't understand why it's giving me this error. I've installed the package from npm and I'm using Browserify and Babelify to compile my scripts. I feel like this is a bug as I feel like I'm doing everything right? The error seems to be at the replace() function definition of the browser/telemetry.js file: https://github.com/rollbar/rollbar.js/blob/3950a56aac531c8c16e4a3f635d8e1fdae37fd73/src/bro

[2018-06-30 19:12] rokob commented on #638
If you are running as a content script in Firefox rather than directly as a script then I would expect trying to replace fetch on the window global would be problematic. For an immediate fix I would say set the network autoInstrument setting to false, this will prevent us from running that code. For a longer term fix we should probably have a try/catch around that replace for this issue.

[2018-07-01 06:51] csergiu commented on #638
Thank you @rokob! That fixed it.

[2018-07-05 03:09] jamesdixon commented on #597
Hi, just to wanted to clarify something. The release notes say:

Does this mean that the `callback` version is the only return method supported? It's mentioned that the non-callback version is deprecated by AWS, but I'm not seeing this anywhere. If anything, I'm seeing more examples of using `async` functions with a straight up `return` with the ability to use Node 8.10.

[2018-07-06 23:00] rokob commented on #344
The entire snippet needs to change. For some updates the snippet does not change so you are safe just changing the version inside the string inside the snippet, but there is not guarantee that is true with any given update. In this particular case the conflict with Prototype had to do with something going on in the snippet code so this will keep happening specifically until the entire snippet is r

[2018-07-10 20:40] jehoshua02 commented on #528
@and-megan we are building another project with Nuxt. Curious to see if there's been any progress on this issue.

[2018-07-10 21:03] and-megan commented on #528
Hey @jehoshua02 - I'm not sure. @rivkahstandig3636 do you know if there's any work on this?

[2018-07-10 21:05] functionalStoic commented on #344
@rokob I have replaced the snippet. I'm now receiving a fair amount of other errors in the console regarding the rollbar line of code. You can see them by going to https://www.theorganicbloom.com. Not really sure what to do about them

[2018-07-10 22:31] rokob commented on #528
You can do this already, I'm a little confused at what the issue is here? Is this just a documentation question?

I've never used nuxt but briefly looking around, there is a mechanism for executing whatever you want in the event of an error.

You can add an error middleware which will get called before the built-in one due to: https://github.com/nuxt/nuxt.js/blob/d98c98360ab614f95c461b1e8bf871ee50

[2018-07-13 05:20] dandv opened #640 "Update this repo's URL"
It currently points to https://rollbar.com/docs/notifier/rollbar.js/, which redirects.
![image](https://user-images.githubusercontent.com/33569/42673766-bab32efe-8621-11e8-9b9d-807669e60548.png)

[2018-07-13 05:24] dandv opened #641 "Rollbar.log() doesn't do anything on the server?"
https://docs.rollbar.com/docs/custom-log-messages#section-javascript suggests there's a static `log` method in the Rollbar object that can be called with the log level as a parameter:

Rollbar.critical("Crash while processing payment");
Rollbar.log("error", "Crash while checking order status");

That doesn't seem to work in Node:

[code]

[2018-07-13 05:32] rokob commented on #641
Yeah those docs are just a bit outdated, sorry. Two things though. There actually is a static method, but it will log an error, if configured to actually output logging info, if you call one of the static methods before calling `Rollbar.init`. This is a backwards compatibility issue with the old nodejs library. Second, the method does not interpret the first string argument to `log` as the level.

[2018-07-13 07:18] dandv commented on #641
Thanks! Another outdated bit might be "// It will appear as `custom.postId` in the Occurrences tab" at https://docs.rollbar.com/docs/javascript/#section-usage. I think the user will see just "postId".

[2018-07-13 12:29] mir3z opened #642 "Unhandled promise rejection: [object Object] in item's title"
Rollbar tries to handle unhandled promise rejection. But in case of promise rejected with object I can't find any clue of what's inside that object

In occurences:
![image](https://user-images.githubusercontent.com/1816692/42691311-c40e268a-86a7-11e8-98bf-27918be775bc.png)

In item's title
![image](https://user-images.githubusercontent.com/1816692/42691332-d80549b6-86a7-11e8-8d4b-39ac8a33bf8a.png)

[2018-07-13 14:03] jessewgibbs commented on #640
@rivkahstandig3636 @rokob we just need to update this to point to https://docs.rollbar.com/docs/javascript.  I don't seem to have sufficient permissions on the repo to do this.

[2018-07-13 15:56] rokob commented on #640
I can’t edit that either, not sure who does have the permission.

[2018-07-13 17:55] brianr commented on #640
done. thanks @dandv !

[2018-07-13 17:55] #640 closed

[2018-07-13 22:08] schmave opened #643 "Uncaught exception in React component not reported to server"
I've created a React app with three files, public/index.html:

[code]

and src/index.js:

[code]

and this package.json:

[code]

When I run this in React dev mode (`npm install; ./node_modules/.bin/react-scripts start`), I see two POST requests made to api.rollbar.com. One is triggered by the call to Rollbar.error, and one is triggered by accessing `x.foo`.

When I run this in React production mo

[2018-07-13 22:31] rokob commented on #643
This is odd, it could be due Error Boundaries (https://reactjs.org/docs/error-boundaries.html) where the production mode basically catches it and unmounts the tree rather than propagating up to the global error handler. I'd have to play around with this to see what exactly is going on.

[2018-07-16 16:02] schmave commented on #643
Thanks for the idea. I added an error boundary that calls `Rollbar.handleUncaughtException` and that works well enough for me now.

[2018-07-16 19:31] uri opened #644 "Error handling fallback when Rollbar isn't loaded properly"
On the application I work on, when an unhandled error occurs it gets sent to Rollbar and a modal is displayed  indicating that an error occurred and forces the user to refresh the page.

I am seeing that for some unknown reasons *rollbar.min.js* is not being loaded in some situations. This causes the `onSendCallback` to never trigger.

It would be ideal if we can also override `window.onerror` wit

[2018-07-16 19:59] rokob commented on #644
Are you using the snippet to load Rollbar? I am not sure why "I am seeing that for some unknown reasons rollbar.min.js is not being loaded in some situations" that would happen so I'm curious if this is the snippet not loading it properly or if there is something else going on.

If you set your own `window.onerror` function before loading Rollbar, we will call your function after handling the erro

[2018-07-17 17:41] uri commented on #644
@rokob

I'm not finding this to be the case?

[2018-07-17 17:45] uri commented on #644
Actually I see

[code]

Will investigate further..

[2018-07-17 17:58] rokob commented on #644
I am seeing it not working how I would expect so I am trying to figure out why as well

[2018-07-17 18:13] rokob commented on #644
Ah I figured out why it isn't calling the original function, working out a fix now.

[2018-07-18 14:17] #608 closed

[2018-07-19 09:54] kimek commented on #625
References to other issue are not related at all to this task @rokob
Secondly maybe you could update your docs about that ?
scrubTelemetryInputs but where ?
just put { scrubTelemetryInputs : true } and it will work like
{
  level: "debug" | "info" | "warning" | "error" | "critical"
  type: string
  timestamp_ms: number
  body: object
  source: string
  uuid?: string
}
???
or it should go to :
_rol

[2018-07-19 12:34] devakone opened #646 "Angular 5: Performance cost with Rollbar HTTP calls"
Hello!
I used the Angular integration to setup Rollbar for my application, and i use the `this.rollbar.info` call to log some state related calls in my application, nothing too crazy. I noticed that it affects the performance of my application at it seems the `POST` HTTP calls that Rollbar does to send the data back to the API are slowing down the general performance of my application, especially

[2018-07-19 23:32] #644 closed

[2018-07-20 03:16] gbakernet opened #647 "Custom scrubFields aren't merged with default scrubFields"
Using rollbar 2.4.1

## What happens

When you list a custom set of scrubFields in an array. It isn't merged with the default list.

[code]

Results found in Rollbar dashboard with testing with custom scrubFields
[code]

Results found in Rollbar dashboard with testing without custom scrubFields
[code]

## Expected

I believe it is reasonable to expect that they are merged.

[code]

Results found i

[2018-07-20 13:55] kimek commented on #625
Somebody update docs. Thank you. Still I think that you should inform all clients that this is turn on and all sensitive data is saved to rollbar.

[2018-07-20 23:21] brianr commented on #625
@kimek The current default behavior (as a result of #627) is that rollbar.js will:

1. scrub values throughout the payload when the name matches one of the configured `scrubFields`
2. scrub telemetry values when the input name matches one of the configured `scrubFields`

If the sensitive fields you want to scrub are named in `scrubFields`, then they will not be collected.

If you do not want to co

[2018-07-22 06:21] Bomper opened #648 "Confusing error - "item per minute limit reached, ignoring errors until timeout""
I got this error among my items for a Node.js project, and couldn't tell what caused it. There was no filename or line. Turns out it comes from Rollbar's own [rateLimiter](https://github.com/rollbar/rollbar.js/blob/307aa19ec6cf14a3334936bcf0792a6577968376/src/rateLimiter.js#L105).

What does this error mean? There are no other items that occurred in the few hours prior to this error, so I don't se

[2018-07-22 16:52] rokob commented on #648
I'm seeing now that this could theoretically happen if you have an error, but the network request fails for some retriable condition, like the network is done, and then we keep trying to send that item, but by the time we get the network back we have already tried to send it more than the rate limited number of times in a minute which results in the rate limit item. Otherwise, there is no way to s

[2018-07-22 19:34] Bomper commented on #648
Interesting... I haven't touched `itemsPerMinute` and the Node.js script it running on DigitalOcean, which shows no outage recently. https://status.digitalocean.com.

[2018-07-24 23:47] #642 closed

[2018-07-25 03:52] wildskyf opened #652 "what would happen when I use both hostBlacklist and hostWhitelist at the same time?"
I add "domain1.com" into the array of hostWhitelist, and add "domain2.com" into the array of hostBlacklist.

Now there is an item whose filename of trace contains both "https://domain1.com/index.js" and "https://domain2.com/index.js", will this item be sent to server?

[2018-07-25 04:02] rokob commented on #652
As the code is currently it will not get sent because of the blacklist.

Blacklist is do not send items if they contain a filename in the trace that matches an item in the list.
Whitelist is do not send items unless a filename in the trace matches an item in the list.

They can both be thought of as filter predicates and therefore if either predicate fails the item will not be sent.

[2018-07-25 04:04] rokob commented on #652
Whether that is obvious or fully desirable is another question. I am not sure what the natural expectation or right answer is here.

[2018-07-25 04:06] wildskyf commented on #652
got it, It does match my anticipation.

Thanks for your explanation. :)

[2018-07-25 04:06] #652 closed

[2018-07-25 07:05] wildskyf commented on #167
Hi @dlsteuer

I just generate source map for my rails map, and I have known that I need to specify the code_version attribute after I read the docs. And you suggested that it is better to use git sha as the value of code_version.

Should I need to update code_version with git sha as long as I update any js file in my project? Or I just need to update code_version when I update the config file?

[2018-07-25 07:11] wildskyf commented on #167
(this question is not just about rollbar.js, but I can't find a repo called rollbar/ama, maybe you could create one?)

[2018-07-25 07:14] rivkahstandig3636 commented on #167
Hi @wildskyf, you can always email us at support@rollbar.com. I'm not sure I understand what you're asking. The code_version of the source map files you upload needs to match the code_version in your JS config.

[2018-07-26 18:57] shakiba commented on #601
@rixth I [added](https://github.com/rollbar/rollbar.js/commit/7bcb25c2e1e86139af5d217c4098c939b7a1d642) original item as second param passed to `transform()`, I hope that solve this issue.

I will close this issue, please feel free to reopen it if the issue is not resolved.

[2018-07-26 18:57] #601 closed

[2018-07-27 21:19] rokob commented on #647
This is sorta kinda by design. So the original way this worked was that the arrays were merged but incorrectly (due to JS being JS what actually happened was that your new array overwrote the beginning of the currently set array up to the length of the new array). So I changed that extremely odd behaviour to replacing the array with what you set rather than merging.

Why? Well while one person mig

[2018-07-29 23:34] gbakernet commented on #647
@rokob Sounds like a sensible trade off. Perhaps the only thing to do would be to mention in the docs that the defaults will be overridden?

[2018-08-01 14:00] rivkahstandig3636 commented on #560
I don't believe so. @shakiba Would you be able to take this one on so we can get a fix out?

[2018-08-03 10:41] dottodot opened #654 "{"extraArgs":[{}]} messages in Firefox"
Seem to be getting quite a few log entries with a message of `{"extraArgs":[{}]}`

It's not really clear what the cause of this would be. Can you advise?

[2018-08-07 00:28] blimpage commented on #647
Two cents from another user: I suspect it's a more common use case that users would want to add entries to `scrubFields` rather than remove them. Personally I'd be fine with having to explicitly specify any default values that I no longer want scrubbed.

Either way I was surprised that the behaviour changed without being mentioned in a changelog or a deprecation warning, even if it wasn't previous

[2018-08-07 21:24] jessewgibbs commented on #638
@rivkahstandig3636 is there any more work to do in this issue?  It looks like it's fixed...

[2018-08-07 21:29] jessewgibbs commented on #648
I'm going to close this issue since PR #649 includes some changes to address it.  If this continues to occur, please let us know.

[2018-08-07 21:29] #648 closed

[2018-08-07 21:32] #643 closed

[2018-08-07 21:32] jessewgibbs commented on #643
Closing this since it looks like we found an adequate solution.

[2018-08-07 21:37] #263 closed

[2018-08-07 21:40] #344 closed

[2018-08-07 21:40] jessewgibbs commented on #344
I'm closing this issue since the original issue is fixed.  @functionalStoic if you're still running into problems, could you open a new issue w/ the details?

[2018-08-07 21:42] jessewgibbs commented on #516
Closing this since we've not had any reports of it in a long time.

[2018-08-07 21:42] #516 closed

[2018-08-07 21:44] jessewgibbs commented on #536
I'm closing this due to old age.  If it continues to be a problem, let's reopen it.

[2018-08-07 21:44] #536 closed

[2018-08-07 21:47] jessewgibbs commented on #584
I'm closing this due to old age.  If it's still a problem, please let us know.

[2018-08-07 21:47] #584 closed

[2018-08-07 21:48] jessewgibbs commented on #596
Closing this issue since there's been no response from the last commenter.

[2018-08-07 21:48] #596 closed

[2018-08-07 21:50] jessewgibbs commented on #654
https://app.intercom.io/a/apps/rlisg82q/conversations/17864028162?redirectTo=feed

[2018-08-09 09:30] mpospelov opened #655 "rollbar.configure reinstruments console log and hijacking console.log stack trace again"
Hello everyone. I have the issue similar to #609. Here is my use case:
1. User visits webapp - `new rollbar` is called - no hijacking to console.log
2. User logins - `rollbar.configure({ payload: {user_id: <...>} })` is called and autoinstumenter hijacks to console.log

So is it an expected behaviour?
I found a workaround to pass to `enabled` during configure same as init but it looks awkward.

he

[2018-08-09 17:04] rivkahstandig3636 commented on #638
@jessewgibbs Nope, it can be closed. Oversight on my part, thanks for noticing!

[2018-08-09 17:04] #638 closed

[2018-08-13 12:04] dottodot commented on #654
Not sure if it's related but I also get a few errors that don't have any info such as

[code]

[2018-08-13 16:39] jessewgibbs commented on #654
Hi @dottodot - I don't think the last issue is related.  It's probably due to your CORS configuration.  You can read more about this at https://docs.rollbar.com/docs/unknown-script-error.

[2018-08-13 16:52] dottodot commented on #654
Don't think in can be a CORS issue as that's setup correctly and if it wasn't all requests to that rest endpoint would fail.

[2018-08-14 13:37] dottodot commented on #654
One thing I've noticed is the `{"extraArgs":[{}]}` issue only seems to be on firefox

[2018-08-17 19:10] bbugh commented on #586
In the mean time, can you explain here? I've been looking around for an answer to this and finally came to Github to report the issue. Thanks!

[2018-08-17 19:12] rivkahstandig3636 commented on #586
@bbugh Sorry about that, it's actually been updated [here](https://docs.rollbar.com/docs/rollbarjs-configuration-reference) but I forgot to update this issue!

[2018-08-17 19:12] #586 closed

[2018-08-20 21:18] Ricardonacif commented on #597
Hey guys, I didn't understand. Does rollbar right now support async functions with AWS Lambda or not? How would I add rollbar to catch the exceptions in a case like this:

[code]

[2018-08-20 21:23] simlu commented on #597
@Ricardonacif I'd take a look at [lambda-rollbar](https://github.com/simlu/lambda-rollbar). We use it extensively in production. I'm assuming there is a way to get things to work only using rollbar, but I'm also not sure how. Maybe someone else can jump in.

[2018-08-20 21:36] Ricardonacif commented on #597
@simlu that's great! I'm gonna give it a try!

[2018-08-24 18:32] shakiba commented on #655
@mpospelov I can't reproduce this, can you please share an example that I run to reproduce it.

[2018-08-24 23:41] jessewgibbs opened #658 "Report metrics from windows.performance"
Originally suggested in https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/487663/conversations/10894526158.

[2018-08-25 11:41] mpospelov commented on #655
@shakiba Hi. Please checkout this `create-react-app` repo
`https://github.com/mpospelov/rollbar-configure-issue`
1. Start it with `yarn start`
2. checkout console.log
https://github.com/mpospelov/rollbar-configure-issue/blob/master/src/App.js#L8-L10
![image](https://user-images.githubusercontent.com/1548210/44617933-d9e2eb00-a874-11e8-884d-585a28923961.png)

According to settings rollbar should be

[2018-08-27 18:12] ajtran opened #659 "Telemetry Capture Event Type"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18151807899

User would like to specify what type of event is being captured when using the captureEvent method. As of now, the type is always being set to `manual`.

[2018-08-28 05:07] shakiba commented on #655
@mpospelov Thanks for the demo! I can see inconsistency here and I figured out where the issue, however I'm still not sure what the best solution is.

For now I recommend adding `autoInstrument: false` or `autoInstrument: { log: false }` to config object.

[2018-08-28 06:55] mpospelov commented on #655
@shakiba I solved my issue by always passing enabled flag with config, checkout the code in the question.

In demo if you pass Rollbar.configure({ enabled: false, payload: {...}}), rollbar wont autoinstrument console.

[2018-08-28 17:28] shakiba commented on #655
Right, but that will disable everything (no data will be sent to the server anymore).

[2018-08-28 17:31] mpospelov commented on #655
I do not care about log instrumentation in production so it's a development issue, I have rollbar disabled then I do `Rollbar.configure` and it starts instrumenting console like it's enabled, but it shouldn't, that's why I always passing initial `configureOptions`

[2018-08-28 18:00] shakiba commented on #655
Thanks for info!  I made a PR #660, I will merge it and make a new release soon.

[2018-08-28 18:57] ajtran opened #662 "Node v8.11.3 does not Catch Uncaught Errors"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/18134613089

I just tested with this configuration in node v.8.11.3
[code]
and the thrown is not being caught. However, this works fine in v9.11.1

[2018-08-28 18:57] shakiba commented on #655
I released v2.4.5 with bug fix for this issue.

[2018-08-29 13:47] #655 closed

[2018-08-30 12:57] jessewgibbs commented on #662
The customer was able to work around this by defining the error handler after `app.get` and before `app.listen`.  I'm going to close this issue for now, as we're not likely to spend more time on it soon.

[2018-08-30 12:57] #662 closed

[2018-08-30 21:52] ajtran opened #663 "v2.4.5 errors on IE 11"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18260020429

User reported that `OPTIONS` request fails on IE 11. This is preventing the data from being sent to Rollbar.

[2018-08-31 05:42] rivkahstandig3636 commented on #663
@shakiba Please take a look into this ASAP

[2018-08-31 19:50] jessewgibbs commented on #663
I'm going to close this issue until we get confirmation from the customer that they have their CORS settings properly configured.

[2018-08-31 19:50] #663 closed

[2018-09-05 11:03] ryaa opened #664 "Can't set source map file location in the config transform function in the ionic app"
I'm trying to set the source map file location in the ionic application using transform function in the rollbar config object using the below sample.

https://docs.rollbar.com/docs/source-maps/#section-using-source-maps-on-many-domains

[code]

However  the problem is that payload.body does not have trace property.

The rollbar version is 2.4.5.
ionic info output
`
cli packages: (/Users/alexryltso

[2018-09-05 11:09] ryaa commented on #664
Please note that there is payload.request.url property which seems having a file location (for example under Android this is file:///android_asset/www/index.html)

[2018-09-05 23:25] jessewgibbs opened #665 "`Rollbar.configure({enabled:true})` enables direct calls but not uncaught exception handling"
Steps to reproduce:
* Load a page with Rollbar.js using the configuration options `captureUncaught:true` and `enabled:true`.
* Throw an uncaught exception via `window.onerror()`.  The exception is caught by Rollbar, as expected
* Call `Rollbar.configure({enabled:false})`
* Throw an uncaught exception via `window.onerror()`.  The exception is not caught by Rollbar, as expected
* Call `Rollbar.confi

[2018-09-05 23:41] jessewgibbs commented on #665
A couple more things we've discovered during investigation:

* If multiple calls to `window.onerror(string_value_here,window.location.href)` are made, then only the first one is sent.
* After calling `Rollbar.configure({enabled:false})`, calls to `window.onerror(new_string_value_here,window.location.href)` are still being sent.

[2018-09-10 21:00] jessewgibbs commented on #665
Ali and I confirmed that this was fixed for the 2.4.5 release.

[2018-09-10 21:00] #665 closed

[2018-09-10 21:04] jessewgibbs commented on #664
Hey there,

Sorry for the slow response to this issue.  We're going to need some additional information to troubleshoot this, so we'll email you to get the additional information in a private conversation.

[2018-09-10 21:04] #664 closed

[2018-09-10 21:33] ajtran opened #667 "networkResponseHeaders, networkRequestBody, networkResponseBody not returning extra Information"
internal - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/18343718932

In a simple React app that makes an HTTP Request to https://api.github.com, the telemetry data associated with an error that occurs shortly after this call is not populated with `networkResponseHeaders`, `networkRequestBody`, and `networkResponseBody`. The telemetry data looks the same as if these valu

[2018-09-11 21:12] scottdickerson opened #669 "captureIp false doesn't prevent my IP Address from being captured"
No matter what I pass to captureIp, my browser's IP Address is still captured by rollbar in my event log.

I've tried:
[code]
captureIP: false, and captureIP: 'anonymize' and captureIp: 'anonymize'

[2018-09-11 21:17] scottdickerson commented on #669
The global configuration is not overriding the individual rollbar instance configuration for captureIp I believe.  When I explicitly call configure I got it to work. Also there's a bug in the example documentation for javascript calling the field 'captureIP'

[2018-09-11 21:19] jessewgibbs commented on #669
Hey Scott - Which version of Rollbar.js are you using?  This looks similar to an issue that we fixed for the 2.4.5 release.

[2018-09-12 03:11] arlo-egg opened #670 "ObjectID not stringified since v2.3.2"
Description:
When logging the properties of a mongo object it is often useful to know the id of the object (which has a type of [`ObjectID`](https://docs.mongodb.com/manual/reference/method/ObjectId/)). Since v2.3.2 was released the id is treated as an object when logged and expanded out to constituent parts (the underlying buffer). This is much less useful for looking up the object in question be

[2018-09-12 07:15] Matrosskin commented on #560
Probably the issue is related to the issue in zone.js https://github.com/angular/zone.js/issues/1108 - it is already fixed in the master but it is not yet released. They pass into Rollbar's `onerror` handler the instance of `ErrorEvent` instead of arguments which usually passed by browsers (https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror). So as rollbar.js is not ready

[2018-09-12 13:50] scottdickerson commented on #669
hi thanks, I'm using this version:
2.4.5

Here's the bug in the example, https://docs.rollbar.com/docs/javascript
**captureIP** should be **captureIp** and **anonymize** should be **'anonymize'**
under the GDPR section here:

[code]

[2018-09-12 13:51] rivkahstandig3636 commented on #669
Thanks for letting us know, I updated the docs.

[2018-09-12 13:52] rivkahstandig3636 commented on #669
@shakiba Can you please investigate this issue?

[2018-09-12 14:27] jrdioko commented on #560
Yes, we are using Angular, but I don't see `isTrusted: true` anywhere.

[2018-09-12 16:55] jessewgibbs commented on #669
Hi Scott,

Thanks for the additional information.  Now that you have the correct configuration, is this still not working as expected?

[2018-09-13 00:31] jessewgibbs commented on #669
Hi Scott,

`rollbar.global` currently only accepts two configuration options, `maxItems` and `itemsPerMinute`.

This is detailed in https://docs.rollbar.com/docs/rollbarjs-configuration-reference#section-global.

It looks like the `configure` option is working correctly but we have a documentation issue, so I'm going to go ahead and close this issue.

[2018-09-13 00:31] #669 closed

[2018-09-13 00:41] jessewgibbs commented on #670
Hey Arlo,

Thanks for the detailed bug report.  We'll investigate what changed since 2.3.1 and follow up.

[2018-09-13 08:48] Matrosskin commented on #560
@jrdioko do you have field `extraArgs` in the error logs at rollbar?

[2018-09-13 09:41] rivkahstandig3636 opened #671 "Change `captureIp` to `captureIP`"
We should still support `captureIp` but deprecate it in our docs since `captureIP` is proper camelcase.

[2018-09-13 14:20] jrdioko commented on #560
I'm afraid it's been so long since we ignored this error in Rollbar that it doesn't look like we have the historical errors available to look at anymore.

[2018-09-14 03:53] scott-ho commented on #560
@Matrosskin There is no `extraArgs` in official rollbar docs nor in the typescript declaration file. For normal user, there is few chance to use it.

[2018-09-14 07:13] Matrosskin commented on #560
@scott-ho sorry if I confuse you in my description of `extraArgs` - I did not mean that parameter as some argument for some method, so it should not be in the documentation or in typescript declaration. It is a property which can be sent as part of rollbar payload. So if it was sent then you will be able to see it only on the occurrence page. Is it possible if you post here the example of params (

[2018-09-14 09:51] victoriafrench opened #672 "v2.4.6 valid?"
NPM informed us that 2.4.6 was released. However, I am seeing no information in the `changelog`, no `tag`, and no `release` here in github. It is also missing from the CDN. Is this a mistaken publish?

[404 Not Found - Cloudflare](https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.4.6/rollbar.min.js)

[2018-09-14 15:39] jessewgibbs commented on #672
@victoriafrench we'll investigate this today.  Sorry for the inconvenience.  In the meantime, you might want to use 2.4.5 instead.

[2018-09-14 18:01] shakiba commented on #672
@victoriafrench Thanks! I update docs and github tags for new version.

[2018-09-14 18:01] #672 closed

[2018-09-14 18:05] astorije opened #673 "Expose options in TS (e.g. via `getOptions()` method)"
Would you be open to expose `options` in the TypeScript type definition (as `options: Configuration`?
It is, after all, available in JS, (`new Rollbar().options`).
We are creating a layer above to turn on and configure things on our end (so that all consumers do not have to configure everything by hand) and when testing, it would be nice to assert the content of the `options` object.

[2018-09-14 18:55] jessewgibbs commented on #673
Thanks for the suggestion.   We'll add this to our backlog.

[2018-09-17 20:41] jessewgibbs commented on #654
Hey @dottodot - We encountered a similar issue in https://github.com/rollbar/rollbar.js/issues/560.  Are you guys using zone.js by any chance?  Here's the issue in that library that was causing problems for Rollbar: https://github.com/angular/zone.js/issues/1108.

[2018-09-18 07:41] dottodot commented on #654
@jessewgibbs I am yes, thanks for the heads up.

[2018-09-18 14:37] jessewgibbs commented on #654
Thanks for the follow-up.  I'm going to go ahead and close this issue since we're already tracking it in https://github.com/rollbar/rollbar.js/issues/560.

[2018-09-18 14:37] #654 closed

[2018-09-20 19:51] shakiba commented on #670
@arlo-egg Thanks for reporting the issue, and also for very helpful details. I released v2.4.7 with a fix for this issue.

[2018-09-21 16:13] jessewgibbs commented on #670
Hi @arlo-egg ,

This issue is fixed in the 2.4.7 release.  Can you give that a try and let us know if it's working as expected?

[2018-09-21 16:13] #670 closed

[2018-09-21 19:00] jessewgibbs commented on #667
@shakiba could you investigate this? @ajtran was able to reproduce the customer issue and can provide more context.

[2018-09-26 03:47] arlo-egg commented on #670
Hi @jessewgibbs, @shakiba I have upgraded and verified that it is logging ObjectIDs as expected. Thanks for the fix!

[2018-09-26 23:50] JuanCaicedo opened #677 "Uncaught exceptions not caught, when using Webpack"
Hi there! I can flush this out with some more details and example code if it would help 😄

I was trying to get Rollbar building through webpack. I found that I could get it working, so that if from another file in that build I call Rollbar, then it works
[code]

However, right below it I tried an uncaught exception. This exception was not caught by Rollbar
[code]

I get the same result if I run th

[2018-09-27 18:38] ajtran commented on #677
@jessewgibbs I've been in contact with the user via intercom - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18734322864

I was hoping to get more eyes on building via webpack.

[2018-10-03 17:18] alexfoxgill opened #678 "Run filterTelemetry Outside of Pipeline to Avoid Race Condition with Network Telemetry Events"
my app does a lot of polling and it drowns out other relevant telemetry. i want to filter out `GET` requests with a 2xx status code, so i added

[code]

to my rollbar config. however it seems to have no effect. i can see that my config has loaded successfully in the browser by testing in the console:

[code]

yet the requests still appear in the telemetry for my app

[2018-10-03 18:04] MikeVelazcoMtz opened #679 "Not all of the versions are published on NPM"
I was switching from bower to webpack and when trying to get version `1.9.4` of rollbar but npm is not able to resolve this version.

I know that I should upgrade the plugin but that's not part of the scope of the project right now and even if I do it, it could not be accepted.

[2018-10-03 21:06] ianheggie opened #680 "API error: Invalid format. data.body.telemetry should be array. error with version 2.4.2"
If I use the standard snippet, rollbar reports the following when I triggered an error using Rollbar.error('testing') in the console.

My workaround was to look for the latest version without telemetry and use that by setting:
rollbarJsUrl: "https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.1.3/rollbar.min.js" in _rollbarConfig

API Reject Detail:

API error: Invalid format. data.body.telemetry

[2018-10-03 21:32] ajtran commented on #680
Hi @ianheggie!

What does your configuration look like? I was able to send errors on v 2.4.0. by making the explicit call to Rollbar in the browser with a configuration like this:
[code]

[2018-10-04 00:15] ianheggie commented on #680
Hi Anthony,

I just double checked, I:

 1. Removed "rollbarJsUrl" setting
 2. ran "Rollbar.error('this is earlier version')"
 3. Put "rollbarJsUrl" setting back
 4. ran "Rollbar.error('this is later version')"

And then looked in the items list on rolllbar - as you can see the API
error occurs with the later version.

client.javascript.browser     Mozilla/5.0 (X11; Ubuntu; Linux x86_64;
rv:62.0)

[2018-10-04 00:34] ianheggie commented on #680
Adding autoInstrument doesn't help either -- I also tried extra params
and it didn't work unless I added
     rollbarJsUrl:
"https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.1.3/rollbar.min.js"

this doesn't: work

var _rollbarConfig = {accessToken:"TOKEN",
     captureUncaught:true,
     captureUnhandledRejections:true,
     autoInstrument:true,
     maxTelemetryEvents:50,
     scrubTelemetryI

[2018-10-05 09:30] Matrosskin commented on #560
While zone.js has not released fixed version we use next workaround: after initialization the Rollbar we override `window.onerror` to correct arguments:
[code]

[2018-10-05 14:45] alexfoxgill commented on #678
sure, i'm on `2.4.4` of Rollbar, using Chrome 68.0.3440.106

[2018-10-05 15:03] jessewgibbs commented on #678
@ajtran can you try to reproduce this?

[2018-10-08 20:15] rokob commented on #667
Do you have a sample app that reproduces this? The only thing I could think was that this was related to a race condition, but in investigating that I am pretty sure the race I thought was possible is not. The examples I have tried I either have no network request data in the telemetry events if the request hasn't finished in time or I have data and it includes the body and headers given that conf

[2018-10-09 21:19] ajtran opened #681 "Support Retries for Network Connection Errors on Browser"
It seems like this is already supported for server side. It would be nice to have this supported on the browser as well.

[2018-10-09 21:34] tomaszn commented on #681
This feature would be very useful for "Hybrid Mobile Applications" which work also offline.

[2018-10-09 23:37] rokob commented on #673
`options` is not exposed because if you change it directly you will almost certainly break something. The `configure` method handles transitive dependencies on the options object. So exposing it seems less than ideal.

[2018-10-09 23:52] jessewgibbs commented on #647
I've updated the docs to reflect the current behavior.  Leaving this issue open as an `enhancement` in our backlog so we can revisit the behavior and make it easier to append/remove from the default array.

[2018-10-09 23:57] jessewgibbs commented on #641
@danddv thanks for catching the mistake in https://docs.rollbar.com/docs/javascript/#section-usage.  That extra property appears as `message.extra.postId` now so I've fixed the docs to reflect that.

[2018-10-09 23:59] jessewgibbs commented on #641
Fixed the issue in https://docs.rollbar.com/docs/custom-log-messages#section-javascript by removing reference to `rollbar.info()`

[2018-10-09 23:59] #641 closed

[2018-10-10 00:11] ajtran commented on #678
@alexfoxgill I got around to do some testing on this issue and if you add a `console.log` into your `filterTelemetry` method, so it looks like this:
[code]
you can see that the `status_code` at the time the function is called is `0`. The actual body looks something like this
[code]
I believe this is the desired implementation as we begin to track and decide whether to filter telemetry events at th

[2018-10-10 00:34] jessewgibbs commented on #673
I updated the title to reflect that we may expose a copy of `options` via a method so they can be used for assertions and such.

[2018-10-10 17:04] alexfoxgill commented on #678
thanks for looking into it. that's a shame, is there any chance the filter decision could be postponed until the response has returned?

[2018-10-10 18:08] ajtran commented on #678
@alexfoxgill so, I got a chance to discuss further with the SDK engineer and I was slightly mistaken with my explanation above. Network telemetry has a race condition, thus sometimes there will be a response at the time of filtering and sometimes there won't.

The SDK engineer is looking to run the telemetry filter later in the pipeline to get outside that race condition.

[2018-10-10 21:11] alexfoxgill commented on #678
That's great, thank you for checking

[2018-10-11 07:42] ericnkatz commented on #672
@shakiba Just wanted to give a heads up.

Looks like the 2.4.7 release on npm has compiled code that says version is 2.4.6 still

https://unpkg.com/rollbar@2.4.7/dist/rollbar.umd.min.js
![image](https://user-images.githubusercontent.com/91019/46788176-9b5f9d80-cd07-11e8-85a1-556a0c8ad7f6.png)

[2018-10-11 07:43] ericnkatz commented on #672
Heres a better link within the repository:
https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.umd.js#L501

[2018-10-11 16:35] nephiw opened #683 "maxTelemetryEvents missing from index.d.ts"
1) The field `maxTelemetryEvents` is missing from `Configuration` in index.d.ts
2) The comment at the top of this file indicates that it is for an older version of rollbar.js

It is defined in the API here: https://docs.rollbar.com/docs/rollbarjs-configuration-reference

I would expect all of the valid fields in the reference to exist in the type file. As is, I work around it by casting to `any` b

[2018-10-11 16:55] jessewgibbs commented on #683
Hi there,

Can you send a URL to the version of index.d.ts that you are referring to?

[2018-10-11 17:41] rokob commented on #683
That comment just hasn't been updated as things have changed, I will just remove it as the types should be in sync with the version they are included with. I can add `maxTelemetryEvents` and I think one other thing that might be missing.

[2018-10-11 19:08] nephiw commented on #683
I believe that @rokob has spotted the problem, but to answer the question, @jessewgibbs , [the file is on master in index.d.ts](https://github.com/rollbar/rollbar.js/blob/master/index.d.ts)

[2018-10-15 22:00] jessewgibbs commented on #680
I'm closing this issue since there's been no response in 6 days.  @ianheggie if this is still an issue for you, please reopen and provide the info that @rokob requested in his last comment.  Thanks!

[2018-10-15 22:00] #680 closed

[2018-10-16 20:48] #678 closed

[2018-10-20 07:46] michaelauderer opened #685 "TypeError: Rollbar is not a constructor"
I'm having an issue in my application using Angular2+. I followed the configuration example, but I'm getting `TypeError: Rollbar is not a constructor`.

Here is my `app.module.ts`:
[code]

And here's where I'm trying to use it:
[code]

Full example on StackBlitz: https://stackblitz.com/edit/error-handling-httpinterceptor-rollbar

[2018-10-22 15:40] jessewgibbs commented on #685
@michaelauderer sorry to hear you're running into issues with Rollbar and Angular 2.

@rokob can you take a look at this?

[2018-10-22 16:12] jessewgibbs commented on #677
@rokob do you mind taking a look at this?

[2018-10-22 22:56] rokob commented on #685
So it looks like changing `import * as Rollbar from 'rollbar';` to `import Rollbar from 'rollbar';` fixes this error in the stackblitz. I think that is because that is compiling with a specific ES version which treats module resolution differently.

[2018-10-23 17:16] jessewgibbs commented on #685
@michaellauderer please see the last comment for a solution to this problem.  I'm going to go ahead and close the issue.  If you continue to encounter issues after implementing that solution, please let us know.

[2018-10-23 17:16] #685 closed

[2018-10-24 15:48] jessewgibbs commented on #667
I'm closing this issue since there's been no response from the original reporter.

[2018-10-24 15:48] #667 closed

[2018-10-24 20:38] agriffis opened #686 "custom error class is ignored"
Rollbar 2.4.6

[code]

Payload has `exception.class` set to `Error` instead of `MyError`

![image](https://user-images.githubusercontent.com/50637/47459863-2bdbba80-d7ab-11e8-9883-040a67a9577c.png)

[2018-10-24 20:54] agriffis commented on #686
For now I'm working around this with:

[code]

[2018-10-25 00:38] jessewgibbs commented on #686
@agriffis thanks for informing us of this issue and posting your workaround.

@rokob can you take a look at this when you get a chance?

[2018-10-25 20:04] agriffis commented on #686
By the way, once babel converts es6 to es5, then constructors can't be distinguished from normal functions, so uglifyjs renames them from (for example) "MyError" to "e"

You can configure uglifyjs to save some names explicitly with [`mangle.reserved`](https://github.com/mishoo/UglifyJS2#mangle-properties-options), for example I have in `vue.config.js`:

[code]

Another way to work around this prob

[2018-10-25 20:29] rokob commented on #673
This is done in 2.5.0

[2018-10-25 20:29] #673 closed

[2018-11-08 17:01] fgilio commented on #465
It'd be really helpful to have this built in

[2018-11-08 19:22] #686 closed

[2018-11-13 15:58] afogel commented on #504
Hi!
I've got the exact same stack trace as @and-megan.
I'm on Angular 4.4.7 and rollbar 2.5.0.

Here's my `rollbarErrorHandler` module
[code]

and my `app.module` file (shortened to only show relevant code):

[code]

[2018-11-14 18:34] afogel opened #688 "Ng build --aot failing in Angular 4"
Hi!
I've got the exact same stack trace as @and-megan in #504.
I'm on Angular 4.4.7 and rollbar 2.5.0.
Occurs when I run `ng build --aot`.

Here's my rollbarErrorHandler module
[code]
and my app.module file (shortened to only show relevant code):
[code]
Full stack trace:
[code]

[2018-11-14 18:44] jessewgibbs commented on #688
@rokob could you take a look at this?

[2018-11-14 18:48] rokob commented on #688
Is there any chance that switching
[code]
to
[code]
works?

[2018-11-14 19:35] afogel commented on #688
alas, changing it to `import Rollbar from 'rollbar';` breaks my dev environment when I run `ng serve`:
[code]

[2018-11-14 19:55] rokob commented on #688
Okay gotcha. I'll dig in to this, I remember an issue with AOT but thought it was resolved, guess not.

[2018-11-14 21:00] afogel commented on #688
Thanks!

[2018-11-27 21:34] rokob commented on #688
I just think the docs are off. I changed
[code]
to
[code]
and everything seems to be working for me. I had to update some imports and whatnot, but that is the basic change. Below are the full files that I ended up with in a new project that works with: `ng build`, `ng build --aot`, and `ng serve`.

`src/app/app.module.ts`
[code]

`src/app/services/rollbarErrorHandler.service.ts`
[code]

[2018-11-27 21:35] #683 closed

[2018-11-27 22:03] rokob commented on #647
There is now a way to control this, see the release notes for 2.5.0: https://github.com/rollbar/rollbar.js/releases/tag/v2.5.0

[2018-11-27 22:03] #647 closed

[2018-11-27 22:41] jessewgibbs commented on #688
@rokob could you give https://github.com/rollbar/docs/blob/master/onboarding/angular2.md? A quick review?  Those are the onboarding instructions shown in-app.  It looks right to me, but I'm not that familiar w/ Angular.

[2018-11-27 22:43] jessewgibbs commented on #688
@afogel this should be resolved now per Andrew's updates to our docs and last comment.  I'm going to close this issue, but if you continue to encounter issues, please let us know.

[2018-11-27 22:43] #688 closed

[2018-11-29 01:21] jessicahsieh opened #691 "Re-add Webpack Example"
used to be here: https://github.com/rollbar/rollbar.js/tree/v2.3.3/examples/webpack

now it is not

[2018-11-29 17:34] jessewgibbs commented on #691
@rokob any ideas why the Webpack example was removed?

[2018-11-29 17:45] rokob commented on #691
Yeah it was removed because I think it doesn't work and it isn't really a complete webpack example as the webpack config isn't there. I think the idea was that people were asking questions about it because it was broken so I thought it was better to remove it as it was more confusing, but I should have added a working one. I just never got around to it.

[2018-11-29 18:05] jessewgibbs commented on #691
Got it.  I'll switch this to being an enhancement.  For now, I'm going to hide the Webpack docs until we fix the example.

[2018-12-11 20:24] coryvirok opened #692 "Security issue in included express package"
Remediation - Upgrade express to version 3.11.0 or later

[2018-12-11 20:39] rokob commented on #692
Will fix. We take a dependency on express only for development examples and tests so this is not a production issue.

[2018-12-12 20:31] #692 closed

[2018-12-14 16:13] dangodev commented on #615
The pre/post-gzipped weight is the real measurement, and it’s `64 KB`. That’s almost as much as React! Running a thin React application, Rollbar nearly doubles my bundle size. There’s only so many JS packages that can be “critical” before some get loaded async, or not at all, and with Rollbar kinda being “critical” it’s a shame that it impacts the user experience negatively so much.

[2018-12-18 01:34] jessicahsieh commented on #691
following up with this: i have another customer requesting an example webpack configuration. have you had a chance to work on it?

[2018-12-18 14:19] bradrobertson commented on #691
Ya I've just spent a bunch of time now being redirected to pages that redirect back to other pages that have missing examples for webpack, so that's been pretty frustrating.
The react docs just link back to the main JS docs, and the browserify example suggests:

But when you go to the examples, there's no working webpack example.

[2019-01-02 17:02] jessewgibbs commented on #677
@juancaicedo sorry it's taken us a while to get to this.  Are you still encountering this problem?

[2019-01-02 17:05] agriffis commented on #677
I'm seeing this problem. Just caused us a big headache, actually, as an app was failing and we weren't getting errors in rollbar

[2019-01-02 17:12] jessewgibbs commented on #677
@agriffis thanks for the quick reply and sorry for the hassle!

@rokob can you investigate this?

[2019-01-02 19:24] JuanCaicedo commented on #677
I've moved on to work on something else, but hopefully @agriffis can elaborate more 👍

[2019-01-03 15:18] agriffis commented on #677
Actually now that I've taken a closer look, I think it's working fine for me.  In my case, I was missing the setup for [Vue render exceptions](https://rollbar.com/blog/error-tracking-vue-js/):

[code]

I was also misled by attempting to test in the Chrome dev tools. I created a function in my source code:

[code]

When I called that from the Chrome dev tools, it wasn't caught by `window.onerror`.

[2019-01-03 17:24] jessewgibbs commented on #677
@agriffis thanks for the detailed follow-up.  I'm gonna go ahead and close this issue now but please let us know if you encounter any further issues.

[2019-01-03 17:24] #677 closed

[2019-01-04 11:04] ericjoy94 opened #694 "Rollbar: Error while calling custom checkIgnore(), removing TypeError: args[1].indexOf is not a function"

[2019-01-04 11:05] ericjoy94 commented on #694
Rollbar is logging me this issue  since I updated my rollbar to 2.4.2 .

[2019-01-04 16:48] jessewgibbs commented on #694
@ericjoy94 thanks for bringing thisissue to our attention.

@rokob any idea what might have changed between 2.0.4 and 2.4.2?

[2019-01-04 17:14] rokob commented on #694
Nothing changed between 2.0.4 and 2.4.2 that would affect that inputs to the checkIgnore function. It looks like you are trying to ignore some uncaught exceptions, `args[1]` has been the Error object from as early as 2.0.0 (https://github.com/rollbar/rollbar.js/blob/v2.0.0/src/browser/rollbar.js#L103) so that checkIgnore function should never have worked. `args[0]` however which is the string mess

[2019-01-08 16:06] imsergiobernal opened #695 "Are definitions outdated?"
[code]

meanwhile

[code]

[2019-01-08 17:03] rokob commented on #695
That is an internal Rollbar class, the platform specific ones (e.g. https://github.com/rollbar/rollbar.js/blob/master/src/server/rollbar.js#L18 and https://github.com/rollbar/rollbar.js/blob/master/src/browser/rollbar.js#L17) are the ones referenced in the type definitions, and even there we have some extra parameters which are not mentioned which are used for testing.

[2019-01-08 22:34] jessewgibbs commented on #695
@imsergiobernal I'm going to close this issue but if you have any further questions, please go ahead and reopen it.

[2019-01-08 22:34] #695 closed

[2019-01-10 13:47] bradrobertson commented on #691
Is there any movement on this?

[2019-01-28 15:17] DoruLaz opened #697 "Provide a more comprehensive Angular example"
Hi,

I am using Rollbar with Angular 7 with captureUncaught = true. I am also setting some context info with the help of:

[code]

When using the ```rollbar.error(message, error, data);``` the context is shown on the portal:

![ErrorLog](https://user-images.githubusercontent.com/42145651/51845339-0d440d00-2320-11e9-93ab-3200af16f8c1.png)

But when I send an uncaught error ```throw 'Test error';```

[2019-01-29 10:56] DoruLaz commented on #697
Hi,

It's in the app. I have two test methods. One for the ```rollbar.error()``` and one for ```throw 'Test error';```. Here are their definitions:

[code]

I have also added 2 buttons that call these 2 methods.

[2019-01-30 06:43] DoruLaz commented on #697
Thank you for asking that question. It was my fault. I was creating 2 instances of Rollbar because I was using lazy loaded modules. I apologize for the trouble caused. I am a newbie in Angular.

Only one question before I close this issue. Can you please provide a small example component that uses  the rollbar.error('Some text', error, object) method to manually signal an error? I am having troubl

[2019-02-06 12:58] agriffis opened #698 "Release notes for v2.5.2"
Thanks for releasing v2.5.2. Just wondering if we could get some release notes at https://github.com/rollbar/rollbar.js/releases

[2019-02-06 18:13] jessewgibbs commented on #698
@rokob can you publish these?

[2019-02-07 08:49] lexax666 opened #699 "Rollbar not catching error thrown in promises?"
Hi Consider the following code:
[code]

If I have captureUnhandledRejections set to false, then the error thrown in reject won't make it to rollbar. Any idea why? Agologies ahead if it is a stuipd question. I have just started javascript:(

[2019-02-08 04:14] waltjones commented on #699
@lexax666 Javascript swallows the error thrown in the catch handler of a promise. Not a stupid question; this is a pretty non-obvious behavior of promises.

[2019-02-08 07:39] alexkb opened #700 "Rollbar with ExpressJS on Lambda/serverless-http"
I'm trying to work out how to use Rollbar with [serverless-http](https://github.com/dougmoscrop/serverless-http) on lambda as [per your lambda docs](https://docs.rollbar.com/docs/aws-lambda).

Whilst the application works, if an error gets thrown in one of the routes, rollbar never gets notified. I also see the full stack trace in the response:

    const serverless = require('serverless-http');

[2019-02-08 15:57] rokob commented on #700
You can’t use async and a callback. I am surprised the lambda response happens correctly with this pattern. Either use the callback and then don’t mark your function as async or just return the response directly.

[2019-02-08 20:26] jessewgibbs commented on #699
@lexa666 I'm going to close this issue.  If anything else comes up, feel free to open another issue or contact us via support@rollbar.com.

[2019-02-08 20:26] #699 closed

[2019-02-11 00:41] alexkb commented on #700
Thanks for the reply back @rokob. When you say _"Either use the callback and then don’t mark your function as async or just return the response directly."_. I don't think the first option is possible, as I won't have the response to pass to the callback if I don't wait for the handler to return?

With the second option - if I return the response directly, do you mean send the response (`res.send()

[2019-02-11 02:56] rokob commented on #700
An async function is equivalent to a regular function that returns a Promise, whatever you return from the async function is what the Promise gets fulfilled with, so `return response;` inside the async function should be good enough.

This should do what you want (I think):

[code]

[2019-02-11 06:49] alexkb commented on #700
With this approach, I seem to get false positives for "Function timed out" even though the request was valid and the response was passed back to the client successfully.

Additionally, another route that is setup to throw an Error for testing Rollbar, didn't log the error until I told express to use Rollbar as the error handler too `app.use(rollbar.errorHandler());`, and like the successful reques

[2019-02-11 17:14] sirwolfgang commented on #380
For anyone running into this issue make sure you have the latest version of the snippet and uglifier.

[2019-02-15 09:16] narada85 opened #702 "throw new TypeError('Expected a string, got "${typeof value}"');"
I'm using node 0.12.18
rollbar version 2.5.2

/app/node_modules/rollbar/node_modules/request-ip/index.js:15

require('dotenv').config({silent: true});

var express = require('express');

var Rollbar = require('rollbar');
var rollbar = new Rollbar({
  accessToken: process.env.ROLLBAR_ACCESS_TOKEN,
  captureUncaught: true,
  captureUnhandledRejections: true
});

var app = express();

app.use(rollbar

[2019-02-15 09:20] narada85 commented on #702
i do not get this issue in local machine. only comes on server environment.

[2019-02-15 18:16] jessewgibbs commented on #702
@waltjones could you take a look into this?

[2019-02-15 19:40] waltjones commented on #702
Hi @narada85, it looks like there is an invalid value for the `x-forwarded-for` request header. Can you reply with the value of this header on a request that fails? Also, is there a load balancer or proxy in the request path that would be adding this header?

[2019-02-18 20:37] Mathieuu commented on #638
I encountered the same problem:
- In a firefox addon content script, fetch cannot be replace as it is read-only

It there is no fix for that, could at least catch the error and have a better logging for it? It is nested pretty deep inside the library and for some reason, Firefox sometimes swallow the error which lead to manual debugging.

[2019-02-20 01:41] jessewgibbs commented on #702
@narada85 I'm going to close this issue since there's been no response.  If it's still a problem, please reopen and reply to the previous question.

[2019-02-20 01:41] #702 closed

[2019-02-27 01:13] #700 closed

[2019-02-27 18:02] #698 closed

[2019-02-28 16:24] glen-84 commented on #367
@rokob,

Can this be reopened?

In a SPA, I don't have access to the person data on initial load (of the HTML "shell"). Using a function would allow the value to be retrieved at a later point in time.

[2019-03-04 19:02] rokob commented on #368
Pretty sure this works on service workers now (at the next release), we can reopen if that is not the case.

[2019-03-04 19:03] rokob commented on #501
This is a docs question that is somewhat outside the scope of our library and is more a process question of someone's particular deployment setup. I'm going to close this.

[2019-03-04 19:03] #501 closed

[2019-03-04 19:03] #528 closed

[2019-03-04 19:05] rokob commented on #588
I added truncation a few releases ago.

[2019-03-04 19:05] #588 closed

[2019-03-04 19:06] rokob commented on #646
I haven't heard of this being an issue. Angular makes route changes wait on POST requests?

[2019-03-04 19:07] #600 closed

[2019-03-04 19:07] rokob commented on #671
Not worth the churn.

[2019-03-04 19:07] #671 closed

[2019-03-04 19:08] rokob commented on #697
I changed the title of this to be more actionable to what would solve the problem here.

[2019-03-04 19:18] rokob commented on #681
We actually already retry in certain situations because the underlying queue mechanism is shared across server/browser. However, we don't attempt to write to durable storage in the face of a persistent issue nor do we do any kind of backoff. The fix here would most likely to be adding exponential backoff and upping the number of retries. A later fix might be to write to something offline like loca

[2019-03-08 13:41] ryanburr opened #705 "Rollbar wait(...) type definition"
When trying to use rollbar with typescript, I noticed that there is no method for `wait(...)` in the type definition file.

Looks like a pretty easy one to add. Should just be

[code]

[2019-03-08 21:01] jessewgibbs commented on #705
@waltjones do you mind adding this?  We might want to check for other missing entries in the type definition file too.

[2019-03-08 21:07] waltjones commented on #705
@jessewgibbs, @ryanburr has a PR open. I'll review and look for anything else missing.

[2019-03-11 16:58] coryvirok opened #707 "Update Segment.io integration"
Looks like we have a pretty old version being used in our Segment integration. We need to upgrade [this](https://github.com/segment-integrations/analytics.js-integration-rollbar/blob/master/lib/index.js) to use our latest version + any changes necessary to get the Segment integration working with our latest release.

Finally, we need to make updating the Segment integration part of our release pla

[2019-03-11 17:53] rokob commented on #707
I didn't even know we had a Segment integration. I will add it to the release doc as a first step.

[2019-03-11 17:54] #705 closed

[2019-03-11 17:56] rokob commented on #705
I just merged that PR because it was straight forward. We should probably still do a pass looking for anything else missing. I made this issue a while ago https://github.com/rollbar/rollbar.js/issues/541 to remind myself to see if we can automate this so we don't miss anything but I never got around to it.

[2019-03-11 21:25] waltjones commented on #658
`window.performance.memory` is Chrome only, and the standardized `window.performance` data doesn't include a memory measurement. (Chrome could reasonably remove this feature at any time.) Do we want to proceed anyway?

[2019-03-11 21:30] waltjones commented on #679
The request here is to backfill old npm versions that were either missed or removed. (Not sure which.) Is this something we want to do?

[2019-03-11 22:33] brianr commented on #679
@waltjones I think it'd be worthwhile - it'll help users like @MikeVelazcoMtz who are switching the way they include rollbar.js but want to do that separate from upgrading the library version.

[2019-03-11 22:36] brianr commented on #658
@waltjones I'd say yes. In general, I think we can have features that work in only the environments where the data is available - applying that here, this kind of message would of course only be able to fire in browsers that provide the data.

[2019-03-12 18:46] brianr opened #708 "Support for extensions that use content scripts in Chrome 73+"
Starting in Chrome 73, content scripts are subject to the same restrictions as the web page they are injected to: https://developer.chrome.com/extensions/xhr

We'll need a story for how to use rollbar.js in this environment. A few possibilities to investigate:

- Can the content script make a request to rollbar.js through a background script controlled by the extension?
- Can this problem be resol

[2019-03-12 21:58] waltjones commented on #367
@glen-84 we are thinking about a callback that passes the current value of `person` (if any) and returns the new/updated value. Would that work for you?

[2019-03-13 06:53] glen-84 commented on #367
I'm not sure if I follow – the "current" value is stored in memory by Rollbar after the last logged error, or comes from the `person` config?

Either way, as long as I can set the person ID just before an error is logged, it should be fine.

[2019-03-13 07:12] brianr commented on #707
This is being tracked over at https://github.com/segment-integrations/analytics.js-integration-rollbar/pull/23

[2019-03-13 07:24] brianr commented on #367
@glen-84 Another way to do this would be to push person data to the Rollbar instance as soon as it becomes available to the application. You can do this using:

[code]

If the person changes, you can call `configure()` again.

[2019-03-13 15:21] waltjones commented on #367
@glen-84 Yes, if the value had been updated by you or Rollbar, that would be the current value. Otherwise, the value from config.

[2019-03-14 04:36] rokob commented on #694
Did you update the entire snippet or just the rollbarJsUrl?

[2019-03-14 07:53] glen-84 commented on #367
@brianr,

Ah, I didn't realize that this was possible. I think that this will work – should I go ahead with this option?

[2019-03-14 21:55] brianr commented on #367
@glen-84 OK, great - yes, I think that is probably a better way to go. I'm going to close this issue out. If that ends up not working, let us know and we can reopen this.

[2019-03-14 21:55] #367 closed

[2019-03-14 23:08] #659 closed

[2019-03-19 18:34] waltjones commented on #708
My testing appears to show the Rollbar API is not affected by this Chrome policy change because Rollbar API already sends the correct cross origin headers. (The Chrome update _will_ affect network responses that do not include the correct headers.)

The referenced PR adds a Chrome extension example containing both a background script example, and content script example. These were found to work as

[2019-03-19 19:35] brianr commented on #708
Great work @waltjones. That's the conclusion we've drawn from the original customer question as well. Once #708 has been merged and documented, let's close this out.

[2019-03-21 11:31] Matrosskin opened #712 "Firefox NS_ERROR_* logged with less info than possible."
It is possible to have a couple of spatial errors in Firefox which have unexpected type and they logged by Rollbar with a small piece of info. For such errors logged on their "toString" value because they have not "Error" type, but they have structure very similar to usual Errors (for example they have property "stack"). So it would be great to improve catching of such errors.
Here is an example t

[2019-03-24 21:40] newtack commented on #615
https://bundlephobia.com/result?p=rollbar@2.5.4

18.8 KB

If libraries such as material-ui can decrease their footprint by 15% (see here https://bundlephobia.com/result?p=@material-ui/core@4.0.0-alpha.4) while adding features, then I am sure that the great Rollbar engineers can do so too ...  :-)

[2019-03-26 20:36] jessicahsieh opened #714 "Feature Request: De-minify stack trace before sending payload to Rollbar"
For customers who perhaps have too many source maps/deploy too often to upload all source maps to Rollbar, but cannot make their source maps public (to use the automatic download method).

internal - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/21363181745

[2019-03-26 20:40] jessicahsieh commented on #714
similar to something like this: https://github.com/evanw/node-source-map-support

[2019-03-26 23:29] brianr commented on #714
For a little clarity - this request is most relevant for *server side* uses of rollbar.js, where you already have the source map around, and the source mapping step is necessary because of using a language that compiles to Javascript e.g. TypeScript.

[2019-03-27 18:05] waltjones commented on #712
@Matrosskin I can see the relevant NS exception object when I load the entire http://fiddle.tinymce.com/Xofaab/3, but not when I paste just your code (plus tinymce library of course) into an HTML file. In fact it runs without any error.

I have looked for a way to be able to generate these in Firefox, but the `Components` class, which seems to be required, isn't available. Do you have a more self-

[2019-03-28 02:05] waltjones commented on #646
Angular 2+ invokes change detection on all XHR requests. Just watching the behavior in the browser console, a single XHR request can generate as many as 4 - 6 change detection cycles. So, route changes don't wait on POST requests, but XHR activity can cause significant change detection activity. Apps that are more sensitive to this will of course be more affected.

This isn't Rollbar specific. It'

[2019-03-28 11:13] Matrosskin commented on #712
@waltjones here is I prepared repo for reproducing https://github.com/Matrosskin/firefox-ns-error-example (or as a page https://matrosskin.github.io/firefox-ns-error-example/ - just open it in Firefox). It is the only one way to reproduce error which I was able to found in the internet.

[2019-03-28 20:31] waltjones commented on #646
The referenced PR fixes the issue by changing the zone context in rollbar.js after any queuing and at the time of the http post. I thought async xhr reponses might be an issue, but they inherit the current zone with no issue.

[2019-03-28 23:09] waltjones commented on #697
The doc has been updated to include configuration of Angular components that need to access the Rollbar object. https://docs.rollbar.com/docs/angular

The referenced PR also demonstrates this in an updated and working Angular 2+ example.

[2019-03-28 23:25] waltjones commented on #712
@Matrosskin Yes, that worked for me. Thank you, and I'll let you know what I find out.

[2019-03-29 17:28] #708 closed

[2019-03-29 17:31] #697 closed

[2019-04-03 15:00] #646 closed

[2019-04-03 15:00] #712 closed

[2019-04-05 16:16] #691 closed

[2019-04-08 12:35] Matrosskin commented on #712
@waltjones do you have any info about date of next release?

[2019-04-08 16:07] waltjones commented on #712
@Matrosskin Likely today. I'll reply here.

[2019-04-08 20:13] waltjones commented on #712
@Matrosskin v2.5.5 is published now.

[2019-04-09 03:45] jessicahsieh opened #720 "(unknown)"
test

[2019-04-09 03:48] #720 closed

[2019-04-12 01:57] ArturMoczulski opened #722 "Make the repo commitizen-friendly"
Add https://github.com/commitizen/cz-cli to repo's dependencies.

Add config for commitizen to use https://www.npmjs.com/package/cz-conventional-changelog

This will provide the `git cz` command which makes creating conventional-changelog commits easy

[2019-04-15 23:09] brianr opened #723 "Add public interface to serialize payloads and send serialized payloads"
Motivation is this use case from React Native / Expo: there is a need to write the payload (in javascript) to a disk, then send it later on restart

To accomplish this, rollbar.js can provide:

- a way to generate the final payload and return it as a string (i.e. the serialized json payload) - i.e. `rollbar.serializePayload(payload)`
- a way to take a serialized string payload and send it over the

[2019-04-16 20:13] jjabba commented on #723
Here is the related expo documentation, explaining how [expo deals with errors in production](https://docs.expo.io/versions/latest/guides/errors/).

Basically, when an error occurs you can intercept it, and quickly store relevant data using `ErrorRecovery.setRecoveryProps(yourRelevantData)`. As explained [here](https://docs.expo.io/versions/latest/sdk/error-recovery/).

Once expo has killed and re

[2019-04-19 22:57] waltjones commented on #723
The referenced PR enables this for rollbar.js and any use case that uses rollbar.js directly.

For users of rollbar-react-native, an update is needed in that repo because it wraps both the config and the public endpoints for rollbar.js.

@jjabba I'm not familiar enough with Expo to know which way you might be including Rollbar.