[2019-04-22 19:24] jjabba commented on #723
Thanks @waltjones! While I am using `rollbar-react-native`, I'm not actually using the wrapped Client, as I'm unable to link the native rollbar client while still using expo. I get around the initialization by importing and using `import Client from 'rollbar/src/react-native/rollbar'`

I've already prepared the `checkIgnore` hook in my configuration, looking forward to the PR making it into an act

[2019-04-22 19:26] jjabba commented on #723
While I am using rollbar-react-native, I'm not actually using the wrapped Client, as I'm unable to link the native rollbar client while still using expo. I get around the initialization by importing and using import Client from 'rollbar/src/react-native/rollbar'

[2019-04-22 20:10] waltjones commented on #723
@jjabba good to know. Thank you!

I'll work on getting a release out for you asap.

[2019-04-22 22:15] waltjones commented on #723
@jjabba this is now published in v2.6.0.

[2019-04-24 17:42] brianr commented on #723
Reopening this based on the needs described in this comment on the PR: https://github.com/rollbar/rollbar.js/pull/724#issuecomment-485600261

[2019-04-25 00:18] #723 closed

[2019-04-25 19:17] astorije opened #726 "Setting captureUncaught and captureUnhandledRejections in configure has no effect"
We currently have a shared library where we define our Rollbar integration:

[code]

In our consumer applications, the first thing we do is this:

[code]

(This is to keep our library fairly side-effect-free, and make uncaught error capture intentional)

However, doing this does not send uncaught errors to Rollbar.
When moving `captureUncaught: true, captureUnhandledRejections: true,` to the const

[2019-04-26 03:00] waltjones commented on #726
You aren't doing it wrong, and you are correct that it doesn't currently work. It looks like setting them false later doesn't disable exception capture either.

This looks like something that could probably get into the next release. (~2 weeks?) I'll update here.

[2019-05-03 17:52] jarretmoses opened #728 "Sourcemapping with Create React App"
I apologize in advance if this is not the right medium for this question.

**Problem**: Production Sourcemaps from Create React App not being detected by Rollbar

**Description**: I am running the production builds for Create React App which generates hash value name spaced file such as `main.e322d9a0.chunk.js`, which has a corresponding sourcemap (worth noting the hash value changes on every buil

[2019-05-09 14:43] astorije commented on #726
Hey @waltjones, do you happen to have any update on this? :)
Thanks in advance!

[2019-05-09 15:17] waltjones commented on #726
@astorije In progress. Pull request soon. Release is probably Monday - Tuesday.

[2019-05-15 23:21] #726 closed

[2019-05-15 23:44] waltjones commented on #726
@astorije This is in v2.7.0.

[2019-05-16 17:44] jessicahsieh commented on #728
Issue has come up a couple times on Intercom as well:

https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/search/conversations/21823847961
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/search/conversations/22040786075
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/search/conversations/22007349836

[2019-05-16 20:12] letaniaferreira commented on #728
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/22040786075

[2019-05-20 00:09] axrs opened #732 "Webworker Support Broken in 2.7.0"
Since upgrading Rollbar.js to `2.7.0` (from `2.6.1`), our Browser based WebWorkers now throw errors as Rollbar tries to access undefined `window` references.

We believe that it's related to the Webpack 4 update passing a direct window into the initialisation.

https://github.com/rollbar/rollbar.js/blob/fa0843d8f316e256a386b819a394118d52dbf36c/dist/rollbar.noconflict.umd.js#L10

[2019-05-20 17:22] jessicahsieh commented on #728
another one -
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813342/conversations/22081332435

[2019-05-21 09:33] silentvick commented on #368
Doesn't seem to work. I get this error when trying to impor it in service worker

[code]

Rollbar version 2.7.0

[2019-05-21 18:21] brianr commented on #368
thanks @silentvick - re-closing this; we'll track the issue over at #732.

[2019-05-21 18:21] #368 closed

[2019-05-21 18:30] rokob commented on #732
Pretty sure it was https://github.com/rollbar/rollbar.js/commit/41dba6249b5e9583228a648bb55b1d943060010e

[2019-05-21 21:12] waltjones commented on #732
Will get a fix out asap.

[2019-05-22 16:27] #732 closed

[2019-05-22 16:49] waltjones commented on #732
Fix is in 2.7.1.

[2019-05-22 19:07] brianr commented on #368
@silentvick This regression has been fixed and released in version 2.7.1.

[2019-05-22 23:38] Adiii717 opened #734 "uncaughtException: Callback was already called"
` /home/user/app/node_modules/winston-rollbar/lib/winston-rollbar.js:90:31","
    at /home/user/app/node_modules/winston-rollbar/node_modules/rollbar/lib/notifier.js:303:11","
    at ClientRequest.<anonymous> (/home/user/app/node_modules/winston-rollbar/node_modules/rollbar/lib/api.js:112:5)","
        at emitOne (events.js:116:13)","    at ClientRequest.emit (events.js:211:7)","
          at TLSS

[2019-05-23 17:43] waltjones commented on #734
@Adiii717 Can you offer some context for this?

[2019-05-23 18:32] Adiii717 commented on #734
@waltjones we are using a winston-rollbar module which is dependency is rollbar and we are also using rollbar, but the problem is that I am not sure from which logs it throws this exception as we are logging each and every request so above is the trace that  I got an exception.
Here is another complete trace that might help you
`{"date":"Wed May 22 2019 18:48:55 GMT-0400 (EDT)","process":{"pid":83

[2019-05-23 22:35] waltjones commented on #728
I've had a chance to try this out with Create React App, and I didn't find any issues related to Create React App itself. In short, source maps should work as well - and the same way - as in other JS apps with source maps. I have made my own list of possible gotchas though, and in general these could apply to anyone using source maps with Rollbar for the first time.

1) You must add a version to y

[2019-05-23 23:14] waltjones commented on #734
@Adiii717 winston-rollbar is using https://github.com/rollbar/node_rollbar which has been deprecated for several years in favor of https://github.com/rollbar/rollbar.js. Actually, winston-rollbar was last updated 4 years ago and is pinned to a version of node_rollbar (0.5.6) also 4 years old.

What rollbar version are you using outside of winston-rollbar?

By the way, the stack traces appear to be

[2019-05-23 23:21] Adiii717 commented on #734
we are using `rollbar 0.6.3` outside. and also we are using this winston-rollbar for a long time, but the issue starts last week and experience exception many times so I thought something updated on your side as Winston-rollbar not updated.

[2019-05-23 23:29] Adiii717 commented on #734
@waltjones you can check Winston-rollbar package.json I think their readme is not updated.
they mentioned `rollbar 0.5.6`
https://github.com/Ideame/winston-rollbar/blob/master/package.json

[2019-05-23 23:34] waltjones commented on #734
Because neither node_rollbar nor winston-rollbar has been maintained in so long, there are an unknown number of compatibility issues with other packages that have changed in the intervening years.

People have forked and updated versions of winston-rollbar that use rollbar.js, and are not locked to an older version. Perhaps one of these can work for you in your situation.
https://www.npmjs.com/pac

[2019-05-24 01:56] jarretmoses commented on #728
@waltjones thanks for the detailed description. I did end up writing a script to just run after every prod build to re-upload the source maps manually (since as you said the hashes change). I did however choose to go the `automatic download` route `/sourcemaps/download`. I am curious though Why do you upload `"App.js","serviceWorker.js","index.js"]` Does Rollbar need to know more than just the act

[2019-05-24 03:51] Adiii717 commented on #734
Thanks, @waltjones I will check out the above if they can solve our problem.

[2019-05-24 17:52] waltjones commented on #728
@jarretmoses Great to hear you have it working.

The original files aren't needed in order to get the original file, line, column info. But they are needed in order to show the original code for that line, instead of still showing the minified code.

Re. `code_version`: Because in this case the files have fingerprint strings, the unique code version is probably less (or not) necessary. (I haven't

[2019-05-25 23:23] RudeySH opened #735 "Distribute TypeScript declaration file as a package"
I appreciate that this repo includes a TypeScript declaration file (*.d.ts), many libraries don't do this. Thanks!

However, I would like to see this being taken one step further, and have the file distributed through package managers. Currently, I have to copy your declaration file to my projects to be able to use it. Typically, libraries distribute this file along with (npm) packages to prevent

[2019-05-26 10:15] Adiii717 commented on #734
For now, going to handling this exception at our end. Will check later with rollbar2 and 3.

[2019-05-26 10:15] #734 closed

[2019-05-28 18:42] waltjones commented on #735
@RudeySH Great idea. I'll try to get this in the next release.

[2019-05-31 01:49] #728 closed

[2019-06-04 03:09] AFDevMike opened #737 "Angular SourceMaps configuration:"
Hello, I sunk some time in getting source maps to work for our Angular project:

Following this link: https://docs.rollbar.com/docs/source-maps#section-enabling-source-map-translation-in-rollbar  in correlation with: https://docs.rollbar.com/docs/angular#section-angular-2-and-later.

I was attempting to edit the const rollbarConfig in the latter to configure `code_version`.
The typeDef file for th

[2019-06-06 18:06] waltjones commented on #737
@AFDevMike I think you're asking for TypeScript definitions for `guess_uncaught_frames` and `source_map_enabled`. I think those can be added for the next release. I can also test with `code_version` and `codeVersion` and see if there are issues there.

`this.rollbar.configure` can be called only after `new Rollbar()`. I don't expect that to help in your situation.

If the issue is not related to T

[2019-06-06 18:10] AFDevMike commented on #737
Ultimately I was unable to get `code_version` and `codeVersion` to work.

I was able to make it work by using `this.rollbar.configure()`.  This is on pause for me but I am under impression I could move that to the TypeDef'd property of `Configure.payload: object`.

Hope this helps.

[2019-06-06 18:16] waltjones commented on #737
@AFDevMike Yes, that helps. Thank you!

[2019-06-11 21:22] waltjones commented on #737
@AFDevMike Your example:
[code]
fails because `code_version` is in the root of the configuration object. It should succeed when in the correct location:
[code]
Same for `guess_uncaught_frames` and `source_map_enabled`. These should all go in `payload: { client: { javascript: {}}}`, which your `this.rollbar.configure` example does correctly.

[2019-06-11 21:55] AFDevMike commented on #737
Thank you,

I ultimately have it working with the following as expected:

[code]

What was not clear to me was:

The configuration interface defined in the Angular type def file index.d.ts looks like the following:
[code]

I failed to realize I need to pass the code_version inside the `payload` of type `object` with the shape you described as opposed to one of the 2 interface properties:
[code]
I

[2019-06-12 15:19] #737 closed

[2019-06-17 20:48] IgorCRD opened #739 "Feature request: Provide a way to upload minified files through the source map upload API"
Hello there,

Thank you for all the work you all have put into this library. It has been a great help to our team.

In our current project, we are using NextJs to help us with our react application and I noticed that stacks that use SSR commonly have some kind of transpiling going on at their server side as well as on client side javascript code. I think rollbar currently does not support source m

[2019-06-18 17:51] waltjones commented on #739
@IgorCRD Thank for the suggestions! One thing I can clarify is, `minified_url` in the current API is just sending the filename string, not the contents of the file. It is only used to map the stack location to the correct map file. For example, if testing locally and the URL is in the format "file:///", source mapping will still work fine even though the Rollbar dashboard can't download anything f

[2019-06-26 17:37] waltjones opened #740 "Chrome Audits / Lighthouse error masked by rollbar.js"
The Google Lighthouse tool (found under Chrome dev tools Audits tab) performs a check on   `addEventListener()` for `wheel`, `mousewheel`, `touchstart`, and `touchmove` events:
https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

When the check fails, a "Does not use passive listeners to improve scrolling performance" error is generated in the Lighthouse/Audit tool.

[2019-06-26 17:46] waltjones opened #741 "itemsPerMinute errors should include IP address"
When the `itemsPerMinute` threshold is exceeded in the browser, a specific itemsPerMinute error event is sent and further Rollbar events are discarded until the timer expires. This happens on a per browser basis.

Currently the itemsPerMinute error doesn't include the IP address in the payload. Rollbar items can be filtered by IP address, but only when it's present. Adding this would allow easily

[2019-06-27 18:11] letaniaferreira opened #742 "Allow Rollbar to detect and parse embedded JSON that appears as values in the payload"
As background, note that the whole Rollbar payload itself is a JSON object. The Rollbar API is designed to send and receive JSON. Customer suggests that where strings appear in the payload, we detect that it is JSON (which isn't generally going to be true, but is in his case), and parse it. So we would find and parse JSON within the JSON payload itself.

Here's why we'd proceed carefully if we add

[2019-06-27 18:12] letaniaferreira commented on #742
Related ticket https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/22591664577

[2019-06-28 07:48] raunofreiberg opened #743 "[question] [react]: reporting to Rollbar in Error Boundaries"
I was playing around with the example of https://codepen.io/rollbar_example/pen/JrMGQq?editors=1011

If I remove the `Rollbar.error(error)` call from `componentDidCatch` in `ErrorBoundary`, the API calls to Rollbar still persist. Also, in the [example](https://rollbar.com/blog/react-error-boundaries/), it shows an example of logging manually in `componentDidCatch`

My question being, is this manua

[2019-07-02 00:11] waltjones commented on #743
@raunofreiberg Rollbar.js has a global handler for uncaught errors that is enabled when `captureUncaught` is set in your config. For uncaught errors, that is all you would need. But errors inside an error boundary shouldn't bubble up to the uncaught error handler unless they were re-thrown. In other words, when using `componentDidCatch` and when the error is thrown in a child component, you should

[2019-07-02 20:36] #714 closed

[2019-07-03 21:11] waltjones commented on #743
@raunofreiberg In development mode, React sends the error to `componentDidCatch` _and_ does not actually catch it. In this case, it will also be sent to `onerror` and caught by Rollbar's global handler.

In production mode, it should work as you expect. The error is seen by `componentDidCatch` and is actually caught and will not show up at the global handler.

The development mode behavior seems o

[2019-07-03 21:32] #743 closed

[2019-07-06 00:20] feross opened #746 "rollbar@2.8.0 is broken -- missing dependency on `buffer-from`"
You didn't add `buffer-from` to `package.json` and as a result you broke production for me.

The line where you started using `buffer-from` is here: https://github.com/rollbar/rollbar.js/commit/e6bce32676c771b76d54ff6a5c9cf7e4d8e06cf1#diff-0238d0dd36c5a895587fa91836178b73R4

But it was never added to `package.json`. If it incidentally works some of the time, it's because some other dependency has

[2019-07-06 00:41] feross commented on #746
<img width="367" alt="Screen Shot 2019-07-05 at 5 40 58 PM" src="https://user-images.githubusercontent.com/121766/60749254-1464ec00-9f4c-11e9-8336-d54bed95890a.png">

[2019-07-06 00:50] brianr commented on #746
Hi @feross - are you able to pin to the prior release? That is probably the fastest way to resolve your issue, if your production services are impacted by this. The previous release is `2.7.1`

[2019-07-06 00:53] brianr commented on #746
@feross can you provide more details about your environment and the error(s) you see when trying to install rollbar 2.8.0? I just tried installing in a fresh project and it worked:

[code]

[2019-07-06 00:55] feross commented on #746
Yeah, no worries. I resolved the issue on my end. But you might be breaking a whole bunch of other people's CI, etc.

The error doesn't happen at install time. If happens when you actually include rollbar and it attempts to require a package which does not exist

[2019-07-06 00:56] feross commented on #746
Try `require('rollbar')`

[2019-07-06 01:27] waltjones commented on #746
@feross Try 2.8.1 and let me know if you have any problem?

[2019-07-06 06:40] feross commented on #746
2.8.1 works for me. Thanks for the quick fix.

[2019-07-06 06:44] feross commented on #746
![](https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/giphy.gif)

[2019-07-06 06:44] #746 closed

[2019-07-07 23:54] waltjones opened #749 "Version requirements for buffer-from and source-map"
https://github.com/rollbar/rollbar.js/pull/748 added open ended version requirements for buffer-from and source-map. Determine best long term versioning, and update in next major or minor release as appropriate.

[2019-07-12 17:19] pcrglennon opened #750 "Vue.js docs misleading, possibly out of date"
Hi, I'm setting up Source Maps right now, and was having issues getting set up by following the docs. Technically I'm using the [vue-rollbar package](https://github.com/Zevran/vue-rollbar), but since that's really just a very shallow wrapper around this package, which is why I'm posting the Issue here and not on that repo. Also, the docs in question ([Vue.js](https://docs.rollbar.com/docs/vue-js))

[2019-07-16 16:36] georgewitteman opened #751 "TypeError: setting getter-only property "debug""
We're occasionally getting the error in the title when Rollbar is trying to override `console.debug` for telemetry in [telemetry.js line 380](https://github.com/rollbar/rollbar.js/blob/5d0a160b29a2252ee71e085655b569a6191e8dba/src/browser/telemetry.js#L380). So far I have not been able to reproduce this, and it only seems to be happening occasionally. I'm wondering if anyone else has seen this issu

[2019-07-19 04:37] jpike88 opened #752 "Protecting against Angular error spam"
Angular's current implementation makes using Rollbar a total pain.

I think some sort of built in error spam detection should be implemented, to prevent the Rollbar API from getting hammered.

If an error's signature is identical, you should maybe consider blocking further requests from that particular sender?

Could be this an account setting maybe?

https://github.com/angular/angular/issues/1701

[2019-07-22 15:37] waltjones commented on #752
Rollbar.js will silently drop duplicate unhandled errors. (Thrown and not caught.) It will not do this for errors sent to Rollbar by your code, e.g. calling `Rollbar.error()`.

For behavior more specific to your situation, the `checkIgnore()` function allows you to specify exactly how to decide what to ignore. Since `checkIgnore` sees the full stream of Rollbar events, you can use event history fo

[2019-07-23 16:27] waltjones commented on #750
@pcrglennon Thank you for the report. Doc is updated.

[2019-07-23 16:27] #750 closed

[2019-07-23 18:03] pcrglennon commented on #750
Thank you!

[2019-07-24 00:53] waltjones commented on #751
@georgewitteman Do you know from past occurrences whether this might be related to a specific browser?  And, do these show up in your Rollbar dashboard?

[2019-07-26 08:10] lightheaded commented on #615
I agree and this is not really tolerable for high-performance applications and we're currently looking to switch the provider in case this issue is a dead end. Is there any plans to address this issue in the future? Perhaps create a lite version for critical features?

[2019-08-01 00:22] #752 closed

[2019-08-07 18:11] waltjones opened #765 "wrapGlobals not working as expected on Chrome"
In browser environments, Rollbar.js wraps `addEventListener` for a wide range of types:
[code]
The purpose for this is to add additional context information when an unhanded exception happens within any of these listeners.

* On both Chrome and Firefox, the code for the listener function is added to the `_wrappedSource` key in the Rollbar payload. (`func.toString()` is used to do this.)

* On Fire

[2019-08-12 14:00] IgorCRD commented on #739
Hey, @waltjones,

Thank you very much for your response =)

I saw that you have tagged #738 as a fix for this issue, but I didn't get how can I act upon that on my project. I tried reading the typescript example project, but it didn't help my understanding on how to fix my problem. Could you please link some reference or docs so I can wrap my head around the changes merged on #738 ?

Thank you in

[2019-08-14 23:52] #765 closed

[2019-08-15 18:39] jbolotin opened #770 "Setting global configuration after initialization from a notifier"
[Rollbar in React question]

We're currently following the [Browser JS documentation](https://docs.rollbar.com/docs/browser-js#section-quick-start) and initializing rollbar immediately. However, at this time, we don't have knowledge of who the user is. After determining who the user is, I'm attempting to set the user within the payload so that this applies across all errors that may occur within o

[2019-08-15 18:42] #770 closed

[2019-08-19 02:33] bassneck opened #771 "Make the config (more) secure by default: disable telemetry, scrub everything"
Hi team. I’d like to resurrect #625 as I have just run into it after upgrading from an old rollbar-browser package.

First, Telemetry seems great, and we will use it;
Second, it's great that it can be configured;
However, due to the sensitive nature of collecting user data, I believe it should be made secure by default.

Scrubbing some known fields is good but the list of field names can't be exha

[2019-08-26 15:03] katcoutts commented on #751
Hi. I'm seeing this same issue as described above. It's showing up in our dashboard as 'TypeError: setting getter-only property "debug"'. It appears to happen on various browsers and OS and we haven't been able to replicate it.

[2019-08-27 03:24] proletesseract opened #774 "Angular 2 Onboarding Docs"
I'm not sure if this is the right place for this, but i was having problems following the instructions of how to implement roll bar in Angular 2+ during the sign up process.

The example given isn't clear where code should go in the repository, but i guessed by the contents of the snippet that it should go into the `app.module.ts` file. I tried to integrate the code into the `app.module.ts` file f

[2019-08-27 20:14] hmcfletch opened #775 "'nodeSourceMaps' does not exist in type 'Configuration'"
Having trouble getting source maps working on my Typescript project. Doesn't look like `nodeSourceMaps` was added to the type definitions.

[2019-08-28 21:27] #775 closed

[2019-08-28 23:29] ggborcean commented on #751
Internal - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/23401534925

[2019-08-29 10:48] katcoutts commented on #751
Hi. I got some feedback to say this issue should be fixed in the next release. Is that right and do you know when that'll be available?

[2019-08-29 21:29] waltjones commented on #751
Hi @katcoutts Yes, the fix is linked above, and release 2.12.3 looks on track for this afternoon. I'll leave a note here, and you'll also be notified through your support ticket.

[2019-08-29 22:40] #751 closed

[2019-08-29 23:11] waltjones commented on #775
v2.12.3 is released.

[2019-08-29 23:12] waltjones commented on #751
v2.12.3 is released.

[2019-08-30 07:36] katcoutts commented on #751
Thank you for sorting this so promptly @waltjones

[2019-09-07 15:34] williamweckl commented on #596
Still happens...

Ember fastboot emulates ember code to run at nodejs to render the initial html from the server.

The problem happens because the client code tries to handle uncaught errors happened on the server.

Maybe it can be solved validating if window exists before calling addEventListener.

[2019-09-08 04:16] msmaromi commented on #470
I actually still experience it

[2019-09-09 19:02] waltjones commented on #596
@williamweckl There are multiple places the browser target for Rollbar.js will expect a valid window environment. For any server side rendering scenario, it's probably best to use the Rollbar.js snippet in the HTML.

If I'm misunderstanding, let me know.

[2019-09-13 16:37] driley-emoney opened #783 "createTelemetryEvent doesn't allow network errors"
Currently the createTelemetryEvent which is called from captureEvent, gets confused if you pass it

`captureEvent('network', 'error', metadata);`

First it will assign network as the type of event, but then when it sees error, it assigns its type as error. However that is the level, not the type.

https://github.com/rollbar/rollbar.js/blob/dcf46b1893bf2e7130129e6f423c92b5fc3cf10a/src/utility.js#L4

[2019-09-14 00:49] waltjones commented on #783
@driley-emoney thank you. Next release.

[2019-10-01 23:14] CharlieEarnup opened #784 "Initializing Rollbar causes mocha to silently fail if a module throws an error."
Example code:

app.js
[code]
a.test.js
[code]

Expected behavior:
Mocha test suite should fail with exit code 1

Observed behavior:
Mocha test suite is finishing with exit code 0 and skipping all tests.

[2019-10-02 00:02] #784 closed

[2019-10-03 15:12] chebum opened #785 ""should map the stack" test is failing"
Hello,
I wanted to update some dependencies and noticed the "should map the stack" test is failing. To be clear the test is failing with current dependency versions and current source code in "master" branch.
Is it expected behaviour?

And second question. Browser tests require JSON-js dependency. Where can I obtain it?

Thanks,
Ivan

[2019-10-03 15:32] waltjones commented on #785
Hi @chebum I'm not seeing the failing test here, but maybe you can push your branch and see if it fails on CI? That way I can also see it and help debug.

JSON-js is a submodule under the vendor dir. Try:
`git submodule update --init`

[2019-10-10 12:36] chebum commented on #785
Hi @waltjones I'm sorry for the late reply.

Thank you for the suggestion with submodule updates - it worked.

Regarding the falling test. I have no doubts it passes in the CI. I just wanted to say that cloning the repo (master branch), calling `npm install`, `make `and then `make test` shows non passing test.

Some authors on github commit with non-passing tests. They know these tests are falling

[2019-10-10 15:38] waltjones commented on #785
@chebum I need a way to see what is failing for you and why. That's why I suggested pushing your branch to see if it fails on CI. Otherwise, describe in more detail what is failing.

This (as described in the README) worked for me with no errors or failing tests:
[code]

I'm not aware of this. If a CI build is canceled (multiple successive merges to master, for example), those cancels are shown as

[2019-10-16 18:48] eric-gagnon opened #791 "URL in report refer to our page error URL instead of the original error context URL (Angular 8)"
Hello,

We use a custom global error handler, if we have a unhandled error we then go to our technical error page.

In the report, the error is reported to have occured in URL corresponding to our technical error page

As the error is comming from a parsing of url params in our search page, we would expect the url to be that page, as in this simulated exemple

We do use rollbar before changing rou

[2019-10-18 20:02] #783 closed

[2019-10-24 20:27] ArturMoczulski opened #793 "Unmeaningful descriptions coming from the Rollbar.js SDK in some cases"
Looks like Rollbar.JS sends gibberish in `exception.description` in some cases.

Historical conversation on the matter including examples: https://app.clubhouse.io/rollbar/story/56302/iterate-on-canva-source-map-issue#activity-56553

[2019-10-24 20:55] waltjones commented on #793
@ArturMoczulski Can you provide any detail about this? I can't find anything in that clubhouse link, and no one in the developer community can read it anyway.

[2019-10-24 21:51] waltjones commented on #793
Having looked at the example, this is on an older SDK. Newer rollbar-js stores the original exception string in the payload so we can see what got parsed to generate this result. Also, the SDK owns the message field, but the description field is open to the caller. So this may be set by the user, and then we honor that.

Because the description field and message field contents are different, the m

[2019-10-24 21:51] #793 closed

[2019-11-01 19:20] HMilbradt commented on #615
Is this still being looked into?  This is the largest package in one of our projects, and its size is contributing to a negative impact on pagespeed scores.

[2019-11-01 19:30] waltjones commented on #615
I've assigned to myself. I don't have an ETA or a good idea about how much is possible in the short term but I'll look at it. Feel free to send any ideas or feedback.

[2019-11-01 21:11] waltjones commented on #615
A conversation/question that came up offline: Would using the Rollbar snippet solve or mitigate the issue for anyone? The trade-offs are that you'd be adding Rollbar in a script tag instead of in your webpack build. But it's designed to have the smallest possible code size at page load while still capturing events during that time. The full CDN bundle loads after page load. This amounts to better

[2019-11-02 18:43] HMilbradt commented on #615
Thanks for the response, I will try that out and let you know if it will work for us 🙏

[2019-11-02 21:52] waltjones commented on #791
@eric-gagnon Apologies for the late reply.

Assuming `router.navigate` sets `window.location.href`, it will cause a page reload in the browser. Rollbar.js doesn't handle the error message asynchronously by the time `request.url` is set, but it does do so by the time the API request is sent. What is happening in the example code is the page is reloaded before the API request to Rollbar is made. The

[2019-11-03 19:00] HMilbradt commented on #615
While adding the snippet worked, Ad blockers will block the rollbar script from loading (tested with Adblock plus).  So there's a trade-off to using it:  Either self host or proxy the rollbar script under a different name, or write code that checks if `window.rollbar` exists.

We can work with this for now, but we would really like to have something smaller that could be bundled in our application

[2019-11-04 15:53] waltjones commented on #615
@HMilbradt Thank you for the follow up report.

We're definitely looking at size reduction for the webpack package.

[2019-11-04 20:03] eric-gagnon commented on #791
Hello,

In our case, the event is sent but the url refer to the new (virtual page) context. Adding a frame / delay wait before navigating should probably solve that problem without much visible impact to the user of the application. I didn't work much myself on the issue but I'll check with my collegue to make sure things are working as expected.

We had another issue but it was more on Angular si

[2019-11-05 13:59] XavCamp opened #797 "Bring back strict mode"
We have a build that include Rollbar dist in one of our files, that gets minified in strict mode. Since v2.7.0, it complains about function declaration:

[code]

I noticed that `/dist/rollbar.js` stopped having `use strict;` since v2.7.0, probably linked to this commit: https://github.com/rollbar/rollbar.js/commit/41dba6249b5e9583228a648bb55b1d943060010e
See the diff here https://github.com/rollba

[2019-11-05 15:39] waltjones commented on #797
@XavCamp Thank you for the report. I'll take a look.

[2019-11-05 15:53] tedwash commented on #797
Just some suggestions, I believe all of the strict mode offenders are in `globalSetup.js`

`fn` declaration is wrapped with if statement for `window` (when minified): https://github.com/rollbar/rollbar.js/blob/master/src/browser/globalSetup.js#L17
`rejectionHandler` declaration is wrapped with if statement for `window` (when minified): https://github.com/rollbar/rollbar.js/blob/master/src/browser/

[2019-11-06 04:38] victoriafrench opened #798 "2.14.0 missing from CDN"
https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.14.0/rollbar.min.js results in a 404

[2019-11-06 17:03] waltjones commented on #798
@victoriafrench Thank you for the report. Rollbar is aware of the issue, and published JS snippets such as at https://docs.rollbar.com/docs/browser-js have been updated to use 2.13.0 for now.

[2019-11-06 17:32] victoriafrench commented on #798
Cool, we do not use the snippet though. We pull from npm and have the module loader point to the cdn in production, so the version it attempts to pull is the same that comes from npm. We rolled back to .13, but just so that you are aware... there are use cases where the deployments need to sync.

[2019-11-06 18:05] waltjones commented on #798
Makes sense, Thank you for pointing that out.

[2019-11-06 19:49] tommck commented on #735
DefinitelyTyped is for packages that DON'T maintain their own typings.

It shouldn't be a separate package.  They should have the .d.ts file inside the package and have the "types" package.json property point to that file

[2019-11-06 19:55] waltjones commented on #735
@tommck Noted. Thank you!

[2019-11-07 20:53] waltjones commented on #797
@XavCamp The linked PR temporarily includes dist files built with the strict-loader changes. If you are able to test with this dist, and if you see any issues, let me know.

@tedwash I reviewed the `addEventListener` example in rollbar.min.js both before and after this change, and also in the dist built for 2.6.0 before the Webpack 4 commit. In all cases, it looked to me like the functions are wra

[2019-11-08 00:22] waltjones commented on #791
Closing. Reopen if you continue to see an issue here.

[2019-11-08 00:22] #791 closed

[2019-11-08 00:22] #785 closed

[2019-11-08 00:24] waltjones commented on #749
These have now been converted to better semver strings that are still as permissive for any current versions of these packages.

[2019-11-08 00:24] #749 closed

[2019-11-08 00:26] waltjones commented on #742
Current rollbar.js now handles this for JSON request bodies, as well as JSON request/response bodies in telemetry.

[2019-11-08 00:26] #742 closed

[2019-11-08 17:08] waltjones commented on #740
Fixed by https://github.com/rollbar/rollbar.js/pull/767

[2019-11-08 17:08] #740 closed

[2019-11-08 18:10] waltjones commented on #541
This has been implemented via tests that load the compiled Angular example:
https://github.com/rollbar/rollbar.js/blob/master/test/examples/angular2.test.js

[2019-11-08 18:10] #541 closed

[2019-11-08 18:17] #694 closed

[2019-11-08 18:23] waltjones commented on #707
Looks like Segment has now moved integrations to a monorepo, and Rollbar isn't there at all.
https://github.com/segment-integrations/analytics.js-integration-rollbar/pull/23
https://github.com/segmentio/analytics.js-integrations

[2019-11-08 18:30] waltjones commented on #739
@IgorCRD Sorry for the very late reply.

When you set `config.nodeSourceMaps = true` and your min js has sourceMappingURL comments included, Rollbar.js will automatically perform source mapping of stack traces on the server side. There is no need to upload anything to Rollbar, as all the mapping is performed in your server side environment. This is only for Node JS.

[2019-11-08 19:17] #797 closed

[2019-11-08 19:52] coryvirok commented on #707
Great catch, Walt.

Artur, can you follow up with the Segment team and make sure that our
integration is added to their new repo, (assuming this is the right place
for it?)

Cory Virok, @coryvirok <http://twitter.com/coryvirok>
Co-founder and CTO, Rollbar <http://rollbar.com/>

On Fri, Nov 8, 2019 at 10:23 AM Walt Jones <notifications@github.com> wrote:

[2019-11-11 14:41] XavCamp commented on #797
@waltjones thanks for the very quick fix! We are still testing it, we run into unrelated issues and today is holiday in the USA, but we should be able to confirm soon if it worked.

[2019-11-11 17:31] ArturMoczulski commented on #707
Looks like we should submit a PR to the integrations repo. @waltjones can you move https://github.com/segment-integrations/analytics.js-integration-rollbar/ into their new monorepo?

[2019-11-11 21:11] eric-gagnon commented on #791
Thank you for the help, still working on it.

rollbar.client.wait definively helped but we have to solidify our code, and error mangement overall, as multiple errors can get in meanwhile.

We still had weird display issue after the navigate but it does look that it's an issue with Angular, using "zones" seem to be helping (see https://github.com/angular/angular/issues/15946).

[2019-11-12 00:33] IgorCRD commented on #739
@waltjones,
No problem, I am glad you replied and that the solution is so simple.

I guess that solves my issue. I will give it a try.

Thank you!

[2019-11-12 00:33] #739 closed

[2019-11-12 20:20] eric-gagnon commented on #791
All seem to be good now, we get the url of the error page, thanks again!

[2019-11-15 17:42] paulfurley opened #800 "iOS / Firefox: "No identifiers allowed directly after numeric literal""
Hi folks,

On Firefox on iOS I get the following error on seemingly *any* page that contains the Rollbar snippet:

`No identifiers allowed directly after numeric literal`

I've made a minimal page with zero other code to test the behaviour:

[code]

Could the error be coming from the snippet or the downloaded `rollbar.min.js` file?

I've tried removing `'use strict';` - same thing.

Versions:

* i

[2019-11-15 18:02] waltjones commented on #800
@paulfurley Thank you for the report and the test harness.

[2019-11-15 19:54] waltjones commented on #800
@paulfurley Can you describe in more detail whether you're seeing this in the browser console, and if so, how you are set up for a Firefox console on iOS? So far I'm not seeing the error and I'd like to confirm how this appears for you.

[2019-11-15 19:57] paulfurley commented on #800
No, I don’t know how to get a console on Firefox on iOS so I’m flying a bit blind :(

All I see is a Rollbar error come through on my dashboard as soon as I hit the page.

[2019-11-15 20:06] waltjones commented on #800
Now I understand. Thank you!

[2019-11-22 16:40] kevinrobinson opened #801 "Can't run linter or tests following instructions in Developing"
hello!  I found some scrubbing behavior that didn't work the way I expected.  I forked and make the change, then tried to run the linter and tests, but have been stymied so far :)

### tests
From the contributing docs:
[code]
Running `make test` fails with:

[code]

### linter
Seeing the linter in the `package.json`, I ran `npm run lint` but this only printed out the command line arguments for esl

[2019-11-22 19:28] waltjones commented on #801
@kevinrobinson I've just tried this with both `npm install` and with `npm install -D` in case it might make a difference. Both allowed `make test` to work fine. I'd suggest deleting node_modules and try again.

If you have built any of the examples (./examples/*), delete any of the /node_modules/ that were generated there.

To run eslint, try something like:
`npm run lint -c ./.eslintrc ./src`

Th

[2019-11-22 19:58] johnlop opened #803 "Setting person in a Node backend"
In a Node server, the logger context will be shared so we can't set the person the same way we would do it on the frontend.
The documentation very briefly mentions NodeJS in it's People Tracking section ([https://docs.rollbar.com/docs/person-tracking#section-node-js](here)) but doesn't give an example on how to use it. My logger can have access to the user info attached to the HTTP request but I d

[2019-11-22 20:03] kevinrobinson commented on #801
@waltjones Thanks!  👍 I think I've already tried those steps and described what happens above.  I tried destroying `node_modules`, and running those same commands you suggested again now, but get the same results that I pasted above.

[2019-11-22 21:02] waltjones commented on #801
@kevinrobinson  Do you mind trying the branch in the linked PR, delete node_modules, and see if it fixes your issue?

[2019-11-22 21:41] kevinrobinson commented on #801
@waltjones Awesome, thanks!  👍  Yes, that gets us farther, I'll comment on that over there.

fwiw the test run still doesn't pass, but with a different error from Karma now (`primordials is not defined` seems most relevant maybe?):
[code]

And linting still fails the same as above.

[2019-11-23 00:43] waltjones opened #805 "`make test` on Node 12 causes "primordials is not defined" error"
Running `make test` with Node 12 produces an error:

[code]

[2019-11-23 00:44] waltjones commented on #801
@kevinrobinson The "primordials is not defined" error is associated with Node 12. I don't know the root cause, but am able to see the same thing as you when using Node 12. (Node 8 and Node 10 work fine for me.)

On the eslint issue, we are also seeing the same thing. A few observations:
* `make test` and `make build` both skip the /src/server dir.
* The CI lint is done by Codacy, which goes green

[2019-11-23 22:05] brianr commented on #803
Hi @johnlop - have a look at the person tracking docs in the node.js section: https://docs.rollbar.com/docs/nodejs#section-person-tracking

Hope those make sense, let us know how it goes!

[2019-11-25 14:06] jumamfa opened #806 "ERROR in Debug failure: no local name provided for NamespaceImport"
We have followed the instructions, word for word, and are getting an error during build of the application "ERROR in Debug failure: no local name provided for NamespaceImport". We are using an updated version of typescript which could potentially be causing the issue?

Typescript - ~3.6.4.

Let me know if I can provide any additional information.

[2019-11-25 14:08] SkeLLLa opened #807 "Rollbar's npm package shouldn't contain unnecessary code"
Currently rollbar's npm package contains a lot of files that are useless when using it. For example, now it contains test directory, makefiles, src directory and so on.

Such files only increase package size and, for example, could and will have negative impact on lambda function init time.

[2019-11-25 14:56] kevinrobinson commented on #801
@waltjones Got it, thanks for your help!  Yep, I'm running node 12 so seems like that separate issue covers that.

For linting, maybe it's worth updating the `lint` task in `package.json` so folks can just run that?  Or if that's not super important and you don't mind people pushing pull requests to run in CI then you could add that in the notes for contributing.

Thanks for your help!

[2019-11-25 22:08] waltjones commented on #807
@SkeLLLa There are a variety of ways the npm package gets used. Some of the things you suggest could probably be removed, but others not. Have you considered using webpack to build your Lambda file? This would help ensure the smallest footprint for all your npm packages, vs zipping node_modules.

[2019-11-25 22:10] waltjones commented on #806
@jumamfa Can you confirm the location of the instructions you're using. I want to make sure we're looking at the same thing.

[2019-11-26 07:02] jumamfa commented on #806
https://docs.rollbar.com/docs/angular

Angular 2 and later section

On 25 Nov 2019, at 22:10, Walt Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

@jumamfa<https://github.com/jumamfa> Can you confirm the location of the instructions you're using. I want to make sure we're looking at the same thing.

—
You are receiving this because you authored the thread.
Reply to this e

[2019-11-26 08:55] SkeLLLa commented on #807
Using webpack for node.js project is bad practice, so it's not an option. I think if rollbar package is used in "many ways" it would be better to have some dedicated repos for that. E.g. node-rollbar for node.js, rollbar - for browsers and so on.

[2019-11-27 15:58] johnlop commented on #803
Thanks @brianr, that worked for me!
The Typescript definitions don't mention the Request parameter but it's there.

[2019-11-27 15:58] #803 closed

[2019-12-03 21:18] waltjones commented on #806
@jumamfa This took me a while to track down.

Typescript 3.6.x appears to no longer allow this import syntax:
`import * as Rollbar from 'rollbar';`

`import Rollbar from 'rollbar';` is the required syntax for 3.6.x. However, it will only work when setting either `allowSyntheticDefaultImports` or `esModuleInterop` in your Typescript options.

While the former syntax was the default for earlier Type

[2019-12-03 21:53] #774 closed

[2019-12-03 22:09] #806 closed

[2019-12-03 22:11] jumamfa commented on #806
Great thank you!

[2019-12-03 22:57] #801 closed

[2019-12-03 23:29] #805 closed

[2019-12-04 00:12] waltjones commented on #801
@kevinrobinson See PR #809 for an updated `npm run lint`. Let me know if you have any issue with it.

[2019-12-05 21:07] kevinrobinson commented on #801
@waltjones `make test` on master runs great and is all green for me now, and the individual `npm run lint` is as well.  thanks! 👍

[2019-12-31 17:56] waltjones opened #813 "Allow wildcard specifiers for scrubbing"
Other Rollbar SDKs allow wildcard specifiers for scrub fields. For Rollbar.js to support this, the scrubber must be limited to only look at keys that would always be safe to scrub. Currently it scans all keys, and wildcards in the scrub fields would make the payload invalid.

[2020-01-18 18:29] waltjones opened #816 "Allow user specified attributes in telemetry for DOM click events"
Telemetry for click events show the clicked element, and container elements up to three layers deep.
[code]
If any of  `name`, `title`, and `alt` attributes are set, it will pick up those attributes but not any others. It also cannot be stopped from picking up those attributes. The code that preps this into a string truncates the result after a certain number of data chunks, including the above at

[2020-01-20 20:33] activescott opened #818 "TypeError: a.loadFull is not a function when rollbar loaded multiple times"
This appears to be similar to #98. After reading that issue, I was able to determine that I am loading rollbar twice (once via snippet/shim and once explicitly via module) but the `TypeError` message could be communicated better.

**Expected behavior** is to to report this as an error and instead handle it more gracefully.

In fact I stumbled across the fact that [better error reporting for this s

[2020-01-20 20:38] waltjones commented on #818
Thank you for the report and the analysis. I'll look at getting this in the next release.

[2020-01-20 20:45] #818 closed

[2020-02-03 11:56] stubar opened #821 "Disabled with console logging"
Is it possible to disable sending to rollbar but still log to console (via verbose flag).  If I set enabled false and verbose true I don't get any console activity.  I'd like to disable in most environments other than prod but still be able to see .info calls in the console.

[2020-02-03 11:59] stubar opened #822 "Bundling node version to client."
Hi we have a CSP rule on our domain which is beyond my control.  It doesn't allow cloudfare.  So I have been bundling the node version to the browser.  It appears to be working Ok. Just wondering if there are any pitfalls with this approach?

[2020-02-03 23:10] waltjones commented on #821
@stubar I think you're looking for the `transmit` flag (default `true`). Set `transmit: false` in the config, and the event should be discarded after verbose logging.

[2020-02-03 23:23] waltjones commented on #822
If you're using webpack or another front end bundler, it is probably picking up the `browser` key from package.json: `"browser": "dist/rollbar.umd.min.js"` This should work fine for browser environments, and isn't the build used for Node.js.

If you want to use the snippet + rollbar.min.js, and can host the file yourself, set `rollbarJsUrl` in your config to your rollbar.min.js location and the sn

[2020-02-09 13:20] levenleven commented on #615
Meanwhile it keeps growing https://bundlephobia.com/result?p=rollbar

[2020-02-09 15:30] lightheaded commented on #615
Meanwhile we've decided to drop Rollbar's JS SDK

[2020-02-09 19:45] waltjones commented on #615
For those following this issue, any comments or feedback on this approach:
https://github.com/rollbar/rollbar.js/pull/817

This assumes you're using webpack or another builder that allows `require('rollbar/src/browser/core')` instead of `require('rollbar')`.

Could you use this, or not?

[2020-02-09 20:11] dangodev commented on #615
@waltjones I think that’s a great approach! And one I’ve seen other libraries do (like [Vue](https://unpkg.com/browse/vue/dist/) that provides multiple distributions for different usecases).

I agree with your proposal to keep using the `"main"` entry (`rollbar`) to be the easiest experience that handles things for the developer at the cost of weight. And for the people that are capable/interested

[2020-02-11 15:56] spontoreau commented on #735
Hello, any news on this issue?

I can help if you want 😃

[2020-02-11 18:25] waltjones commented on #707
The Segment team did eventually move this to the mono-repo, and updated the Rollbar.js snippet.

https://github.com/segmentio/analytics.js-integrations/tree/master/integrations/rollbar

[2020-02-11 18:25] #707 closed

[2020-02-11 21:16] jackwkinsey commented on #615
I think our team could definitely benefit from this approach!

[2020-02-11 21:27] agriffis commented on #615
We're loading Rollbar by the snippet at the page level, then using the noconflict release in our build:

[code]

per the instructions at https://docs.rollbar.com/docs/using-rollbarjs-inside-an-embedded-component

We're doing it this way because it's a large CMS and we'd like to catch page-level errors in one project, and app-level errors in a separate project. (In fact this isn't quite working rig

[2020-02-14 22:31] btmorex commented on #615
Yes, it would be a big improvement.

[2020-02-17 10:08] Bennoo opened #828 "People identification with Angular 7"
Hello,
I struggled to find the way to add a user id in the error reporting for Angular 7
Could you help?
Thanks a lot

[2020-03-12 10:34] AndKiel opened #837 "Incorrect `LambdaHandler` type"
Exported `LambdaHandler` type allows only sync functions even though AWS also supports async lambdas:

https://github.com/rollbar/rollbar.js/blob/bf9a2efcdb42dd5d1f8e2fe4883011cf286fc2e5/index.d.ts#L35

Rollbar's internal logic also seems to support both sync and async:

https://github.com/rollbar/rollbar.js/blob/63c2f64d1fa9b99525fa62d2fa9110769f85e20e/src/server/rollbar.js#L284

but due to the i

[2020-03-13 14:36] isaiah-coleman commented on #470
@rivkahstandig3636 Probably a dumb question is 2.15.0(the latest) newer than 2.3? I still experience this on 2.15.0

[2020-03-13 17:00] brianr commented on #470
reopening for @waltjones

[2020-03-13 18:15] aleksandrlat commented on #735
@waltjones @tommck rollbar.js can be included into project differently not only with npm package.
So separate DefinitelyTyped package for types can be useful for others who don't use rollbar npm package.
For example in our project minified prod ready rollbar.js is injected by ruby gem.

[2020-03-21 13:41] tjmcewan commented on #800
Has there been any progress on this?  I've seen it appear in my Rollbar errors with Firefox iOS 23.0.

[2020-03-21 17:47] waltjones commented on #800
@tjmcewan Can you post a link to the item, or email to support@rollbar.com and mention my name?

[2020-03-23 18:16] azamatsmith opened #839 "Firefox - Extensions with errors attempt to call Rollbar on page"
I'm not sure if there is anything that can be done on in the SDK but I wanted to raise awareness in case something can be done.

## Error
[code]

## What I think is happening
An extension has a JavaScript error and somehow tries to call Rollbar. Firefox issues a warning saying that an extension cannot access Rollbar.

## Steps to replicate
- Install the Code Climate extension for Firefox: https://

[2020-03-25 18:17] waltjones commented on #800
With help from @tjmcewan I've taken a look at the error. I still haven't been able to reproduce this myself. I've tested with the @paulfurley test page using both his snippet version and Tim's snippet version on FxiOS/23.0. (This was also the version used in the error I looked at.)

In general, this syntax error could be caused by any script on the page. The browser doesn't give location informati

[2020-04-07 15:20] lennartbuit opened #842 "codeVersion (and code_version) options confusing on browser targets"
I am bundling rollbar in my webpack build, so I am importing rollbar from its npm package. E.g.

[code]

The `Rollbar` constructor accepts a bunch of options, and the type definition says that it should accept `code_version` as well as `codeVersion` ([here](https://github.com/rollbar/rollbar.js/blob/379273969c968662de128a6eb16380639aff2fce/index.d.ts#L49-L50)).

Furthermore, the rollbar documentat

[2020-04-22 16:29] jag1989 opened #844 "Calling Rollbar.configure() during transform doesn't update the payload for current report"
I've noticed an issue whereby if the configuration is updated during the transform method, the updated configuration isn't used in the current payload. It will however be updated for the next payload.

Example

[code]

Expected:
payload contains:
[code]

Actual
payload contains:
[code]

this is until the next payload is sent, and then the expected payload is used with the correct person.id

Rollba

[2020-04-22 17:11] waltjones commented on #844
That's correct. The purpose of the transform function is to allow adding, removing or overwriting any part of the payload. This requires the payload to already be fully formed at that time.

The expected use is to add the data, in this case the person id, directly to the payload that is passed in.

[2020-04-22 17:42] jag1989 commented on #844
Ah okay no problem. So just this looks to suffice?

[code]

[2020-04-22 18:02] waltjones commented on #844
Yes, that should do it.

[2020-04-23 08:24] #844 closed

[2020-04-25 21:44] miliu99 commented on #800
I got the same error message but in different context...My webpage (written in React/ApolloGraphGL) works fine in all other devices (Windows, Android Phones) except on iOS. In my MacBook, I got an empty page with this error message shown in its console when I try to open it in Safari. However, it works fine in Chrome. On the other hand, I got an empty page on my iPhone in both Safari and Chrome. W

[2020-04-27 15:23] #822 closed

[2020-04-27 15:30] waltjones commented on #842
@lennartbuit Thank you for the feedback. I'll take look at improving this.

[2020-05-07 12:51] luax opened #848 "Specifying telemetry response header yields "Refused to get unsafe header""
Hello!

I configured `autoInstrument` to include the response header `Request-Id` only:

[code]

But got this error message in Chrome (`Refused to get unsafe header "Request-Id"`):

![image](https://user-images.githubusercontent.com/1325939/81295980-81b44280-9071-11ea-8f1a-af8bccceed81.png)

Setting `networkResponseHeaders` to `true` does not include `Request-Id` either. [Potentially related blog

[2020-05-07 15:26] waltjones commented on #848
Under CORS security, the HTTP response must include the `Access-Control-Expose-Headers` header in its response, and whitelist the specific headers the client is allowed to access. This is implemented and enforced by the browser.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers

[2020-05-07 15:44] waltjones commented on #828
@Bennoo Have you tried this:
https://docs.rollbar.com/docs/javascript#person-tracking

Or if that wono't work for you, can you elaborate?

[2020-05-07 17:12] #821 closed

[2020-05-08 06:54] luax commented on #848
Thanks @waltjones!

[2020-05-08 06:54] #848 closed

[2020-05-12 15:11] #837 closed

[2020-05-13 08:58] alecgibson opened #853 "TypeScript compilation error: Cannot find name 'Context'"
We seem to have issues bumping rollbar.js from v2.15.0 to v2.16.0. Our TypeScript compilation fails with:

[code]

In case it's useful, here are our dependencies:

[code]

[2020-05-13 09:00] alecgibson commented on #853
This is the suspect commit: https://github.com/rollbar/rollbar.js/commit/17810b0d39cba2af08085460647bb0fd8ab953d5

It's only from 6 days ago, and adds the lines that are throwing.

[2020-05-13 12:30] jiangzhuo commented on #853
This is LambdaHandler I think, maybe `Context`  is from `aws-lambda`
@alecgibson I think your solution `TContext` is better.

[2020-05-13 15:29] #853 closed

[2020-05-13 19:59] cesarvarela opened #855 "Rollbar.info sent as debug on development"
This is driving me crazy,, on my CRA project, if I call `window.Rollbar.info('whatever')` from the React code it appears as `debug` message on the dashboard, but if call `Rollbar.info` from the console it appear as `info` on the dashboard (as it should), Is this because the Rollbar env is set to `development`?

[2020-05-13 20:16] cesarvarela commented on #855
This is happening with `Rollbar.warning` too, and the payload clearly sets the level to warning:

![image](https://user-images.githubusercontent.com/1172479/81860644-69469b00-953d-11ea-839e-92dc0e59dbd7.png)

[2020-05-13 21:50] waltjones commented on #855
Hi @cesarvarela, if the items are grouped into the same item in the dashboard, the dashboard item will be assigned the level of the first item received. For simple messages, this grouping is usually based on similarity of the message text.

[code]
will appear as two occurrences of the item 'test', with level debug.

You can override this by changing the level in the dashboard UI.

Let me know if t

[2020-05-13 23:04] cesarvarela commented on #855
Oh I see, that's a bit unintuitive if you ask me, I would never expect different levels to be merged.

So at first a had them set to `Rollbar.log` which I guess it uses the `debug` level, but those wont show on the dashboard because the default filter is only `critical`, so I changed to `Rollbar.warning` and that didn't appear as warning either because it was being merged to `debug`.

[2020-05-13 23:04] #855 closed

[2020-05-13 23:33] waltjones commented on #855
@cesarvarela I agree. This topic is being tracked internally at Rollbar, and I'll forward your comments there.

[2020-05-14 08:09] AndKiel commented on #853
Yeah, `Context` is `aws-lambda` thing and it's quite specific:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/aws-lambda/handler.d.ts#L94

[2020-05-17 20:47] feross opened #857 "checkIgnore functionality is broken in 2.16.0"
I'm using `checkIgnore` on the server-side to block certain errors from being reported. As of version `2.16.0` this functionality has completely stopped working, and all errors are sent.

This is my full configuration:

[code]

If I install `2.15.2` it works. If I install `2.16.0` or `2.16.1` then it doesn't work. Errors are always sent.

Please fix.

[2020-05-18 16:49] #857 closed

[2020-05-30 17:44] jimmywarting opened #862 "Removing buffer-from?"
just use native `Buffer.from`? It has been available from node 5.10

it can reduce the package size, bootup and installation time a bit.

[2020-06-02 14:36] sethigoldy opened #863 "TypeError: Rollbar is not a constructor only when running ng build --prod"
Hi

I am trying to implement rollbar on my project, it's working fine when I serve it but when I try to build from `ng build --prod` I am getting the following error:

[code]
Note: **Only getting error in browser's console when build is produced**

app.module.ts
[code]

My rollbar.ts
[code]

My tsconfig.json
[code]

I am using these following packages:
[code]

Please let me know what I am doing wr

[2020-06-02 19:00] waltjones commented on #863
@sethigoldy I've tried to reproduce with your tsconfig and same versions for typescript and angular, and am not seeing this error.

Right now the best suggestion I have is to delete package-lock.json and /node_modules/, `npm install` and see if the error persists.

[2020-06-03 10:53] sethigoldy commented on #863
Thanks for replying. I deleted package-lock.json and node_modules folder but I am still getting the same error.
Also, did `npm cache clear` but still no good.

[2020-06-03 12:40] sethigoldy commented on #863
I have updated my rollbar.ts to :

[code]

And it seems to fix the error, what it looks like that somehow while compiling node is picking up the namespace declaration and not the class declaration.

[2020-06-04 21:00] agoldis opened #865 "express.js nested routers - full url is not preserved"
Having nested expressjs routes is not reflected in rollbar errors:

[code]

Results in Rollbar entry with wrong data:

| Field        | Actual           | Expected  |
| ------------- |:-------------:| -----:|
| `request.url` | `https://<domain>/i/someid` | `https://<domain>/pay/i/someid` |
| `context` | `i/someid` | `pay/i/someid` |

rollbar.js version `2.15.0`

[2020-06-16 22:14] waltjones commented on #798
Starting in v2.15.0 (https://github.com/rollbar/rollbar.js/releases/tag/v2.15.0), rollbar.js uses a new CDN, with URLs in the format: https://cdn.rollbar.com/rollbarjs/refs/tags/v2.15.0/rollbar.min.js

Older releases that were stored by cdnjs at Cloudflare can still be found at their original Cloudflare URL.

[2020-06-16 22:14] #798 closed

[2020-06-16 22:22] waltjones commented on #615
@agriffis

They will be different instances of Rollbar objects, and will not be able to share the same telemetry functionality.

[2020-06-17 05:12] layerssss commented on #842
I'm in a similar situation: I was trying to report the code version from Node.js but found only in `client.javascript.code_version` in documentation which doesn't help on server side. I tried using the root-level `codeVersion` key in constructor and it works. But it seem to be missing in the documentation.

[2020-06-18 14:27] sai1139 opened #867 "Compatibility"
Rollbar will support Next.js

[2020-07-07 03:56] tnguyen14 commented on #574
@rokob Is there a way to see all of my calls to rollbar to be printed via the console with `verbose: true`, without seeing the `Successful api response` message?

[2020-07-07 11:34] #867 closed

[2020-07-09 14:41] #865 closed

[2020-07-09 14:42] austenLacy commented on #865
@agoldis This should be fixed in an upcoming release with these changes https://github.com/rollbar/rollbar.js/pull/872.

Thanks for reporting the issue!

[2020-07-14 22:20] Mister-Corn opened #873 "Missing "addErrorContext" to configuration TS type"
PR #870 adds a new option, `addErrorContext`, which can be added to the configuration object when initializing Rollbar. This new option is not listed within the`Rollbar.Configuration` type in `index.d.ts`.

Should that be added in? (_If so, may I have the honor?_ 😉 )

[2020-07-14 22:41] waltjones commented on #873
Yes! :+1:

[2020-07-15 15:30] #873 closed

[2020-07-21 16:40] #615 closed

[2020-07-22 16:48] TruffeCendree opened #876 "rollbar.min.js contains es6 const"
Starting from release 2.17, rollbar/dist/*.js distributed via npm contains 2 instances of the 'const' keyword and cannot target old browser anymore.

[2020-07-22 16:49] waltjones commented on #876
@TruffeCendree Thank you!

[2020-07-23 16:25] #876 closed

[2020-07-23 16:30] #862 closed

[2020-07-29 13:18] skh- opened #880 "Typings for componentized browser package"
This [release with components](https://github.com/rollbar/rollbar.js/releases/tag/v2.19.0) is great!

Can we get typings for the individual components?  For example, `import Rollbar from 'rollbar/src/browser/core';` does not have a type.

We can kind-of work around this by setting it to the base rollbar type in a d.ts file, eg.

[code]

However, this is not accurate (eg. `setComponents` is missing

[2020-08-04 20:49] highspotjeremy opened #881 "checkIgnore "isUncaught" argument is always `false`"
The `isUncaught` (first) argument in the `checkIgnore` function call is always `false`. This change appears to be the result of PR #850. Specifically, [this line](https://github.com/rollbar/rollbar.js/pull/850/files#diff-c854b4a38519d3019f2e50f74e73bf5fR106) deletes the `_isUncaught` property on the item before the `userCheckIgnore` predicate is being called. Prior to this change, that property wa

[2020-08-04 21:08] waltjones commented on #881
@highspotjeremy Thank you.

[2020-08-06 21:30] #881 closed

[2020-08-07 20:57] waltjones commented on #881
@highspotjeremy Fix released in v2.19.2.

[2020-08-07 20:59] waltjones commented on #880
@skh-  Yes. :+1:

[2020-08-07 21:00] highspotjeremy commented on #881
@waltjones - thank you!

[2020-08-08 20:40] tdeck opened #884 "Rollbar hangs and swallows errors in async functions"
When encountering an error in an async function, rollbar seems to hang indefinitely and suppress all logging.

Here is a small proof of concept app:
[code]

This simulates a scenario where I've made a typo or something like that: Rollbar swallows these errors even when `verbose` is true (aside: the need for this argument itself is very unintuitive) and when `enabled` is false. I am using rollbar 2

[2020-08-10 22:19] waltjones commented on #884
@tdeck When an async function throws (as in the `let x = y` example), the error is converted to a promise rejection. If the rejection is unhandled, Node's behavior at that point depends on whether a listener is registered for `'unhandledRejection'`.

The default for most versions of Node ( I have confirmed here on Node 8 and Node 12), is to not log when any listener is added for the `'unhandledRej

[2020-08-15 06:46] tdeck commented on #884
Sorry for my slow reply here - it's been a busy week. I realize my usage of the term "hang" here was ambigiuous - in both cases the promise never resolves and so there is no completed HTTP response, which is as expected. However the lack of an error about *why* there was no response caused me to perceive it differently.

I will experiment with `--unhandled-rejections=warn`, but might I suggest the

[2020-08-15 16:22] ahmaddehnavi opened #885 "Crash on react-native 0.63.2 on hermes engine enabled android release build"
rollbar version : **2.19.2**
rollbar-react-native version: **0.9.0**
react-native version **0.63.2 (upgraded from 0.61.5)**
hermes-engine version: **0.5.1**

variable values:
[code]

the app crashes on `setupJSON` method **stack traces.**
[code]

and the error has gone when I commented ` polyfillJSON(RollbarJSON);` line so it can be fixed by check polyfillJSON to be defined

[2020-08-17 16:19] waltjones commented on #884
My only concern about this suggestion is that it overrides a non-Rollbar Node.js behavior for which Node has its own setting.

I'll keep the issue open and consider enabling when `verbose=true` as you suggest.

[2020-08-20 19:16] johnnywang opened #887 "Componentized Rollbar does not check for existence of polyfillJSON before use"
**Version**: 2.19.2

It seems like there's a situation in which the custom bundled/componentized Rollbar will error out during setup due to an undefined `polyfillJSON`.

While https://github.com/rollbar/rollbar.js/pull/817 describes the JSON polyfill as needed for pre-2009 browsers that are missing it, it does seem to happen as well in the latest Chrome (and I suspect other browsers), likely when

[2020-08-20 19:41] waltjones commented on #887
@johnnywang Thank you for the report. Will get a fix out asap.

[2020-08-24 23:08] #887 closed

[2020-08-25 00:12] waltjones commented on #887
Fix released in v2.19.3.

[2020-08-25 00:12] waltjones commented on #885
Fix released in v2.19.3.

[2020-09-05 19:28] ignacio-gomez commented on #800
I'm not expert on JS, but i think I figured it out a possible solution.
Javascript id cannot start with a number. This line is causing the problem:
  accessToken: '<our token>' ,

It should be written like this:
  accessToken: '<our token>;'

Source:  https://stackoverflow.com/questions/25509317/how-to-solve-identifier-starts-immediately-after-numeric-literal

[2020-09-27 13:12] Lukaaz opened #890 "webapp={meta}"
Lukaaz to projekt WebApp.
https://webapp.com
webapp@webapp.com.pl
{WebApp idę tworzy Laki6999}

[2020-09-27 13:14] Lukaaz commented on #890
{WebApp idę tworzy Laki6999}

[2020-09-27 23:02] Lukaaz opened #891 "{WebApp idę tworzy Laki6999}"
{WebApp idę tworzy Laki6999}

_Originally posted by @Lukaaz in https://github.com/rollbar/rollbar.js/issues/890#issuecomment-699634260{meta}

[2020-10-02 16:41] #880 closed

[2020-10-12 14:33] freewil opened #895 "unable to open PR"
There appears to be something wrong with this repo on Github's end. Please address or get Github Support to address it. I'm currently unable to open a PR.

[2020-10-12 14:38] freewil commented on #895
<img width="1128" alt="rollbar_repo_broke" src="https://user-images.githubusercontent.com/716621/95758475-8a3f2380-0c76-11eb-972a-473d1000e8b5.png">

[2020-10-12 14:38] #895 closed

[2020-10-14 20:26] waltjones commented on #880
Released in v2.19.4.

[2020-10-21 05:43] sam-perez opened #898 "Callback is not always invoked in `rollbar.js/src/rollbar.js:Rollbar.prototype._log`"
For reference, link to relevant code I'm referring to is here: https://github.com/rollbar/rollbar.js/blob/eb2cfed45be04453edff09b141cec761ea5a3740/src/rollbar.js#L159

I just spent the last few hours tracking down an issue. I had errors that were being logged by my other Winston transports, but they were not appearing in Rollbar. After reproing the issue locally, I attempted to `console.log` right

[2020-10-21 13:12] waltjones commented on #898
@sam-perez Thank you for the debugging effort.

[2020-10-29 22:15] arctouch-raphaellupchinski opened #901 "Filter errors based on Telemetry and Trace data"
Hi,
I've been struggling to filter an error that's named as something far too generic for me to add it in the `ignoredMessages` array.
I was able to track that there was a specific event in common on the telemetry data that would allow me to filter those out, as it's caused by some ad code, that runs inside iframes.

For example, here's what I have for one of those errors:
[code]

So in short, wha

[2020-11-04 18:30] #898 closed

[2020-11-16 16:51] MatthewAry opened #904 "Improve type definitions for payload property in rollbar configuration options"
Right now, it looks like the TS definition for the payload property is incomplete. See: https://github.com/rollbar/rollbar.js/blob/bcf58a6f26f26b9e64b7033a102d960a50ad5319/index.d.ts#L76

Your own docs have the object definition already in place to some extent https://docs.rollbar.com/docs/rollbarjs-configuration-reference#payload-1 so I think it shouldn't be a problem to make the TS definitions b

[2020-11-16 17:26] waltjones commented on #904
The list in the doc isn't comprehensive. The user can add custom keys of any name and type. I expect there's a way to define this, but just noting the requirement.

[2020-12-11 12:07] dinitri-ragoo commented on #664
Hi, facing the same issue with iOS ! Any update ?

[2020-12-15 17:04] skh- opened #909 "Scrubing parameters in request.url and request.query_string"
For example, say the URL is `https://example.com/?key=abc`, and we want to scrub `abc`.

Setting `['key']` for `scrubFields` or `scrubPaths` does not seem to have any effect.  I can still see the key in the list of occurrences, in `request.url`, and in `request.query_string`.

In fact, even setting `scrubPaths: ['request.query_string']` as per the [documentation](https://docs.rollbar.com/docs/java

[2020-12-21 15:21] mikekreeki opened #912 "Scrubbing not working when object referenced multiple times in item metadata"
We noticed on our errors that value scrubbing is not working sometimes. I was able to dig through the scrubbing logic and I believe the issue is the following.

Imagine in case of a failed request to the server we have request object which we log into Rollbar together with the error as extra. This object contains sensitive data. We also log the response we received from the server. The sensitive d

[2020-12-21 17:04] #891 closed

[2020-12-21 17:04] #890 closed

[2020-12-21 17:07] waltjones commented on #901
@arctouch-raphaellupchinski Yes, that should be the best place to detect these.

[2020-12-21 17:07] #904 closed

[2020-12-22 15:30] waltjones commented on #909
Each of these is working for me. I tried `https://example.com/?foo=bar` with `scrubFields: ['foo']` and got this in the occurrence:
[code]

I tried `scrubPaths: ['request.query_string']` and got:
[code]

If you're still having this issue, maybe verify the config is getting applied?

[2020-12-22 16:00] waltjones commented on #912
I'm not able to reproduce this so far. If `request` is the same object both times, password gets scrubbed the first time and is still scrubbed the second time because request is the same object. If `request` is a different object, it gets scrubbed both times.

Example:
`scrubFields: ['password']`

[code]

In the payload:
[code]

Can you give more details to set this up?

[2020-12-22 16:02] #885 closed

[2020-12-22 16:25] mikekreeki commented on #912
Hi @waltjones, thanks for looking this. I tried to put together a reproducible scenario (sorry for a little bit hacky code) and run it in browser console in our app. Your code looks the same to me as mine.

[code]

Result:

[code]

Tested on 2.15.0

[2020-12-22 16:32] mikekreeki commented on #912
Modified code for 2.19.4

[code]

Same result as above.

[2020-12-22 16:43] mikekreeki commented on #912
Scrubber does not seem to ever mutate the object, that's the important bit, a new request object is created with scrubbed values instead, but never remembered anywhere in traverse function so it can be reused on the second encounter, instead the original object (unscrubbed) is kept because scrubbing is skipped this time by "seen" logic in the traverse function. Thats still how it looks to me.

[2020-12-22 22:58] waltjones commented on #912
Thank you. Your example, when pasted into the console, did repro the issue. But I kept seeing the redaction succeed when running the full SDK. It turns out the custom data object gets deep cloned when the item is created.

https://github.com/rollbar/rollbar.js/blob/v2.19.4/src/utility.js#L441

This caused the objects to no longer be the same object, and the scrub was successful.

I've opened a PR

[2020-12-23 07:45] mikekreeki commented on #912
Great! We're not using `scrub` function directly though as shown in the example above. We logs stuff normally via `Rollbar(err, data)` which also produces the issue I describe going the whole SDK, but does not show in a trivial example. Let me followup with a reproducible case which looks more like the real code from our app.

[2020-12-23 08:50] mikekreeki commented on #912
Here is a more real-world example, still pretty contrived, but more or less what we do (we log request/response objects from `superagent` library).

[code]

**Runnable version here  https://playcode.io/717565/.**

The request to log the error is fired and in network tab you can see the unscrubbed password.

![Screenshot 2020-12-23 at 09 47 16](https://user-images.githubusercontent.com/819445/10297

[2020-12-23 14:26] waltjones commented on #912
That makes sense. It was just a coincidence that I was testing with a part of the payload that was already cloned before reaching the scrubbing transform.

[2021-01-25 14:20] #912 closed

[2021-02-02 11:31] Nikamura opened #921 "Inspector is not available"
We are building our application using https://github.com/vercel/pkg and after migration from v2.19.4 to v2.20.0 of rollbar.js lib it started to break. We are using Node 12, but happens on Node 14 as well.

[code]

[code]

which seems to be introduced by https://github.com/rollbar/rollbar.js/pull/902 this PR.

Downgrading the package to an earlier version doesn't throw the error.

[2021-02-02 13:43] skh- commented on #909
Thanks, @waltjones.  Turns out I was using the [componentized feature](https://github.com/rollbar/rollbar.js/pull/817) and forgot to include `scrub` in `Rollbar.setComponents`.  Works as expected now!

[2021-02-02 13:43] #909 closed

[2021-02-02 14:03] waltjones commented on #909
@skh- Good to hear! Thank you for the update.

[2021-02-02 15:34] waltjones commented on #921
@Nikamura thank you for the report.

The root issue here is that vercel/pkg isn't actually using Node. It builds its own "base binaries" that are a subset of Node.

This has been reported in vercel/pkg Github Issues a number of times, and in this one, a workaround is suggested. https://github.com/vercel/pkg/issues/93

I'll look into what workaround might be possible in Rollbar.js.

[2021-02-05 22:41] FeliciaXmL opened #922 "Http vs https"
Json vs js

[2021-02-08 16:40] #922 closed

[2021-02-09 18:36] dovidgef opened #923 "Application has long startup delay when upgrading to version 2.20.0 from version 2.16.2"
After we upgraded our Express.js application to use `rollbar.js` version `2.20.0` we are now experiencing
an over 10 second delay on our application startup.
Previously when we were using version `2.16.2` it started up nearly instantly.

Any ideas?

[2021-02-09 18:42] waltjones commented on #923
Any change in Rollbar config?

This has been tested with simple Express apps with no start up delays.

[2021-02-09 18:45] dovidgef commented on #923
We had added the `locals` property, but with and without this property we
experienced this delay.

On Tue, Feb 9, 2021 at 8:42 PM Walt Jones <notifications@github.com> wrote:

[2021-02-09 18:58] waltjones commented on #923
In your ./node_modules/rollbar/src/server/rollbar.js line 19, you can try commenting or removing `var Locals = require('./locals');` This shouldn't require any other code change as long as locals is off in the config. (if locals is on, it will throw.)

I don't know if this is causing your issue, but that would a quick way to verify.

[2021-02-10 09:22] seangarner commented on #923
We've had a similar issue that @svedbg and I have been looking into.  Our issue is caused by this:

Specifically the "caught" part.  In our app it's whilst loading a large collection of json schemas.  They support json pointers which it searches for using a try/catch.  https://github.com/whitlockjc/json-refs/blob/d7f1ddab22f75bf1c1d2ce30c35178ee8f136edc/index.js#L225-L237

It'll do that on every s

[2021-02-10 09:31] seangarner opened #924 "new locals feature depends on an unsupported module"
Hi.  Loving the idea of the new locals feature.  However, whilst investigating the cause of #923 I noticed that it depends on a module that's not been touched in 6 years.  The maintainer has even commented that it's no longer supported:

https://github.com/admazely/inspector/issues/5#issuecomment-629674778

I wouldn't consider myself an expert in webkit or the inspector api, but I'd have thought t

[2021-02-10 12:45] waltjones commented on #924
If you npm install that package, it will get picked up. But the intent was to NOT install that package and the require in Rollbar.js will use Node's built in Inspector API. https://nodejs.org/api/inspector.html

Rollbar.js itself doesn't add any inspector package as a dependency, but if the host application does it could override Node's API. This feature and other uses of Node's Inspector API won'

[2021-02-10 12:56] waltjones commented on #923
The doc for this feature highlights this (throw/catch in non-error code paths) and recommends evaluating your situation:

https://docs.rollbar.com/docs/nodejs#enabling-local-variables-in-stack-traces

These reports are appreciated, and we're working on an update that will address some scenarios.

[2021-02-16 14:23] #921 closed

[2021-02-16 19:13] waltjones commented on #921
@Nikamura v2.21.0 now loads the locals module separately, and the vercel/pkg builds should work now.

https://github.com/rollbar/rollbar.js/releases/tag/v2.21.0

[2021-02-16 19:23] waltjones commented on #923
v2.21.0, just released, has updated config options that may be helpful in your situation.

Note: the locals module is now loaded separately and is passed into the Rollbar config. See the updated doc here. https://docs.rollbar.com/docs/nodejs#enabling-local-variables-in-stack-traces

For people who are only interested in locals for uncaught errors, the new `locals.uncaughtOnly` option bypasses virt

[2021-02-16 19:25] #924 closed

[2021-02-16 20:14] seangarner commented on #923
Thanks Walt, we'll give it a try soon.

On Tue, 16 Feb 2021, 19:23 Walt Jones, <notifications@github.com> wrote:

[2021-02-16 20:28] seangarner commented on #924
Apologies for the delay.  I missed your response. Of course you're right, I
had forgotten about that API being exposed programmatically.

It could be argued that you should be aware of how your dependencies are
working behind the curtains, however in the case of paid services, such as
rollbars I believe the bar should be set a little higher.  The
documentation should state that it depends on an ex

[2021-02-17 10:47] karam94 opened #928 "Rollbar isn't reporting on CSP errors?"
Hi,

I'm using the standard Rollbar.js library within the base template of a Django application.
My script looks as follows as per the documentation:

[code]

However unfortunately despite forcing CSP errors that are visible within the browser console, the errors are not appearing within the Rollbar dashboard.

When I force a non-CSP type of error such as by doing:
window.onerror("TestError: Hello

[2021-02-17 13:20] waltjones commented on #928
Hi @karam94,

This depends on the browser's support for the `securitypolicyviolation` event. The Rollbar handler should process any events received there, assuming you are on Rollbar.js v2.20.0 or higher.

If you let me know the CSP directives used for testing, the specific violation generated, and the browser, I can try to reproduce here.

[2021-02-17 13:27] karam94 commented on #928
Hi @waltjones

The browser certainly supports `securitypolicyviolation` because as a fallback we've added:
[code]
and Rollbar picks up these fine.
My browser is the latest version of Chrome & the CSP directives in this case were script-src.

I copied the Rollbar snippet yesterday from what appeared when first logging in to the account and it looks like it's using 2.19.2 within the network tab:
htt

[2021-02-17 13:30] karam94 commented on #928
I've just noticed that the Quick Start script to copy here:
https://docs.rollbar.com/docs/browser-js

Points to v2.21 etc.

It seems that what was copied upon first logging in to the dashboard contained an outdated (v2.19.2) reference to rollbar.
I'm upgrading the script now and will report back :)

[2021-02-17 13:31] waltjones commented on #928
Was just about to point you there. :+1:

[2021-02-17 13:34] karam94 commented on #928
Upgrading to v2.21 has worked.
Just please double check the script on the new account/first page after login to avoid people accidentally copying an older version of the script and running in to similar issues in the future.

Thanks for your help @waltjones!

[2021-02-17 13:34] #928 closed

[2021-02-24 22:21] dseeker opened #930 "TypeError: t.headers.get is not a function. (In 't.headers.get("Content-Type")', 't.headers.get' is undefined)"
We're using an unusual setup with a hybrid iOS application running a compiled js file inside a native iOS app.
Seeing the user's report a lot of them are having an issue with the rollbar lib and I can't quite pinpoint why that's the case.
There's is probably some errors trying to get notified but it's failing after this line.

Would it be possible to add a check before executing headers.get()? I'm

[2021-02-24 22:39] waltjones commented on #930
Yes, I think we can do something here.

[2021-03-01 10:49] cyrus-za opened #931 "JIRA integration"
Not really related to rollbar.js specifically, but there seems to be no specific place to log bugs. I filed a support ticket, but none of the options on there were about technical issues, so I am posting it here too.

We love using the rollbar integrations with slack, jira, email etc.

There is one annoying issue though. When a rollbar item is resolved and it updates the jira ticket to Done, it do

[2021-03-01 12:35] waltjones commented on #931
@cyrus-za Thank you for taking time to report this. I'll forward it to the team.

[2021-03-01 12:40] waltjones commented on #931
CH80756

[2021-03-03 15:26] #901 closed

[2021-03-11 14:09] waltjones commented on #930
@dseeker I hoped this could be accommodated while leaving network telemetry enabled. Instead I think it will be necessary to disable in your Rollbar config:

[code]
This should solve the xhr/fetch related errors.

See https://docs.rollbar.com/docs/rollbarjs-telemetry for more details on telemetry support.

[2021-03-14 11:03] krystof-k opened #935 "Message string is overridden if error argument is submitted"
If I do `Rollbar.warning('Something happened', error);`, where `error` is an `Exception` object, the message is overridden by the message from the exception.

[2021-03-15 13:04] waltjones commented on #935
The way Rollbar's grouping algorithm works in the dashboard, it will display the message of the earliest occurrence in that grouping. If the occurrence from `Rollbar.warning('Something happened', error);` has been grouped with an earlier occurrence like `Rollbar.warning(error);` the message displayed will be from the earlier occurrence.

Maybe this is what you're seeing?

[2021-03-15 17:28] krystof-k commented on #935
Nope, I don't think so. The item is fresh new with only one occurrence, named not by the message (first argument), but by the  Exception object message. However the message is present in `trace.exception.description`.

Here is (almost) the full request payload:

[code]

[2021-03-15 18:22] waltjones commented on #935
The occurrence data looks correct.

In that case, the message string should be used for the title string of the item and occurrence, and the exception message should be used only for the exception data itself.

[code]
produces:
![message-override](https://user-images.githubusercontent.com/73399/111201624-53f52f80-8599-11eb-89a7-112e81710a33.png)

[2021-03-15 18:25] krystof-k commented on #935
Hmm, that's not working for me. I'm using Vue.js integration (according to the [guide](https://docs.rollbar.com/docs/vue-js)). Can it be related?

[2021-03-15 18:39] waltjones commented on #935
It shouldn't be related. Once the keys are set correctly in the payload (and in your example they are), the rest is handled in the Rollbar dashboard. Nothing there would be handled differently based on your JS framework.

Older occurrences disappear after a month, but might still affect this logic. That's still the only thing I can think of that might cause this. Testing using an error with a diff

[2021-03-15 18:46] krystof-k commented on #935
I just tried sending your dummy error example:

[code]

and logging an actual browser error from an axios request, in this case 401.

In the first case, the override works, in the second it doesn't – both equally created as new items in Rollbar, not grouped with any of the existing occurences.

However the exception objects looks very different – see first:

![image](https://user-images.githubuser

[2021-03-15 18:49] krystof-k commented on #935
Also the first item has `Error: ` in the title (`#21 Error: message override`) whereas the second does not (`#22 Request failed with status code 401`).

[2021-03-15 18:56] waltjones commented on #935
In the payload for the axios error, what does `body.exception` look like?

[2021-03-15 19:12] krystof-k commented on #935
Do you mean `data.body.trace.exception` in request payload to Rollbar?

This is for the first error:

[code]

This for the axios error:

[code]

[2021-03-15 23:03] waltjones commented on #935
Yes, thank you.

I've been able to verify the root cause here, and have a test that shows what's happening.

Rollbar's grouping algorithms do more than just grouping, and in some cases they overwrite the title. One of the active rules does overwrite the title if the exception message matched the regex: `/^Request failed with status code (\\d+)$/`. It rewrites it exactly back to "Request failed wit

[2021-03-16 07:34] krystof-k commented on #935
I see. Do you consider this a feature? Because I find this very confusing and honestly see no reason to do that, if I explicitly set the message, I probably want to see it in the interface. The only workaround I can think of is to override the message in the actual exception object, but I find this rather a dirty hack.

[2021-03-16 13:38] waltjones commented on #935
In Rollbar settings under Custom Fingerprinting (https://rollbar.com/waltjones/temakki/settings/custom_fingerprinting/), you can set up custom rules. A doc is here. https://docs.rollbar.com/docs/custom-grouping

When a custom rule matches, no further rules are applied, so this can be used to bypass the default rule.

The following rule worked for me.
[code]

I agree with you about using the descri

[2021-03-24 11:16] krystof-k commented on #935
@waltjones thanks, I was not aware of this feature, I'll try. However I would keep the issue open if you don't mind, I think this behavior should be changed or at least mentioned in the docs as it is rather confusing.

[2021-03-24 17:55] WillSchroederHiho opened #938 "Remove console.log in locals.js"
https://github.com/rollbar/rollbar.js/blob/master/src/server/locals.js#L87-L87

Shows up in my `npm test` log. Not breaking anything but a bit annoying to see when debugging or looking at logs.

Thanks.

[2021-03-24 19:21] #938 closed

[2021-03-29 17:08] hotequil opened #940 "Is there any example for Angular Source Maps Implementation?"

[2021-03-29 17:26] waltjones commented on #940
This Angular example builds source maps:
https://github.com/rollbar/rollbar.js/tree/master/examples/angular2

And this PR description includes two Angular examples for uploading with rollbar-cli.
https://github.com/rollbar/rollbar-cli/pull/1

If you're using curl, the same basic idea applies. The rollbar-cli just makes it easier to upload all at once. The doc for using curl is here: https://docs.r

[2021-03-29 17:54] hotequil commented on #940
Thank you!!! But i tried this command `rollbar-cli upload-sourcemaps dist/my-repo --access-token MY_ACCESS_TOKEN --url-prefix 'http://localhost:4200/' --code-version angular11v1 -s`, then results in some files this error: `[Error ] insufficient privileges: post_server_item scope is required but the access token only has post_client_item.`

[2021-03-29 18:00] waltjones commented on #940
Rollbar's source maps API requires a different token than the browser token. In you Rollbar dashboard under /settings/access_tokens/ look for a `post_server_item` token.

[2021-03-29 18:01] hotequil commented on #940
Ohhh, okay!!! thank you! works for me

[2021-03-29 18:02] waltjones commented on #940
:+1: Great to hear!

[2021-03-29 18:02] #940 closed

[2021-04-16 19:24] glen-84 commented on #842
The whole situation with `codeVersion`, `branch`, and `environment` is a mess.

- Why do they need to differ between a client-side application and a server-side application?
- Why are they mixed between top-level configuration and payload configuration?
- Why is top-level `codeVersion` not documented separately?
- Why is top-level `environment` not documented (but in the type definitions)?
- Why i

[2021-04-16 21:32] waltjones commented on #842
@glen-84 It's legacy that can't change until a major version bump. The docs could be improved though.

[2021-04-19 06:51] GMCoder opened #944 "Can`t get real stack message from window.onerror"
Here are some error stack from window.onerror function I`ve got
{"message":"Cannot read property 'trigger' of undefined","stack":["TypeError"," Cannot read property 'trigger' of undefined\n    at <anonymous>","1","12"]}
Why anonymous?Not file url.

[2021-04-19 14:11] waltjones commented on #944
I don't recognize the format of this JSON, and it doesn't look like an `onerror` argument. Is it JSON from a Rollbar occurrence? If so, what is in the key `notifier.diagnostic.raw_error.stack`?

[2021-04-20 06:56] GMCoder commented on #944
This json didn`t come from Rollbar.Just an error that i got with window.onerror.

[2021-04-20 21:57] waltjones commented on #863
I think part of the issue may have been using these options together:
[code]

I think this causes the es5 production build to have potentially incompatible import syntax.

A safer config for es5 target would be:
[code]

And then you would only use:
[code]

For Typescript's import/require syntax, see: https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require

[2021-04-20 21:57] #863 closed

[2021-04-29 13:01] alastair-todd commented on #506
Same issue but `configure `only takes one argument?

Alternative:

`rollbar.configure({...currentConfig, ...extraConfig});`

[2021-05-07 02:08] pqvst opened #946 "How to remove `request.POST` data?"
What's the easiest way of removing the entire `request.POST` object that is included by default when using `rollbar.errorHandler` with express.js?

I tried:

[code]

But that causes an error in rollbar itself:

[code]

[2021-05-11 12:36] waltjones commented on #946
You could put a transform function in your Rollbar config:
[code]

[2021-05-12 16:44] albertdaurell opened #948 "XMLHttpRequest timeout issue"
Hi, I was recently trying to throttle the browser network and I found that rollbar is not handling timeouts because `xmlhttprequest.timeout` is not set, so this [xdomainrequest.ontimeout](https://github.com/rollbar/rollbar.js/blob/master/src/browser/transport.js#L185) or another timeout  callback is never _called_.

[code]

From [XMLHttpRequest.timeout](https://developer.mozilla.org/en/docs/Web/AP

[2021-05-12 20:09] nlaffey-icario commented on #470
It looks like I'm experience this as well on 2.21.1. It appears `verbose:true` only logs to the console when `enabled:true`.

[2021-05-19 14:03] waltjones commented on #944
@GMCoder I'm closing this as not addressable in rollbar.js. If I've misunderstood, and you can provide more context, feel free to reopen.

[2021-05-19 14:03] #944 closed

[2021-05-19 14:07] #930 closed

[2021-05-19 14:08] waltjones commented on #923
I expect this is resolved, but if not please reopen.

[2021-05-19 14:08] #923 closed

[2021-05-21 14:11] albertdaurell commented on #948
Any update on this?

[2021-05-21 14:25] waltjones commented on #948
@albertdaurell Yes it would be good to support this. I'll take a closer look at the PR today.

[2021-05-25 15:42] albertdaurell commented on #948
@waltjones  Also I'm thinking about adding maxRetries parameter, something like this:

<img src="https://user-images.githubusercontent.com/7487579/119527313-7fa64a00-bd80-11eb-8c65-034c8a175199.png" width="400px" />

[2021-05-26 11:14] albertdaurell commented on #948
Thx @waltjones added maxRetries also to the pull

[2021-05-26 21:13] albertdaurell commented on #948
@waltjones Should the issue also be closed?

BTW: Thank you very much for your support and patience!

[2021-05-26 21:25] waltjones commented on #948
Yes, this will be released in v2.22.0 tomorrow. Nice work, and thank you!

[2021-05-26 21:25] #948 closed

[2021-05-28 18:34] robbporto opened #952 "Can't send the error object"
Using the latest Rollbar JS library, I'm trying to send a error object like this:

[code]

According to the [docs](https://docs.rollbar.com/docs/source-maps#1-raise-descriptive-errors-from-javascript), this should be working but it is not.

[2021-05-28 19:29] waltjones commented on #952
Is this in this in the browser, on Node.js, or something else? Have you initialized Rollbar in any of the ways described here?
* https://docs.rollbar.com/docs/browser-js
* https://docs.rollbar.com/docs/nodejs

At the least, you will need to initialize with an access token.

[2021-05-28 19:59] robbporto commented on #952
@waltjones, Rollbar is initialized (when I send `Rollbar.info` it just works), the problem happen when I send an error object. If I send an error string (Rollbar.error("test 123")), it works.

[2021-05-28 20:09] waltjones commented on #952
Got it.

I tested this in browser (Chrome/Ubuntu) with no issue: `rollbar.error(new Error('log error'))`

I'm currently testing on v2.22.0, but this is a standard test case and has been tested on earlier versions as well.

You're not transpiling to or from something unusual or worth mentioning? Or a specific browser?

[2021-05-28 20:21] robbporto commented on #952
Nothing that I can think of... We have a Rails app.

We are calling Rollbar when loading the page and then setting the Rollbar configs in the window object. I'm testing with Google Chrome.

[2021-05-28 22:14] waltjones commented on #952
I confirmed on Rails 6.0.3.6, which defaults to the webpacker js bundle instead of sprockets, that adding the specific syntax in application.js works. Maybe a transpiler (e.g. babel) would do something unexpected, and while that may still be true, the default setup does not.

Given a Rails app and modern browser, anywhere `Rollbar.info` or `Rollbar.error('string')` works, the only logical differen

[2021-06-01 17:30] robbporto commented on #952
I'm gonna do more tests here today. I'm experimenting with the React Rollbar library (https://github.com/rollbar/rollbar-react) but SourceMaps are not working.

I'm closing this issue for now and reopening if I find something new.

Thank you for your help!

[2021-06-01 17:30] #952 closed

[2021-06-11 09:22] AndrewJDR opened #955 "rollbar.log calls do not gracefully handle cyclic references in custom object argument"
Repro:
1. Paste the code at the end of this issue into a js file
2. Ensure rollbar is installed (`npm install rollbar`)
3. run `ROLLBAR_ACCESS_TOKEN=<token> node <file>.js`

Result: The error is not reported to rollbar. Instead, a new exception is thrown within rollbar's merge function, which is currently not capable of dealing with cyclic references in the custom object passed to it. This error m

[2021-06-14 13:59] davidutramn opened #956 "Missing 'environment' key. Missing 'revision' or 'head_long' key. 'environment' key must be a string"
I am using angular 12, and rollbar with Jira integration, so I am receiving the error details, and I keep getting this error with the status 422 even though I am sending the environment field (it is correct in the error details).
The rollbar itself is working fine, Am I doing something wrong?

My angular code:

rollbar.ts
[code]

app.module

[code]

[2021-06-14 15:20] waltjones commented on #956
The error message indicates that you are posting to the endpoint for deploy events. (api.rollbar.com/api/1/deploy/) Rollbar.js sends a payload that isn't compatible with that endpoint. The correct endpoint is api.rollbar.com/api/1/item/.

The example code shows you are setting a custom endpoint (`endpoint: environment.ROLLBAR.ENDPOINT`). That shouldn't be necessary except when setting up a proxy o

[2021-06-16 14:45] stalniy opened #957 "Does not support sourcesContent in sourcemaps and require sources to be available for backend code snippets to work"
The latest version of rollbar doesn't support inlined source maps with `nodeSourceMaps: true` option.

I did some debugging and it appears that [this line](https://github.com/rollbar/rollbar.js/blob/master/src/server/parser.js#L256) checks file paths from all frames in spite of the existence of `sourcesContent` property in source map.

This requires me to distribute sources together with compiled

[2021-06-16 17:05] waltjones commented on #957
ch87007

[2021-06-17 13:13] stalniy commented on #957
@waltjones can you provide any approximate ETA when this will be fixed?

[2021-06-17 13:16] waltjones commented on #957
Next release, ~ 2 weeks.

[2021-06-23 12:45] pitis opened #958 "Scrubbing request Body FAILS"
I am trying to sanitize some user input, and when I look into the `Message` tab, passwords are scrubbed, but on the `Occurences` tab I can see in plain text the password in `message.extra.config.data` as well as `custom.config.data`.
The data looks like this {user: {email: "email@email.com", password: "password_that_should_be_secret"}}

This is my rollbar config now:

[code]
So regarding this, the

[2021-06-23 14:47] waltjones commented on #958
@pitis The correct scrub paths for these keys would be:
[code]
More specific keys can be appended if the data are true object keys (not serialized):
[code]

The scrubber will generally only traverse object keys in the payload and will not try to parse and traverse serialized JSON strings. (There are a few exceptions where there is an expected probability of a JSON string being present, and it will

[2021-06-24 11:35] pitis commented on #958
@waltjones thank you very much for the fast reply

[2021-06-24 11:35] #958 closed

[2021-06-28 11:28] #956 closed

[2021-07-02 15:05] waltjones commented on #957
Released in v2.24.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.24.0

[2021-07-06 12:51] stalniy commented on #957
Nice! works thank you!

[2021-07-06 12:51] #957 closed

[2021-07-07 05:27] hamidh2 opened #961 "Getting Access to XMLHttpRequest at 'https://api.rollbar.com/api/1/item/ Error"
I set up the Rollbar for my angular application but after a while I'm getting this error
`
Access to XMLHttpRequest at 'https://api.rollbar.com/api/1/item/' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

how can I overcome this error

[2021-07-07 11:48] waltjones commented on #961
Thank you for the report. I just checked and for me the API is responding as expected with `access-control-allow-origin: *`.

What browser are you seeing this on? Is this intermittent for you, or continuous once you started seeing the error?

[2021-07-07 12:58] hamidh2 commented on #961
@waltjones It happens in Chrome
btw whereas I put the log method in httpErrorInterceptor I'm catching this on every request

[2021-07-07 13:33] waltjones commented on #961
If you open the chrome dev tools network tab, and select the https://api.rollbar.com/api/1/item/ request, what do the response headers look like? Is there an access-control-allow-origin header?

You should hopefully see something like this:
[code]

[2021-07-07 19:11] hamidh2 commented on #961
Request URL: https://api.rollbar.com/api/1/item/
Request Method: OPTIONS
Status Code: 403
Remote Address: 35.201.81.77:443
Referrer Policy: strict-origin-when-cross-origin
6:21
:authority: api.rollbar.com
:method: OPTIONS
:path: /api/1/item/
:scheme: https
accept: */*
accept-encoding: gzip, deflate, br
accept-language: en-US,en;q=0.9
access-control-request-headers: content-type,x-rollbar-access-to

[2021-07-07 21:24] waltjones commented on #961
Those mostly seem to be request headers, and at the moment I'm more interested in the response headers. There is something interesting there though. It looks like you're getting a 403 on an OPTIONS request? The options request should return 204 even when a bad token would cause a 401 or 403 on the POST request. In all of those cases, including the OPTIONS request, the response will have `access-co

[2021-07-08 04:37] hamidh2 commented on #961
when I use curl from the console I'm getting the below result:
![image](https://user-images.githubusercontent.com/41614055/124863123-d2a02d80-dfcb-11eb-81f6-653eff7b0277.png)

Am I supposed to change my access token or put something on my requests headers?

[2021-07-08 14:32] waltjones commented on #961
This looks like it is blocked by Google Cloud before it reaches the API. (api.rollbar.com is hosted on Google Cloud.) Do you know if your IP address might be blocked by Google Cloud for any reason?

As noted above, and as shown with my curl example, the OPTIONS request should succeed with no token or any special headers present.

[2021-08-01 20:56] nielsbauman opened #962 "Request object is not sent in NodeJS express server"
We have the following setup for Rollbar:

[code]

While we do receive the errors, we don't get any `request` info and we thus don't know the request URL (which we need to investigate some errors).
We recently upgraded to version 2.24.0 as an attempt to fix this problem, but it unfortunately did not add the request information (however, we do receive the `telemetry` object in the errors).

Is there

[2021-08-05 14:44] waltjones commented on #962
This requires passing the request object as described here: https://docs.rollbar.com/docs/nodejs#the-request-object

Currently, the Express request object isn't detected or added automatically.

[2021-08-05 14:56] nielsbauman commented on #962
@waltjones I'm calling `rollbar.errorHandler()`, which is defined [here](https://github.com/rollbar/rollbar.js/blob/master/src/server/rollbar.js#L296). The `this.error()` calls at the bottom of that function pass the request object right?

[2021-08-05 15:08] waltjones commented on #962
Oops, yes.

I'll take a closer look.

[2021-08-05 20:13] waltjones commented on #962
@nielsbauman I've tested this on Express 4.16.1 and the request does get attached correctly when an error is handled by `app.use(rollbar.errorHandler());`.

My test route where the error is thrown looks like this:
[code]
If I do not call `next()` with the error:
[code]
This will not get sent to the Express error handler. It will bubble up to a Node `uncaughtException` event and Rollbar will handle

[2021-08-06 11:32] adam-lynch commented on #839
I have also ran into this. To be clear, this **crashes the page**. At least for app.circleci.com, the result is a white page and the error mentioned above is in the console.

I did a little digging and for some reason, `window.onerrror` is `Restricted { }`. I've tried a lot of things (e.g. the `ignoreUrls` option) but the only solution is to not call `Sentry.init`. Unfortunately, there's no way to

[2021-08-06 11:38] waltjones commented on #839
@adam-lynch  What is the SDK fix you are recommending?

[2021-08-06 13:55] adam-lynch commented on #839
@waltjones thanks for the quick reply.

Ah sorry what I wrote didn't really make sense, I got mixed up. My extension uses Sentry and it's the combination of both that kills the page. So maybe it's not the exact same case as the original issue. The error is the same; the rollbar SDK fails at https://github.com/rollbar/rollbar.js/blob/a9c567cd1886f177fa4719a0054bff8280928fce/src/browser/globalSetup.

[2021-08-10 04:48] shadow-light opened #963 "captureIp has no effect for Electron apps"
The `captureIp` config param appears to be ignored when there is no `window`, i.e. Node. Which makes sense when you are capturing errors on a node server. But it also stops capturing IP for Electron apps, where it can be useful to be able to know how many users are affected by an issue.

A workaround is to manually set `payload.request.user_ip` to `$remote_ip` or `$remote_ip_anonymize`.

[2021-08-11 12:36] nielsbauman commented on #962
@waltjones thank you for taking the time to investigate and explain 👍🏻. I've done some investigation myself and it turned out the errors weren't passing through Rollbar's `errorHandler`. Instead, they were logged as uncaught errors. We were able to implement a fix for that and now everything is working as expected.

[2021-08-11 12:36] #962 closed

[2021-08-16 13:47] shadow-light opened #964 "Support client-side source maps"
It would be nice to be able to resolve source maps before submitting data to Rollbar. That way the source map is embedded in the application and is guaranteed to exactly match that version, and nothing needs to be submitted to Rollbar separately. I've achieved this already in this fork: https://github.com/rollbar/rollbar.js/compare/master...shadow-light:gps?expand=1

[2021-08-25 15:18] jerryharrison opened #965 "Mislabeled parameter to allow logging person data."
In the docs it mentions several times to add a `person` property to the request object. However in the code it seems only `rollbar_person` is being respected. I've confirmed this over hours of debugging the library and then digging through the library to note the use of `rollbar_person` vs `person`

docs:
https://docs.rollbar.com/docs/person-tracking
https://docs.rollbar.com/docs/nodejs#section-pe

[2021-08-25 15:21] jerryharrison commented on #965
Ok. I feel dumb. I think all that needs to happen is update the node.js example on this doc: https://docs.rollbar.com/docs/person-tracking

The node.js specific doc https://docs.rollbar.com/docs/nodejs#section-person-tracking does appear to mention `rollbar_person`. Only python example on the specific person tracking page mentions `rollbar_person`.

I'm going to close this since no code change nee

[2021-08-25 15:28] waltjones commented on #965
@jerryharrison Thanks for the report, and I'll take a look at the doc. I'm reopening this until the doc issue is resolved.

[2021-08-26 10:01] philipboeken opened #966 "UUID dependency is outdated"
This package currently requires `uuid@3.0.x`, whereas the current version of uuid is `8.3.2`.

It also gives a warning after running yarn:

[code]

They have made an [upgrade guide](https://www.npmjs.com/package/uuid#upgrading-from-uuid3x), however I'm not familiar with the rollbar.js source code so I'd rather not make a PR for this upgrade.

[2021-08-30 08:31] zidingz opened #967 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-30 11:47] waltjones commented on #967
@zidingz Agreed, there should be a SECURITY.md. For your purposes, this is the link it will point to. https://docs.rollbar.com/docs/responsible-disclosure-policy

[2021-09-10 00:10] Blacksmoke16 opened #969 "Migrate OpenTracing implementation to OpenTelemetry"
The implementation from https://github.com/rollbar/rollbar.js/pull/860 was built against the OpenTracing standard. This standard is considered deprecated in favor of OpenTelemetry (OTLP) [source](https://medium.com/opentracing/merging-opentracing-and-opencensus-f0fe9c7ca6f0). Rollar's implementation should be updated to adhere to the more modern OTLP spec, mainly `setTag` among other changes.

In

[2021-10-04 21:48] freitaga opened #970 "Person tracking with Express & Passport not working"
Hello!

I have followed the instructions in the docs here:

https://docs.rollbar.com/docs/person-tracking

In our backend, `req.user` is present in each request from passport middleware. These docs state that no further action is necessary with passport integration. In the rollbar issue tracking dashboard, a person has yet to have been tracked on an issue.

Any ideas on what could be going wrong h

[2021-11-02 16:44] bondom opened #974 "Automatic Download doesn't work because of wrong url for source maps"
When rollbar tries to download my minified bundles automatically, for some reason it uses url with 2 slashes at the beginning.
When I open Source Maps tab I see rows with
Minified url is like: `//custom-url.com/my-custom-bundle.js`
Version is `unknown`.
And when I open a detailed view of the row, I see: `Failed to download source map. HTTP unknown for minified JS file at ...`
When I add my source

[2021-11-10 16:23] jakehockey10 opened #975 ""Item sent with null or missing arguments." when the error is not null or missing"
Hello,

We are occasionally seeing "Item sent with null or missing arguments." in our logs but when reproducing it, the debugger shows that we are indeed sending an object and not null:

![image](https://user-images.githubusercontent.com/1821383/140838702-5de840a7-c54e-49da-800a-89da1cb8b7b7.png)

Can I get some help figuring out why this is showing up in our Rollbar instance?  I'd like to stop th

[2021-11-10 16:49] waltjones commented on #975
That method needs either a string or `Error` object. It can receive other objects and will pass them as extra data in the occurrence, but the first arg should either be a string message or an object that satisfies `instanceof Error`.

[2021-11-10 16:51] jakehockey10 commented on #975
I appreciate the clarification and such quick response.  Would you be able to point me in the direction of the documentation on that so I can confirm we don't have any other places where we are using the error method wrong?  I was strictly basing my usage off of the TypeScript typings file saying I could pass in just about anything.  But your explanation makes sense.  Thank you

[2021-11-10 17:08] waltjones commented on #975
This is probably the most complete and accurate, though it fails to say the one thing I pointed out above -- either the message or error object needs to be present.

https://docs.rollbar.com/docs/rollbarjs-configuration-reference#rollbarlog

Argument order doesn't matter until it does. For example, passing two error objects, the first will be used and the next will be converted to extra data. Same

[2021-11-10 18:49] jakehockey10 commented on #975
Thank you!

[2021-11-16 14:38] aliacik opened #976 "How to only enable error logging if in production environment?"
I am implementing a Rollbar in my angular 8 project. I want the angular ErrorHandler class to be used in the Local environment. But I want the rollbar to be used in the product environment.

[2021-12-01 07:47] Mathiou04 commented on #839
I think we get similar issues with some extensions generating calls to Rollbar.

<img width="1140" alt="Capture d’écran 2021-12-01 à 08 44 21" src="https://user-images.githubusercontent.com/14098361/144192594-c7a224f1-8fbf-4f45-8eb3-70559f099c73.png">

We also get sometimes error in included JS files from thirdparties.

I wonder if we could have a configuration option in the SDK to avoid reporti

[2021-12-13 10:42] liamfirth opened #978 "CSP not logging in Safari"
Safari doesn't log content security policy violations because it doesn't emit the securitypolicyviolation on the window object, only on the document object. Rollbar JS only listens on the window object:

`this.addListener("contentsecuritypolicy", this._window, "securitypolicyviolation", null, t, !1)`

https://github.com/rollbar/rollbar.js/blob/a9c567cd1886f177fa4719a0054bff8280928fce/src/browser/t

[2021-12-13 19:25] chrillep opened #979 "nextjs example"
like sentry could you please add examples of usage client and serverside for

- nextjs
- nextjs with custom server

ref:
- https://github.com/vercel/next.js/tree/canary/examples/with-sentry

- https://github.com/getsentry/sentry-javascript/tree/master/packages/nextjs

[2021-12-17 23:49] Montana opened #980 "Unhandledrejection event does not contain a reason field?"
Client side errors get tracked for us via Rollbar. We keep getting this error which is not very useful from Safari and Chrome:

[code]

I traced this to Rollbar where it finally creates this message when it can't figure out the error inside the `unhandledrejection` event handler:

[code]
This only means that a Promise that got rejected with a false value has been handled by this script. I could in

[2021-12-21 08:22] latel commented on #263
any progress here?

[2022-01-10 23:40] zjullion opened #982 "MaxListenersExceededWarning being thrown by src/server/telemetry.js"
Hello,

We're using `rollbar.js` in a number of AWS lambdas. We will sometimes get the following error:

[code]

This error appears to occur after sending 5+ (the exact number varies) errors within a few minutes of each other, using the following:

[code]

From what I can gather from the code here, it's being thrown because of this line: https://github.com/rollbar/rollbar.js/blob/759af088816937385

[2022-01-11 02:04] waltjones commented on #982
Thanks for the detailed report and repro. This should be enough detail.

[2022-01-11 17:23] waltjones commented on #982
@zjullion I think I see what's happening.

The code path where the listener is added wraps all calls to `http.request()` and adds the listener to detect and report any errors.

If the wrapper is initialized twice (or more), you will get nested wrappers. Each nested wrapper will add it's own listener, and all of these listeners are added to the same request.

Normally this would never happen, but I

[2022-01-11 22:39] zjullion commented on #982
Thanks for the update! This is just a background error for us now, so we aren't in a huge hurry to make any changes, but we will update our rollbar version when a fix becomes available.

[2022-01-28 11:00] goibon opened #985 "Configuration.transform incorrectly typed"
Reading up on [how to use source maps when you serve your code on multiple domains](https://docs.rollbar.com/docs/source-maps#using-source-maps-on-many-domains) I seem to have run into an issue where the [transform function of the configuration object](https://github.com/rollbar/rollbar.js/blob/v2.24.0/index.d.ts#L92) is not properly typed.

The code sample from the source map documentation (as of

[2022-02-15 14:36] Akallabet commented on #966
I hate to that guy, but is there an update?

[2022-02-16 03:47] yamotuki opened #989 "Rollbar.init() not accept "module" option field when use locals"
# Problem
I wanted to use "Locals".

I called `init` function with bellow options.

[code]

Then I get errors.

[code]

The reason is that options have not "module" field. Because type not accept "module".

index.d.ts descrive as bellow.

[code]

# Workaround

I found that the code with follows options can be excuted.

[code]

# suggestion for resolution

rollbar/src/server/rollbar.js:65 should be

[2022-02-23 19:18] waltjones commented on #955
We'll address this in the next release. I'll update here with status.

[2022-02-25 19:20] #955 closed

[2022-03-01 07:11] AndrewJDR opened #991 "Consider a max execution time parameter for all object traversal functions"
Hi,

On the heels of an issue described here:
https://github.com/rollbar/rollbar.js/pull/990#issuecomment-1055079497

I became curious about whether rollbar.js has any mechanisms to prevent its traversal functions that are used for scrubbing custom data and serialization of custom data (`merge`, `clone`, etc) from blocking the event loop for very long (or even infinite) periods of time. This is pr

[2022-03-14 10:15] swhitf commented on #842
This is still a problem as of March 2021.  It's cost me at least a full day of work time on top of the time for your support team as I opened a ticket about it.  The SDK types completely contradict the documentation and it doesn't say this anywhere.  You openly acknowledge that "the docs could be improved" nearly a year ago but they are still wrong.  Pretty disappointing from a commercial product

[2022-03-15 15:34] cyrusradfar commented on #979
Thank you @ijsnow. Thanks @chrillep for the nudge!

[2022-03-15 15:36] #979 closed

[2022-03-15 16:13] yjukaku opened #999 "Error: SyntaxError: Unexpected end of JSON input when server response has no body but JSON content type"
Our server responds to a certain endpoint [with headers but no body](https://api.rubyonrails.org/classes/ActionController/Head.html).

Expected result:
No error is thrown by rollbar.js

Actual result:
The rollbar.js method `scrubJson` fails on these responses because it tries to parse the empty body as JSON.

https://github.com/rollbar/rollbar.js/blob/a9c567cd1886f177fa4719a0054bff8280928fce/src/b

[2022-03-16 02:58] paustint opened #1000 "Unable to comment on PR - this issue is to notify team that PR #997 is ready for re-review"
@waltjones - RE: PR #997

There appears to be a github bug that only impacts this repo, but I am unable to comment or re-request your review on the PR.

I have made the requested changes and the PR is ready for your review again.  Thanks for the detailed feedback!

![image](https://user-images.githubusercontent.com/5461649/158507608-fdba7187-6c41-4cf0-90fc-87cff4ee89cc.png)

[2022-03-16 19:48] waltjones commented on #1000
Approved and merged. Thank you!

[2022-03-16 19:48] #1000 closed

[2022-03-16 22:30] #966 closed

[2022-03-16 23:44] yjukaku commented on #999
Please reopen as this is now an issue again 😄

[2022-03-17 00:22] ijsnow commented on #999
I’ll look into it! I too couldn’t get your test to fail, but could you spin up a minimal repo that shows the issue?

[2022-03-17 12:52] yjukaku commented on #999
Yep, here's one written in the Fastify JS framework: https://glitch.com/edit/#!/boundless-separated-antimony

The POST to `/` responds with nothing but the header `Content-Type` set to `application/json`. That makes Rollbar's scrubJson function error out, as you can see in the console on that page.

[2022-03-17 14:19] waltjones commented on #991
The user transform runs after scrubbing, so as you note, it would be too late.

As far as I know, all data added to the payload is already depth limited, except when a custom/extra object is added. Even when local variables are added in Node, those are also depth limited.

If the user were writing code for this, I'd handle it at the point where the data is attached. That code path knows the most a

[2022-03-17 16:52] waltjones commented on #985
The payload structure is documented here: https://explorer.docs.rollbar.com/#tag/Item

When you say incorrectly typed, are you referring to the Typescript declaration?

[2022-03-17 17:03] waltjones commented on #980
The code attempts to supply a title for the Rollbar report. What would be a better title if there is none in `evt.reason` or `evt.detail`?

[2022-03-17 17:16] waltjones commented on #975
This doc change has been submitted.

[2022-03-17 17:16] #975 closed

[2022-03-17 17:23] waltjones commented on #974
This is handled in the Rollbar back end, and not in the Rollbar.js SDK. The request needs to go to Rollbar support (support@rollbar.com or via chat).

[2022-03-17 17:23] #974 closed

[2022-03-17 17:45] waltjones commented on #935
For further follow up on this, please contact Rollbar support (support@rollbar.com or via chat), since this is not a Rollbar.js SDK related issue.

[2022-03-17 17:45] #935 closed

[2022-03-17 18:20] waltjones commented on #989
This is an issue with the type declaration.

[2022-03-17 19:10] #989 closed

[2022-03-17 19:38] ijsnow commented on #999
Sorry, but I'm unable to recreate the issue. I saw an error pop up before I changed to token to my personal projects token in the rollbar config. I recreated the same endpoint in a rust server as well for the nextjs example in the rollbar-react project and can't get what you're describing. The only time I saw a JSON error was when I tried parsing the response body explicitly in the promise respons

[2022-03-17 19:41] yjukaku commented on #999
I'm not sure why it's not reproducible for you using the glitch link, but here's a screencast from right now:

Using Chrome 99
Mac OS 12.2.1
https://user-images.githubusercontent.com/908365/158882611-5909ae77-8304-4ce5-bf4b-6476fb80c244.mov

[2022-03-17 20:07] yjukaku commented on #999
Here's a fork of the react-rollbar Github repo with changes necessary to the nextjs server to trigger the error.

[2022-03-17 21:27] ijsnow commented on #999
Ah, I wasn't specifying the request's headers as application/json, just the response! Thanks for being responsive and helping me reproduce!

[2022-03-18 15:17] eugene1g commented on #961
@waltjones FYI I'm also getting the same behavior - CORS preflight dies with 500 in Chrome (but works from CLI). It could be some client-side blocking, will try to investigate more.
![CleanShot 2022-03-18 at 11 15 38@2x](https://user-images.githubusercontent.com/147496/159030587-92f3a464-944b-40f3-bc07-cfbc1f36e745.png)

[2022-03-18 20:26] ijsnow commented on #999
I went ahead and opened another PR with the same change. I couldn't cause a test to fail either. I'll talk with another community member about merging it since it shouldn't be throwing an error, but I'll also note that the problem goes away when I prevented the server from incorrectly broadcasting that it is responding with JSON.

[2022-03-18 21:18] #999 closed

[2022-03-20 06:19] artooras opened #1006 "Cross Origin Request Blocked on Firefox"
I'm receiving the following error on Firefox, but not on Chrome or Safari.

[code]

I'm using `rollbar` in a `Next.js` application by inserting the [Browser JS snippet](https://docs.rollbar.com/docs/browser-js) in the `Head` of the `_document.js`.

Anyone else observed this behaviour?

[2022-03-20 07:51] AndrewJDR commented on #991
Hi @waltjones just an important heads up - Now that #990 is in versioned release, there exists a potential for hard lockups within rollbar due to some kind of infinite recursion -
https://github.com/rollbar/rollbar.js/pull/990#issuecomment-1055079497

If an internal depth or execution time check is too involved to implement, perhaps just reverting the circular reference commit for now might be bes

[2022-03-20 13:32] wichopy commented on #976
This is dependent on your tooling. A lot of companies reuse the same bundles in stage test and prod. In those scenarios the simplest thing is keeping a mapping of your production origins and mapping it to stage / prod in rollbar

[2022-03-21 16:26] #978 closed

[2022-03-22 13:36] waltjones commented on #1000
Thank you! Approved.

[2022-03-23 16:06] goibon commented on #985
@waltjones Thank you for the link, that does clarify a bit how the payload structure is expected to look 👍

Yes exactly, that's why I linked to the `index.d.ts` file (although I realize now that I linked to `master` instead of the 2.24.0 so I'll update the link)
On line 92 of [index.d.ts](https://github.com/rollbar/rollbar.js/blob/v2.24.0/index.d.ts#L92) in v. 2.24.0 the `transform` function is ty

[2022-03-24 21:36] twschiller opened #1010 "Add support for Error cause field"
- Node and modern browsers [support an optional "cause" field](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/Error#rethrowing_an_error_with_a_cause)
- For debugging re-thrown errors, it would be great if rollbar.js would support the nested errors and properly include the causes in the payload/stack trace

[2022-03-24 23:35] cyrusradfar commented on #1010
@twschiller Can't make promises, atm, butI  have been following the development of the Cause standard that's floating around.

Is this the proposal that you want us to support: https://github.com/tc39/proposal-error-cause

[2022-03-25 00:45] twschiller commented on #1010
Thanks for the quick response @cyrusradfar. Yes, that link is for the stage 1 proposal

- IIRC: made it into the language: https://tc39.es/ecma262/multipage/fundamental-objects.html#sec-installerrorcause
- Archived Stage 4 proposal: https://github.com/tc39/proposal-error-cause
- Finished proposal tracking: https://github.com/tc39/proposals/blob/main/finished-proposals.md

[2022-03-25 08:23] JensMadsen opened #1011 "Error 'Headers undefined' in bundle on IE11"
I get the error:
[code]
When importing (`import Rollbar from 'rollbar'`) in production mode in IE11. I inspected the minimized bundles and it seems that the polyfills for fetch.Headers are not included in the bundles (e.g. `/dist/rollbar.min.js`, v2.24.1). I suspect that this is why it works in e.g. Chrome but not in IE11 which does not have the fetch API?

[2022-03-26 08:40] fregante commented on #1010
@cyrusradfar I'd expect the `.cause` chain to be displayed similarly to this:

<img width="809" alt="Screen Shot" src="https://user-images.githubusercontent.com/1402241/160231759-b7eec939-d3b9-4329-98d7-b07be425518d.png">

[2022-04-05 08:53] jgb opened #1013 "rollbar snippet newest version results in Access Denied from CDN?"
Hello,

I've just updated our rollbar snippet js to the latest version, which links to https://cdn.rollbar.com/rollbarjs/refs/tags/v2.24.1/rollbar.min.js which results in an Access Denied error given by the cdn.

Could this be fixed since it breaks rollbar?

Thanks!

jgb

[2022-04-05 12:36] cyrusradfar commented on #1013
@jgb we fixed the underlying issue. Please try again and thank you for reporting!

[2022-04-05 12:36] #1013 closed

[2022-04-07 20:27] waltjones commented on #1011
Rollbar.js doesn't provide a polyfill, as the code path is only executed when the application code uses fetch either natively or via its own polyfill. That said, I'm sure there's more than one fetch polyfill that doesn't implement `Headers`. Thank you for the report, and I'll have a PR ready shortly.

[2022-04-07 21:10] #1010 closed

[2022-04-11 15:59] ccollins opened #1016 "Dependencies Incorrect with UUID. Still pull 3.0.x"
It looks like UUID was removed as a dependency here:

`package-lock` still has a requirement of `3.0.x` and install is complaining.

Should this be updated?

[2022-04-13 07:11] rlsf opened #1021 "Prototype Pollution in async < 3.2.2"
[code]
npm audit reports rollbar as vulnerable due to its dependency on async v1.2.1.

[2022-04-13 07:42] robinsturmeit commented on #1021
This has been fixed in `main` already (it's on `3.2.3` in `package.json`), but the question remains when there will be a release with the change

[2022-04-15 15:07] waltjones commented on #1016
I'm only seeing uuid in package-lock.json as a dependency of other dev dependencies. I'm not seeing it anywhere as a production dependency or related to the production dependency that was removed.

If you're seeing something different, please link to the specific lines in package-lock.json.

[2022-04-15 15:16] waltjones commented on #1021
Released in 2.25.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.0

[2022-04-15 15:16] #1021 closed

[2022-04-15 15:17] waltjones commented on #1016
Released in 2.25.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.0

Please reopen if there is still an issue.

[2022-04-15 15:23] waltjones commented on #1010
Released in 2.25.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.0

[2022-04-15 15:24] waltjones commented on #999
This is released in 2.25.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.0

[2022-04-15 15:25] waltjones commented on #989
This is released in 2.25.0. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.0

[2022-04-15 15:28] waltjones commented on #1016
I'm seeing https://github.com/rollbar/rollbar.js/issues/966 now, and better understand why the dev dependencies are a concern. I'll look into what can be done.

[2022-04-21 04:00] jorgenbuilder opened #1023 "React 18"
Is there a version of the js client that does not throw React 18 errors? Also curious why a lib that just needs to grab and report errors needs react in it at all?

[code]

[2022-04-21 04:05] jorgenbuilder commented on #1023
Looks like this might be a misunderstanding on my part. Rollbar is just the last scope to catch the error, which led me astray :)

[2022-04-21 04:05] #1023 closed

[2022-04-25 20:02] CharlyVilango opened #1024 "Missing fields on custom errors"
Hi everyone!

We're using Meteor framework in our project.
So in most places, we're throwing a `Meteor.Error` error, instead a common `Error`, that basically is a kind of wrapper. But the thing, is that `Meteor.Error` has some custom fields that we would like to see in rollbar to have more accurate information.

This is the Meteor error definition: https://github.com/meteor/meteor/blob/devel/packa

[2022-04-28 18:21] xxtanisxx opened #1026 "Transform options not overriding default payload"
Unclear when this change was made. Previously, `transform()` would allow us to override default item payload. Now it no longer does this.

At the current moment [`userTransform`](https://github.com/rollbar/rollbar.js/blob/a9c567cd1886f177fa4719a0054bff8280928fce/dist/rollbar.js#L1826)  comes before [`itemToPayload`](https://github.com/rollbar/rollbar.js/blob/a9c567cd1886f177fa4719a0054bff8280928fc

[2022-05-27 14:44] CharlyTalavera commented on #1024
Yeah i'm having the same issue. Any update about this?

[2022-06-03 17:31] waltjones commented on #1026
These have been in this order since at least the beginning of 2.x in 2017 (5 years ago.)

If your user transform function throws an uncaught error, the handler will remove the user transform from the config, and will log an error to the application log.

If you can show what your function is doing, maybe there is something more specific that has changed, or maybe an error is being raised.

[2022-06-03 17:58] waltjones commented on #1024
Extra data is supported in the key `error.rollbarContext`, and this feature is enabled by setting the config key `options.addErrorContext = true`.

If your handler can use that key, you should be good to go.

In the future, it might make sense to allow specifying the key name in the config (`options.addErrorContext = 'extraField'`).

[2022-06-03 18:05] waltjones commented on #1006
The preferred CDN URL is at cdn.rollbar.com. e.g. https://cdn.rollbar.com/rollbarjs/refs/tags/v2.24.0/rollbar.min.js

Rollbar has full control over the response headers from that URL, which is one reason to prefer it. I checked the snippet on the doc page, and it's using the correct URL. If you know of another doc location that's still using cdnjs.cloudflare.com, please post a link here.

[2022-06-03 18:05] #1006 closed

[2022-06-03 18:14] waltjones commented on #991
@AndrewJDR Any chance you have a minimal custom data object that causes this condition? This is tested with several kinds of recursive data. I'd like to figure out what's different about the object you're using.

[2022-06-04 05:38] AndrewJDR commented on #991
@waltjones The condition only happens in our production environment, so it's a little tricky, but I'll try to find a way to capture it.

[2022-07-07 18:05] dryzhkov opened #1032 "`retryInterval` option is missing in type definitions"
The `Configuration` interface does not contain `retryInterval` even though it is documented https://docs.rollbar.com/docs/rollbarjs-configuration-reference#reference

[2022-07-27 17:11] phil-losty-rb opened #1036 "Wrapped Rollbar Node SDK running into timeout issues"
Rollbar API timeouts are a problem for us. We've wrapped the Node SDK in a generous 200ms timeout and even that frequently is not enough. We were forced to add that timeout wrapper because Rollbar is sometimes so slow that minor warnings in our system become timeouts for our customers.

[2022-08-01 15:23] #1036 closed

[2022-08-04 13:04] tan-linx opened #1040 "Logging errors to rollbar from service worker script in chrome extension with manifest v3 does not work"
Logging errors to rollbar from the service worker script within a chrome extension does not work.
Does anyone have the same issues regarding building a chrome extension with manifest v3 and has found a solution?

We investigated this issue but didn't get further. In manifest v3, instead of background pages, service workers are used which don't have access to the DOM. But it seems like rollbar stil

[2022-08-09 13:38] agentfuture commented on #1040
As I understand for now is that rollbarjs uses `XMLHttpRequest` method which is not allowed in service worker scripts as of chrome manifest version 3. It should use new fetch API.

https://github.com/rollbar/rollbar.js/blob/c2c5310df90cdefcb8cfe8142377a4ee3987796b/dist/rollbar.js#L3452

[2022-08-19 11:33] terencehonles opened #1041 "distribute as ECMAScript module (ESM)"
I am using rollbar.js with Angular and by not providing an ESM distribution Angular complains this disables potential optimizations that ESM would allow. I am not sure if this is currently on the roadmap, but this is just a friendly request for this. I haven't looked at the code to see how much work this might be, but I figured I might as well make sure this was on the radar.

This is the specific

[2022-09-13 07:17] JensMadsen commented on #1011
@waltjones any news on this?

[2022-09-13 13:51] wegry opened #1043 "SyntaxError: The string did not match the expected pattern. with rollbar@2.24.0 and 2.25.1"
https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.js#L5373

Seems to be throwing `SyntaxError: The string did not match the expected pattern` in Safari 16. In Safari 15.6, this wasn't the case.

[2022-09-13 15:16] #1011 closed

[2022-09-13 15:16] #963 closed

[2022-09-13 20:45] wegry commented on #1043
This issue might be CSP settings we have in the page around rollbar and not rollbar itself...

[2022-09-13 20:45] #1043 closed

[2022-09-14 18:01] waltjones commented on #1011
@JensMadsen Just now released in v2.25.2. https://github.com/rollbar/rollbar.js/releases/tag/v2.25.2

[2022-09-14 18:03] waltjones commented on #963
Released in v2.25.2, https://github.com/rollbar/rollbar.js/releases/tag/v2.25.2

[2022-09-27 16:01] dwilches commented on #842
Hello,

I'm new to Rollbar and this issue also cost me some hours before I could configure Rollbar. Being such an old issue (it was reported more than 1 year ago), could you prioritize it so newcomers don't need to lose time on it and get a bad impression?

What I find confusing:
- The mixing of case. Could you decide on which case to use and be consistent everywhere?
- Allowing this property to a

[2022-10-11 22:15] lukecaan commented on #935
Still not fixed? To be honest this is annoying enough to consider switching to another product

[2022-11-04 13:31] dkniffin opened #1048 "Telemetry for initial scripts and assets"
Hello. I was wondering if it's possible to configure rollbar.js to report telemetry data for network requests made to pull in JS and CSS on initial page load. For example, if I've got `<script src="application.js" />` in `<head>`, I'd like to see those requests in the telemetry.

[2022-11-12 18:38] eemorozov opened #1050 "Method to destroy Rollbar instance with removing all event listeners"
Hello.
I use Rollbar along with @rollbar/react. My React apps have 2 types: containers and sub-applications.
Containers dynamically load sub-applications. Each app has its own Rollbar project and therefore initialise separate Rollbar instance.
There can be situation when I navigate across apps (new app loaded and mounted, old unmounted).

Then if in some app unhandledrejection event is happened, R

[2022-11-14 03:12] penguinsource opened #1052 "Sending metadata/custom payload with my log"
Hello!

I am using a Javascript / Browser JS integration of rollbar and would simply like to send custom payload (JS) objects which are not stringified, so I can easily understand it.

Is this possible? I have guessed and checked as well as verified docs (https://docs.rollbar.com/docs/browser-js) but nothing points to it.

The best I can get is stringifying an object but then it prints out very un

[2022-11-14 03:14] penguinsource commented on #1052
Quick followup:
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/2596623/201567472-8b550a6c-3c52-49fc-8bc4-a921005dfd75.png">

This looks like what I would like to do but my rollbar instance does not have the function `scope` available. I am using the latest version (2.25.2)

[2022-11-15 19:39] akosasante commented on #982
I had a similar issue when running my tests (using Jest) in CI (Github Actions). Some of my tests were integration tests and I was testing failure cases, which happened to have `rollbar` involved. After realizing that the `EventEmitter` warnings were being caused by roller I just turned off `autoInstrument` config when running in test environment, and that seems to have solved the problem for me.

[2022-11-16 02:03] waltjones commented on #1040
Thank you for these reports. We're working on this and aiming to have a release by Nov 30.

[2022-11-23 22:35] jccr commented on #1040
@waltjones That's great to hear, also ran into this blocker with our MV3 chrome extension.

In the meantime, you may be able to workaround this by using [apple502j/xhr-shim](https://github.com/apple502j/xhr-shim#:~:text=use%20it%20inside%20service%20workers) to "polyfill" XHR back into your service worker.

[2022-11-30 19:31] waltjones commented on #1040
This has been released now in v2.26.0.