[2013-06-05 08:05] orloffv opened #3 "match Exception"
[code]

If errMsg is jQuery.Event() then TypeError: Object #<Object> has no method 'match'

[2013-08-09 23:22] #3 closed, assigned to nobody

[2013-08-14 10:23] sandstrom opened #4 "Bower support"
Packaging the Rollbar code into the base JS code is useful, for mobile clients (especially) and for desktop clients too.

Although this works already — and it's great that you provide the source on Github in addition the the CDN file — Bower support would make it easier.

With Bower you can still use your Github repo for distribution (similar to how Ruby gems can point to a repo).

http://bower.io

[2013-09-03 11:34] euangoddard opened #6 "$(document).one() is not correctly supported"
Due to the way $(document).one() works under the hood in jQuery the rollbar decorator does not correctly wrap the call to $(document).on().

[2013-09-04 19:24] #6 closed, assigned to nobody

[2013-10-18 19:58] wvl opened #8 "Default level should be overridable"
If I configure rollbar with a default level, then setting a different level doesn't work:

[code]

[2013-10-18 22:02] #8 closed, assigned to sbezboro

[2013-10-30 08:00] brianr opened #9 "Callbacks don't work if _rollbar.push() is called before _rollbar is initialized"
See gist: https://gist.github.com/brianr/7228654

This will happen if you call `_rollbar.push("foo", callback);` before rollbar.js is downloaded and `_rollbar` is initialized -- _rollbar is just an array, so it ignores the second arg. Fix is to provide a way to pass a callback inside the first param.

[2013-11-07 04:32] CubedEye opened #10 "Bug in Instrumenting jQuery snippet"
Hi,

There is a bug in the jQuery snippet from the rollbar website. The issue is the way it's storing the orginal and wrapped event handler callback functions in the `a` object (see below), for the `.on()` and `.off()` replacements.

It can get into a state where rollbar is removing the wrong callback when calling `.off()` if the functions signatures are the same despite being different functions.

[2013-11-19 01:18] #10 closed, assigned to nobody

[2013-12-05 20:21] brianr opened #12 "level arg not respected when sending an "uncaught" or "trace" report."
Via @JustinFrye:

[2013-12-09 21:01] brianr opened #13 "jquery ajax errors: capture HTTP verb"
Should be able to get this by looking at the jqXHR object. http://api.jquery.com/ajaxError/

[2013-12-10 20:37] #13 closed, assigned to nobody

[2013-12-10 22:22] #12 closed, assigned to nobody

[2014-01-15 19:03] michael-benin-CN opened #14 "Make sourceMapUrl available in the config instead of using a comment."
According to the docs:

NOTE: if using the sourceMappingURL method, you will need to add this comment manually to the bottom of the generated minified file, as Closure Compiler doesn't provide a way to do this automatically.

What you _can_ do is:

Example from:
https://github.com/closureplease/grunt-closure-tools

output_wrapper: '"(function(){%output%}).call(this); // comment that shouldn't be m

[2014-01-29 04:03] #14 closed, assigned to nobody

[2014-02-28 12:14] interesse opened #15 "'TypeError: undefined is not a function' when using the jquery plugin and a .ready() function with optional jQuery argument"
According to the jQuery documentation (http://api.jquery.com/ready/)

This argument is not passed on to the wrapped .ready() function and a `TypeError: undefined is not a function` is reported to rollbar.

[2014-03-03 23:55] #9 closed, assigned to nobody

[2014-03-14 14:31] murbano83 opened #19 "checkIgnore not works correctly."
Thats doesn't work with last version:

[code]

I get this error:

[code]

@brianr

[2014-03-14 15:13] #19 closed, assigned to nobody

[2014-03-14 23:10] brianr opened #20 "Rollbar.error() with a non-Error error argument results in a 422"
The following generates a payload that doesn't match the [API Schema](https://rollbar.com/docs/api_items/), and is rejected by the api server with a 422.

[code]

Thanks to @nrutman for the report.

[2014-03-17 16:06] murbano83 opened #21 "_rollbarConfig IE8 Error"
Hi,

The new script for Browser JS are not working on IE8 browser and our app cannot load.

[code]

![windows 7 ie8 running](https://f.cloud.github.com/assets/4415557/2438096/0a19e2f0-adee-11e3-8aea-4f9d92949c36.png)
![windows 7 ie8 running](https://f.cloud.github.com/assets/4415557/2438061/a1d8c2b0-aded-11e3-94de-9ef3edf9c9d3.png)

[2014-03-18 19:01] #21 closed, assigned to nobody

[2014-03-19 13:12] sandstrom opened #22 "In jQuery plugin, ignore xhr status code 0"
In Rollbar jQuery plugin [that wraps all ajax calls], ignore xhr status code 0. That's typically only when the user navigated away in the midst of an xhr (common, and typically harmless).

[code]

[2014-03-26 22:13] coryvirok opened #24 "Callbacks to .debug/.info/.error/... aren't called if reportLevel filters the item"

[2014-03-26 23:41] #4 closed, assigned to nobody

[2014-03-26 23:42] #15 closed, assigned to nobody

[2014-03-27 00:24] #22 closed, assigned to nobody

[2014-03-27 01:33] #24 closed, assigned to nobody

[2014-03-27 01:34] #20 closed, assigned to nobody

[2014-04-21 23:50] cfurrow opened #25 "Allow script host filtering as a configuration option"
As a convenience, it would be nice to supply a list of partial host strings that would feed into the Rollbar.js library, and only report errors from scripts that come from this whitelisted set of hosts.

Example:

[code]

[2014-05-14 02:16] kmontag opened #26 "Context for Rollbar.wrap"
It'd be great to be able to pass context along with exceptions thrown in functions wrapped by `Rollbar.wrap`, as can be done with `Rollbar.log` and variants. A concrete use case would be passing details about a jQuery event along with its wrapped handler.

It may also make sense to allow a custom message/callback as with `Rollbar.log`, but the context object seems like the most useful to support.

[2014-05-26 14:59] altano opened #27 "Better support for webpack / browserify"
I hit some stumbling blocks while trying to integrate rollbar.js with a [webpacked](http://webpack.github.io/docs/what-is-webpack.html) bookmarklet I am creating.  Here are some things you could do to make it easier for future users:
- _rollbarConfig is expected to be global but this isn't documented.
- shim.js, specifically the loadFull() function, expects to be called before window.load. I don't

[2014-06-02 19:44] brianr opened #28 ""enabled" flag"
Some users prefer to disable in some environments (i.e. development) while leaving the code intact. We should have a global "enabled" flag (default true), which prevents data from actually being sent over the network.

[2014-06-02 19:46] brianr opened #29 ""logToConsole" flag"
Some users would like to have all data sent to Rollbar logged to the console, as well as sent over the net. (Or instead of, when used in combination with the "enabled" flag described in #28).

When true, a line should be written via console.log() (or the appropriate console function) containing the same/similar data as passed to the Rollbar call. Ideally, this would enable Rollbar to be a drop-in

[2014-06-11 04:08] #27 closed, assigned to nobody

[2014-06-11 19:11] coryvirok opened #30 "IE11 stack traces not handled properly"
From @altano (issue #27):

It might be worth noting that computeStackTraceFromStackProp() doesn't work in IE11, even though IE totally supports the .stack property. The regular expressions appear to only be written for Firefox and Chrome. Since the stack gets computed by the fallback method, I don't care, but I thought I'd just bring it to your attention.

[2014-07-17 21:45] baer opened #32 "You forgot to tag your RC11 release"
You forgot a tag. Your dist and release directories have diverged.

[2014-07-17 21:52] #32 closed, assigned to nobody

[2014-07-23 17:31] twhid opened #34 "v1.1/rollbar.commonjs.min.js is 404"
From the browserify example: https://github.com/rollbar/rollbar.js/blob/master/examples/browserify/README.md

GET http://d37gvrvc0wt4s1.cloudfront.net/js/v1.1/rollbar.commonjs.min.js

HTTP/1.1 404 Not Found
Content-Type: text/html; charset=UTF-8
Transfer-Encoding: chunked
Connection: keep-alive
Server: nginx/1.6.0
Date: Wed, 23 Jul 2014 17:29:46 GMT
Content-Encoding: gzip
Age: 108
X-Cache: Error f

[2014-07-23 18:04] #34 closed, assigned to nobody

[2014-07-29 20:06] #25 closed, assigned to nobody

[2014-07-30 02:54] nodesocket opened #36 "README code still using v1.1"
Am I wrong, or is the README still pointing to `v1.1` when `v1.1.2` is out?

[code]

[2014-07-30 20:30] #36 closed, assigned to nobody

[2014-08-05 19:58] guzart opened #37 "requests made from browserify fail"
I am using browserify and its [http module](https://github.com/substack/http-browserify) sends the user credentials by default (`withCredentials: true`)

Because rollbar returns a `Access-Control-Allow-Origin: *` chrome complains that this is not allowed.

Maybe a way to send additional parameters to `SETTINGS.transport` options would be nice.  If you have an idea for an implementation I could do

[2014-08-06 19:22] #37 closed, assigned to nobody

[2014-08-09 18:13] ghost opened #38 "Stack overflow in Util.merge in IE8"
Consistently getting an infinite loop in IE8 at this clause:
`c = g[b], d = a[b], g !== d && (j && d && (d.constructor == Object || (e = d.constructor == Array)) ? (e ? (e = !1, f = []) : f = c && c.constructor == Object ? c : {}, g[b] = Util.merge(f, d)) : void 0 !== d && (g[b] = d))` (in `Util.merge`)

Even `Util.merge([], []);` will cause the error. I'm using Rollbar in conjunction with Ember,

[2014-08-10 00:19] #38 closed, assigned to nobody

[2014-08-13 15:29] eduardocampano opened #39 "Callback documentation error"
The documentation at https://rollbar.com/shopbeam-staging/shopbeam-staging/docs/notifier/rollbar.js/ says that the uuid can be retrieved with like this:

[code]

But I found out that it needs to be `data.result.uuid`

[2014-08-13 17:15] #39 closed, assigned to nobody

[2014-08-19 18:05] coryvirok opened #41 "Add a callback for unhandled exceptions"
The callback will be given the same info as callbacks to `Rollbar.error()`.

[2014-08-29 04:31] jamestyrrell opened #43 "Add a hook to set a custom fingerprint"
Custom fingerprinting is a feature of the API but you can't dynamically fingerprint an Item prior to be being sent to Rollbar with the JS API.

[2014-09-02 21:17] #28 closed, assigned to nobody

[2014-09-03 02:33] #26 closed, assigned to nobody

[2014-09-03 02:33] #41 closed, assigned to nobody

[2014-09-03 02:37] #43 closed, assigned to nobody

[2014-09-05 21:43] #29 closed, assigned to nobody

[2014-10-06 14:36] twhid opened #51 "add rollbar.commonjs.js to npm (+ UMD)"
Be nice to be able to add it to a package.json file. Unless I'm mistaken, one is currently required to manually download and keep updated.

Also, any reason not to UMD it and just have 1 dist?

Thanks!

[2014-10-22 01:15] brianr opened #52 "ignoredMessages should apply to regular messages too"
Currently the `ignoredMessages` config option only applies to error messages that come from an Error object (or an uncaught error reported via window.onerror). It should probably also apply to messages that come from any direct calls to `Rollbar.warning`, etc. as well.

[2014-10-22 19:03] am opened #53 "Wrong version in the bower.json"
Not sure how this file is managed, maybe it should always reflect the last version:
https://github.com/rollbar/rollbar.js/blob/master/bower.json#L3

[2014-10-22 19:09] #53 closed, assigned to nobody

[2014-10-25 17:06] MarkLeMerise opened #54 "Using Rollbar.configure in AMD does not initiate queue processing"
When initiating Rollbar in an AMD environment, I have been using the following call (per the rollbar.com docs):

    Rollbar.configure({
        accessToken: '123abc',
        captureUncaught: true,
        environment: "local"
    });

However, I noticed this was never actually sending any logs back to rollbar.com and the queue was never being processed. Upon further investigation, I found that c

[2014-11-11 22:03] mailsquad opened #55 "DOMException are not reported correctly"
In Firefox, notifier.log(ex) does not work for DOMException.

This is the problem:

   } else if (arg instanceof Error || arg.prototype === Error.prototype || arg.hasOwnProperty('stack')) {
        err = arg;
      } else {
        custom = arg;
      }

I had to bypass the arguments detection code with this direct call:

rollbar._log("error", "", ex);

---

Without this I was getting alerts with

[2014-11-13 02:55] coryvirok opened #57 "Build better support for bundling rollbar.js in 3rd party libraries"
E.g. A new analytics company has a javascript library that their customers will include on their site. It should be easy for them to bundle rollbar.js into their library and have it work regardless if rollbar.js is on their customer's site already.

[2014-11-13 21:21] #55 closed, assigned to nobody

[2014-11-18 18:29] andrewchilds opened #58 "Add Bower instructions to README"
Hello! I'd like to set up Rollbar using Bower. My expectation around that process would be...
1. `bower install rollbar`
2. Include `dist/rollbar.min.js` in my JS assets
3. Configure `_rollbarConfig`

Is that all there is to it? Your tag instructions include some obfuscated code that seems to do more than just load the real library file, so it's not obvious if I need to load that in addition to `r

[2014-11-18 22:31] #58 closed, assigned to nobody

[2014-12-17 12:49] Rejjn opened #62 "1.1.12 crashes in IE8"
Using version 1.1.12, or later, results in a crash in IE8.

When loading our application I get an browser error with the message "Stack overflow at line 1". Loading the app with dev tools open fills the script console with

[code]

Since I can't seem to find a list of supported browsers, and more specifically that IE8 is not supported, I must then assume that it is indeed supported.

This is rathe

[2014-12-17 19:21] #62 closed, assigned to nobody

[2014-12-19 02:15] brianr opened #63 "If err.stack can't be parsed, the reported stack trace is not helpful"
If you do the following:

[code]

Then it will appear in Rollbar like this: https://rollbar.com/Rollbar/ember-example/items/3/ (public link)

This appears to be happening because if TraceKit (which we use to parse the stack trace) can't parse the stack, it uses the current stack trace instead... but this isn't very helpful. Instead, rollbar.js should:
- include the raw value of `err.stack` (i.e. t

[2015-01-15 00:34] appden opened #64 "Support browserify from npm module"
Please add support for browserify by providing the `dist/rollbar.commonjs.js` file in the published module with the `browser` field in the `package.json` pointing to it (please see https://github.com/substack/browserify-handbook#browser-field). Thanks!

[2015-01-25 23:40] jtomaszewski opened #65 "Allow to define basePath for script files"
I have successfully configured and installed sourcemaps in rollbar (https://rollbar.com/docs/source-maps/).

Unfortunately, with current behaviour, you assume that my assets are located under only one url (f.e. `http://domain.com/js/app.js`).

However, what if my assets are stored under 4 different urls? (f.e. `http://userone.domain.com/js/app.js` , `http://usertwo.domain.com/js/app.js`) . I have

[2015-01-26 00:07] jtomaszewski commented on #65
Okay, I managed to make it with simple `transform()` function ;)

[code]

This solved my problem completely, so the issue can be closed ;)

A note about it in the documentation however, could be helpful IMHO

[2015-01-28 08:30] captn3m0 commented on #57
We have a similar usecase, where we develop a 3rd party JS library, that should report errors to rollbar. We can't figure out how to only get errors related to our library, and not general customer site js errors.

/cc @shashankmehta

[2015-01-29 07:04] nodesocket opened #66 "The change log does not specify what version 1.1.15 changes/fixes"
The `CHANGELOG.md` does not specify what version `1.1.15` changes/fixes.

[2015-02-06 09:36] sandstrom opened #67 "Distribute named-amd (in addition to amd)"
Thanks for 1.1.16,  much appreciated! :boat:  It's easier to plug Rollbar into larger applications now, where one need control over initialization.

This suggestion (named AMD) makes it possible to import the rollbar library into e.g. Ember.js, and a few other frameworks where named modules are used. Plays well with ES6 modules too.

I've got it working by making two manual adjustments to your cur

[2015-02-09 00:43] leppert opened #69 "Rollbar AMD passes incorrect scope"
See here:
https://github.com/leppert/rollbar.js/compare/patch-1?expand=1

[2015-02-09 00:48] leppert commented on #69
It would also be useful for the docs to reflect configuration differences between the AMD and non-AMD versions of the lib.

[2015-02-10 03:24] nodesocket opened #71 "README.md references v1.1"
Is this right, now that version `1.2.1` is out?

    //d37gvrvc0wt4s1.cloudfront.net/js/v1.1/rollbar.min.js

[2015-02-10 03:37] coryvirok commented on #71
Nope, I just updated the snippet and am pushing to rollbar.com now.

[2015-02-10 03:40] coryvirok commented on #69
Pushed the fix. Thanks!

[2015-02-10 03:40] #69 closed

[2015-02-10 03:40] coryvirok commented on #71
Fixed. Thanks!

[2015-02-10 03:40] #71 closed

[2015-02-10 03:42] coryvirok commented on #66
Sorry about that. Updated with this commit: https://github.com/rollbar/rollbar.js/commit/d10119f2695f42a27f804f540fc032a9297998d1#diff-4ac32a78649ca5bdd8e0ba38b7006a1e

[2015-02-10 03:42] #66 closed

[2015-02-18 15:06] xLegoz opened #74 "Rollbar 1.2.1 not sending out requests (broken)"
I'm not sure what the exact issue is, but I've noticed that after upgrading an application from 1.1.15 to 1.2.1 there were no outbound requests from Rollbar. Both the options and the error pushing. Because of this I've downgraded back to 1.1.15, which works without a problem.

If there is anything I can do to help debug this please let me know, I'd be happy to help.

[2015-02-19 20:12] brianr commented on #74
Thanks for the report... can you tell us more about how you're using/loading Rollbar? Are you using the standard snippet from our docs? The AMD or commonjs version? Something else?

If this is on the web somewhere that we can see it in action, that'd be super helpful as well.

[2015-02-20 14:25] xLegoz commented on #74
I'm using the standard snippet from the docs.

Located before any JS on our page is the following
[code]

Some more information of what's on the page is:
- angularjs
- jquery
- google jsapi
- bootstrap (with JS)
- leafletjs (mapping library)
- d3

Over the weekend I'll look into creating a page I can share where this problem is reproduced.

[2015-02-25 15:37] evanliomain commented on #74
I've get the same kind of error. I use the AMD version. And I figure out that the Rollbar AMD object just exposes the `.init` method.
So, when we try a `Rollbar.configure`, `Rollbar.error`, or whatever... we get a nice
[code]

Hope is't helpfull.

[2015-02-25 19:49] coryvirok commented on #74
@evanliomain You will want to use the instance created via `init()` for `.configure()` and `.error()`.

https://github.com/rollbar/rollbar.js/tree/master/examples/requirejs#using-rollbar-with-requirejs

[2015-03-12 09:05] davidmatas opened #75 "unknown traceback"
We are having this kind of traceback in our app:

[code]

We have Rollbar configured to send additional info (user.id, user.email...) and for some ocurrences in this item that info is empty. But, what drew special attention for us, is the low `runtime_ms`, about 15 miliseconds, so we think that maybe it is related with some expection inside Rollbar code, make sense?

We have also noted these items

[2015-03-12 09:16] brianr commented on #75
Thanks for the report, @davidmatas . We'll look into this.

I assume no, but any chance you know how to reproduce this?

[2015-03-12 09:28] davidmatas commented on #75
no :(
We only know it happens for Chrome browser only and in different OS, but we have seen the ocurrences have some level of 'radomly': they don't happen for the same users all the time

[2015-03-13 14:54] vishal021 opened #76 "TypeError: e is undefined"
TypeError: e is undefined
...wrapped){b._wrapped=function(){try{return b.apply(this,arguments)}catch(c){throw...

I have integrated rollbar API for javascript. In my firexfox -> console -> All tab I am getting above error message. I have rollbar config script immediately after body tag.  I tried to debug the cause of this error and it seems error is in below line:

var a=b.createElement("script"),

[2015-03-13 15:07] #76 closed

[2015-03-13 15:53] brianr commented on #76
Hi @vishal021 - did you figure out what was causing this for you?

[2015-03-18 13:15] Strajk commented on #52
Disagree, would be confusing for me

[2015-04-28 20:22] nrutman opened #79 "Implement batch sending a collection of items"
The Rollbar PHP library allows sending a batch of items to Rollbar via the [item_batch](https://github.com/rollbar/rollbar-php/blob/master/src/rollbar.php#L858) API endpoint (btw, does this endpoint exist in the API docs?). For more frequent error reporting (via `warn()` or `info()`) the number of requests to Rollbar quickly adds up.

A queue that stores up items until a certain latency and then b

[2015-04-28 23:53] brianr commented on #79
Thanks @nrutman for requesting this. Before we implement this I'd like to do the following:

- document the existing batch endpoints (there are actually two of them)
- review the way batching is currently handled (on the api.rollbar.com side) to make sure we're happy supporting it here as well

We'll update this ticket once work in this library is ready to go forward.

[2015-06-09 15:11] davidmatas commented on #75
ping @brianr

[2015-06-09 15:12] ryan-roemer opened #90 "Rollbar 1.3.0-alpha.5 breaks IE8 at `setupCustomJSON` call."
## Environment

* Rollbar.js `v1.3.0-alpha.5`
* In IE8 (for me on a VirtualBox VM)
* Built off `rollbar.umd.js` (not the minified version)
* Loaded via AMD (requirejs)

## Reproduction

* Open up a page that includes the `rollbar.umd.js` script. (No other actions needed).
* *Expected Behavior*: No errors.
* *Actual Behavior*: Bombs out with the following error

[code]

This corresponds to: https:/

[2015-06-09 15:20] brianr commented on #75
Thanks for the ping @davidmatas. We think this is fixed in rollbar.js 1.3, which is currently in 'alpha' but should be generally available later this week. I'll update here when that happens.

If you want to try it out now:

- if you're using webpack/browserify/etc., just update your version number to 1.3
- if you're using our standard snippet, replace it with this: https://raw.githubusercontent.c

[2015-06-09 15:22] brianr commented on #90
Thanks @ryan-roemer ! We're on it.

[2015-06-09 15:46] davidmatas commented on #75
Ok @brianr
So if the error is in rollbar.js why it just began to appear at 6th February? We didn't update our snippet to v1.2 until later, 20th february.

[2015-06-09 15:53] brianr commented on #75
@davidmatas It's conceivable that 1.2 is related to this, but I would guess that the cause in your case was actually that you made some change to your app which exposed this bug for you. That would also explain why you saw this before you updated your snippet to use 1.2.

[2015-06-09 20:41] ryan-roemer commented on #90
@brianr -- I'm also skimming the file more, and another potential issue:

https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.umd.js#L1626

specifically the `ARRAY.prototype.map` in:

[code]

for `ErrorStackParser$$parseV8OrIE` is not IE8 compatible -- See http://kangax.github.io/compat-table/es5/#Array.prototype.map and click on "Show obsolete browsers?"

[2015-06-10 06:49] coryvirok commented on #90
Hey @ryan-roemer I've done some basic testing in IE8 on XP using this branch - https://github.com/rollbar/rollbar.js/pull/91

I'm hoping to get a release build out tonight.

[2015-06-10 08:02] coryvirok commented on #90
The new release is out. https://github.com/rollbar/rollbar.js/releases/tag/v1.3.0-rc.1

I was able to repro the 3 issues you found:
- Array.prototype.map
- Array.prototype.filter
- setupCustomJSON() was undefined

I fixed the above plus a few more and tested IE 8 on Windows XP. Please let me know if this is still happening for you.

[2015-06-10 14:59] ryan-roemer commented on #90
@coryvirok @brianr -- Thanks for the hard work to get this out!

The good news:

* It doesn't appear to break IE8 any more on quick inspection.

The bad news:

* We really disfavor true polyfills that mutate our JS environment in _libraries_. Now, by merely including this library `Array.prototype` can be mutated. Generally speaking, _apps_ are fine for polyfills because they are the "end" so to sp

[2015-06-10 17:53] coryvirok commented on #90
Thanks for the detailed feedback. That all makes total sense. I'll have something ready ASAP.

[2015-06-10 22:11] coryvirok commented on #90
I just released v1.3.0-rc.4 that addresses your feedback - https://github.com/rollbar/rollbar.js/releases/tag/v1.3.0-rc.4

- Removed polyfills from one of our included libraries
  - Replaced with one-off `map()` and `filter()` fallbacks.
- Tested in IE8

[2015-06-10 22:38] coryvirok commented on #90
cc @ryan-roemer for above.

[2015-06-10 23:31] ryan-roemer commented on #90
@coryvirok @brianr -- Thanks. Changes look good on a quick inspection. We're trying it out.

[2015-06-19 07:37] piotrd opened #96 "Links in UMD section return 404"
Hi,

Just wanted to use the UMD version of Rollbar, but none of the links on https://github.com/rollbar/rollbar.js#umd work. Can you please update them?

[2015-06-19 07:39] piotrd commented on #96
I found all the needed resources in 1.3.0's zip, but still, UMD section should be fixed ;)

[2015-06-19 11:22] #96 closed

[2015-06-19 11:22] jondeandres commented on #96
Thanks @piotrd, it's now fixed :-).

[2015-06-19 18:24] brianr commented on #75
@davidmatas We've released 1.3.0 - I *believe* this issue should be fixed there. Can you verify when you get the chance?

I'm going to close this issue for now for housekeeping purposes, but please reopen if you still get tracebacks like these in 1.3.

[2015-06-19 18:24] #75 closed

[2015-06-22 17:06] LouisStAmour opened #98 "Chrome 43, 1.3.0: Uncaught TypeError: a.loadFull is not a function"
Not sure why/how this is happening, but "loadFull" isn't defined anywhere else in my codebase and the stack trace refers to line 14 of an anonymous JS block, which is where my Rollbar code lies. It seems to so far have occurred only when someone is actually signed in, am I doing something wrong? :)

It only started once I updated to 1.3.0 this weekend. 1.2.3 worked for me previously, so maybe I'll

[2015-06-22 17:22] coryvirok commented on #90
Please re-open if this is still an issue.

[2015-06-22 17:22] #90 closed

[2015-06-22 17:23] coryvirok commented on #74
If this is still an issue, please re-open. Thanks!

[2015-06-22 17:23] #74 closed

[2015-06-22 17:24] coryvirok commented on #67
The new release v1.3.0 implements this via Webpack. Thanks!

[2015-06-22 17:26] coryvirok commented on #63
@brianr Is this still an issue?

[2015-06-22 17:27] sandstrom commented on #67
@coryvirok Awesome, thanks!

[2015-06-22 17:35] coryvirok commented on #57
There are still some parts of the code that make this difficult:

- `window.XXX` variables in notifier.js
- `window.onerror` - must play nicely with other error handlers

Ideally, rollbar.umd.js would not reference any `window.XXX` variables.

[2015-06-22 17:35] #54 closed

[2015-06-22 17:35] coryvirok commented on #30
Closing this since we have moved away from TraceKit.

[2015-06-22 17:35] #30 closed

[2015-06-22 17:36] coryvirok commented on #52
Please re-open if you'd still like to see this done. Closing due to inactivity.

[2015-06-22 17:36] #52 closed

[2015-06-22 17:43] coryvirok commented on #98
Hi Louis,

I just tried to repro this with your code but wasn't able to. Could it be that `current_refinery_user.present?` is false and causing `_rollbarConfig` to be invalid JSON?

Are you seeing any other JS errors in your dev console?

Here's a working example:

[code]

[2015-06-22 17:53] brianr commented on #63
@coryvirok Looks like yes -- the behavior is slightly different in 1.3.0, but we're still losing the original stack when we can't parse it.

After executing the example code from the description, the result is this: https://rollbar.com/Rollbar/rollbar.js/items/350/occurrences/6000486028/

[2015-06-22 18:02] coryvirok commented on #63
Thanks. I'll file a story to send along the original stack trace with every error so we can both debug this and show it in the UI.

[2015-06-22 22:00] LouisStAmour commented on #98
I know it's a weird bug in that other users aren't seeing it. The JSON is valid, and it does report correctly -- but the bug I see in Rollbar has a backtrace and message referring to this error and not the actual error I'd perhaps need to track down. I'm not sure yet what's going on, maybe some kind of naming collision? I'll try to investigate and reproduce it locally some point soon.

[2015-06-22 22:15] coryvirok commented on #98
Oh, you're seeing that something is being reported? Can you link me to your
Rollbar project or the item page for the error you're seeing in Rollbar?

Cory Virok, @coryvirok <http://twitter.com/coryvirok>
Co-founder and CTO, Rollbar <http://rollbar.com/>

On Mon, Jun 22, 2015 at 3:00 PM, Louis St-Amour <notifications@github.com>
wrote:

[2015-06-22 23:01] LouisStAmour commented on #98
Just a quick reply by email from my phone, but I only have the one project on Rollbar, my username is "louisstamour". I suspect a few recent JS errors might be related, but loadFull was the one that jumped out at me first.

Louis.

Sent from my iPhone

[2015-06-23 14:50] davidmatas commented on #75
Finally with the update we think we have found the problem, it is a Chrome extension interacting with Mootools

Thanks!

[2015-06-23 17:14] coryvirok commented on #75
Thanks for following up, David.

Which extension was causing this? If I hear about similar issues I'll let customers know.

[2015-06-24 04:56] LouisStAmour commented on #98
I ended up rolling back to the rollbar 1.2.3 snippet. I was getting a .length is undefined error that kept pointing me at the rollbar snippet. I figured this was coincidence, except when I turned off the rollbar snippet, no such errors appeared in the console in Chrome. Frankly, given that most of the time, I couldn't get a good fix on the errors anyway due to Chrome's security policies and the is

[2015-06-26 07:05] gligoran opened #103 "Please add this to some CDN"
Having this in a CDN should enable much easier integration in the start and then updating later on. You seem to update the JS library quite often, so making it easier for the users might also help with your granulation of versions that are used.

A lot of libraries I use in my project are available on [cdnjs.com](https://cdnjs.com/), so that could be a possibility.

[2015-06-26 18:51] brianr commented on #103
Hi @gligoran -- thanks for the request! I think this may just be a docs problem. rollbar.js is currently hosted on Cloudfront, which is Amazon's CDN. The current version is served up from https://d37gvrvc0wt4s1.cloudfront.net/js/v1.3/rollbar.umd.min.js . Is that what you need?

[2015-06-27 07:33] gligoran commented on #103
That's exactly it, @brianr! Thank you. I did find that you already put [version 1.4.1](
https://d37gvrvc0wt4s1.cloudfront.net/js/v1.4.1/rollbar.min.js) up there, which is great. It'll be a lot easier to upgrade now when I get the Rollbar notification that a newer version JS library is out.

[2015-06-27 07:33] #103 closed

[2015-06-29 19:19] davewasmer opened #104 "Initialization code"
Just curious - is there any reason why you run a decent amount of initialization code before the library even loads (the snippet that is copy/paste from the app)?

I maintain [ember-cli-rollbar](https://github.com/davewasmer/ember-cli-rollbar), and since the snippet seems to use private APIs in the library, it's a bit more onerous for me to keep up with changes. I have to manually update every tim

[2015-06-29 19:36] coryvirok commented on #104
Great question.

We recently changed the snippet to fix some bugs related to RequireJS/AMD use-cases of the library. Ideally, the snippet will not change very often.

The initialization code in the snippet is so long because we support the full API before the full implementation is downloaded.

e.g.
[code]

I'm assuming you are referring to https://github.com/davewasmer/ember-cli-rollbar/blob/mast

[2015-06-29 19:41] davewasmer commented on #104
Thanks for the quick response @coryvirok. Makes sense now. I'll probably keep it as is (the `npm publish` takes about as long as it does to copy/paste the snippet, so not a big deal). Thanks!

[2015-06-29 19:41] #104 closed

[2015-06-30 17:57] LouisStAmour commented on #98
Updated to 1.4.2 and I'm still seeing "TypeError: i.loadFull is not a function"

It appears to be triggered by an PJAX function receiving the wrong HTML -- a full page including this script -- and inserting all of it in the page, causing errors. It wasn't noticed as easily because on error, the PJAX script would reload the page's URL. It also didn't happen on every request, only a few malformed re

[2015-07-02 01:49] brianr opened #107 "Store events to send later if the network isn't available"
(This is mostly relevant for mobile apps using embedded javascript.)

This feature means roughly: detect when the XHR post in `_processPayload` fails because the network is unavailable, and keep payloads on the queue to be processed later. Periodically retry.

Would pair nicely with #79, but isn't dependent on it.

[2015-07-15 00:54] dandv opened #108 "Not an issue - awesome tool!"
Migrated to Rollbar from Loggly and LogEntries.

Created a [Slant entry for Rollbar](http://www.slant.co/topics/2615/viewpoints/1/~what-are-the-best-javascript-client-side-error-logging-services~rollbar).

How does it [get error information from 3rd party scripts without the proper CORS setup](https://github.com/logentries/le_js/issues/51#issuecomment-121191747)?

[2015-07-15 01:25] brianr commented on #108
Hey Dan - thanks for all the love!

The way this is working is:

- In the Rollbar snippet (the code we have you put in your `<head>`), we extend the prototypes of many global classes so that we can wrap `addEventListener`. [source](https://github.com/rollbar/rollbar.js/blob/master/src/globalnotifier.js#L26)
- Any event listeners which are added later will be instrumented with a try-catch. [source]

[2015-07-15 12:51] dandv opened #109 "IE11 CORS errors in console"
I'm loading Rollbar in the `<head>` at https://idorecall.com, using the standard code snippet

[code]

IE11 displays these errors in the console for each Rollbar call:

[code]

[2015-07-17 10:36] dandv opened #110 ""Script error", even though the actual error was detected"
Due to a [bug in Clicky](https://clicky.com/forums/?id=18249), I get a "Script error" when users click on SVGs.

However, the same error has been resolved correctly to "Uncaught TypeError: href.match is not a function".

I've attached a screencast.

![script error instead of actual error regression](https://cloud.githubusercontent.com/assets/33569/8745466/07550e3e-2c35-11e5-9c44-2e0322a2e7df.gif)

[2015-07-22 06:39] ilangv opened #111 "Unable to run webdriver tests on page with rollbar JS"
Hi,

We have integrated rollbar to our product site. While running webdriver tests, we see this exception:

Caused by: org.openqa.selenium.remote.ErrorHandler$UnknownServerException: Permission denied to access property '_wrapped'

There was a similar issue in bugsnag which was resolved with this change: https://github.com/bugsnag/bugsnag-js/commit/0478bf54778e534a2bf53dd129927b468e82447b

[2015-07-23 19:53] Taytay opened #114 "Documentation for webpack example is a bit misleading"
Hooray for using Webpack now, and for providing an example! Thanks!

The documentation for webpack says I can do this:
[code]
Which is true.
However, the local `Rollbar` variable does not appear to be the same as the global Rollbar variable upon which I can call `configure` and other Rollbar methods. So, I ended up doing something like this instead:

[code]

[2015-07-25 13:29] justSteve opened #115 "Error tossed by IE's compatibilty mode"
I have a class of js events where I want multiple actions to occur alongside the rollbar call so I've fashioned a class as is pasted below. Current generation IE is happy with this but in compat mode will toss a: *SCRIPT438: Object doesn't support property or method 'info'* on the line with *Rollbar.info(logObj);* Any thoughts one how to appease IE <10 here?

    if (LOGGING === null || typeof LOG

[2015-07-27 23:44] coryvirok commented on #115
Hi Steve,

I just tested in IE 9 and it seems to work. I went to a page with rollbar.js installed and then in the develop console I did:

[code]

I see the log in Rollbar with the id and object. Do you have a gist that reproduces the issue? Also, how are you loading rollbar.js?

[2015-07-30 12:43] justSteve commented on #115
Thanks for the reply Cory - we can close this. The problem is not at Rollbar but rather how IE <10 is unable to umm... work. I've reproduced the same behavior without any Rollbar references. --appreciate the time.

[2015-07-30 13:03] #115 closed

[2015-08-04 11:46] davidmatas opened #118 "Can't block domain for Safari"
Hi! I have an ignore rule that is not working for Safari. This is my config:

[code]

My Rollbar config is:

[code]

And the payload looks like:
[code]

It is failing for Safari 6, 7, 8. Do you think it could be related with something on your side?

[2015-08-04 18:58] coryvirok commented on #118
Hi David. Thanks for the bug report. We will take a look.

[2015-08-10 10:52] jirihelmich opened #121 "Cannot assign to read only property '_savedStackTrace'"
`Uncaught TypeError: Cannot assign to read only property '_savedStackTrace' of Malformed public key r._wrapped @ rollbar.min.js:formatted:628`

We use a payment provider library, which contains the code `throw "Malformed public key"`

When rollbar tries to process this "exception", it fails itself.

![image](https://cloud.githubusercontent.com/assets/174768/9169899/9436a95c-3f5e-11e5-833b-e345e7ad

[2015-08-10 16:24] brianr commented on #121
Thanks for the report, @jirihelmich.

It looks like the line you highlighted is failing because `e` is a string, not an error object, so setting the `_savedStackTrace` property fails...

[2015-08-10 16:25] jirihelmich commented on #121
Yes, exactly, they throw a raw string. You should probably handle the case that e is not an object...

[2015-08-14 10:59] marcinpl87 opened #122 "Is the request to https://api.rollbar.com/api/1/item/ synchronous?"
I have rollbar JS code in <head> of my website, this code is before all other JS scripts.
But time to time it sends request:
Remote Address:37.58.71.74:443
Request URL:https://api.rollbar.com/api/1/item/
Request Method:POST
Status Code:429 Too Many Requests
with the response:
{"err": 1, "message": "Over free plan monthly limit. Project id 16132 access token c38d35ca16bb4f749496465e5f932464."}
But

[2015-08-14 21:11] brianr commented on #122
Hi @marcinpl87 - that request should be happening asynchronously already. Are you sure it's blocking other requests from being made?

[2015-08-20 15:51] mbrevda commented on #64
+1

[2015-08-20 16:04] mbrevda commented on #51
Any update here? Requing rollbar for the browser via npm would be quite helpfull

[2015-08-26 23:48] dozoisch commented on #51
I would love having a npm package also. I don't want to bring bower in my build chain for no reason. For now I ended up copying the dist in my own src folder... but that is not optimal!

rollbar-browser would be perfect. And to answer, they don't care if it's a browser or backend package!

Also, by putting `main: 'dist/rollbar.umd.nojson.min.js'` in the package.json it will enable the following `v

[2015-08-27 00:09] brianr commented on #51
Hey all - thanks for the request -this is now high on our todo list. Should happen either this week or next. We'll update here with any news.

[2015-08-27 09:18] Koblaid opened #123 "Allow the person to be sent with each error"
I'd like to set the person to be sent along with the error in Rollbar.error() instead of in Rollbar.configure().

Is this already possible? I've tried

[code]
and
[code]
but with no success.

[2015-08-27 16:30] brianr commented on #123
Definitely possible! Try this:

[code]

You can set other payload-level options the same way.

[2015-08-27 16:30] #123 closed

[2015-08-27 19:57] mbrevda commented on #64
dup of #51

[2015-09-01 00:39] coryvirok commented on #98
Thanks for the info, Louis.

I'm not familiar with PJAX and how it could cause this error. If you can still repro it, I'd love to take another look.

[2015-09-01 00:44] coryvirok commented on #110
It could be that the same error was reported by more than 1 browser. Older browsers don't provide much information and some have issues with correctly reporting the full stack due to CORS issues.

Can you link me to your project so I can take a closer look?

[2015-09-01 00:46] coryvirok commented on #111
Thanks @ilangv. This is most likely fixed by https://github.com/rollbar/rollbar.js/pull/117

Is this is still an issue for you?

[2015-09-01 00:59] coryvirok commented on #114
Thanks @Taytay. I updated the example here: https://github.com/rollbar/rollbar.js/commit/971859f3186cca215e175109045f16b07613d619

[2015-09-01 00:59] #114 closed

[2015-09-01 20:31] LouisStAmour commented on #98
PJAX means returning partial HTML responses and replacing part of the page with the response. It's a Page-variant of AJAX, hence the P-. It was commonly used with Rails apps to speed them up while still rendering the HTML in Ruby instead of with JavaScript.

Normally you'd receive just the HTML needed for the middle of the page, the contents of a body tag, for example. But with a malformed respons

[2015-09-01 23:59] coryvirok commented on #98
Oooooh, right. Ya that'd do it.

I bet what was happening was the snippet was included twice and attempting to call `Rollbar.loadFull()` which would have been removed since the full source of the notifier had already been loaded.

I suppose the change we could make is to handle multiple snippets gracefully.

Thanks for the info!

[2015-09-01 23:59] coryvirok commented on #98
Also, I'm going to close this since it appears the problem has been resolved. If you disagree, please re-open.

[2015-09-01 23:59] #98 closed

[2015-09-02 16:55] frankcortes opened #126 "bower EINVALID; The "main" field has to contain only 1 file per filetype"
When we are trying to install `rollbar` (with `bower = 1.4.1`) with the command `bower install rollbar`, shit happens. The following error is shown:

[code]
PD: We are using bower in a computer with Debian. I am only able to reproduce this bug in a computer which uses this OS. Otherwise, the `bower` command is working fine.

[code]

[2015-09-02 17:59] coryvirok commented on #126
Thanks for the report, @frankcortes. I'll add it to our sprint to look at soon.

[2015-09-02 21:57] coryvirok commented on #51
https://www.npmjs.com/package/rollbar-browser

[2015-09-02 21:57] #51 closed

[2015-09-02 21:57] coryvirok commented on #64
https://www.npmjs.com/package/rollbar-browser

[2015-09-02 21:57] #64 closed

[2015-09-02 21:58] dozoisch commented on #51
:tada: awesome!

[2015-09-02 21:59] twhid commented on #51
woohoo :100:

[2015-09-02 22:45] raorao opened #128 "console output of [object Object] in some browsers is unhelpful"
problem referenced in [notifier.js](https://github.com/rollbar/rollbar.js/blob/master/src/notifier.js#L579-L580) but I wanted to make an issue for easy linking (as line numbers can change).

[2015-09-03 04:28] mbrevda commented on #51
Hey - thanks so much!

Im not sure it it's actually necessary to link directly to the minified code here. I would guess that most projects packing their own code are also minifing. Linking directly to the minified version means extra work (i.e. to including things like sourcemaps). Might want to consider pointing `main` at a non min version.

[2015-09-03 21:13] brianr commented on #121
This is fixed in version 1.5.0. You can grab the latest snippet from here: https://rollbar.com/docs/notifier/rollbar.js/ or other distributions from the usual places.

Thanks again for the report!

[2015-09-03 21:13] #121 closed

[2015-09-06 14:08] marcinpl87 commented on #122
you're right. It's happening asynchronously. My bad... closing this.

[2015-09-06 14:08] #122 closed

[2015-09-09 16:16] wcurtis commented on #121
Was able to reproduce this in version 1.5.0

Example
[code]

Result

![screen shot 2015-09-09 at 12 06 54 pm](https://cloud.githubusercontent.com/assets/530242/9767356/d4d82374-56eb-11e5-9c56-3774dabc3323.png)

Anyone else?

[2015-09-09 18:46] coryvirok commented on #121
@wcurtis Do you have a publically accessible page that I can test/repro this on? I just tested on rollbar.com and it works properly.

[2015-09-10 22:42] wcurtis commented on #121
I don't have a public page no, worth noting I had this error within an Ember.js app, not sure if that could be related.

[2015-09-15 22:19] gligoran opened #131 "Is _rollbarConfig the only way to setup Rollbar.js?"
Hello,

I've got Rollbar all set and working in my Angular app, but the way it's set up is a bit of a pattern breaker for me. I'd like to know if there's any other way to set up ```accessToken```s, ```environment``` and other parameters that are in ```_rollbarConfig```. I'm especially interested in a way that will let me load Rollbar.js before setting up those parameters.

[2015-09-16 14:55] Crisfole commented on #131
Hi there! If you *don't* have a `_rollbarConfig` object setup, then Rollbar will not initialize immediately. You'll have to call `Rollbar.init` later to get it started monitoring exceptions. `init` just receives the `_rollbarConfig` object.

You might be interested in the following UMD versions of the notifer, which fully load Rollbar without a subsequent load (no need for the snippet in your use

[2015-09-16 15:52] brianr commented on #131
@gligoran also take a look at these examples for browserify, webpack, and such: https://github.com/rollbar/rollbar.js/tree/master/examples

[2015-09-18 00:51] brianr commented on #126
@frankcortes What version of Debian is this on? Are you still having this problem with the latest version of rollbar?

I was just able to successfully install 1.6.0 on an Ubuntu 12.04 machine, using bower 1.4.1:

[code]

[2015-09-18 16:01] frankcortes commented on #126
Using the last version (`1.6.0`) the issue still persists:
[code]

[2015-09-18 17:19] Crisfole opened #132 "Remove submodule for TraceKit"
A client with [Demeteorizer](https://github.com/onmodulus/demeteorizer/) is having trouble. The submodule is being installed as an npm dependency, which isn't legal since it's upper case.

[2015-09-18 17:34] EnigmaSolved opened #133 "v1.6.0 Snippet contains Broken Path (404)"
The newest snippet ( https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.snippet.js ) contains a path that results in a `404`:
https://d37gvrvc0wt4s1.cloudfront.net/js/v1.6/rollbar.min.js

I discovered this because I was wanting to upgrade to the newer version to fix some wonky Rollbar errors (eg, regarding IE 8, and some other errors that have only show since upgrading to 1.5.0).

[2015-09-18 17:51] coryvirok commented on #133
Hi @EnigmaSolved.

I'm deploying a fix now. Sorry about that.

[2015-09-18 18:00] coryvirok commented on #133
Fix is deployed, (https://rollbar.com/js/v1.6/rollbar.min.js) and the CDN cache is being invalidated now (https://d37gvrvc0wt4s1.cloudfront.net/js/v1.6/rollbar.min.js). It should be finished in the next 10 mins.

[2015-09-18 18:36] EnigmaSolved commented on #133
Great! Many thanks! :)

[2015-09-18 18:36] #133 closed

[2015-09-18 18:44] coryvirok commented on #133
I just verified that the CDN is serving the new code.

[2015-09-18 18:46] EnigmaSolved commented on #133
Awesome! Yeah, I meant to indicate that I'd checked that and everything looks good now. Thanks for the fast fix!

[2015-09-18 20:58] coryvirok commented on #126
Fixed in v1.6.1 - https://github.com/rollbar/rollbar.js/blob/v1.6.1/bower.json

[2015-09-18 20:58] #126 closed

[2015-09-18 23:41] brianr commented on #126
@frankcortes Is this working for you now?

[2015-09-19 03:31] lookfirst opened #134 "1.6.1 in the readme"
please

[2015-09-19 03:34] lookfirst opened #135 "Link to examples in readme is 404"

[2015-09-19 03:36] coryvirok commented on #134
Hi @lookfirst,

I'm not sure what you're asking for. Are you seeing something from the v1.6.1 release that is not in the README?

[2015-09-19 03:39] coryvirok commented on #134
nevermind, I see what you mean here: https://github.com/rollbar/rollbar.js/issues/135

[2015-09-19 03:39] #134 closed

[2015-09-19 03:47] lookfirst commented on #134
No, these are two separate issues. This issue is that the readme was not updated with 1.6.1.

[2015-09-19 03:51] coryvirok commented on #134
There aren't any changes necessary for the README with v1.6.1.

If you're referring to the CDN url that includes v1.6, we intentionally do **not** include the patch version so that we can deploy patch versions without customers requiring a change to the snippet code.

Is that what you are referring to?

[2015-09-19 03:51] coryvirok commented on #135
Fixed. Thanks

[2015-09-19 03:51] #135 closed

[2015-09-19 03:55] lookfirst commented on #134
I copy/paste the code from the readme into a .html file that I include with my projects. Your website is still reporting that I'm on 1.6.0 yet the latest version is 1.6.1.

[2015-09-21 02:35] gligoran commented on #131
Thanks guys. Got it working nicely.

[2015-09-21 02:35] #131 closed

[2015-09-22 10:03] davidmatas opened #136 "Is hostWhiteList actually working?"
Hi!

I don't see any examples in docs and I wanted to know if `hostWhiteList` option can be used and how it does. Does it take in account the fact that `body.trace.frames` has not url format when sourcemap is enabled?

[2015-09-23 08:34] piotrd commented on #25
@coryvirok is `hostWhitelist` documented anywhere? I found the option in the code (https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.js#L647), but it seems to be undocumented...

[2015-09-23 09:39] Strajk opened #137 "Use Custom Grouping Rules syntax in ignoredMessages"
Is is somehow possible to use syntax from Custom Grouping Rules in ignoredMessages?

[code]

Or is there a better way?

Thanks in advance for response

[2015-09-23 12:32] piotrd commented on #137
If I may: last time I checked out that feature in the source code, there was just a simple string check, no Custom Grouping Rules syntax.

[2015-09-23 16:16] Crisfole commented on #137
Hi Strajk,

No `ignoredMessages` is really just an underpowered version of `checkIgnore`. It's simply a string check, as @piotrd suggested.

You can do anything you want, however, in `checkIgnore`. Here's what it looks like:

[code]

[2015-09-23 19:04] brianr commented on #110
Thanks @dandv for reporting this.

This should be fixed now (we fixed it on our end; no update required by you). The title won't change for existing active items, but you can resolve them and when they are seen next, they'll be reopened with the correct title.

I'm going to close this to clean things up, but please reopen if you find it isn't actually fixed.

[2015-09-23 19:04] #110 closed

[2015-09-24 19:24] coryvirok commented on #25
Ya, it's missing from the docs. :/ We will add it in soon. Thanks for bringing this up!

[2015-09-25 05:20] dozoisch opened #139 "Publish 1.6 on NPM"
Hey guys :)

I really enjoy the new NPM package, but it seems like 1.6 releases haven't been published to npm!

![image](https://cloud.githubusercontent.com/assets/4422516/10093658/879b6208-6323-11e5-9760-03b5cf910e7c.png)

[2015-09-25 09:15] ilangv commented on #111
Thanks @coryvirok . The fix works well.
Closing.

[2015-09-25 09:15] #111 closed

[2015-09-25 18:13] Crisfole commented on #25
@coryvirok https://github.com/rollbar/rollbar.js/pull/138

Not sure if I phrased it perfectly, but it's a start.

[2015-09-25 18:19] coryvirok commented on #139
Thanks for reporting this! I'll get the latest version up ASAP.

[2015-09-25 18:20] coryvirok commented on #139
Published!

[2015-09-25 18:20] #139 closed

[2015-09-27 05:58] ri-nat opened #140 "Getting TypeError: undefined is not an object (evaluating 'n.length') in all browsers"
Line: `rollbar.min.js:534` (1.6, latest)
This error is appears in browser console after loading any page of my application when I'm using rollbar.

Is this my mistake (configuration problem, another script error, something else...) or rollbar issue?

[2015-09-28 00:33] formigarafa commented on #63
I believe this could be also related to subclassing Errors.

`Util.typeName` at https://github.com/rollbar/rollbar.js/blob/master/src/util.js#L31 fails to recognize `Error` subclasses as errors.

And this helper function is used to determine which argument being passed is the error object from which the stack trace is inferred.

As a proof of concept I did the following:
[code]

and after this I g

[2015-09-28 13:29] Crisfole commented on #140
Hi Rinat,  Any chance you can send a link to one of your pages that demonstrates the error, or perhaps paste in a stack trace?

[2015-09-28 18:58] coryvirok commented on #63
Thanks for the info, @formigarafa. Does the error subclass have a `.stack` property? If so, this code: https://github.com/rollbar/rollbar.js/blob/master/src/notifier.js#L169 should recognize it as an error object.

If it doesn't have a `.stack` property, where are you seeing the stack traces coming from?

Thanks!

[2015-09-28 21:43] staxmanade opened #141 "Dependency on window.* variables causing issues."
Investigating the use of Rollbar for a JS project (that is not in a browser) and running into some specific issues with how Rollbar depends heavily on the `window` global.

Accessing any of the below will not work in certain environments.

[code]

A good approach would be to abstract the usages above into something that we could provide implementations for.
#57 also calls out the dependency on `wi

[2015-09-29 00:18] formigarafa commented on #63
@coryvirok, the execution only reach that point `if (argT === 'error')` that never happens with subclasses of Error.

what I said if that the argT is inferred by `Util.typeName` and it does not do it properly for error subclasses. Try this out and you will understand what I am saying.

[code]

[2015-09-29 06:20] Strajk commented on #137
@Crisfole Thanks so much for reply! it works great.

[2015-09-29 11:27] Crisfole commented on #141
There's a UMD version of Rollbar designed to fix exactly this issue. Any of the files in https://github.com/rollbar/rollbar.js/tree/master/dist with `.umd.` in the filename will do the trick!

[2015-09-29 11:27] #137 closed

[2015-09-29 11:30] Crisfole commented on #136
`hostWhiteList` gets applied on the client, long before source maps are applied.  The option works nicely and takes an array of strings, each of which gets compiled as a Regexp and then compared against the domain portion of each filename in the stack trace.  If any of them contain one of the white listed domains the item gets sent. If none of them are in the white list it doesn't get sent. (Presu

[2015-09-29 11:33] Crisfole commented on #128
A possible shim for it...if we want to get into the business of shimming lots of different things...http://patik.com/blog/complete-cross-browser-console-log/

[2015-09-29 11:47] davidmatas commented on #136
So, I guess it is something you can also make with `checkIgnore` option, or they differ in some way?

[2015-09-29 11:56] Crisfole commented on #136
This is just a shortcut for `checkIgnore`, correct.

[2015-09-29 12:12] davidmatas commented on #136
And can also be defined together? I mean first applying a hostWhiteList filter, then ignoring something from your own white list.

[2015-09-29 13:33] piotrd commented on #136
Source code to the rescue!
`checkIgnore` is called in line 752 (https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.js#L752), and then, in line 762 (https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.js#L762) `hostWhiteList` is checked. This happens in the same method (`_enqueuePayload `), which enqueues events for sending to Rollbar, which in short means that you can 'defin

[2015-09-29 16:10] Crisfole commented on #109
Just tested idorecall.com (the landing page, at least) from IE11 and I was successfully able to send an `info` note to your project (item 40).

Any chance you can send me a little more info to support@rollbar.com so we can figure out what's going on for you?

[2015-09-29 16:55] ri-nat commented on #140
Hi, Crisfole!

I've discovered that this was a problem in jQuery plugin. Stack trace in Safari is so poor... Closing it. Thanks!

[2015-09-29 16:55] #140 closed

[2015-09-29 17:49] coryvirok commented on #63
I get that the `typeName()` returns "object" but if the object has a stack property, this code will execute, (since we use `|| arg.stack`):

https://github.com/rollbar/rollbar.js/blob/master/src/notifier.js#L168-L176

[code]

Do you have a working example you can link me to?

[2015-09-29 22:42] formigarafa commented on #63
Yeah. I missed that. But as it was not working I went back to my tests and I think I found the problem:

As the argT of these Error subclasses is 'object' the execution takes the other conditional branch a little above at https://github.com/rollbar/rollbar.js/blob/master/src/notifier.js#L160-L165.

And arg.stack is never checked.

You can try with this:
[code]

You get a Rollbar item created, but

[2015-09-30 13:50] Crisfole commented on #141
Looks like the UMD version actually gets this wrong. You're correct.

[2015-10-01 10:10] jondeandres commented on #118
Hi @davidmatas, sorry for the delay.

We've been trying to reproduce this with Safar 6,7 and 8 and we had a correct behavior. Can you share with us which rollbar.js version are you using and how are you loading it? Using the snippet? Using a script tag? AMD?

Beside of this, in your code you have a `catch(e) {}`, could you add a `console.log(e)` inside brackets just to check that nothing is being

[2015-10-01 15:01] Crisfole commented on #141
Rollbar.js also depends on `document` and `navigator` https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.umd.nojson.js#L917-L923

[2015-10-01 15:14] bwigoder commented on #141
I haven't been able to get rollbar playing nicely with Firefox, due to its reliance on the 'window' and 'document' variables.

Any feedback would be greatly appreciated.

[2015-10-01 21:41] lookfirst opened #144 "Document the effects of async"
So... does {async: true} mean that if something else on the page errors out before the rollbar.min.js is loaded that it won't get reported?

[2015-10-01 21:59] brianr commented on #144
Good question. If you're using our standard snippet and putting it at the top of your `<head>`, then any JS errors *should* be reported, even if they happen before rollbar.min.js loads, as long as the page is open long enough for rollbar.min.js to load and the ajax request to api.rollbar.com to be made.

Are you seeing other behavior?

[2015-10-01 22:03] lookfirst commented on #144
I haven't upgraded yet. Just want to be sure of what is happening before I do so.

[2015-10-01 22:43] brianr commented on #141
@bwigoder Can you tell us more? We test this library in Firefox, and the tests are passing...

[2015-10-02 03:30] dozoisch commented on #139
@coryvirok same with 1.7 :)

[2015-10-02 03:39] coryvirok commented on #139
Thanks for the reminder! 😊
On Thu, Oct 1, 2015 at 8:30 PM Hugo Dozois <notifications@github.com> wrote:

[2015-10-02 10:40] bwigoder commented on #141
@brianr - Sorry, I wasn't clear. The issue is when building a Firefox Extension using their Addon SDK, and aiming to integrate rollbar.js for client-side error tracking.

[2015-10-09 16:52] Odaeus opened #145 "Code licence?"
Hi,

I can't seem to find a LICENSE file or copyright equivalent in this repository. It would be great to know if you wish to retain the copyright or put it under an open source licence?

[2015-10-09 16:55] brianr commented on #145
Hi @Odaeus - thanks for pointing this out; the license file does seem to be missing. It's intended to be under the MIT/similar license like our other client libraries. We'll get this added.

[2015-10-10 00:12] brianr commented on #118
@davidmatas ping on this?

[2015-10-12 09:56] davidmatas commented on #118
Hi, sorry for delay!

I am using 1.6.1 Rollbar version combining several 3rd party snippets (Rollbar, SnapEngage...) in a file and then loading from the `<head>`. Google analytics instead it is loaded from the end of the body.

Actually, I don't have the `blockDomain` filter enabled, I replaced with a `whiteList` that should allow every error from my CDN so actually we can't say the blockDomain do

[2015-10-13 00:28] coryvirok commented on #145
Thanks again - added https://github.com/rollbar/rollbar.js/commit/6a0639681e6e66e84d2846db4b233da70f503399

[2015-10-13 00:28] #145 closed

[2015-10-13 04:07] brianr opened #146 "Build issue with the snippet in the README"
Looks like something is going wrong here... this is how the snippet in the README looks right now:

![image](https://cloud.githubusercontent.com/assets/12275/10445287/41752dda-7125-11e5-8cbf-d9d6d8eaee64.png)

(it keeps going for another couple screens worth)

[2015-10-17 09:30] captn3m0 commented on #57
/cc @pronav

[2015-10-19 16:05] matiasdoyle opened #148 "Publish 1.7.1 on npm"
Hi,
It seems like the current version published on npm is v1.6. Could you publish v1.7.1? :)

[2015-10-19 17:03] coryvirok commented on #148
Thanks for the bug report, @matiasdoyle. The problem is that v1.6.0 was published to NPM out of order. I'm bumping the version to v1.7.2 and re-publishing now.

[2015-10-19 17:04] #148 closed

[2015-10-19 19:57] coryvirok commented on #118
I'm still unable to reproduce this.

The behavior you are seeing can happen if there's an exception thrown while performing the `checkIgnore()` logic you have though. Since you're not re-raising any exceptions caught in the `ignoreFilesUncaught()` method, they will silently fall through and be reported. It's possible that this is only happening for Safari but I don't see anything that would only h

[2015-10-20 20:23] jirihelmich opened #149 "Is there a reason for the bower package to have 4.1 MB?"
It should, IMHO, be as small as possible to enable quick build on integration servers and different automated environments. 4.1MB is just huge. Unarchived jquery bower package has 800 kB, for instance.

[2015-10-20 21:10] davidmatas commented on #136
Great, thanks!

[2015-10-20 21:10] #136 closed

[2015-10-20 21:11] davidmatas commented on #118
Ok, I will review it

[2015-10-21 18:55] elliottheis commented on #141
@Crisfole @brianr I'm also being bitten by this issue which ultimately is preventing me from shipping Rollbar support out to production. Is the intent for the UMD module to be completely self-contained / isolated in scope?

[2015-10-30 22:29] coryvirok commented on #118
Hey @davidmatas, have you had a chance to take a look yet?

[2015-11-04 21:42] sandstrom commented on #67
@coryvirok tried this out, can't get it to work. I still think it's a *plain amd*, not a *named-amd*.

***
Here is an example of a library that exports both variants (for reference):
https://github.com/instructure/ic-ajax/tree/master/dist

More on AMD:
http://requirejs.org/docs/whyamd.html

[2015-11-05 16:21] jonahx commented on #107
Fwiw, I've been searching for airbrake alternatives because they lack this feature.  Pretty surprised to see something I consider core to error reporting missing from the clients of the two biggest error tracking SaS companies.

[2015-11-05 18:59] brianr commented on #107
@jonahx Thanks for the upvote on this :)

Question--is your situation that you have a web app where clients frequently get disconnected? A mobile app using a webview? Something else?

[2015-11-05 19:19] jonahx commented on #107
Yeah, it's a web app often used on mobile ipads, where disconnects are not uncommon.  So I'd missing a ton of errors, and perhaps the most important ones, without this feature.  But my use case aside, XHR requests fail from time to time, even on home connections.  I was originally using a home-rolled email error reporter, 40 lines of code, and it had a retry feature.  I was using just storing the

[2015-11-06 19:53] coryvirok commented on #67
I was playing around with a fix for this in my webpack fork a while back. Looks like someone implemented the same fix and got it merged into webpack mainline - https://github.com/webpack/webpack/pull/1387

Re-opening.

[2015-11-06 20:10] coryvirok commented on #67
Please try this build and let me know if it works for you: https://github.com/rollbar/rollbar.js/pull/151

I'll get it merged and published.

[2015-11-07 14:26] sandstrom commented on #67
@coryvirok It does, thanks! Great if this could be published to bower.

This is very useful ES6 modules (e.g. via ember-cli). A named AMD makes it really easy to import.

[2015-11-09 21:35] coryvirok commented on #67
I'm pretty unfamiliar with Bower so please bear with me. Can you provide an example of how you are using Rollbar with and without a named AMD module? Also, what are the implications for changing the entry point in bower.json from rollbar.umd.js to rollbar.named-amd.js? Will it require people using the library to update their code/configuration at all?

Thanks!

[2015-11-09 23:02] sandstrom commented on #67
@coryvirok No need to change anything in bower, i.e. you don't need to change the entry point (`main`).

As long as the named amd build is available within the `dist` directory we can use it (I don't think you need to do anything more for this to be the case).

[2015-11-10 01:05] #108 closed

[2015-11-10 01:06] coryvirok commented on #67
Cool. I've merged and published to v1.7.3. Thanks!

[2015-11-10 01:06] #67 closed

[2015-11-10 11:59] davidmatas commented on #118
Sorry, no time to take a look. We changed our config and now we don't block by domain, we have a whiteList instead, so at this moment we can't reproduce this error. I think we can close it and reopened if it happens again, thanks!

[2015-11-10 19:15] coryvirok commented on #118
Thanks for the reply, @davidmatas!

[2015-11-10 19:15] #118 closed

[2015-11-17 09:55] freeall opened #155 "TypeError: Cannot read property 'belongsToShim' of null"
I get this error in the new version, around here https://github.com/rollbar/rollbar.js/blob/ca5d438bc62e8e41c0455d4060923d06b2344a68/dist/rollbar.nojson.js#L155

I think you should change this line to `else if (window.onerror && !window.onerror.belongsToShim) {`

[2015-11-17 10:07] jondeandres commented on #155
@freeall you are right, we'll release a new version today.

thanks for the report.

[2015-11-17 10:30] freeall commented on #155
Cool, thanks!

[2015-11-17 11:45] #155 closed

[2015-11-17 12:08] jondeandres commented on #155
@freeall we've release v1.7.5. We hope this works fine for you.

Thanks for everything.

[2015-11-17 12:50] freeall commented on #155
:+1:

[2015-11-25 10:34] oadam opened #158 "window.onerror should use exception stacktrace when available"
According to this [stackoverflow answer](http://stackoverflow.com/a/19171250/436792), both firefox and chrome provide the original `Error` object as a 5th argument to the `window.onerror` handler. The exception stacktrace can be extracted when the argument is present.

I checked rollbar.js code and I am under the impression that this info is not used at the moment.

[2015-11-25 13:05] oadam commented on #158
Oops.
The doc on https://rollbar.com/docs/source-maps/ seems to says that uncaught error handled by rollbar do include stacktraces in newest browsers.
If so, please feel free to close this

[2015-11-25 16:56] oadam commented on #158
Ok after rereading the code I see that the fifth argument is correctly processes.
Cheers !

[2015-11-25 16:56] #158 closed

[2015-11-25 18:54] brianr commented on #158
Thanks for looking out, @oadam :) Yep, rollbar.js does gather the fifth arg, and it makes debugging javascript errors so so much easier.

[2015-11-30 17:50] jmonster opened #159 "r.logger is not a function"
We're not able to deterministically recreate this, but we're seeing it logged to Rollbar quite a bit and our customers are complaining of seeing it in the console when it happens:

[code]

Any ideas?

This is the script we're loading on the page:

[code]

[2015-12-16 02:14] coryvirok commented on #63
I think all that is left for this issue is to log the parse error here: https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.js#L859

[2015-12-16 16:35] jmonster commented on #159
Nudge?

This is not an issue when we stay on version 1.4; it only happens when upgrading to 1.7

[2015-12-17 21:13] coryvirok commented on #159
Hi @jmonster. Sorry about the slow response. I've released v1.8 which should address this issue. Can you try it out and see if you're running into this issue still?

You will need to copy-paste the new snippet from here: https://rollbar.com/docs/notifier/rollbar.js/

Thanks!

[2015-12-18 00:37] mitchhentges opened #165 ""$remote_ip" as `user_ip` isn't replaced with actual ip address"
We're currently upgrading to Rollbar 1.8.0, and in Rollbar requests made to the server, I'm seeing that `body.request.user_ip` is always "$remote_ip".

I've tested from an Android device (from a WebView) and via Chrome itself. Either way, "remote_ip" isn't filled in.

See [this gist](https://gist.github.com/mitchhentges/94dfd1db773fe8efda54).
![rollbar](https://cloud.githubusercontent.com/assets/7

[2015-12-18 00:39] brianr commented on #165
Hi @mitchhentges! This is by design; the browser client doesn't know what its IP address is, so it sends that special string to the server (api.rollbar.com) so that the server knows to replace that with the actual remote IP.

If you look in the Rollbar UI, you should see actual IP addresses and not that string. Make sense? I'm going to close this but please reopen if that's not the case.

[2015-12-18 00:39] #165 closed

[2015-12-18 00:40] mitchhentges commented on #165
I am a skrub, literally just looked at the result online. Many regrets, thanks for the quick response

[2015-12-20 23:25] ecneladis opened #166 "Insecure source in dependencies"
git:// protocol is unauthenticated and unencrypted, it's susceptible to man-in-the-middle attacks. Please use https:// instead.

https://github.com/rollbar/rollbar.js/pull/164/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R12

[2015-12-21 09:01] vvscode opened #167 "source_map_enabled doesn't work"
I've initialized Rollbar with config
[code]

And got client with next options
![result settings](https://www.dropbox.com/s/j401yz8bczgn0pk/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202015-12-21%2011.59.36.jpg?dl=1)

But at rollbar panel I still get trace without sourcemaps

PS Also please describe where I can find code for this part of functionality, cause I even can't debug to find what's

[2015-12-22 22:38] efreed commented on #98
This came up for me today.  It was because the rollbar snippet was included twice in the page, removing one of them fixed it.

[2015-12-30 15:15] mderrick opened #169 "UMD '.error' does not exist."
I think there may be an issue with the UMD build (or I'm just misusing it).

Following the [Webpack example](https://github.com/rollbar/rollbar.js/tree/master/examples/webpack) I can do:

[code]

I can however do `window.Rollbar.error()` but I would really prefer to use the exported object. Am I missing something out or is this expected?

Thanks

[2015-12-30 19:21] coryvirok commented on #166
Fixed in v1.8.1

[2015-12-30 19:21] #166 closed

[2015-12-30 19:40] coryvirok commented on #169
Hi @mderrick,

The `init()` method will return the Rollbar instance when included this way.

Try this:

[code]

[2015-12-30 19:42] mderrick commented on #169
Ah! My bad. I didn't read the example thoroughly enough. Thank you!

[2015-12-30 19:42] #169 closed

[2015-12-30 19:58] coryvirok commented on #167
Hi @vvscode,

Source mapping works by using the `code_version` in the occurrence and matching that to the version of a source map file and running the source mapping process. Source maps can either be uploaded using our API or if the JS file in a frame of a JS stack trace has a `sourceMappingURL` specified, we will download it.

I'd recommend you try uploading a source map for your project with th

[2015-12-30 20:00] coryvirok commented on #146
Fixed

[2015-12-30 20:00] #146 closed

[2016-01-05 11:55] tume opened #170 "Reason for fetching error-stack-parser from git?"
We don't have git installed in our servers where we are doing our app building and would like to keep it that way.

Is there any specific reasoning behind depending on master version on error-stack-parser instead of specific version that could be fetched from npmjs?

[2016-01-05 19:31] coryvirok commented on #170
Funny that you mention this. error-stack-parser just removed their polyfills which was the reason for the fork.

https://github.com/rollbar/error-stack-parser/commit/3e75313177fe6f619436a48d701886ab85dea995#commitcomment-15231423

I'll get this tested and merged today.

[2016-01-05 20:16] coryvirok commented on #170
Done - https://github.com/rollbar/rollbar.js/blob/master/CHANGELOG.md

[2016-01-05 20:16] #170 closed

[2016-01-07 04:08] dozoisch opened #172 "Possible regression between 1.7 and 1.8 about Notifier.configure"
Hello guys!

I'm using rollbar using the UMD build the following way

[code]

So Im setting a couple of payload variable right away.

And then, in one of my store actions I would do the following

[code]
To set the userId in the payload.

With 1.8, all my items are now version-less.
I've logged in the Notifier

[code]

And the `extend` is in deep overriding (false means shallow not deep).

I'm won

[2016-01-07 23:43] InstanceOfMichael opened #173 "Some parts of _rollbarConfig ignored in bower example?"
[code]

It seems that ``_rollbarConfig.payload.environment`` and any variation of ``_rollbarConfig.*.(person|user)`` are ignored in the bower example and must be manually set via ``Rollbar.config()``

[2016-01-14 05:27] albertyw opened #177 "Readme rollbar code is outdated"
The minified rollbar.js in the readme (https://github.com/rollbar/rollbar.js/blame/master/README.md#L24) doesn't match the code in the dist directory (https://github.com/rollbar/rollbar.js/blob/master/dist/rollbar.min.js)

[2016-01-15 17:46] Crisfole commented on #177
Hi @albertyw Rollbar.js is different from the snippet. The snippet dynamically loads rollbar.js for you. They're not intended to be identical.

Are you having trouble getting started with Rollbar?

[2016-01-18 19:44] coryvirok commented on #177
Closing this but if you have anymore questions, @albertyw please let us know!

[2016-01-18 19:44] #177 closed

[2016-01-19 15:06] Crisfole commented on #172
Hey there! Thanks for pointing this out. We have a fix in place for this in the latest version of rollbarjs!

[2016-01-19 15:06] #172 closed

[2016-01-31 17:18] santomegonzalo opened #178 "new errors when I execute "rollbar.warning""
I made a handler to override browser warnings so every time I called console.warn('something') my handler will show the warning on console and will send it to rollbar. In the latest version I started to get this error after call console.warn('something');

`[Rollbar]: Error: No message, stack info or custom data(…)`

and this is my handler

[code]

Thanks!

[2016-02-01 12:23] Crisfole commented on #178
You don't say what the error is, but at first glance it looks like you've forgotten to use `apply` for rollbar's method too. Something like this should work fine:

[code]

[2016-02-01 14:04] gsantome commented on #178
hello @Crisfole, thanks for you reply. I will try what you are saying... i dont know how that will affect because I'm just calling rollbar method. So the documentation said "Rollbar.warning('message')" and what im showing you used to work with the old version but with the new version I started to get a lot of errors until i get Max calls

the error is

`[Rollbar]: Error: No message, stack info or

[2016-02-01 14:50] Crisfole commented on #178
Ah. Rollbar uses `console.warn` under the hood. That's what you're seeing.

As for `arguments`: arguments is an array. Sending an array will not result in what you expect (It will probably send fine, but will be grouped in an odd way).

[2016-02-01 15:01] gsantome commented on #178
great... thanks @Crisfole your code fixed the problem. btw your product is great!

[2016-02-11 09:09] koenoe commented on #131
This works perfectly in the browser indeed, but in my Karma unit test it fails in PhantomJS:
[code]
It seems to be that $window.Rollbar is all of a sudden an empty object instead of the Rollbar instance.

Examples:
[https://gist.github.com/koenoe/ea754b7cb52000b02074](https://gist.github.com/koenoe/ea754b7cb52000b02074)
[https://gist.github.com/koenoe/2051f76a8f29d984c2d1](https://gist.github.com/

[2016-02-12 20:55] code-constructor commented on #107
+1

[2016-02-16 18:21] netzaffin opened #181 "Global reporting does not work?"
Hi,

I'm very fine with rollbar, but I stumbled upon one issue. I made a mistake in my app, so in some circumstances a required JS file is not loaded (<script src="..."></script> does not exists in the DOM). Of cause, something will fail:

Console says: _Error: [ng:areq] Argument 'CreateCtrl' is not a function, got undefined_

I'm not sure why, but this is not send to my rollbar account (while man

[2016-02-16 18:51] brianr commented on #181
Hi @netzaffin - that looks like an Angular.js error coming from the Angular.js exception handler. To send those errors to Rollbar, you'll need to add a little more instrumentation. Fortunately ng-rollbar can take care of this for you: https://github.com/tandibar/ng-rollbar

Take a look there; I *think* that will do what you need. If not, please reopen this issue. Thanks!

[2016-02-16 18:51] #181 closed

[2016-02-24 22:41] brendancf commented on #109
I see these as well on our site.  Was there any resolution to this?

[2016-03-08 06:00] fform opened #182 "Disable Rollbar.js when adblock/ghostery"
I get a lot of errors from libs though my site when users adblock or browser extension is ripping out javascript.

Is there an option to just not send events from those users? Does anyone have a solution for this scenario? I get that I could more safely call these libs but this site is at a stage where it's not worth implementing a bunch of re-writing when I could just flip a flag to ignore client

[2016-03-08 08:53] piotrd commented on #182
One option is a function called `checkIgnore` (https://rollbar.com/docs/filter-or-ignore-errors-from-bots/), which would allow you to ignore certain errors from being sent to Rollbar. Detect if adblocker is active and if so, return `true` from it.

[2016-03-08 14:43] Crisfole commented on #182
Hey @fform, @piotrd is right, `checkIgnore` would do the trick. You could also try simply disabling the error reporting when you notice a missing script:

    rollbar.configure({enabled: false});

[2016-03-17 16:55] respectTheCode opened #185 "Support for React-Native"
We use rollbar for all of our web and native mobile projects but it doesn't work with react-native.

[2016-03-18 16:09] pimterry commented on #107
I've had a run at fixing this: see #186.

[2016-03-29 01:40] lparry commented on #149
I was just looking into why it's so big myself. in the `release` directory it seems to include every release ever. Not sure if this is an oversight or intentional, but it doesn't seem right to me

[2016-04-06 14:58] billychan opened #187 "Accept custom error of 'object' type?"
Hi,

We have seen some of the errors on our Rollbar project don't have columnNumber and backtrace which make it quite hard to debug. Something like:

[code]

After investigation, we found the reason is we are using Backbone.Marionette and those errors are raised by [Marionette.Error](https://github.com/marionettejs/backbone.marionette/blob/master/src/error.js), whose type is 'object' but not 'erro

[2016-04-08 23:21] mattdrees opened #188 "error report does not include the custom object when it is an array"
When sending an object, like this:
[code]
the `body` sent in the report contains the object:
[code]

However, when sending an array, like this:
[code]
the `body` sent in the report doesn't contain the array; rather it is silently ignored:
[code]

I think this is due to `_getLogArgs` failing to account for when `argT` is 'array'.

[2016-04-12 15:56] gfarrell opened #189 "Rollbar.configure is not a function"
`Rollbar.configure` causes "is not a function" errors. I'm getting it as:

[code]

`Rollbar.init()` has always worked for us.

[2016-04-12 16:17] Crisfole commented on #189
Hey there, any chance you have a rollbar item to go with it? (A uuid would serve as a link i could use to look at it, but would be secure to post here). I'm wondering if it's a specific browser. I just heard about something similar in the support queue, but it was only for IE9. Trying to track down the issue.

[2016-04-12 18:14] gfarrell commented on #189
Well, the occurrence # is 12680914812 if that helps.

This was on latest Chrome.

[2016-04-13 01:11] corps commented on #149
Is this issue outdated?  I just took a peak at the bower install directory for rollbar.js, and the total size was 1.1mb, it seems that the release directory is no longer included.  It's possible to reduce this size a bit further, but the gains will be diminished, and would only involve removing optionally useful things (like various loader versions of the build, src/ directory).

One other possibi

[2016-04-13 01:18] brianr commented on #149
@corps Looking at [bower.json](https://github.com/rollbar/rollbar.js/blob/master/bower.json), it looks like we may really only need to have one file in it, `dist/rollbar.umd.js`. If that's correct, then it seems we could make the package nice and small - down to ~80kb.

[2016-04-13 01:45] corps commented on #149
Sure thing.  We should also consider announcing such a change as breaking, however, since any bower consumer who was relying on the presence of source maps, or other specific files, would suddenly break.

[2016-04-13 01:53] brianr commented on #149
Hm, good point.

@lparry and @jirihelmich , how does the current package size work for you? Are we still unusually huge or are we into the normal zone? Would removing the `src/` folder and the other files in `dist/` break anything for you?

[2016-04-13 04:59] jirihelmich commented on #149
We use just rollbar.min.js from dist folder of that package to reference it into our application.

[2016-04-16 22:14] davewasmer opened #195 "Is the Cloudfront distribution URL stable?"
I've noticed that the Rollbar.js snippet loads the full library from a Cloudfront distribution (`https://d37gvrvc0wt4s1.cloudfront.net/js/v1.8/rollbar.min.js` specifically).

Does Rollbar guarantee that distribution will be the same in the future? If not, could you add a CNAME to provide a stable URL (i.e. `cdn.rollbarjs.com` -> whatever distribution is active).

---

**Edit:** for context, I real

[2016-04-20 17:25] Zhomart opened #197 "Is it possible to disable cookie for rollbar.com?"
I don't want my web page that has rollbar.js on it to store cookies from other resources, including rollbar.com. Is it possible to disable or get around it?

[2016-04-20 17:44] coryvirok commented on #197
Hi Zhomart,

We shouldn't be setting cookies via the rollbar.js endpoint. Can you point me to a publicly accessible page where I can see this happening?

Thanks

[2016-04-20 18:03] Zhomart commented on #197
Hello @coryvirok ,

You're right, I tried on my page manually reporting to rollbar using `Rollbar.info` and chrome doesn't show any cookies from rollbar.com.

I got this report other person who claims it stores cookies from rollbar.com because their security personnel told him. And I thought that chrome doesn't show cookies from other resources.

I've looked at response headers and there is no set

[2016-04-20 19:01] coryvirok commented on #197
api.rollbar.com shouldn't ever be setting cookies and rollbar.js should only be communicating with api.rollbar.com. I'll look into your question a bit more and if you get anymore info please feel free to update this ticket or send an email to support@rollbar.com and link this issue.

[2016-04-20 19:01] #197 closed

[2016-04-20 20:01] cyril-sf opened #198 "Authentication required"
We're running Rollbar 1.7.1 in production and one of our clients saw this modal.

![screen shot 2016-04-20 at 1 01 21 pm](https://cloud.githubusercontent.com/assets/743977/14688536/eb234b06-06f7-11e6-80da-870148cd29ab.png)

Why is this happening?

[2016-04-20 20:27] thangdinh commented on #198
If it is one client, could we ask them to clear the chrome?
https://productforums.google.com/forum/#!topic/chrome/8AvoE5yotUs

[2016-04-20 21:58] coryvirok commented on #198
Hi @cyril-sf,

Yikes! That should definitely *not* be happening. We are looking into it.

[2016-04-20 22:21] cyril-sf commented on #198
We don't do any error handling in case Rollbar doesn't initialize/configure properly. I looked (too?) quickly at the doc and didn't see anything there.

Could we do something to detect such a problem and to prevent us from calling `Rollbar.warn` or `Rollbar.error` in that case?

[2016-04-21 08:08] coryvirok commented on #188
@mattdrees this should be fixed in the latest rollbar.js release. If you are still seeing this please re-open this issue.

[2016-04-21 08:08] #188 closed

[2016-04-21 18:51] mattdrees commented on #188
thanks @coryvirok , @corps!

[2016-04-22 12:23] Crisfole commented on #198
We just received notice from your co-worker through support@rollbar.com that this was a universal problem (not just on Rollbar enabled sites) for that client. Thanks for letting us know. If it turns out to be a Rollbar issue please get back to us!

[2016-04-22 12:23] #198 closed

[2016-04-27 16:59] maxs15 opened #199 "SecurityError Unable to set property '_wrappedSource' of undefined or null reference"
I'm getting this error on my rollbar.
It looks like it is caused by the rollbar init script for windows phone users. (I'm using rollbar 1.9.0)
Any idea what could be the issue ?

Thanks

[2016-04-29 12:31] charles-rumley commented on #167
I noticed Rollbar truncates `code_version` to 7 characters when storing error occurences. A source map is uploaded with version (Full Git SHA) `cad136d7e16ebdf6edc31722f47dd5dfe291ffaf`, and client-side Rollbar configuration contains `client.javascript.code_version=cad136d7e16ebdf6edc31722f47dd5dfe291ffaf`but viewing an error occurrence in the Rollbar console shows `client.javascript.code_version=

[2016-04-29 15:05] Crisfole commented on #167
@charles-rumley: the code version isn't truncated! We just truncate it for display purposes. If you click `Raw JSON` on the bottom of an occurrence page you'll see that the data is still intact.

[2016-04-29 15:11] charles-rumley commented on #167
Good call, I didn't notice that. What purpose does truncating it for display serve?

[2016-05-03 16:11] billychan commented on #187
I think we'll be good to override Rollbar method locally at first. Maybe this issue could be a reference for future improvement.

[2016-05-03 16:11] #187 closed

[2016-05-10 11:37] rolandpeelen opened #201 "Snippet error's out in Karma CLI"
We're using rollbar in conjunction with https://github.com/anotherpit/angular-rollbar
Basically it allows us to set the settings using angular based on production or development environment. But, the `this.$get` function errors out when running the snipped with the following error:

[code]

In browser it works fine, but karma tests fail (sometimes). It looks like the loading of some of the snippet

[2016-05-10 16:09] dlsteuer commented on #201
Hi @rolandpeelen

Can you try loading Rollbar as a `umd` module instead of dynamically and see if that resolves your issue? This way it should always be available when the tests try to run.

First go to https://github.com/rollbar/rollbar.js/blob/master/dist/ and grab the file you want to use (rollbar.umd.min.js or rollbar.umd.nojson.min.js). The nojson one is a bit faster, but you lose support for

[2016-05-11 18:55] dlsteuer commented on #199
Hi Maxime,  replying to your message in Support, sorry for the delay.

[2016-05-11 18:55] #199 closed

[2016-05-11 19:23] dlsteuer commented on #195
Hi @davewasmer I apologize for the delayed response, but yes that url is stable.

[2016-05-11 19:23] #195 closed

[2016-05-11 19:32] brianr commented on #195
To elaborate on that:

Eventually, we may change the snippet to use something like `cdn.rollbarjs.com` instead of the direct Cloudfront URL. However, there are thousands of websites that are using the snippet with the Cloudfront URL in it, and we are committed to making sure those continue working. For the foreseeable future, you can count on that URL being valid.

[2016-05-18 06:30] alienisty opened #203 "Rollbar breaks page loading in IE10+"
Rollbar affects page loading in IE 10+, specifically, the page readyState does not get pass the 'interactive' state, and as a consequence the 'loaded' event is never fired.

The following file [rollbar-ie-bug.zip](https://github.com/rollbar/rollbar.js/files/269750/rollbar-ie-bug.zip) contains a very simple HTML file that reproduces the problem.

If you remove the rollbar snippet, the alert is show

[2016-05-18 13:36] Crisfole commented on #203
@coryvirok, @jondeandres related to #199 ?

[2016-05-26 19:51] lukebayes opened #204 "rollbar module fails to load when using Domino js"
The console-polyfill library does not work properly according to spec as it always attempts to write to the read-only "console" property on window.

I have put together a pull request for them, but in the interim, you might want to fork from the PR branch and inline the fix.

  https://github.com/paulmillr/console-polyfill/pull/25

[2016-05-31 17:32] dlsteuer commented on #203
Hi @alienisty, thanks for the HTML file, I grabbed that and tried to replicate this in my own environment, I tried it with an IE10 VM provided by Microsoft from http://modern.ie and on IE11 on my Win 10 box, but was unable to replicate the issue here. Is there any additional information that you can provide so we can get this fixed?

[2016-05-31 23:58] alienisty commented on #203
Hi @dlsteuer, I since reset IE settings to default and the problem did not happen again. I think I changed some of the security settings before the problem started, but I can't remember the details for sure.

[2016-06-01 03:07] dlsteuer commented on #203
I'm going to close this for now then, let us know if this happens again to you, and if so what settings you have set for IE.

[2016-06-01 03:07] #203 closed

[2016-06-03 10:30] ctrager opened #205 "Object.create introduced in version 1.8 doesn't work on ie8"
Object.create not supported in IE8.  Was not in rollbar.js 1.7, but is in rollbar.js 1.8
![screen shot 2016-06-03 at 5 24 14 am](https://cloud.githubusercontent.com/assets/61188/15776267/34a529ea-294c-11e6-970d-0026d7d506a9.png)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create

[2016-06-11 07:14] antoinerousseau commented on #185
That would be great.

Sentry doc about it: https://docs.getsentry.com/hosted/clients/javascript/integrations/react-native/

Some discussions:
https://github.com/facebook/react-native/issues/1194
https://github.com/facebook/react-native/issues/5378

[2016-06-14 17:04] dozoisch commented on #185
Same situation here!

[2016-06-24 00:20] dlsteuer commented on #173
I added some additional configuration options to the bower example in #202

[2016-06-24 00:20] #173 closed

[2016-06-24 00:27] #182 closed

[2016-06-24 00:28] #178 closed

[2016-06-24 00:44] dlsteuer commented on #167
@charles-rumley we truncate if it's recognized as a git sha1 hash, similar to how you can reference a git commit for it's short hash.

[2016-06-24 00:44] #167 closed

[2016-06-24 00:47] #149 closed

[2016-07-13 15:56] c-h- commented on #185
Same here!

[2016-07-16 15:39] nabilanm4 opened #209 "Social media network development"
Support for all Social media network

[2016-07-18 20:11] nabilanm4 opened #210 "jw player"

[2016-07-18 22:42] dlsteuer commented on #209
Hey there @nabilanm4 can you expand on the issue you are facing?

[2016-07-18 22:43] dlsteuer commented on #210
Hey there @nabilanm4 can you expand on the issue you are facing here with jw player?

[2016-08-24 18:33] dandv opened #212 "Reengagement emails from Ivan bounce"
Hey guys,

I've replied to two re-engagement emails from ivan@rollbar.com but they both bounced.

[2016-08-24 18:37] brianr commented on #212
Huh, that's no good. Thanks @dandv for the heads-up. You can try me at brian@rollbar.com

[2016-08-24 18:37] #212 closed

[2016-08-24 18:45] dandv commented on #212
My bad - Gmail was automatically selecting a different From address when replying, which no longer works. All's good!

[2016-08-25 01:25] tinovyatkin commented on #189
Similar error with IE10
![bs_win8_ie_10 0](https://cloud.githubusercontent.com/assets/5350898/17953440/4fd7ce9e-6a41-11e6-981c-21a5eeb6620a.jpg)

[2016-08-25 02:28] tinovyatkin opened #213 "Beacon API"
Why don't you use navigator.sendBeacon for reporting? Supported by Edge, Firefox and Chrome its way bigger user coverage that XDomainRequest that you do have implemented, and reliability (specially on unload use cases) is much higher than XHR.
Will you accept Pull Request for it? I can do it, I think...

[2016-08-25 05:23] tinovyatkin commented on #213
Just submitter pull request #214 to close this if you will consider.

[2016-08-26 15:59] jirihelmich opened #215 "npm package - remove release folder"
Hi,

I just went through our dependencies and found out that rollbar is our largest (in terms of filesize) dependency - by far!

The tarball for rollbar has over 5 MBs. And most of it is because of the presence of the release folder in the package. That package contains many old released versions.

My question is: Is it OK to have version history in a versioned package? I believe the answer is no.

[2016-08-26 16:34] ezarowny commented on #215
This is probably a good idea. Let me look into it.

[2016-08-26 20:45] ezarowny commented on #215
I'm not quite sure why we need this. I'm going to file an internal ticket to discuss it on Monday.

[2016-08-29 18:52] brianr commented on #215
Hey @jirihelmich - thanks for bringing this up. We do keep the old releases around so that we can serve them from our CDN, but I agree with you that they don't need to be in the npm package. We've got this on our todo list.

[2016-08-30 07:08] jirihelmich commented on #215
Hey, @brianr, great to hear that! We love your product as it helps us on daily basis. And now, it will be even better! Cheers!

[2016-09-03 15:07] jahed commented on #189
Might have misunderstood the problem here but `Rollbar.configure` is only available on the initialised Rollbar instance.

i.e.

[code]

I don't think this is an issue. Though it's probably worth being clear on what `rollbar-browser` exports by default in the docs.

[2016-09-03 15:08] jahed opened #216 "Support Regex in ignoredMessages"
It would be nice if ignoredMessages supported regular expressions so we don't have to be so specific in the messages we ignore.

If this feature does already exist, it's worth updating the docs on it: https://rollbar.com/docs/notifier/rollbar.js/

[2016-09-03 16:20] Crisfole commented on #216
Last I checked ignoredMessages was a strict match. For anything more complex you can use the checkIgnore function documented here: https://rollbar.com/docs/notifier/rollbar.js/configuration/#notifier

[2016-09-19 10:01] rarkins opened #219 "user_ip = $remote_ip is being replaced with 10.61.151.100 in many cases"
I just discovered that dozens of Rollbar.js occurrences every day are being attributed to 10.61.151.100 in the Rollbar UI. These are happening at all times of day and across a variety of devices, browsers, and operating system versions. i.e. extremely unlikely that it's the same user. This IP address has been reported with a significant percentage of errors since the day I deployed Rollbar.js.

In

[2016-09-19 19:29] brianr commented on #219
Hi @rarkins - this is an issue on our side. We're working on a fix.

[2016-09-19 21:30] brianr commented on #219
This should be fixed now (for all but a few laggard clients with an old DNS entry cached).

[2016-09-19 21:30] #219 closed

[2016-09-21 10:41] iafonov opened #220 "Rollbar doesn't handle `throw "error"` well"
Rollbar breaks when it tries to process `throw "String error"`. It tries to get stack trace - hovewer error is not wrapped into object.

[Codepen](http://codepen.io/anon/pen/ZpBrBr) - please add `accessToken` in configuration

<img width="737" alt="screenshot 2016-09-21 13 40 20" src="https://cloud.githubusercontent.com/assets/32007/18707952/0926478e-8001-11e6-8a52-620e651da6bc.png">

Expected: ro

[2016-09-21 10:43] jondeandres commented on #220
@iafonov did you try `throw new Error('String error')`?

[2016-09-21 10:44] iafonov commented on #220
Yes it works fine with wrapped errors. We need it to support `throw "test"` constructions too, it looks like perfectly legal js error that should be reported. (I understand that stack trace would not be available)

[2016-09-21 18:00] tinovyatkin commented on #213
Just closed my pull request as it handled HTTP headers incorrectly and I found a way to use benefits of navigator.sendBeacon (such as messages delivery on unload and native queuing) using following code:
https://gist.github.com/tinovyatkin/04af5dd71496aa9367cb034de1b3eb16

[2016-09-21 22:16] erickreutz commented on #185
We need this!

[2016-09-23 04:45] brianr commented on #213
OK, thanks @tinovyatkin for keeping us in the loop! We have a task we're tracking internally for this and hope to get to it in the near future.

[2016-09-23 04:48] brianr commented on #220
Thanks @iafonov - agreed, we should at least handle `throw "test"` in a reasonable way. We'll get this on our todo list. Also very open to a PR that fixes this.

[2016-09-23 17:19] coryvirok commented on #220
Hrm, this used to work.

[2016-09-30 00:04] iafonov commented on #220
Any updates?

We are kind of paying for using rollbar :wink:

[2016-09-30 13:59] BrunoQuaresma opened #221 "How can i use with React + Webpack?"
It is possible integrate Rollbar with React + Webpack?

[2016-10-03 20:32] coryvirok commented on #220
Yes. I'm going to get a new release out today!

[2016-10-03 21:57] coryvirok commented on #220
Should be fixed in v1.9.2 - https://github.com/rollbar/rollbar.js/issues/220

[2016-10-13 10:14] antoinerousseau commented on #185
I have set up my RN app to call the Rollbar API when catching an exception, and it works great.
It looks like this (more or less):
[code]

However I couldn't manage to upload the source map to Rollbar.
[code]
After multiple tries, I read this on the website:

And my source map does indeed contain "sections".
Any thoughts?

[2016-10-13 18:43] brianr commented on #220
@iafonov Have you had a chance to verify this in the latest version?

I'm going to close this out but please reopen if it's not fixed.

[2016-10-13 18:43] #220 closed

[2016-10-14 14:25] antoinerousseau commented on #185
Finally had to switch to Sentry. Their React Native plugin worked great for me, and they support source maps with sections.
https://github.com/antoinerousseau/tribeez/blob/master/src/mobile/report.js

[2016-10-14 17:18] respectTheCode commented on #185
We switched to bugsnag after we couldn't get sentry to work.

[2016-10-14 17:28] antoinerousseau commented on #185
Bugsnag looks neat indeed!
https://docs.bugsnag.com/platforms/react-native/

[2016-10-14 19:53] brianr commented on #185
Hey everyone - just checking in to say we see this and we're planning to work on it soon. Will provide an update as soon as we have a timeline.

[2016-10-17 10:25] mrjumpy opened #223 "webpack + reactjs"
can't get uncaught.
but if i follow the window.onerror, it will work.

what's the problem.

[2016-10-21 01:31] andrewmclagan opened #224 "Ability to set logLevel when using Rollbar.log - per request"
Would be great if we could set the log level through  the `Rollbar.log` function rather then each specific log level call e.g. `Rollbar.info` `Rollbar.error` `Rollbar.debug` etc...

Currently we do the following:

[code]

[2016-10-21 02:22] brianr commented on #224
Do you want to set it each time you call `Rollbar.log`, or once per page load?

If once per page load (or just, once at a time), there's a config param for that:

[code]

If once per call, you can set the level using `scope` like this:

[code]

There's also `Rollbar._log`, which is not part of the public API, but might be what you want:

[code]

[2016-10-21 11:28] andrewmclagan commented on #224
perfect!

[code]

[2016-10-21 11:28] #224 closed

[2016-10-24 05:25] pratishshr commented on #223
any updates on this?

[2016-10-25 10:51] gerardramos opened #225 "Better Error messages on registration form"
Need clean error messaging on the registration form.

<img width="637" alt="screenshot 2016-10-25 05 50 20" src="https://cloud.githubusercontent.com/assets/4189369/19683227/0d7ab9d8-9a77-11e6-99f4-05aecf763db2.png">

[2016-10-25 10:51] #225 closed

[2016-10-27 23:36] #210 closed

[2016-10-30 16:54] tarr11 commented on #185
Yeah, this is a showstopper for me.  Will probably switch soon if this isn't fixed.  Love rollbar otherwise though.

[2016-11-07 18:43] andrewchilds commented on #216
According to https://github.com/rollbar/rollbar.js/blob/b04781118f5882095aaa2d5ef3b3cf068fe4372e/src/notifier.js#L509-L517, ignoredMessage strings get parsed as a regex and have for a while.

[code]

I also just verified I could use a regex for ignoredMessages using v1.9.1:

[code]

[2016-11-16 23:50] skylarmb commented on #185
+1 ! We love it on web but would like to use it in react native as well

[2016-11-17 03:01] kirkchris commented on #98
@efreed thanks for mentioning that. we hit this today because we had loaded rollbar and then accidentally also left it enabled via segment. exactly the cause! made it a quick fix ;)

[2016-11-18 06:38] #209 closed

[2016-11-18 06:51] brianr commented on #159
Closing this out because it's likely fixed in the latest. Please re-open if this is still happening. Thanks!

[2016-11-18 06:51] #159 closed

[2016-11-18 06:51] #144 closed

[2016-11-18 06:51] brianr commented on #144
Closing as I think this is answered; please re-open if not. Thanks!

[2016-12-08 18:43] modosc opened #227 "extractIp logic is broken"
all of our exceptions show `request.user_ip` to be a non-routable address - this is because external connections bounce through several layers of AWS infrastructure. we can get the correct client ip address with [request-ip](https://www.npmjs.com/package/request-ip) though - would you be open to a pr which uses this module to replace `extractIp()`? alternately would it be possible to make the ip a

[2016-12-09 11:31] rivkahstandig3636 commented on #223
Can you explain further what your issue is?

[2016-12-09 11:31] rivkahstandig3636 commented on #221
It should be; what issues are you having?

[2016-12-09 11:32] #216 closed

[2016-12-21 16:48] MacsDickinson opened #228 "Support for isomorphic react applications"
There are currently two javascript clients for rollbar, [node_rollbar](https://github.com/rollbar/node_rollbar/) and [rollbar.js](https://github.com/rollbar/rollbar.js).

Neither of these libraries work for an isomorphic react application, node_rollbar has a [CORS issue](https://github.com/rollbar/node_rollbar/issues/93) when used on the client and rollbar.js understandably throws an error as wind

[2016-12-23 17:58] toddjcrane opened #230 "Rollbar reports break CSP"
On line 1, column 27491 of your rollbar.min.js hosted on cloudfront, you use an eval() tag. In order to allow this, one must allow 'unsafe-eval' in Content-Security-Policy rendering it effectively useless.

The advantages of CSP are well documented as are the security risks of not using it.

Do you have another rollbar.js version without this and/or can you refactor your code to not use this, or a

[2016-12-23 18:03] brianr commented on #230
Hi @toddjcrane - we sure do. You'll want to use the 'nojson' distribution. In your `_rollbarConfig`, just set:

[code]

[2017-01-04 01:24] staxmanade opened #231 "[Rollbar]: TypeError: Cannot read property '_getLogArgs' of null"
another part of my app was raising an exception and was noticing the following error in the console

[code]

here's my rollbar setup

[code]

Any thoughts?

[2017-01-05 17:08] stclairdaniel commented on #231
Thanks for letting us know. Your config looks fine, so we'll need to take a look into what's causing that. Is there any more context you can provide surrounding the error?

[2017-01-05 19:21] staxmanade commented on #231
@stclairdaniel I'll provide some other details, but don't think they'll help much...

I've seen this error in both the website version of my app in the Chrome browser as well as inside a Windows 10 "Hosted Web App"... (ha but that likely won't really help).

[2017-01-11 14:35] antoinerousseau commented on #158
could it be that this doesn't work in Chrome versions 47 and older? I'm getting a lot of `TypeError: 'undefined' is not a function` without stacktrace but can't determine their origin... the only recurrent thing is that they happen on Windows 7 and in Chrome 32, 36 and 47...

[2017-01-19 19:51] paulpatarinski commented on #65
Great job @jtomaszewski your workaround worked for me.

[2017-01-20 09:46] onejgordon commented on #215
Big +1 on this, any schedule for removal of unneeded releases in package? According to cost-of-modules, rollbar-browser now sits at 19.76mb. Our largest by a large multiple.

[2017-01-20 18:59] brianr commented on #215
Hey everyone, thanks for the attention - consider this bumped back up on our priority list.

[2017-01-22 00:39] eshikerya opened #234 "add possibility to filter issues came from foreign scripts"
Last few month I'm hunting for flooding occurrences related to foreign scripts, like:
* Intercom IE/EDGE issue (about 3000 occurrences for last 5 days)
* Mecach console.clear issue(had 12000 occurrences today, reports starts showing with 3 hours delay)
etc...

I mean - error in such scripts flooding our account and for now I see only one possibility: is block IP address from where it came.
I'd lik

[2017-01-23 20:36] arbesfeld opened #235 "Rollbar multiple configure"
Can I call `Rollbar.configure` multiple times in my app? I have a snippet of code that wants to add extra metadata without clobbering the existing config.

[2017-01-23 20:39] brianr commented on #235
Yes, you sure can! Each subsequent call will update the configuration with whatever params are provided.

[2017-01-23 20:39] #235 closed

[2017-01-23 20:42] arbesfeld commented on #235
thanks! perhaps the docs are wrong here? https://rollbar.com/docs/notifier/rollbar.js/api/

[2017-01-23 20:44] brianr commented on #235
Ah, yeah that could be more clear. "Update" is probably a more accurate term than "overwrite". Thanks!

[2017-01-23 23:01] #230 closed

[2017-01-25 15:35] ukaaa opened #236 "Add a way to get the UUID before the callback"
When an error occurs in our app, I would like to log it to Rollbar and then direct the user to a separate error page that displays the UUID. This way they can refer to it when they contact our support team.

Unfortunately, even though the UUID is generated client-side, I can only access the UUID in the callback provided to e.g. `Rollbar.error()`. Would it be possible to get the UUID sooner? Perhap

[2017-02-06 19:20] lehresman opened #238 "Missing build dependencies"
While trying to build this package locally with `npm install -D`, I keep getting:
```UNMET PEER DEPENDENCY webpack-dev-server@1.x```

This is fixed by adding `webpack-dev-server` to the dev dependencies in `packages.json`.

Also, running "make" revealed that `grunt-parallel` is expected, but is not installed:
```>> Local Npm module "grunt-parallel" not found. Is it installed?```

[2017-02-06 20:06] lehresman opened #240 "Karma tests fail on macOS Sierra due to PhantomJS 1.9"
PhantomJS 1.9 seems to not work on macOS Sierra.
https://github.com/karma-runner/karma-phantomjs-launcher/issues/138

I have confirmed that upgrading the dev dependency to 2.1 fixes the problem and karma tests run properly.

[code]

[2017-02-06 22:04] ezarowny commented on #240
Ah, very cool. I just ran into this myself. I'll give it a shot. Thanks!

[2017-02-06 22:06] ezarowny commented on #238
What version of node are you building with?

[2017-02-06 22:07] lehresman commented on #238
6.6.0

[2017-02-06 22:40] #238 closed

[2017-02-06 22:42] ezarowny commented on #238
Thanks man. Looks good now!

[2017-02-06 22:44] ezarowny commented on #240
Phantom is, uh, a little confused: `PhantomJS 2.1.1 (Mac OS X 0.0.0): Executed 3 of 3 SUCCESS (0.015 secs / 0.012 secs)` 😄

The tests all pass with version though. Thanks!

[2017-02-06 22:45] #240 closed

[2017-02-08 10:09] ukaaa commented on #236
Any thoughts?

[2017-02-09 21:33] brianr commented on #236
Hi @ukaaa - great suggestion - we're planning to do this; just figuring out the best way. It's on our list!

[2017-02-09 22:03] ukaaa commented on #236
Thanks @brianr, I'm looking forward to that! If I can help in any way please let me know.

[2017-02-10 20:28] coryvirok commented on #189
Going to close this one since this is working the way we intend.

[2017-02-10 20:28] #189 closed

[2017-02-10 20:37] coryvirok commented on #107
Closing since @pimterry PR was merged.

[2017-02-10 20:37] #107 closed

[2017-02-10 20:42] coryvirok commented on #63
Looks like this has already been implemented. Closing.

[2017-02-10 20:42] #63 closed

[2017-02-10 23:29] rokob commented on #204
The mentioned PR for console-polyfill has been merged upstream, looks like we just need to ensure that we are using an up to date version of said library.

[2017-02-10 23:34] coryvirok commented on #79
Although we have a batch endpoint we have deprecated it a little while ago. Sending a group of events together is not really much more performant and causes a lot of different issues on the backend. For example, rate limits become difficult to enforce and are less performant since we cannot just use the access token header to determine if we need to return 429. We need to parse and deserialize all

[2017-02-10 23:34] #79 closed

[2017-02-11 00:33] coryvirok commented on #234
Check out the `hostWhiteList` configuration option. It will enable you to ignore errors which come from scripts on hosts you have not whitelisted.

[2017-02-11 00:42] eshikerya commented on #234
it doesn't actually work as far the source/stack of the error have script from whitelisted domain but issue goes from the script loaded from 3rd party domain.
lets say domain **white.com** is whitelisted, **black.com** is not, of course. the script of 3rd party is loaded from **black.com** and I don't want to track errors from this domain. But, script from **white.com** calling function defined in

[2017-02-13 12:18] hakunin commented on #221
Here is a reference on how to do it:
https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

But its outdated, here is what I am doing:
[code]

[2017-02-13 12:20] hakunin opened #241 "Update/add to webpack example"
Hey guys,
I don't see an example that just requires the package, instead it says to download it.
https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

[code]

[2017-02-13 13:26] #221 closed

[2017-02-13 14:59] lehresman commented on #236
@ukaaa Great idea!  Thanks for the suggestion.  I submitted a PR with this functionality.  You'll be able to get the UUID from any of the log functions now.
[code]

[2017-02-13 15:04] lehresman commented on #227
I believe this has been filed under the wrong notifier.  This seems to be related to the node notifier.  Closing this issue, but moved it here:  https://github.com/rollbar/node_rollbar/issues/104

[2017-02-13 15:04] #227 closed

[2017-02-13 15:09] ukaaa commented on #236
Thanks @lehresman and sorry for not making a PR myself, I wasn't sure if my suggestion was acceptable to the Rollbar team.

[2017-02-13 15:14] lehresman commented on #236
No worries!  Thanks for the suggestion.

[2017-02-13 15:24] lehresman commented on #204
Thanks @lukebayes.  I've submitted a PR that updates the rollbar.js dependency for console-polyfill to a version that includes your fix.

[2017-02-13 15:56] lehresman commented on #141
I have verified that the UMD version does indeed still contain references to `document` and `window`. @coryvirok and @rokob thoughts?

[2017-02-13 16:06] lehresman commented on #132
We replaced TraceKit with error-stack-parser in v1.3.0, but it looks like the submodule is still present.  Should be easy to remove with no consequence, but I wanted to confirm with @coryvirok and @rokob first.

Any reason not to remove these lines?
https://github.com/rollbar/rollbar.js/blob/e9748666563b9d02cc110d2907cf3103b2b48506/.gitmodules#L1-L3

I do not see any other references to TraceKit i

[2017-02-13 16:55] modosc commented on #227
sorry about that, thanks!

[2017-02-13 19:11] lehresman commented on #109
I am able to reproduce this very easily.

1. Run a local web server (I just reused a Rails project I had and ran "rails serve")
2. Stick a simple `rollbar.html` file in the project root with the Rollbar snippet
3. Add the following at the bottom of the `rollbar.html` file just created

[code]

4. Load this in IE11

Notice the console output gives CORS errors:
![screen shot 2017-02-13 at 2 11 14 pm

[2017-02-13 19:24] lehresman commented on #109
Looks like this is only a problem on IE11 running on Windows 7 and 8.  The error has been removed on IE11 for Windows 10.

https://msdn.microsoft.com/query/dev12.query?appId=Dev12IDEF1&l=EN-US&k=k(VS.WebClient.Help.SEC7119)

"Note  This error code was removed in IE11 on Windows 10. It remains in IE11 for Windows 8.1 and Windows 7."

[2017-02-13 19:30] lehresman commented on #109
More research further convinces me that this is just a warning message and can be ignored.  See the discussion on http://stackoverflow.com/questions/24646732/sec7118-xmlhttprequest-cors-ie-console-message.

I have confirmed that this does not impact performance, and the Rollbar payload is still effectively delivered.  This is just a case of IE11 being excessively verbose.

Closing, since everythin

[2017-02-13 19:30] #109 closed

[2017-02-13 20:30] rokob commented on #57
Let's unify this discussion on #141 as it is newer and has some more comments.

[2017-02-13 20:30] #57 closed

[2017-02-13 20:34] rokob commented on #141
So this is definitely an issue, but the fix is not as simple as passing in the window and document to the IIFE in the UMD version. That may work in browser contexts, but the non-browser contexts would most likely still not work correctly which would lead to just different issues. The plan is to make this library truly universal by unifying this library with https://github.com/rollbar/node_rollbar

[2017-02-13 21:01] #204 closed

[2017-02-13 21:01] lehresman commented on #236
Merged.  You'll see this functionality in the next release.

[2017-02-13 21:01] #236 closed

[2017-02-13 21:11] lehresman commented on #128
I've looked into this console.log replacement, and it looks good for error reporting, but there are two main issues I see:

1.  It is not really a shim, in that it doesn't replace the `console.*` api.  Instead, it provides its own API.  We would need to write a wrapper around `console.*` which calls this.  That's not the end of the world, and could work really well.
2. The big problem I've seen th

[2017-02-13 21:16] lehresman commented on #128
Another option is to do browser detection and use `JSON.stringify` to output objects to console.log on browsers that would otherwise show `[object Object]`  (i.e.  IE)

[2017-02-13 22:56] rokob commented on #128
As to 1, we only use `console.info` to log an object, the other places use `console.error` with expections and strings, so I think we would only need to shim `info` by basically using this `log` code but setting the level to info.

As for 2, I haven't checked completely but it looks like there is an option for including the real line numbers which is false by default.

Looking at how we are using

[2017-02-13 23:04] stclairdaniel commented on #234
It sounds like we need to implement a hostBlackList configuration option. I'll pass that feature request along to the rest of my team and keep you updated going forward.

[2017-02-13 23:06] eshikerya commented on #234
@stclairdaniel thanx a lot!

[2017-02-14 19:15] rokob commented on #65
We are adding an explanation to the source map docs for this as that transform is the most straightforward way to handle this.

[2017-02-15 15:27] lehresman commented on #128
I'm hesitant to recommend this `console.log` replacement option.  Reading through the docs, and the nice writeup that was linked above, it's clear this is only intended to be used in development mode.  On older IE browsers (8 and below) it actually loads Firebug Lite from getfirebug.com.  Since this JS notifier will be installed on production websites and not just development mode, that is probabl

[2017-02-15 19:43] coryvirok commented on #128
I agree that we do not want to pull in something like Firebug for this behavior. Your proposal sounds like the right idea.

[2017-02-16 22:49] robtarr commented on #205
Is there any movement on this? I just picked up a project that is loading v1.9 via https://rubygems.org/gems/rollbar/versions/2.14.0, and it is causing errors in IE8 as well.

Is there fix for this?

[2017-02-17 17:27] syrnick commented on #234
+1 for the request. Host blacklist would work for me.

Also, consider adding "reportFilterFn" that takes and error/report obj and returns false (ignore) or true (report).

[2017-02-17 17:29] eshikerya commented on #234
+1 yep, it would be useful

[2017-02-17 18:25] #132 closed

[2017-02-17 18:25] #205 closed

[2017-02-17 18:25] brianr commented on #234
@syrnick Sounds like `checkIgnore` might be the `reportFilterFn` you're looking for. Have you seen that? See https://rollbar.com/docs/notifier/rollbar.js/configuration/

[2017-02-17 19:06] syrnick commented on #234
Nope. That's exactly what I've been looking for!! (could add that to the https://github.com/rollbar/rollbar.js/#ignoring-specific-exception-messages section ).

In that light, I don't even think you need a host blacklist...

[2017-02-17 21:07] #234 closed

[2017-02-17 21:54] rokob opened #248 "Support both browser and node environments"
This is a tracking issue for the work to make this library work in both the browser context and the node environment on the server. There are quite a few issues open in this repo as well as in https://github.com/rollbar/node_rollbar that will be resolved by unifying this libraries. I am starting work on this and will update this issue as the work progresses.

[2017-02-17 21:56] rokob commented on #228
I am working on making this library actually work on both the server and in the browser. In doing so, I will make sure we have a documented way to use it in an isomorphic application. The tracking issue for this work is: https://github.com/rollbar/rollbar.js/issues/248

[2017-02-17 21:57] rokob commented on #223
I am going to close this issue because there is not much we can do without further context. Feel free to reopen if there is still a problem.

[2017-02-17 21:57] #223 closed

[2017-02-17 21:59] rokob commented on #185
I am working on library support for react-native. Because of the unique environment, the plan is actually to have a different notifier library that deals with this use case directly. Much work needs to be done shuttling things across the js bridge into the native environments and this would not be well suited to live in the rollbar.js library. I will update this issue with further information as t

[2017-02-17 22:00] rokob commented on #65
I am going to close this issue and push on getting those docs updated as soon as possible. Feel free to re-open if there is anything else to add here.

[2017-02-17 22:00] #65 closed

[2017-02-17 22:01] rokob commented on #201
There hasn't been an update on this issue in a while, is this still a problem that you are having?

[2017-02-17 22:02] rokob commented on #141
I am working on making this library actually work on both the server and in the browser. In doing so, I will make sure we have a documented way to use it in an isomorphic application. The tracking issue for this work is: #248

[2017-02-22 22:20] #128 closed

[2017-02-24 21:24] mrgenixus opened #250 "rollbar-browser cannot be imported/minified in webpack/babel/uglify"
I'll try to provide as much information as possible, but the short version is that trying to require rollbar from this package for build using webpack/npm seems to result in the first argument of _wrapNotifierFn being replaced with a reference to require, and runtime errors.

Not sure if this is an issue with the minified source (though I did fork the package to try to supply unminified bundles an

[2017-02-24 22:20] rokob commented on #250
I am having trouble reproducing this, I created https://github.com/rokob/simple-rollbar-example to try to have a minimal working example. I am using the same versions of webpack and babel. Mine is running without the hjs-webpack which I can add to see what breaks down, but I don't see anything like what you are seeing. It builds via webpack, and when I open the `dist/index.html` page and click on

[2017-02-25 00:38] mrgenixus commented on #250
This only applies to production builds with minification

On Feb 24, 2017 3:20 PM, "Andrew Ledvina" <notifications@github.com> wrote:

[2017-02-28 21:05] rokob commented on #250
I ran my example with production minification, everything works the same as in the dev build when it comes to catching an exception and seeing it on the Rollbar dashboard.

[2017-03-02 21:28] pccjamie commented on #98
I'm experiencing this issue as well. Only occurs when I run my unit tests. And it's while using `ng-rollbar`

[code]
I've opened an issue with that repo owner, but thought I'd mention it here as well.

Otherwise, my errors are sent to Rollbar just fine.

[2017-03-02 22:17] pccjamie commented on #201
I'm experiencing something similar. In my case, I'm using another Angular wrapper: `ng-rollbar`, but the resulting issue is mostly the same. Rollbar receives my error payloads just fine. Seems like all init and config is fine. However, when running karma tests, I always get the following error:
[code]
I've opened an issue with that repo, but I'm uncertain if the issue is with rollbar or with the w

[2017-03-23 04:31] rokob commented on #248
https://github.com/rollbar/rollbar.js/pull/254

[2017-03-24 04:41] awinograd opened #255 "default `async` option opposite of README"
The docs (https://github.com/rollbar/rollbar.js/tree/b04781118f5882095aaa2d5ef3b3cf068fe4372e#synchronous-option) say that by default, including the Rollbar snippet (shim) should load the full Rollbar source asynchronously. However, the opposite appears to be true due to the async option being inverted twice.

If no async option is passed in _rollbarConfig, then loadFull will be called with the th

[2017-03-27 10:00] evgeniynickolaev opened #257 "IE9: SCRIPT438: Object doesn't support property or method 'configure'"
Encountered this issue on IE9 (Win7). IE10+ works well.
I've read #189 but it has some differences - I've just use the current snippet from docs, not calling anything.

[code]

[2017-03-27 10:33] evgeniynickolaev commented on #257
Sorry, made Rollbar.configure from another <script> below.
Looks like IE9 may execute in arbitrary order.
That's OK now in one <script>

[2017-03-27 11:22] janeklb opened #258 "Error coming out of rollbar snippet (col 3565 in r._wrapped)"
I got notified (via rollbar) of an error with the following trace:
[code]

Which I followed back to the rollbar snippet (line 94 on File _XXX_):
[code]

This seems like it might be coming from some third party script (eg. a chrome extension?), but reporting it in case it's useful to know none the less.

[2017-04-01 18:14] josephsiefers commented on #221
I'm having trouble capturing React errors. Statements like the following are working:
`Rollbar.error('Problem calling foo()', e);`
`window.onerror("TestRollbarError: testing window.onerror", window.location.href)`

However, I see errors like the following in my console that are not appearing in Rollbar:
![image](https://cloud.githubusercontent.com/assets/1895065/24581222/6be2d9fc-16e5-11e7-916e-82

[2017-04-06 19:06] #255 closed

[2017-04-07 18:12] rokob opened #262 "[Feature] Add a convenience method similar to wrap for callbacks"
For network requests, which result in a call to a handler of the form `function(err, response)`, it would be nice to have a rollbar wrapper method that is used in that place which looks like

[code]

[2017-04-12 06:28] gerwinbrunner opened #263 "Safari still sends (unknown): Script error."
Hi I have a js [file hosted](https://open-cdn.s3.eu-central-1.amazonaws.com/dhlsnippet.prod.1.0.11.js) on a Amazon S3 bucket.

The cors settings are in place (and are correct I think):
[code]

Also the script is loaded with the crossorigin setting:
[code]

With chrome and firefox I get the correct logging, but with Safari I still get the ' (unknown): Script error.' error.

Do you have any hint wha

[2017-04-12 11:06] rivkahstandig3636 commented on #263
Hi Gerwin, I'm not quite sure exactly what is causing this issue specifically in Safari, but to avoid having to see an unhelpful error, have you checked out our docs on [reducing noisy JS errors](https://rollbar.com/docs/reduce-noisy-javascript-errors/)? You may find them helpful.

[2017-04-13 02:39] gerwinbrunner commented on #263
This is not about strange errors that I want to filter.
I'm actually testing the  Rollbar integration by throwing an error intentionally.
`throw new Error('Just testing....');`

For Chrome and Firefox I get the correct error stack in Rollbar.
[code]

But for Safari I just get
[code]

[2017-04-17 21:18] coryvirok commented on #263
Hi @gerwinbrunner,

You may be running into Safari's CORS configuration for local files. Check this post out to see if it applies and how to work around it.

http://stackoverflow.com/questions/26947291/cors-request-working-with-safari

[2017-04-23 18:19] cdesch commented on #185
@rokob Can you share the library so we can help with it?

[2017-04-24 17:15] jessewgibbs opened #265 "Set `source_map_enabled` to true by default"
Now that Rollbar's source map troubleshooting tools have been improved, let's turn this option on by default.

[2017-04-24 17:27] jessewgibbs commented on #265
Closing this as we can make this change on the Rollbar server side instead.

[2017-04-24 17:27] #265 closed

[2017-04-29 17:50] FredyC opened #266 "TypeError: this.handleUnhandledRejects is not a function"
Kinda a critical error :) Typo in a function name [here](https://github.com/rollbar/rollbar.js/blob/universal/src/server/rollbar.js#L29) for a server side run.

Besides this, I am very confused. [Official docs](https://rollbar.com/docs/notifier/node_rollbar/) are using `node_rollbar` module approach and yet by installing `rollbar` module I am getting 2.0.0-alpha.5 of the module from this repo whic

[2017-04-29 18:02] coryvirok commented on #266
Hi Fredy,

Thanks for filing this. I'm taking a look now. As for docs, the v2 alpha release hasn't been merged back into master yet as we are still doing some testing. The new version is a universal JS SDK for Rollbar whereas before there was node_rollbar and rollbar.js. The docs for the alpha version can be found [here](https://github.com/rollbar/rollbar.js/blob/universal/README.md).

[2017-04-29 18:21] FredyC commented on #266
Yes, I found docs after like an hour of digging through... I must say it's not really good idea to publish with `latest` tag something that isn't merged into `master`. Makes things super confusing. I think it would really help if you add a message to README in `master` with information that `latest` NPM module docs are found in the branch.

Also, some deprecation notice to `node_rollbar` and point

[2017-05-01 16:54] rokob commented on #266
This is fixed via the referenced merged PR. Sorry about the confusion with latest being on a branch. I will close this once the other issues you have addressed are taken care of.

[2017-05-01 16:56] rokob opened #268 "Multiple instances of rollbar on one page coming from many components should all work fine together"
Consider Site X uses rollbar today, we give component A to them, Component A packages its own instance of rollbar,  everything should work fine reporting errors to the separate instances correctly.

[2017-05-01 17:33] rokob commented on #266
I was unaware that npm publish automatically set the latest pointer, sorry about that. I pushed a new version of node_rollbar just to move the latest pointer for the `rollbar` package back to master of that repo. I also added a beta tag which points to the package made from the universal branch of this repo. I added a deprecation note to the CHANGELOG file on node_rollbar, and I will add something

[2017-05-01 17:33] #266 closed

[2017-05-01 17:37] FredyC commented on #266
Awesome, that's definitely better approach, thanks!

[2017-05-01 20:58] rokob opened #269 "Rollbar event wrapper should have nicer stack traces"
We wrap certain functions such as certain global event handlers in order to catch otherwise unhandled exceptions that do not necessarily go through the window.onerror handler. This leads to stack traces with what looks like rollbar code causing the error due to the _wrapped method showing up at the top of the stack trace.

Additionally, this makes host whitelisting hard to do for bundled code beca

[2017-05-03 02:03] lmj0011 commented on #189
https://github.com/rollbar/rollbar.js/issues/189#issuecomment-244551622

this ended up helping me get rollbar working on the client for adonuxt.js

I agree the docs should mention this

[2017-05-04 08:21] ryaa opened #270 "Uncaught TypeError: Illegal invocation error when rollbar is configured with verbose: true"
The problem occurs with ng-rollbar version 1.9.2 (latest at the moment) however I think that this is related to rollbar lib.

When rollbar is configured with verbose true and the code invokes error method Uncaught TypeError: Illegal invocation error occurs. Changing verbose: to false fixes the problem

More details can be found here https://github.com/tandibar/ng-rollbar/issues/31

[2017-05-05 21:33] navamgupta opened #271 "NoConflict mode for rollbar"
Hey Guys,

We are evaluating if we can use rollbar for keeping track of js errors coming from our scripts on 3rd party sites, which means we need to bundle an instance of rollbar with our scripts (access token etc included).
Now if the 3rd party does not use rollbar we do not have any issue but if they do use their own instance of rollbar. Is it possible for us to load our instance without conflic

[2017-05-05 22:25] brianr commented on #271
@navamgupta Yes, I think this is possible. You'll want to set `globalAlias` in your `_rollbarConfig`, so that the Rollbar instance you create doesn't conflict with any others on the page. And you may also want to not initialize the uncaught error handler (and instead only make calls to your rollbar instance directly) to avoid catching errors from other parts of the page you are embedded on.

Putti

[2017-05-05 22:36] navamgupta commented on #271
@brianr Thanks for the response, I will test it out shortly.
Out of curiosity does rollbar support filtering the errors at the dashboard level where we can provide a regex and only see errors which match the regex. I am thinking a regex to filter by file name/path.

[2017-05-05 22:39] brianr commented on #271
@navamgupta Yes, on the Items page, there are options to search against the filenames in the stack trace. See the "Stack Trace" section in the [search docs](https://rollbar.com/docs/search-items/).

You probably want `file:mydomain.com` (at least one file with your domain), `allfiles:mydomain.com` (all files match your domain), or `nofiles:mydomain.com` (no files match your domain).

[2017-05-05 23:10] navamgupta commented on #271
@brianr  search worked like you suggested.
So I guess my last question is can i set it up as a permanent filter so that my rollbar app does everything based off the filtered events.

[2017-05-05 23:19] brianr commented on #271
@navamgupta No, there is not currently a way to set the file filters as a permanent filter (aside from bookmarking the URL, I suppose).

Another approach would be to prevent those errors from being sent to the Rollbar API in the first place. That is probably as simple as adding `hostWhiteList: ['yourdomain.com']` to your _rollbarConfig; or you can also use `checkIgnore` for full control. [Here's a

[2017-05-06 01:16] Aryk commented on #228
Thanks for working on this @rokob. Just curious, what's the current best approach to using rollbar in isomorphic applications until the PR is approved and merged?

[2017-05-09 00:15] navamgupta opened #272 "API's to create new applications?"
Hey Guys,
We were just curious if rollbar provides some API's that provides the ability to create new applications via code (mostly automation).
The kind of world we @Chegg are moving towards is going to be multiple components with their own monitoring and were curious if we can reduce some overhead and automate the creation of new application per component.

Thanks,
Navam

[2017-05-09 00:20] brianr commented on #272
@navamgupta There are APIs to create accounts, projects, teams, users, and such - check out:

- the Provisioning tutorial: https://rollbar.com/docs/api/provisioning/
- the docs for creating projects: https://rollbar.com/docs/api/projects/

Is that what you're looking for?

[2017-05-09 00:20] #272 closed

[2017-05-09 00:24] #271 closed

[2017-05-10 15:29] stereodenis commented on #185
@brianr what status now?

[2017-05-11 20:56] dbachelder opened #273 "universal beta: default to nojson in package.json"
In the universal beta the default include is `rollbar.umd.min.js`  when you `import Rollbar from 'rollbar'`

package.json:
[code]

which adds around 47k to a gzipped webpack app (our largest dependency). We alias it to `rollbar.umd.nojson.min.js` in the webpack config like this:

[code]

to get it down to a bit over 9k. Would be nice if the smaller version was the default... although I'm not entir

[2017-05-11 21:15] rokob commented on #273
The nojson ones shouldn't be there anymore. Let me investigate the size increase, but the stuff with nojson I just forgot to delete.

[2017-05-11 21:19] dbachelder commented on #273
yeah.. I just noticed it's not working with that dependency anymore anyway.. I was so focused on getting the size down that I didn't bother testing the functionality :/

[2017-05-12 16:43] rokob commented on #273
Okay I didn't remove the nojson files yet just so I could show this size comparison on github. I did some work to get the size of the working umd.min.js build down:

https://github.com/rollbar/rollbar.js/blob/4b04ff960e5e15d2a1647426f8c2282d6fae9461/dist/rollbar.umd.min.js
38.1 KB

vs.

https://github.com/rollbar/rollbar.js/blob/4b04ff960e5e15d2a1647426f8c2282d6fae9461/dist/rollbar.umd.nojson.min.

[2017-05-12 17:25] dbachelder commented on #273
That's HUGE! thanks... obviously we'd always prefer smaller dependencies :) but this keeps it from being a show stopper, i think.

is this live as a new beta?

[2017-05-12 18:04] rokob commented on #273
Yeah, v2.0.0-beta.4

[2017-05-15 22:13] #273 closed

[2017-05-15 22:13] #248 closed

[2017-05-15 22:14] #257 closed

[2017-05-15 22:14] #258 closed

[2017-05-15 22:14] rokob commented on #241
See examples directory

[2017-05-15 22:14] #241 closed

[2017-05-16 09:25] jonikorpi commented on #228
The new version seems to be out now and looking at the docs/examples I honestly have no idea how to use it with something like create-react-app or next.js.

I'll add the way I used the _old_ rollbar-browser library here, for reference. I'm guessing it's at least vaguely similar to how others have used it.

What should replace this code when using the new version?

[code]

[2017-05-16 14:52] rokob commented on #228
[code]

[2017-05-16 20:52] Aryk commented on #228
Great, thanks!

[2017-05-17 04:07] ajcantu opened #275 "404 when following example"
I get a 404 when trying to grab: https://raw.githubusercontent.com/rollbar/rollbar.js/master/dist/rollbar.umd.nojson.min.js

As suggested here:
https://github.com/rollbar/rollbar.js/tree/master/examples/webpack

[2017-05-17 04:22] brianr commented on #275
Thanks @ajcantu! I believe the `nojson` versions are gone (and no longer needed); the correct url is https://raw.githubusercontent.com/rollbar/rollbar.js/master/dist/rollbar.umd.min.js .

@rokob can you comment?

[2017-05-17 04:45] rokob commented on #275
The nojson versions were intended as a work around for the fallback JSON parsing done using eval which violates CSP. Instead of that, we are now using a fallback JSON parser which does not use eval so the main umd library no longer violates CSP.

The examples need to be updated.

[2017-05-17 04:46] rokob commented on #275
The documentation in the README is current. Use with Webpack looks something like:

[code]

[2017-05-17 05:54] ajcantu commented on #275
thanks, @rokob !

[2017-05-17 05:54] #275 closed

[2017-05-18 03:29] hairyhenderson opened #277 "npm can no longer install rollbar 2.0 when git is unavailable"
Before rollbar 2.0.0, `npm` could install the module with no problem in a stripped-down Alpine-based Docker container. However, now that there's a dependency on a module in GitHub, this fails:

[code]

The offending module is `console-polyfill` at https://github.com/rollbar/rollbar.js/blob/master/package.json#L12

[2017-05-18 03:47] rokob commented on #277
Now that our commit has been merged upstream into console-polyfill, we can stop pointing to our fork and start pointing back upstream. That will fix this. N.B. this changed in 1.9.4 but is still relevant.

[2017-05-18 13:12] rogovdm opened #278 "Build not found"
[URL](https://raw.githubusercontent.com/rollbar/rollbar.js/master/dist/rollbar.umd.nojson.min.js)

But [this page](https://github.com/rollbar/rollbar.js/tree/master/examples/webpack) claims it should be valid.

[2017-05-18 16:41] rokob commented on #278
See https://github.com/rollbar/rollbar.js/issues/275 I will remove that example

[2017-05-18 17:17] rogovdm commented on #278
Will rollbar will send errors automatically or we need to do this manually in a webpack setup?

[2017-05-22 07:42] ronenteva opened #279 "Rollbar is not initialized error when calling from other places"
Trying to upgrade from node_rollbar, but keep getting an error when calling from other places.
### app.js
[code]
### index.js
[code]

[2017-05-23 00:13] modosc opened #280 "enabled configuration option is ignored"
there are only a few references to it in the 2.x code:
[code]
and as far as i can tell it's not doing anything:
![image](https://cloud.githubusercontent.com/assets/2231664/26333373/f5711fea-3f11-11e7-928f-5afe67c2b023.png)

[2017-05-23 00:25] rokob commented on #279
`new Rollbar` creates a new instance, there is no reference to it in a different file unless you explicitly pass one.

See the following, near the end of this section:
https://github.com/rollbar/rollbar.js#user-content-upgrading-from-node_rollbar

[2017-05-23 00:25] #279 closed

[2017-05-23 00:26] rokob commented on #278
If you set the configuration option to capture unhandled exceptions and/or rejections then errors reported via the onerror handler on the window will be caught automatically.

[2017-05-23 00:26] #278 closed

[2017-05-23 00:27] rokob commented on #280
Yikes

[2017-05-23 00:52] #280 closed

[2017-05-23 15:14] modosc commented on #280
can you roll a release to include this please?

[2017-05-23 17:33] modosc opened #282 "handle logging args identically on server and client"
first, thanks for the work on this!

unfortunately it's still not possible to use this in a universal app without being _really_ careful with what you're doing.

for instance, i often use a patten like this inside of a react component:
[code]

this works fine on the client but not on the server side.

is there a reason that the [server version of _createItem](https://github.com/rollbar/rollbar.js/

[2017-05-23 17:37] jessewgibbs opened #283 "`hostBlackList` option"
This would work similar to the existing `hostWhiteList` option, except that if _any_ frame in the stack trace matches an entry in the list, the error is ignored.

This would be useful for suppressing errors that come from third party code that you don't maintain.

[2017-05-23 17:56] KrunchMuffin opened #284 "Still sending even tho enabled: false"
I just updated to 2.0.1 and on dev it is still sending the error even tho I have it disabled.

![image](https://cloud.githubusercontent.com/assets/1037197/26368454/ab70851c-3fbf-11e7-835a-61bb2ed0aa42.png)

[2017-05-23 18:21] modosc commented on #282
i'm actually working on this now.

[2017-05-23 18:21] modosc commented on #284
#280 - it's fixed but not released yet.

[2017-05-23 18:55] rokob commented on #284
Fixed in 2.0.2

[2017-05-23 18:55] #284 closed

[2017-05-23 18:56] rokob commented on #280
Released 2.0.2 with this fix, it might take a bit to propagate to CDNJS

[2017-05-24 19:50] hairyhenderson commented on #277
I suppose this depends on https://github.com/paulmillr/console-polyfill/issues/27

[2017-05-28 20:02] ronenteva commented on #279
The example in that page under "Using Express" shows creating a new instance, is that not the right way?

[2017-05-30 12:35] eschaefer opened #289 "Rollbar not catching browser errors from throw"
To re-create:
- Go to http://stage-mywings.redbull.com.
- Open console, type `throw new Error('test')`, hit enter.
- Type `window.Rollbar.lastError`, hit enter.
- See nothing.

Is this intentional? Am I missing a config flag that needs to be enabled? Thanks!

[2017-05-30 17:48] aaronjensen opened #290 "TypeError: undefined is not a function in obj.hasOwnProperty(k)"
querystring objects seem to break rollbar. It may have something to do with https://github.com/nodejs/node/pull/6289

This is the property that is being scrubbed that is causing the failure:

[code]

Exception:

[code]

[2017-05-30 18:42] brianr commented on #290
Thanks @aaronjensen - we're looking into this today.

[2017-05-30 20:32] brianr commented on #289
Hi @eschaefer - two things here I think:

- That test won't work in the Chrome console, since the console has its own exception handler. You can call window.onerror directly though: `window.onerror("hello");`
- The `lastError` property appears to have been removed in 2.x. @rokob do you know if that was intentional?

[2017-05-30 20:38] rokob commented on #289
`lastError` was not intentionally removed, but it also wasn't documented so it got lost in the changes. I can add it back.

[2017-05-30 22:13] rokob commented on #290
`Object.create(null)` ugh; I have a solution, will fix

[2017-05-30 23:07] #290 closed

[2017-05-30 23:14] aaronjensen commented on #290
Thanks for the quick turnaround! Would you mind dropping a note here on the next release so I can upgrade and remove my workaround? Thanks

[2017-05-31 08:03] eschaefer commented on #289
@brianr I was noticing that Rollbar wasn't logging errors thrown using `throw new Error(message)` from one of our javascript bundles, so I tried to make a reduced test case. Totally forgot that the Chrome console isn't the right place for that.

To clarify, we have a bunch of API calls that rely on Promises, and if they fail/reject, then we `throw`. Those errors aren't caught in Rollbar, so we add

[2017-05-31 08:13] jasongornall commented on #98
getting it too woot

[2017-05-31 22:42] and-megan opened #294 "'hostWhiteList' not working correctly"
Exceptions are still being sent to Rollbar despite frames not being included in the whitelisted domains.

[2017-06-01 16:31] modosc commented on #282
will you be able to roll a new release soon from `master`?

[2017-06-01 21:31] jessewgibbs opened #297 "Reduce NPM package size"
Request that came in via Intercom:

[2017-06-01 21:59] modosc opened #298 "server-side code errors out when given a message and an error"
on the client `Rollbar.error("a message", e)` will silently drop the message if `e` is an error.

on the server this doesn't happen which results in this error:
[code]

i can make a pr to fix this on the server, but i'm curious if the client side behavior is really the desired behavior?

[2017-06-01 22:06] modosc commented on #298
pr: #299

[2017-06-02 09:23] andreskeeled opened #300 "[node.js] Logs with an Express request object with url that has query params are not being sent"
I just upgraded to rollbar 2.0.2.

 While I was changing the code, I noticed I wasn't receiving some errors in Rollbar so I debugged a little. In some requests, **nothing was being sent (and nothing was returning in the callback)**.

Then, after destructuring the request object and adding one by one the keys (headers, protocol, etc...), I  noticed that **requests with params in the url (e.g.: ?use

[2017-06-02 14:41] phuzarski opened #301 "2 environment"
I added rollbar to my ReactApp + Webpack.

Have some trouble how make it possible to distinguish the production and staging environment?

My rollbar.js looks like:

`const rollbar = require('./rollbar.umd.min.js')`

So for production in payload environment should be production and second for staging- staging.

[2017-06-02 15:22] dlindenkreuz opened #302 "Provide TypeScript declaration files"
See https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

[2017-06-02 16:00] #301 closed

[2017-06-02 16:32] coryvirok commented on #300
Thanks @andreskeeled. We will get this fixed soon!

[2017-06-06 17:12] modosc commented on #298
ping?

[2017-06-07 08:41] Vanuan opened #305 "ignoredMessages doesn't work on server side"
It looks like a lot of functionality doesn't work in node. Is it intentional?

E.g. ignoredMessages doesn't seem to work:

[code]

[2017-06-07 09:14] Vanuan commented on #305
Ok. Looks like there are 3 possible calls:

rollbar.error(error, request, cb); // error must be instanceof Error
rollbar.error(error, request, cb); // error must be typeof string
rollbar.error(error, custom, cb); // error must be typeof string, custom must be object

Somehow, not all of them support ignoredMessages or something else is going on.

[2017-06-07 09:14] #305 closed

[2017-06-07 20:05] joshhsoj1902 commented on #277
@rokob https://github.com/paulmillr/console-polyfill/issues/27 has been resolved and there is a new version of `console-polyfill` available on NPM: https://www.npmjs.com/package/console-polyfill 🎉

[2017-06-07 23:27] davidgwking commented on #298
I'm also encountering this issue. Thanks for the fix, @modosc. Looking forward to response from the team at rollbar.

[2017-06-07 23:31] coryvirok commented on #302
Thanks @dlindenkreuz. We don't currently have plans to do this but are certainly open to PRs!

[2017-06-07 23:49] hairyhenderson commented on #277
I've submitted #306 to bump the `console-polyfill` version.

[2017-06-08 00:33] coryvirok commented on #298
Thanks for surfacing this. I added a suggestion for how to do this in the PR.

[2017-06-08 00:35] coryvirok commented on #297
Fixed by https://github.com/rollbar/rollbar.js/pull/276

[2017-06-08 00:35] #297 closed

[2017-06-08 00:35] coryvirok commented on #294
@and-megan can you provide some more details and maybe an example?

[2017-06-08 00:40] coryvirok commented on #289
@eschaefer have you enabled `captureUnhandledRejections`?

Rollbar docs here: https://rollbar.com/docs/notifier/rollbar.js/#rollbarhandleunhandledrejection

More info here:
http://2ality.com/2016/03/promise-rejections-vs-exceptions.html

[2017-06-08 00:42] coryvirok commented on #282
Thanks for the work on this, @modosc! Can you open a PR so we can review?

[2017-06-08 00:43] coryvirok commented on #277
w00t! @rokob can you merge and get this into the next release?

[2017-06-08 00:43] brianr commented on #282
@coryvirok I think that was PR #299

[2017-06-08 00:44] modosc commented on #282
yeah, pretty sure this is [merged already](https://github.com/rollbar/rollbar.js/commit/f67efaefd4c3f7a686f649e534acfc21a3ec2e7d)?

[2017-06-08 00:45] coryvirok commented on #268
This should work now as documented here: https://github.com/rollbar/rollbar.js#using-inside-an-embedded-component

[2017-06-08 00:45] #268 closed

[2017-06-08 00:46] coryvirok commented on #263
@gerwinbrunner is this still an issue? If so, please reopen and we'll take another look.

[2017-06-08 00:47] coryvirok commented on #262
Good idea. This is sort of like what the jQuery plugin does.

[2017-06-08 00:48] coryvirok commented on #250
Closing this out since there hasn't been any activity for a while. Please reopen if this is still a thing.

[2017-06-08 00:48] #250 closed

[2017-06-08 00:48] coryvirok commented on #231
@rokob any progress on this?

[2017-06-08 00:49] #228 closed

[2017-06-08 00:54] coryvirok commented on #213
@tinovyatkin looks like this has fallen through the cracks for us. Sorry about that. If you are still interested, we would love a PR.

[2017-06-08 00:57] coryvirok commented on #141
Closing this out since the universal branch was merged.

[2017-06-08 00:57] #141 closed

[2017-06-08 01:57] coryvirok commented on #282
Woo! Closing.

[2017-06-08 01:57] #282 closed

[2017-06-09 00:10] and-megan commented on #294
Taking a closer look and it looks like it's working as expected. Apologies. Closing issue.

[2017-06-09 00:10] #294 closed

[2017-06-09 00:19] coryvirok commented on #271
Hi @navamgupta,

Here's a full sample of how to embed rollbar.js in a library.

[Archive.zip](https://github.com/rollbar/rollbar.js/files/1062734/Archive.zip)

[2017-06-09 01:24] alexilyaev opened #307 "`unhandledrejection` disregards the `reason`, can't get proper stack trace in `userTransform`"
Hi,

Test case:
https://jsfiddle.net/etu4g6qc/5/

I'm having an issue with debugging an `unhandledrejection` of a Promise that I"m not handling.
I"m currently logging such errors to a logging service, and what I see is `[object Object]` and
a short stack trace from Bluebird which doesn't help at all.

After hours of debugging every piece of code I could, I found this:
https://github.com/rollbar/ro

[2017-06-09 21:06] coryvirok commented on #307
Hi @alexilyaev and thank you for the detailed write-up + repro.

Which browser are you using? I tried on Chrome 58 and saw that the payload sent to the Rollbar server included the correct message in `body.trace.exception.message`. Also, the transform function will be passed the payload after it's been parsed into the format that the Rollbar API expects. Which means that the `reason` should be used

[2017-06-10 09:54] alexilyaev commented on #307
@coryvirok I"m using Chrome 58/59 as well, my results match yours, I wasn't specific enough on the use case...

- I"m calling the server and it returns a 500 with some data about the error
- The client has an API module that handles all requests, if it sees an API error, it rejects with the data it received (**not an Error instance**)
- The function that uses that specific API call doesn't handle

[2017-06-12 06:53] navamgupta commented on #271
Hey @coryvirok ,

Thanks for putting that together I did spend some time understanding the proposed solution. However there are two things which make it slightly limiting -
1. The fact that we have to explicitly wrap things in try catch and then send the error over is something we would like to avoid and instead rely more on the auto capture functionality.
2. It looks like (and I could be super wr

[2017-06-12 15:52] tophernuts opened #309 "Verbose option removed, but still referenced in docs"
It looks like the [verbose option](https://github.com/rollbar/rollbar.js/commit/329b8b58bfa3ee60d2ca9cde56f3fa9d9fa9940e#diff-46574108c66fcb1b8eb4e52b455e1c56L577) was removed in the Notifier Rewrite, but it's still [referenced throughout the docs](https://github.com/rollbar/rollbar.js/blob/9b8ec0ace479f6564f0e185530a375d09251cefe/README.md#verbose-option).

Are there any plans of adding it back i

[2017-06-12 19:51] coryvirok commented on #271
You don't have to explicitly wrap anything in try/catch. In the example, both of the Rollbar instances are hooking into the unhandled exception hook which means that both will receive all of the unhandled errors that happen on the page and in any JS included on the page.

The way we have it configured right now, this is somewhat true. If you wanted to just include Rollbar via a script tag and you

[2017-06-12 19:59] #277 closed

[2017-06-12 20:01] rokob commented on #309
Yes, let's make this the task to track getting this added back.

[2017-06-12 21:27] and-megan opened #310 "ignoredMessages not getting ignored"
From the config:

ignoredMessages: [
`"SecurityError (DOM Exception 18): Blocked a frame with origin \"https://www.example.com\" from accessing a frame with origin \"https://www.other_domain.com\". Protocols, domains, and ports must match."`
]

but occurrences with body.trace.exception.message of:
`"SecurityError (DOM Exception 18): Blocked a frame with origin \"https://www.example.com\" from acce

[2017-06-13 21:51] coryvirok commented on #271
@navamgupta - Here is an example of how to write a transform method to modify the payload before it's sent to Rollbar:

From https://github.com/rollbar/rollbar.js#context-1
[code]

And here's an example of how to get the filenames from the stack trace: https://github.com/rollbar/rollbar.js/blob/master/examples/test.html#L10

[2017-06-13 23:09] coryvirok commented on #307
I see. I was able to repro this by changing this line of your jsFiddle:

[code]
to
[code]

@rokob can you take a look at this?

[2017-06-14 01:06] rokob commented on #307
This is always how this has been though right?
c.f. https://github.com/rollbar/rollbar.js/blob/7717f62eecedb3f5e7400b633ab8070ed2e45b6b/src/notifier.js#L593

The payload that is passed to the transform function only comes from https://github.com/rollbar/rollbar.js/blob/7717f62eecedb3f5e7400b633ab8070ed2e45b6b/src/notifier.js#L731 and it should be clear from reading that code that if reason is not

[2017-06-15 15:40] sarkistlt commented on #298
Hi, any updates here? still have this issue

[2017-06-15 18:24] rokob commented on #298
I'll get this out today

[2017-06-15 18:24] #307 closed

[2017-06-15 18:37] sarkistlt commented on #298
ok, cool

[2017-06-16 15:32] #309 closed

[2017-06-16 18:43] and-megan commented on #310
On second thought I think this is related to an older version. Closing.

[2017-06-16 18:43] #310 closed

[2017-06-16 19:47] rokob opened #315 "Documentation updates"
- Upgrading from rollbar-browser@1.9.4 to rollbar@2 should not require code changes, except possibly a few edge cases. Nonetheless, anything that should be done should be documented
- The browser section in the README needs to be rewritten in places for clarity.
- Both the browser and server sections need a bit of work to ensure consistency.

[2017-06-19 17:53] #298 closed

[2017-06-19 17:57] rokob commented on #231
This was for v1.9, has far as I can tell this is no longer an issue for 2.0+

[2017-06-19 17:57] #231 closed

[2017-06-19 18:47] jessewgibbs opened #316 "Offline storage"
This is a feature in other products, would be cool to have something similar in Rollbar.js
https://raygun.com/docs/languages/javascript#offlinesaving

[2017-06-19 21:52] rokob commented on #316
This will take a bit of work to get just right and not end up with bugs like I've seen in other notifiers where we have a backlog of errors that blow through quotas.

[2017-06-20 19:14] coryvirok commented on #289
@eschaefer any update? I don't want to leave you hanging. ;)

[2017-06-20 21:30] rokob commented on #289
The way exceptions work inside most Promise implementations is to get turned into Promise rejections. To have Rollbar catch these and report them, we provide the configuration option `captureUnhandledRejections`, setting this to `true` should fix this issue. I will add back lastError to the Rollbar instance.

[2017-06-20 21:30] #289 closed

[2017-06-21 00:53] rokob commented on #300
Wow this is a doozy

We use `url.parse(someUrl, true)` in node, that second parameter of true implies

Going to that documentation for parse, gives us:

The problem is that during scrubbing, we use `hasOwnProperty` and that parsed query string ends up inside the object and causes scrubbing to die.

[2017-06-21 00:54] rokob commented on #300
I have a test that reproduces this, working on a fix.

[2017-06-21 01:41] rokob commented on #300
And I realized I already fixed this with https://github.com/rollbar/rollbar.js/commit/7eef362c4e1c4ab914e75925895f306f80a69f0f which is in >= 2.0.3, so closing this as it is fixed.

[2017-06-21 01:41] #300 closed

[2017-06-21 09:45] gerwinbrunner opened #320 "Node Server - UnhandledExceptions -> also log to console"
I'm on node and I use this configuration snippet for rollbar:
[code]

I created a test error, by calling `throw new Error('!!! JUHUHUHU !!! CALLED');`
The error gets reported to rollbar and the server stops 👍

The problem now is, that in the log I do not have any information at all about the issue.
How can I let rollbar handle the exception but also have a regular console.log or console.error stat

[2017-06-21 13:28] rokob commented on #320
There is an option, `verbose`, that should also log to the console. Try adding `verbose: true` to your configuration.

[2017-06-21 13:49] gerwinbrunner commented on #320
Hi @rokob did that already. But the option seems to only work on the client, not on the server.
I use rollbar version `^2.0.4`

[2017-06-21 19:25] rokob commented on #320
We use the [debug](https://www.npmjs.com/package/debug) package on the node side which requires you to use an environment variable to enable the log output. For example,

[code]

[2017-06-21 19:25] rokob commented on #320
That should be documented somewhere and I don't think it is, I will fix that.

[2017-06-21 19:37] rokob commented on #201
I am pretty sure this is an error with the way these wrappers interact with angular and loading Rollbar.

[2017-06-21 19:38] rokob commented on #201
Also `ng-rollbar` is pre-2.0 and most of the related code has changed quite a bit.

[2017-06-21 20:17] rokob commented on #270
This is likely an issue with the console not being provided by the way ng-rollbar sets up the environment. In any event, this is related to an old version of this library and is more an issue with ng-rollbar than this.

[2017-06-22 17:33] gerwinbrunner commented on #320
Ok, I tried it...

I now get the folloging output:
[code]
Here is what I configure:
[code]

So I see the log message from Rollbar, but I do not see the actual exception that caused it.
Any idea how to get the actual exception stack trace in the log?

[2017-06-26 19:21] arwinsardana opened #322 "maxItems POST request fails in javascript"
I've set the global Rollbar (v2.0.4) config `maxItems` property to `5`, but that 5th request seems to fail (HTTP 403) with the following error response:

Request
[code]

Response
[code]

Going to take a guess that this could be 1 of 2 things:
1. I'm dumb and making a silly mistake :)
1. The request body is not what the server is expecting and therefore the server is interpreting this as a server-s

[2017-06-26 21:17] rokob commented on #322
I am pretty sure this is a bug, will fix.

[2017-06-26 23:07] arwinsardana commented on #309
Just wanted to confirm that this is still to be released? What version can we expect this in? Thanks!

[2017-06-26 23:35] rokob commented on #309
This will be in v2.1.0 which should be released sometime this week.

[2017-06-27 19:10] radicaled opened #323 "Payload items aren't sent on server?"
Trying to upgrade a project to the new universal / isomorphic rollbar.js. Works fine in the client, but in the server it seems that extra payload info (our custom fields being sent with exceptions) aren't going out with the error. Is there a cavaet when sending payload info on the server using 2.x or is this just a bug?

[2017-06-27 20:40] rokob commented on #323
I'll look into this, there is no caveat to using this on the server like that so it would be a bug.

[2017-06-28 00:44] rokob commented on #323
I can't see any reason why you would be seeing this, I have a test app and logging errors on the server with an extra custom object results in the custom data showing up in Rollbar. Can you give me a little more info on what your actual log call looks like?

[2017-06-28 04:46] radicaled commented on #323
I've spent a bit looking at this on my side and I've discovered my actual problem: Rollbar on the server doesn't appear to be acknowledging my _configuration's payload object_, which in turn caused me to check the wrong test message and think that payload information wasn't being sent.

This is my server config:

[code]

It's a cut-and-paste of my client-side config. Regardless of what `payload.en

[2017-06-28 16:55] tophernuts commented on #320
https://github.com/rollbar/rollbar.js/issues/309

The verbose option was just recently added back, but there hasn't been a release yet, I think that's why you're not seeing the stack trace yet!

[2017-06-28 17:51] gerwinbrunner commented on #320
When is this going to be released?

Mit freundlichen Grüßen
Gerwin Brunner

[2017-06-29 00:04] #322 closed

[2017-06-29 00:05] #283 closed

[2017-06-30 00:39] dmazin commented on #185
please friends I need this

[2017-07-01 18:59] hexsprite opened #328 "ServiceWorker support?"
I would love to get Rollbar working my ServiceWorker so that I can log errors directly when an error occurs.

What I've tried so far is:
[code]

But it can't even execute the script:

`Uncaught ReferenceError: window is not defined`

I thought of serializing the error and passing it to the main window of the app to notify Rollbar but there's no guarantee the main window is actually running so that

[2017-07-01 19:00] hexsprite commented on #328
One intriguing possibility would be to serialize the error to a localStorage collection which could be logged by the main window when it comes back online.

[2017-07-03 17:56] #262 closed

[2017-07-03 22:41] #323 closed

[2017-07-04 11:58] gpltaylor opened #330 "Cannot find module "../../package.json""
NOTE: This project works if I remove Rollbar.

I am getting the following error

`Cannot find module "../../package.json"`

I have the following setup using Lerna.js

projecta/packages -
   - /customlibs
   - /server
   - /site1
   - /site2

Server
This hold a simple Express site that uses Rollbar

Site1
Imports the express server and starts the process
This is build using webpack to bundle the se

[2017-07-04 17:30] rokob commented on #330
That is pretty strange, let me see if I can make a test project that replicates this. What do you change the references of packageJson to in order to get things to work? I have seen things like this related to the way node resolves symlinks and how lerna does bootstrapping. At the moment, I'm not sure where the fault lies, but I'll dig into it a bit.

[2017-07-05 08:08] gpltaylor commented on #330
Thanx @rokob, I am not changing the code to get this to work. It's simply where I am using the require statement to import the Rollbar module.

If I import from the "/sever" project (as this is where my Express code lives) it **can't** find the file.
If I import from the main project (Where the current build path is located), in this case "/site1"; it can find the file.

I believe that by importin

[2017-07-05 21:28] andy-j opened #331 "Verbose logging does not work"
When passed the `verbose: true` option, rollbar.js does not log errors to the console.

In `queue.js:221`, the message to log is built using the following:

[code]

Digging in to this, `item` does not have a `data` property (`item.body` does exist, however), so this ends up being undefined and nothing is logged. The passing tests do not seem to reflect the actual objects being passed to this funct

[2017-07-06 18:04] and-megan opened #333 "Exception not passed in payload when directly logging (partially commented out script)"
Commented out the code that saves things under 'window' and code that logs in the console.

Using the following syntax to log exceptions directly:
[code]

The actual exceptions are absent in the payload, but data is being passed in body.message.extra.

[2017-07-06 18:11] rokob commented on #333
What does this mean:

[2017-07-10 15:54] and-megan commented on #333
These parts are commented out from the snippet.

/*&&(window._rollbarStartTime=(new Date).getTime())*/

/*window.rollbar=n,window._rollbarDidLoad=!0*/

/*"use strict";t.console||(t.console={});for(var e,r,n=t.console,o=function(){},i=["memory"],a="assert,clear,count,debug,dir,dirxml,error,exception,group,groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,show,table,time,time

[2017-07-10 18:20] rokob commented on #333
If you comment out some subset of the minified snippet, I can't make any real guarantees about what will happen. It is not a bug that things break from commenting out certain parts of the snippet. What do they want to be happening? We can maybe work on a different build that does some things,  for instance they can load the .noconflict.umd.min.js directly instead of using the snippet to probably g

[2017-07-10 19:39] ewino commented on #333
Hi rokob,

The reason those parts were commented out is that they change the global window object. This code using rollbar is a third party script that tries to have as little a footprint as possible (e.g. not polluting the global namespace).

We went through the instructions here https://github.com/rollbar/rollbar.js/tree/master/examples/webpack and downloaded the specified file. Since _that_ fil

[2017-07-11 19:53] TimMensch commented on #302
FYI, lack of TypeScript declarations is making investigate other options. Been using and liking Rollbar, but I'm not ready to volunteer to create and maintain TypeScript declarations for a commercial project.

Also: You can hardly claim Angular 2 support with declarations, given that Angular 2 recommends TypeScript.

[2017-07-11 23:10] #331 closed

[2017-07-12 19:21] arb opened #336 "Confused About logger.error API"
Per the documentation, you can pass into `rollbar.error` an exception, a string, and an object. What I'd like to do is pass an exception and a string that's a simple human readable label. However, it seems like if I pass an exception into `rollbar.error`, the string is ignored and only the exception information is logged. I can pass an object in with meta data and get around this, but that seems c

[2017-07-12 20:04] rokob commented on #336
Yeah this is a bug in expectations,  and needs to get changed. The expected result of

[code]

should be that we get the stack trace for the result error, but the message string should probably be added either to the description of the error or as part of the custom metadata. Right now it is just thrown away.

[2017-07-12 20:23] rokob commented on #320
v2.1.0 should resolve this

[2017-07-12 20:23] #320 closed

[2017-07-14 17:33] #336 closed

[2017-07-14 17:34] #269 closed

[2017-07-17 22:11] and-megan opened #339 "not sending exception correctly when upgraded to newest version"
Using syntax `rollbar.error(err, req, {custom: custom})` for handled exceptions.

There's no exception passed in the payload. custom ends up as extraArgs and request is successfully passed. The exception's message ends up getting passed in as `message` at the top level (not nested under body). body.message.body is an empty string.

The exception is seen in the server logs.

[2017-07-17 22:12] rokob commented on #339
Is `err` and instance of `Error`?

[2017-07-19 18:09] bmishkin commented on #185
we're considering moving to another exception product, bc rollbar doesn't have react native support =(

[2017-07-22 11:37] emk commented on #302
Having TypeScript declarations would be a huge win for my employer; rollbar is the last server-side library that we use regularly that we still don't have type declarations for. Thank you to @rokob for working on this!

[2017-07-24 16:13] nbransby opened #342 "promise support + captureUncaught / captureUnhandledRejections on aws lambda"
would be useful if the log methods returned promises so I could await them instead of having to wrap them in promises everywhere:
[code]
Also the reason I need to wait for the log request to complete is because otherwise it doesnt get sent due to having callbackWaitsForEmptyEventLoop (http://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-context.html) set to false. I don't see how captureU

[2017-07-27 00:03] johnnywang opened #344 "Uncaught TypeError: Cannot set property 'impl' of null"
I'm not sure what the exact repro conditions for this error is, as it didn't seem to be breaking consistently everywhere our code was used. We had previously been using an older version of the JS Rollbar snippet:

[code]

which was throwing the error referenced in https://github.com/rollbar/rollbar.js/issues/98. And while we weren't double-loading Rollbar (in so far as rollbar.min.js was only ever

[2017-07-28 18:24] and-megan opened #347 "Transform Issue"
Issue with transforms, specifically building out the stack trace. It would never return and thus causing a timeout (in lambda, which was like 10 seconds). Able to  reproduce this behavior by trying to report any error object. Providing a string it would work fine, but `error(new Error())` or any combination of `error` calls with the request and options it would hang.

[2017-08-01 16:54] saulogt opened #348 "Typescript declaration file contains syntax errors."
After updating the api version to 2.1.1 I got these errors:

[code]
Probably the idea was to make Error an optional value

[2017-08-01 20:12] cyu opened #349 "payload option missing in Configuration declaration"
Configuration should support a `payload` option, but the declaration is causing errors during compilation.

https://rollbar.com/docs/notifier/rollbar.js/#payload

[2017-08-02 17:25] coryvirok opened #351 "Add a max frames config option"
Sometimes the JS SDK will send over very large JSON payloads which cannot be deserialized due to the # of frames, (> 500 in one example). This is probably not very useful for users. Let's add a default max number of frames sent over and allow the user to configure it.

[2017-08-02 18:02] VanTanev opened #352 "Client-side UUIDs do not work"
As per https://rollbar.com/docs/uuids/, we should be able to use the return value of  eg `Rollbar.error()` and reference its `uuid` property to later find occurrences errors.

Example function response:
[code]

The URL https://rollbar.com/item/uuid/?uuid=67021cd1-1dfa-4521-c6e2-0dcd27a3a191 does not currently work. The UUID is not even present in the request sent to the API. Example request data:

[2017-08-02 18:53] #348 closed

[2017-08-02 18:53] #349 closed

[2017-08-02 19:45] #352 closed

[2017-08-03 12:18] rokob commented on #344
This is odd, let me see if I can figure out what might cause this, I've never heard of it before.

[2017-08-03 13:22] VanTanev commented on #352
Do you have any idea when the release of the next version with the fix will be scheduled?

[2017-08-03 17:43] johnnywang commented on #344
For reference, this was while using the v2.0.4 snippet

[2017-08-07 15:30] rivkahstandig3636 opened #359 "Angular 4 integration instructions"

[2017-08-07 15:31] rivkahstandig3636 commented on #352
@rokob Do you have a timeframe for @VanTanev?

[2017-08-07 18:28] rokob commented on #352
I'll try to get one out this week just to get this available. It will be 2.1.2

[2017-08-07 19:03] rokob commented on #352
Make that v2.1.3: https://github.com/rollbar/rollbar.js/releases/tag/v2.1.3

[2017-08-07 19:17] VanTanev commented on #352
Thanks for the fast turnover!

[2017-08-07 23:40] jessewgibbs opened #360 "Rollbar.js RangeError"
Details in https://app.clubhouse.io/rollbar/story/20223/rollbar-js-rangeerror-reported-by-user

[2017-08-07 23:45] jessewgibbs opened #361 "Document how to use rollbar.js in an environment where you have a Content Security Policy set"
Details in https://app.clubhouse.io/rollbar/story/23450/document-how-to-use-rollbar-js-in-an-environment-where-you-have-a-content-security-policy-set

[2017-08-07 23:50] jessewgibbs opened #362 "Investigate need for handling rejectionhandled events"
Details in https://app.clubhouse.io/rollbar/story/17783/investigate-need-for-handling-rejectionhandled-events

[2017-08-07 23:55] jessewgibbs opened #363 "Ability for hostWhiteList to work with webpack properly"
Details in https://app.clubhouse.io/rollbar/story/21581/ability-for-hostwhitelist-to-work-with-webpack-properly

[2017-08-07 23:57] jessewgibbs opened #364 "Add ability to include screenshots with exception messages"
details in https://app.clubhouse.io/rollbar/story/12177/add-ability-to-include-screenshots-with-exception-messages

[2017-08-08 05:23] rokob commented on #361
You shouldn't need to do anything special because I got rid of the eval based JSON parser.

[2017-08-08 12:26] miclill commented on #359
Getting these errors:
ERROR in /home/sam/sync/abholung/frontend/node_modules/rollbar/index.d.ts (13,47): ',' expected.

ERROR in /home/sam/sync/abholung/frontend/node_modules/rollbar/index.d.ts (18,30): '{' or ';' expected.

ERROR in /home/sam/sync/abholung/frontend/node_modules/rollbar/index.d.ts (43,39): ',' expected.

ERROR in /home/sam/sync/abholung/frontend/node_modules/rollbar/index.d.ts (43

[2017-08-08 16:46] jessewgibbs opened #366 "Add an optional param to rollbar.js configure() to explicitly configure the payload data."
Details in https://app.clubhouse.io/rollbar/story/2003/add-an-optional-param-to-rollbar-js-configure-to-explicitly-configure-the-payload-data

[2017-08-08 17:12] jessewgibbs opened #367 "allow person to be a function or an object"
Details in https://app.clubhouse.io/rollbar/story/9215/rollbar-js-allow-person-to-be-a-function-or-an-object

[2017-08-08 17:13] jessewgibbs opened #368 "support for service workers"
Details in https://app.clubhouse.io/rollbar/story/1641/rollbar-js-support-for-service-workers

[2017-08-08 17:25] jessewgibbs opened #369 "Use window.crypto to generate UUID"
Details in https://app.clubhouse.io/rollbar/story/221/use-window-crypto-to-generate-uuid

[2017-08-08 17:28] jessewgibbs opened #370 "TypeScript support"
details in https://app.clubhouse.io/rollbar/story/1193/rollbar-js-typescript-support

[2017-08-08 17:38] jessewgibbs opened #371 "console.error the errors before logging to Rollbar"
details in https://app.clubhouse.io/rollbar/story/8715/console-error-the-errors-before-logging-to-rollbar

[2017-08-08 17:47] jessewgibbs opened #372 "Detect 3rd party <script> tags"
details in https://app.clubhouse.io/rollbar/story/7601/sniff-for-script-tags

[2017-08-08 17:49] jessewgibbs opened #373 "Rollbar.warn should use console.warn to reprint"
details in https://app.clubhouse.io/rollbar/story/6135/rollbar-js-rollbar-warn-should-use-console-warn-to-reprint

[2017-08-08 18:06] jessewgibbs commented on #372
Also related to https://app.clubhouse.io/rollbar/story/19174

[2017-08-09 20:55] symptomatik commented on #185
Would love this, please and thank you!!

[2017-08-11 03:34] johnnywang commented on #344
Tried this again just now with v2.1.3 and ran into the same problem. Here's a copy of the reversed stack trace (so bottom up) I'm seeing, line by line, since it's been minified together with our code:

1.  I think this is internal code
[code]
2.  Pretty sure this is internal code
[code]
3.
[code]
4. Rollbar snippet
[code]
5.  Rollbar
[code]
6.  Rollbar
[code]
7.  Rollbar
[code]
8.  Rollbar
[code]

[2017-08-11 16:39] tw0517tw opened #374 "scrub() in utility.js reach maximum call stack size"
When I try to pass in some custom fields to rollbar, it keeps raising `RangeError: Maximum call stack size exceeded`.
After digging for a while, I found it may be caused by recursive `scrub()` in utility.js
https://github.com/rollbar/rollbar.js/blob/master/src/utility.js#L500-L512

More info at my reproducing repo:
https://github.com/tw0517tw/rollbar-overflow

[2017-08-14 15:44] fmquaglia commented on #374
Having the same issue

[2017-08-15 12:26] rokob commented on #370
This was shipped a couple weeks ago

[2017-08-15 12:26] #370 closed

[2017-08-15 14:48] #361 closed

[2017-08-15 14:48] #302 closed

[2017-08-15 18:12] rokob commented on #374
The koa request object is self-referential, scrubbing isn't written to handle that but it should.

[2017-08-15 18:21] rokob commented on #342
AWS Lambda is a bit new to me, but why would you set `callbackWaitsForEmptyEventLoop` to false? That completely destroys the node programming model. You don't care about things that are happening in the event loop? Also, `rollbar.log` returning isn't the same as the log request completing due to the use of callbacks and async operations throughout the logging process.

[2017-08-15 18:52] nbransby commented on #342
Example of why libs set it to false: https://github.com/claudiajs/claudia-api-builder/blame/6e5379282b4d33ed30fa4c0d6f6ef0e781f0d923/RELEASES.md#L53

Understood `rollbar.log` returning isn't the same as the log request completing but that would be the point of returning a promise which would resolve when the callbacks and async operations throughout the logging process are complete.

[2017-08-16 15:05] andreiucm opened #378 "Missing configure properties for typescirpt and imposible to disabel/enable after creting the instance"
[code]
Rollbar version: 2.2.0
Environment: Linux 16.04

[2017-08-16 16:38] EtienneLem opened #379 "Network telemetry blocks Pusher from subscribing to channels"
Haven’t been able to find exactly _where_ or _why_ it stops Pusher from working, but setting `autoInstrument: { network: false }` fixes the issue for me.

From what I can tell, the Pusher client still successfully sends XHR requests to my server to get an authentication token for the channels I want to subscribe to (see [Authenticating users](https://pusher.com/docs/authenticating_users)), but the

[2017-08-16 17:29] jrohrbaugh opened #380 "[Rollbar]: Internal error TypeError: e.apply is not a function"
I started receiving this error after upgrading my rollbar.js version from 1.4 to 2.2. When I load the site on our staging server, I receive these two errors:

`[Rollbar]: Internal error TypeError: e.apply is not a function`
`Uncaught TypeError: Cannot read property 'loadFull' of undefined`

On my local server, the update appears to have been successful. Running the test error `window.onerror("Test

[2017-08-16 23:04] emkman commented on #379
After upgrading to 2.2, Rollbar broke the callback of the Facebook sdk for us. This broke both login and new user signup for us and fails silently (no error, no console output, nothing logged as a Rollbar item. Shame on me for trusting this would be production ready, but it looks like there are still some serious issues with Telemetry and I question it being enabled by default. Reverting back to 2

[2017-08-16 23:25] jessewgibbs commented on #379
@EtienneLem @emkman thanks for bringing this to our attention, and sorry for the inconvenience.  We've begun investigating this and will comment on this issue to keep you up-to-date.

[2017-08-17 00:09] jessewgibbs commented on #379
We've just released [rollbar.js 2.2.1](https://github.com/rollbar/rollbar.js/releases/tag/v2.2.1) to disable the default network instrumentation while we investigate this issue.

[2017-08-17 00:12] fraserredmond commented on #379
Something similar for us, an XMLHttpRequest.onreadystatechange event wasn't firing - so maybe it's getting overwritten by your event handler.

[2017-08-17 00:15] jessewgibbs commented on #379
@fraserredmond thanks for the info.  As Etienne mentioned above, you can set `autoInstrument: { network: false } ` to disable the network event capture until we get this sorted out.

[2017-08-17 20:07] rokob commented on #380
This is a bit confusing because as you say it works on your local server. I'd like to be able to dissect what is different between your staging and local servers. Are you compiling/transforming your code somehow? Are you minifying the code on your staging server?

[2017-08-17 22:03] #366 closed

[2017-08-17 22:04] #378 closed

[2017-08-17 23:21] #374 closed

[2017-08-18 04:55] hexsprite commented on #368
intriguing! but the link doesn't work

[2017-08-18 04:55] hexsprite commented on #368
I ended up rolling my own serviceworker support to catch exceptions and log them directly through my application to rollbar

[2017-08-18 12:19] rokob commented on #368
The link is to an internal tracking system, not much extra info there anyway. It seems to me that the node side of this library should almost just work inside a service worker, but probably needs a little bit extra for requests.

We should get an example service worker to see where things break down. Although maybe just some documentation to say how to catch your own exceptions and send them over

[2017-08-18 16:00] hexsprite commented on #368
this is what I have: https://gist.github.com/hexsprite/852596b9a4d797548ccee7e1b49f2fc1

[2017-08-18 22:29] DexterTheDragon opened #388 "API error: Invalid format. data.body.telemetry[0].timestamp_ms string value found, but a integer is required."
I upgraded our rollbar.js to 2.2.3 today (using the snippet defined on the README). Since then we've been getting errors from the "Rollbar System" that say

API error: Invalid format. data.body.telemetry[0].timestamp_ms string value found, but a integer is required. data.body.telemetry[1].timestamp_ms string value found, but a integer is required. data.body.telemetry[2].timestamp_ms string value f

[2017-08-18 22:46] ezarowny commented on #388
Hey @DexterTheDragon thanks for the report! We're looking into it.

[2017-08-18 22:47] ezarowny commented on #388
Do you get this for every error you try to send or just some?

[2017-08-18 22:54] DexterTheDragon commented on #388
We've gotten 2 so far that have been that error and no other errors. Talking to support it looks like it might be that we use Date.js that overrides `Date.now()` to return `new Date()`.

[2017-08-18 23:11] DexterTheDragon commented on #388
If this is something you are unable to fix I'll understand. It's hard to do stuff when what is considered the standard library is being overwritten to do something different. In which case go ahead and close this issue.

I'm going to disable telemetry for now and look into ripping Date.js out of our site.

[2017-08-18 23:14] ezarowny commented on #388
I think @rokob might have a fix. We'll keep you posted.

[2017-08-18 23:23] brianr commented on #379
This should be fixed now, as of today's 2.2.3 release. Going to close this issue; see #382 for details of the fix.

@EtienneLem, @emkman, and @fraserredmond - mind trying out the latest version and see if the issue is fixed?

[2017-08-18 23:23] #379 closed

[2017-08-19 01:14] #388 closed

[2017-08-19 09:26] miclill commented on #359
Resolved by using latest version.

[2017-08-21 03:04] ochanje210 opened #391 "Permission denied to access property "_rollbar_wrapped""
I am testing a web application written in javascript using multi-platform browser testing service, CrossBroswerTesting, and keep having the following issue:

```WebDriverException: Unable to execute javascript: "return Math.max(window.document.body.offsetWidth,window.document.body.scrollWidth, window.document.documentElement.offsetWidth, window.document.documentElement.scrollWidth);" -> Error: Per

[2017-08-21 08:16] whroman opened #393 "Publish 2.2.3 on NPM"
Hi, I heard about [Rollbar Telemetry](https://rollbar.com/blog/introducing-javascript-telemetry/) today and I'm looking forward to trying it out!

I noticed that the latest version of `rollbar-browser` on NPM is `1.9.4`, but it looks like I need `2.2.3` to use Telemetry.

I couldn't find any install information on the README besides the copy+paste code, so I couldn't tell if this is how devs are n

[2017-08-21 08:49] andreiucm opened #394 "Can't changes fingerpring and autoInstrument after creation on instance"
[code]

Problems
1. fingerprint is **first finger print** instead of **new fingerprint value**
2. telemetry log and dom still enabled!

Environment
Rollbar: 2.2.3
OS: linux 16.04

[2017-08-21 12:37] rokob commented on #393
1. Yes
2. It is already published, the package name is `rollbar` as of the 2.0 release. See the package.json file in this repo

[2017-08-21 12:37] #393 closed

[2017-08-21 13:00] rokob commented on #394
Well the syntax there for configure is wrong, both fingerprint and autoInstrument should be keys in the same object. Second, the autoInstrument is not reconfigurable by mistake, that is what #395 is meant to fix. As to fingerprint, I need to dig a little more.

[2017-08-21 14:23] andreiucm commented on #394
Ok, waiting for fingerprint then. And yes I updated the description to be both fingerprint and autoInstrument in the same object.

[2017-08-21 17:05] XavCamp opened #396 "Use a local version of Rollbar"
Hi!
I'm using Rollbar by downloading and serving the source from our server. It works basically just calling `new window.rollbar(my_options);` after synchronously loading rollbar.min.js
But with the Telemetry update, I see that I'm missing some events listener that are set in the snippet. I can't use the snippet because it tries to download the source, and I need to do that myself.
So my question

[2017-08-21 17:37] clinejj opened #397 "Telemetry captures other forms of PII"
While telemetry excludes password input fields, it does not exclude or offer the ability to exclude other input types like credit card. Two requests:
- Separate out clicks from form inputs in the configuration for telemetry (so you can configure to collect one or the other but not both)
- Support passing in a configuration for elements to exclude from telemetry logs

[2017-08-21 17:58] brianr commented on #397
Thanks @clinejj for bringing this up.

At the moment, you can prevent those values from being sent using a `transform` hook - this will let you inspect and modify the payload being sent from the browser to api.rollbar.com before it's sent. However, this is not a very friendly solution. We probably need something like `scrubFields` for the telemetry input values.

[2017-08-21 21:03] HadrienPierart opened #399 "Is there a way to prevent rollbar from logging into the console, especially in dev mode ?"
Whether I have set enable to true or false, the result is the same, every error caught by rollbar is also wrapped in the console. This is quite annoying as it messes the line and file the error occured in...

For instance, i get in the console :

And then I have to unwrap the error to find this :
[code]

Is there a way to prevent that behaviour ? I tried enabled and checkIgnore properties but to n

[2017-08-21 23:03] manemal opened #400 "Enabling Telemetry functionality changes the script/line number reported in browser console."
Normally when using window.console methods, the message logged to the console window contains the script file and line number that generated the log message.  When you enable the Telemetry functionality in Rollbar, any log messages are now reported as coming from the Rollbar script (and line number) and not the originating script/line number.

e.g.
![rollbar-telemetry](https://user-images.githubus

[2017-08-21 23:39] beNjiox commented on #380
We have the exact same issue.

We are also running Rails, but with VueJS (not a single page app, though)
It also works in local but not in production.
Rails does some minification on the assets, so that might the source of the issue.

[2017-08-22 23:36] rokob commented on #344
I am a little confused, are you including the snippet in a javascript file with other code and then minifying the whole thing? That doesn't seem to really make a lot of sense with how the snippet is designed. You should probably just be importing the package and using a bundling system to handle the loading then.

[2017-08-23 07:52] gaiottino opened #402 "Angular 2 instructions do not work for Angular 4."
I've spent a lot of time trying to get the rollbar integrated with our Angular 4 app with AOT enabled. I'm running Angular CLI 1.2.6, Angular 4.3.5 and was trying to use Rollbar 2.2.3.

The current instructions do not work and will result in

`
ERROR in Error encountered resolving symbol values statically. Reference to a local (non-exported) symbol 'PROVIDERS'. Consider exporting the symbol (posit

[2017-08-23 14:31] rokob commented on #394
The fingerprint needs to be embedded inside the payload argument, as the code is written above, neither fingerprint value should end up in the final item sent to Rollbar. Are you saying that the items sent to Rollbar have the given fingerprint value when calling `new Rollbar({fingerprint: 'something here'})`?

[2017-08-23 14:35] rokob commented on #396
There are two events that the snippet gathers that the main source does not and both are related to onload. It doesn't make sense to put those in the normal rollbar source because it is typically loaded asynchronously. I am not sure what we can do for you exactly at the moment but it would be quite simple to add your own event listener for the onload event and add that data to the telemetry events

[2017-08-23 14:54] XavCamp commented on #396
So I just need to copy the onload event listeners from the snippet to have all functionalities without using the snippet?
I think that will work for me.
Thanks for the quick help!

[2017-08-23 14:54] #396 closed

[2017-08-24 10:43] tlvenn commented on #185
@rokob any update on your progress ?

[2017-08-24 19:53] jrohrbaugh commented on #380
@rokob we are minifying our javascript assets, also using the Rails Uglifier gem to compile. It seems that this causes some sort of syntax error that wasn't present in the previous Rollbar snippet we were using. I tried a few earlier Rollbar.js versions and received the same errors, so I don't think this problem is caused by any recent changes.

[2017-08-24 20:21] rokob commented on #380
Uglifier seems to be the common theme in the issues I have seen come up related to this. Let me investigate why that might be causing a problem. However, the snippet should not be included in a javascript file that is then loaded via a script tag, it should be included directly in the head of the html. If you are going to include a js file that is loaded separately, then you should not use the sni

[2017-08-24 20:26] jonathanbrockman commented on #397
Being able to list all inputs to scrub in the config would be nice.
Hotjar's also has a nice solution for preventing the upload of sensitive form data. Adding a `data-hj-masked` attribute to an input replaces the input value with asterisks in the Hotjar payload.

https://docs.hotjar.com/docs/masking-elements-in-recordings-and-heatmaps

[2017-08-24 20:29] megatimes commented on #397
Being able to list all inputs to scrub in the config would be nice.
Hotjar's also has a nice solution for preventing the upload of sensitive form data. Adding a data-hj-masked attribute to an input replaces the input value with asterisks in the Hotjar payload.

https://docs.hotjar.com/docs/masking-elements-in-recordings-and-heatmaps

[2017-08-24 21:24] brunto commented on #359
Perfect it works now. Thx.

[2017-08-24 22:44] #394 closed

[2017-08-25 17:30] modosc opened #406 "open to adding request as a configure option?"
our universal app logs errors via rollbar calls from inside of [redux-sagas](https://github.com/redux-saga/redux-saga). on the client side this is fine, but on the server side we have no request context so we end up with nothing other than a stack trace. it would be really useful to be able to set the request context via `Rollbar.configure({ request: req })` - we already run something like this at

[2017-08-25 18:16] modosc commented on #406
nm, just figure out that setting `Rollbar.configure({ payload: {request: req } })` does what i want.

[2017-08-25 18:16] #406 closed

[2017-08-26 07:06] almacha opened #409 "Crash since upgrade to Rollbar 2.2.4"
After upgrading to Rollbar 2.2.4 I run into the following error when running a script that used to work:
`/Users/raphaelchampeimont/nodejs-doctrine/node_modules/lodash/isNative.js:35
    throw new Error(CORE_ERROR_TEXT);
    ^

Error: Unsupported core-js use. Try https://npms.io/search?q=ponyfill.
    at isNative (/Users/raphaelchampeimont/nodejs-doctrine/node_modules/lodash/isNative.js:35:11)

[2017-08-26 07:24] almacha commented on #409
After investigation it seems that the problem appears when loading both modules Rollbar and libphonenumber-js.

Minimalist code to reproduce:
`const libphonenumber = require('libphonenumber-js')
const Rollbar = require('rollbar');
`

My libphonenumber-js version is 0.4.27

[2017-08-26 07:27] almacha commented on #409
Here is a minimalist package.json that allows to reproduce the bug with the minimal list I published above:

[code]

[2017-08-26 11:43] rokob commented on #409
I reverted the offending commit and release v2.2.5 so that this is no longer happening until I can fully debug what the issue is.

[2017-08-26 11:43] #409 closed

[2017-08-26 20:48] almacha commented on #409
Thank you for your rapid reaction. Indeed the bug is fixed in 2.2.5.

[2017-08-27 15:46] jahed opened #411 "All messages are being blacklisted."
Commit 0e03a510b080e2f767952417742fb6ca75f9423f seems to have introduced a problem where it forces a `hostBlacklist` to be defined in the configuration and for there to be a trace in the item body. If it's not defined, the result of the predicate is always false and messages never get POSTed.

`urlIsOnAList` in predicates.js returns `true` early if there's no list or no trace. This makes perfect s

[2017-08-27 15:55] jahed commented on #411
I can confirm that rolling back to 2.2.3, before this change was published, fixes the problem.

[2017-08-27 16:40] rokob commented on #411
Will fix

[2017-08-27 17:10] #411 closed

[2017-08-27 17:14] rokob commented on #411
2.2.6 fixes this, sorry about that

[2017-08-28 12:16] gaiottino commented on #400
The above is extremely annoying since it essentially means we have to unload the Rollbar-script during development instead of just disabling it.

[2017-08-28 14:47] rokob commented on #400
I'm trying to figure out a way to solve this, but for development, setting the log option to false inside the autoInstrument object will restore file and line numbers at the expense of not tracking telemetry data. But if you were going to disable rollbar in dev anyway then that should not be a problem.

[2017-08-28 18:35] alanosman opened #413 "Updating to 2.2.3 with Telemetry enabled is gobbling up browser memory"
We recently updated our rollbar backend SDK and front end to 2.2.3 to take advantage of telemetry data.

Since updating, we noticed that browser memory used by our app was accumulating each time a user changed a view within our product (our views are React based interactive - lane kanban type views with saved filters).

When we disabled Telemetry, the memory consumption issues go away.  I've prepa

[2017-08-28 19:22] rokob commented on #413
Looking into this, let me see what is going on.

[2017-08-29 17:39] #413 closed

[2017-08-30 10:38] lukephills opened #416 "All console logs point to rollbar instead of original file."
Just upgraded from version 1 and now all console.logs point to rollbar in dev mode instead of the particular file. This makes it very difficult to debug. Is there a way to change this?

I've tried using both noconflict and main js files. I'm using typescript with sourcemaps.

<img width="463" alt="screen shot 2017-08-24 at 17 37 35" src="https://user-images.githubusercontent.com/6436772/29868485-f

[2017-08-30 13:01] Nostrus commented on #397
@brianr @megatimes the linked PR is already merged and it seems to work fine for password input fields using `scrubTelemetryInputs: true`, but other sensitive fields like email still seem to be sent as Form value. Any tips on how to work around it at the moment?

[2017-08-30 18:12] rokob commented on #416
See #400

[2017-08-30 18:12] #416 closed

[2017-08-30 18:13] rokob commented on #397
What do you mean by "sensitive fields like email still seem to be sent as Form value"? Based on `https://github.com/rollbar/rollbar.js/blob/master/src/browser/telemetry.js#L323` setting `scrubTelemetryInputs` to `true` will result in all values being replaced with `[scrubbed]`. There will still be events for editing the elements but the value should not end up as part of the event. This was only i

[2017-08-30 18:54] Nostrus commented on #397
Sorry for not phrasing clearly.

What I meant in this case is that I have a login form, and I don't see the password field's value sent at all, but I can still see the entered value for the Email input field (which is just a normal `type="text"` field in the end). However, the password field's value is not `[scrubbed]` as it should be based on the code you shared, but it's just not sent, so it mig

[2017-08-30 19:15] rokob commented on #397
Okay gotcha, yeah this shouldn't be happening with v2.2.4+, I'll look into this and get an update to you as soon as I can.

[2017-08-30 19:18] Nostrus commented on #397
Awesome, thank you :)

[2017-08-31 14:39] maxs15 commented on #185
Still doesn't support react-native ?
This is crazy ! :(

[2017-08-31 17:03] and-megan opened #417 "Rollbar.js causing AJAX issues on client website"
Details here: https://app.clubhouse.io/rollbar/story/27265/rollbar-js-causing-ajax-issues-on-client-website

[2017-08-31 17:10] and-megan commented on #417
known bug from version 2.2.0 that has been resolved in newer releases. Closing.

[2017-08-31 17:10] #417 closed

[2017-08-31 18:41] rokob commented on #399
Turning off console telemetry should solve this if it is caused by what I think is causing this issue
[code]

[2017-08-31 20:38] azharkhan commented on #399
This happened to me as well, I think the right setting is:

[code]

thanks for the tip @rokob!

[2017-08-31 21:15] rokob commented on #399
Oops, I had the key wrong, yes it is `log`, I edited my comment.

[2017-09-04 13:16] gaiottino commented on #400
At the very least setting `enabled: false` should also apply to `autoInstrument.log`. Or is there a good reason for not making this change?

[2017-09-05 04:04] fraserxu opened #420 "Enable `maxItems` global settings for browser only"
Hi there, I have a question regarding to the new Isomorphic Rollbar JavaScript library:

Before we migrating to the new isomorphic version, we use the browser version of Rollbar.js to limit the report number for per page load.

[code]

This settings is great because sometimes the browser can run into a loop thus sending the same error a few thousands of times per browser session.

But after migrat